<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" routerLink="/general-accounts/create-receive-receipt">
                <i class="fas fa-plus-circle"></i>
                <span>إنشاء سند قبض</span>
            </button>
            <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-file-download"></i>
                <span>تصدير CSV</span>
            </button>
            <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-filter"></i>
                <span>إنشاء فلتر</span>
            </button>
        </div>
        <div class="justify-content-end">
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="ReceiveReceipts.currentPage" [pageSize]="ReceiveReceipts.pageSize" [totalCount]="ReceiveReceipts.totalCount">
            </app-erp-pagination>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>رقم الايصال</th>
                        <th>اسم المستفيد</th>
                        <th>دفتر إيصال</th>
                        <th>تاريخ الاصدار</th>
                        <th>طريقة الدفع</th>
                        <!-- <th>نوع جهة التعامل</th>
                    <th>جهة التعامل</th> -->
                        <th>المبلغ</th>
                        <th>نوع السند</th>
                        <th>حالة السند</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ReceiveReceipts.results">
                        <td>{{item.receiptNumber}}</td>
                        <td>{{item.contactName}}</td>
                        <td>{{item.receiptLedgerName}}</td>
                        <td>{{item.releaseDate | date}}</td>
                        <td>{{item.paymentTypeName }}</td>
                        <td>{{item.moneyAmount}}</td>
                        <td>{{item.receiptTypeName}}</td>
                        <td>
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem (click)="cancelReceipt(item.receiptId)">اسقاط</button>
                                        <button *ngIf="item.journalEntryId" ngbDropdownItem (click)="openSidePanel(item.journalEntryId)">معاينة القيد</button>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="w-100 d-flex align-items-center justify-content-center">
                                <button (click)="CancelPaymentReceipt(item.receiptId)" class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2">
                                    <i class="uil uil-times"></i>
                                    <span>إلغاء</span>
                                </button>
                                <button class="btn btn-primary me-2">
                                    <i class="fas fa-edit"></i>
                                    <span class="ms-2">Edit</span>
                                </button>
                            </div> -->
                        </td>
                    </tr>
                    <tr *ngIf="!ReceiveReceipts.results.length">
                        <td colspan="9" class="text-right">
                            <app-empty-data [showEmptyData]="!ReceiveReceipts.results.length"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<ng-template #DetailsSidePanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-info-circle offcanvas-header-icon"></i>
            <span>
                تفاصيل القيد رقم {{selectedEntryModel.entryNumber}}
            </span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div *ngIf="selectedEntryModel" class="employee-card-body mb-3">
            <div class="inputs-wrapper border rounded bg-white mb-3">
                <div class="inputs-sec-content px-3 py-3">
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">رقم القيد</label>
                                <input type="text" disabled class="form-control nw-form-input" ngModel={{selectedEntryModel?.entryNumber}} />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">تاريخ القيد</label>
                                <input type="text" disabled class="form-control nw-form-input" ngModel={{selectedEntryModel?.entryDate}} />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    البيان
                                </label>
                                <input type="text" disabled class="form-control nw-form-input description-area" ngModel={{selectedEntryModel?.description}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start m-3">
                    <button (click)="offcanvas.dismiss()" routerLink="/general-accounts/new-entry" [queryParams]="{JournalEntryId:selectedEntryModel?.journalEntryId}" class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                        <i class="uil uil-pen"></i>
                        <span>تعديل</span>
                    </button>
                    <button (click)="PrintData()" class="btn btn-table-action  gap-2 border rounded px-3 me-2">
                        <i class="fas fa-print fs-7"></i>
                        <span>طباعة</span>
                    </button>
                </div>
            </div>
        </div>

        <hr class="border-black" />

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">الحسابات</div>
            <div class="inputs-sec-content px-3 py-2 table-responsive table-vp-height small-scroll">
                <table class="table table-bordered table-middle text-center table-actions m-0">
                    <thead>
                        <tr>
                            <th>
                                الحساب
                            </th>
                            <th>
                                مدين
                            </th>
                            <th>
                                دائن
                            </th>
                            <th>مركز التكلفة</th>
                            <th style="width: 290px;">ملاحظات</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr class="row-hover" *ngFor="let item of selectedEntryModel?.journalEntryAccounts;let i = index">
                            <td style="width: 300px;">
                                <span appGoToAccountReport [accountId]="item.accountId">{{item.accountName}}</span>

                                <!-- {{item.accountName}} - {{item.accountNumber}} -->
                            </td>

                            <td>
                                {{item.debit}}
                            </td>
                            <td>
                                {{item.credit}}

                            </td>
                            <td>
                                {{item.costCenterName}}
                            </td>
                            <td>
                                {{item.description}}
                            </td>
                        </tr>
                        <tr *ngIf="!selectedEntryModel?.journalEntryAccounts?.length">
                            <td colspan="5" class="text-right">
                                <app-empty-data [showEmptyData]="!selectedEntryModel?.journalEntryAccounts?.length"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</ng-template>


<ngx-loading [show]="showLoader"></ngx-loading>