<div id="page-wrapper" class="container-fluid position-relative min-vh-100">

    <div class="page-header p-3">
        <h4>Welcome back, Hazem 👋</h4>
        <p>Here’s what’s happening in your store today.</p>
    </div>

    <!-- Start Statistics Cards -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gy-4 mb-4">
        <div class="col">
            <div class="card card-shadow border-0 card-radius overflow-hidden static-card red">
                <div class="card-body p-4">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-icon">
                                <i class="ph ph-users-four"></i>
                            </div>
                            <div class="card-text">Orders Count</div>
                        </div>
                        <!-- <a class="card-number fs-6" routerLink="./../packages" [queryParams]="{CompanyId:com.companyID}" style="color: black;">{{com?.packagesCount}} Packages</a> -->
                        <a class="card-number fs-6 cursor-pointer" style="color: black;">
                            {{orderStatsInfo?.totalCount}} Order</a>
                    </div>
                </div>
                <div class="card-footer border-0 py-3">
                    <div class="d-flex align-items-center justify-content-between fs-14">
                        <!-- <a class="footer-text" routerLink="./../bookings" [queryParams]="{CompanyId:com.companyID}">{{com?.bookingsCount}} Bookings</a> -->
                        <a class="footer-text cursor-pointer">{{orderStatsInfo?.cancelled}} Cancelled</a>
                        <div class="footer-icon">
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-shadow border-0 card-radius overflow-hidden static-card blue">
                <div class="card-body p-4">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-icon">
                                <i class="ph ph-users-four"></i>
                            </div>
                            <div class="card-text">Orders Count</div>
                        </div>
                        <!-- <a class="card-number fs-6" routerLink="./../packages" [queryParams]="{CompanyId:com.companyID}" style="color: black;">{{com?.packagesCount}} Packages</a> -->
                        <a class="card-number fs-6 cursor-pointer" style="color: black;">{{orderStatsInfo?.totalCount}}
                            Order</a>
                    </div>
                </div>
                <div class="card-footer border-0 py-3">
                    <div class="d-flex align-items-center justify-content-between fs-14">
                        <!-- <a class="footer-text" routerLink="./../bookings" [queryParams]="{CompanyId:com.companyID}">{{com?.bookingsCount}} Bookings</a> -->
                        <a class="footer-text cursor-pointer">{{orderStatsInfo?.rejected}} Rejected</a>
                        <div class="footer-icon">
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-shadow border-0 card-radius overflow-hidden static-card green">
                <div class="card-body p-4">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-icon">
                                <i class="ph ph-users-four"></i>
                            </div>
                            <div class="card-text">Orders Count</div>
                        </div>
                        <!-- <a class="card-number fs-6" routerLink="./../packages" [queryParams]="{CompanyId:com.companyID}" style="color: black;">{{com?.packagesCount}} Packages</a> -->
                        <a class="card-number fs-6 cursor-pointer" style="color: black;">{{orderStatsInfo?.totalCount}}
                            Order</a>
                    </div>
                </div>
                <div class="card-footer border-0 py-3">
                    <div class="d-flex align-items-center justify-content-between fs-14">
                        <!-- <a class="footer-text" routerLink="./../bookings" [queryParams]="{CompanyId:com.companyID}">{{com?.bookingsCount}} Bookings</a> -->
                        <a class="footer-text cursor-pointer">{{orderStatsInfo?.completed}} Completed</a>
                        <div class="footer-icon">
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-shadow border-0 card-radius overflow-hidden static-card gray">
                <div class="card-body p-4">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex align-items-center gap-3">
                            <div class="card-icon">
                                <i class="ph ph-users-four"></i>
                            </div>
                            <div class="card-text">Orders Count</div>
                        </div>
                        <!-- <a class="card-number fs-6" routerLink="./../packages" [queryParams]="{CompanyId:com.companyID}" style="color: black;">{{com?.packagesCount}} Packages</a> -->
                        <a class="card-number fs-6 cursor-pointer" style="color: black;">{{orderStatsInfo?.totalCount}}
                            Order</a>
                    </div>
                </div>
                <div class="card-footer border-0 py-3">
                    <div class="d-flex align-items-center justify-content-between fs-14">
                        <!-- <a class="footer-text" routerLink="./../bookings" [queryParams]="{CompanyId:com.companyID}">{{com?.bookingsCount}} Bookings</a> -->
                        <a class="footer-text cursor-pointer">{{orderStatsInfo?.pending}} Pending</a>
                        <div class="footer-icon">
                            <i class="fa-solid fa-caret-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Statistics Cards -->

    <div class="row mt-3">
        <div class="col-xl-6">
            <div class="card card-shadow border-0 h-100 overflow-hidden card-radius">
                <div class="card-header bg-transparent py-4 border-bottom">
                    <h3>أخر الأنشطة</h3>
                </div>
                <div
                    class="card-body h-100 small-scroll px-3 overflow-auto d-flex flex-column gap-3 justify-content-between">
                    <div class="d-flex flex-column gap-3">
                        <div class="activity-item d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column gap-1">
                                <div class="fw-semibold">Van Lam</div>
                                <div class="status-badge-position">Product Manager</div>
                            </div>
                            <div class="status-badge d-flex align-items-center justify-content-center gap-1 pending">
                                <i class="ph ph-seal-question"></i>
                                <span>Pending</span>
                            </div>
                        </div>
                        <div class="activity-item d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column gap-1">
                                <div class="fw-semibold">John Doe</div>
                                <div class="status-badge-position">General Manager</div>
                            </div>
                            <div class="status-badge d-flex align-items-center justify-content-center gap-1 approved">
                                <i class="ph ph-seal-check"></i>
                                <span>Approved</span>
                            </div>
                        </div>
                        <div class="activity-item d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column gap-1">
                                <div class="fw-semibold">Sarah Djan</div>
                                <div class="status-badge-position">CO Manager</div>
                            </div>
                            <div class="status-badge d-flex align-items-center justify-content-center gap-1 rejected">
                                <i class="ph ph-seal-warning"></i>
                                <span>Rejected</span>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-white justify-content-center">
                        <span>See All</span>
                        <i class="ph ph-caret-right"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="col-xl-6">
            <div class="card card-shadow border-0 h-100 overflow-hidden card-radius">
                <div class="card-header bg-transparent py-4 border-bottom">
                    <h3>حالة الطلبات</h3>
                </div>
                <div
                    class="card-body h-100 small-scroll px-3 overflow-auto d-flex flex-column gap-3 justify-content-between">
                    <div class="d-flex flex-column gap-3">
                        <div class="project-card">
                            <strong>Website Redesign</strong>
                            <div class="progress mt-2">
                                <div class="progress-bar bg-info" style="width: 60%"></div>
                            </div>
                            <small>60% completed</small>
                        </div>

                        <div class="project-card">
                            <strong>New Mobile App</strong>
                            <div class="progress mt-2">
                                <div class="progress-bar bg-success" style="width: 80%"></div>
                            </div>
                            <small>80% completed</small>
                        </div>

                        <div class="project-card">
                            <strong>Marketing Campaign</strong>
                            <div class="progress mt-2">
                                <div class="progress-bar bg-warning" style="width: 45%"></div>
                            </div>
                            <small>45% completed</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="col-xl-9">
            <div class="card card-shadow border-0 table-card h-100 overflow-hidden card-radius">
                <div class="card-header bg-transparent py-4 border-bottom">
                    <div class="card-title-text">Latest Chart</div>
                </div>
                <div class="card-body ps-3 py-3 pe-0">
                    <div style="width: 100%; height: 100%;">
                        <google-chart [type]="columnChartType" [columns]="columnChartNames" [data]="columnChartData" [options]="columnChartOptions" [width]="columnChartWidth" [height]="columnChartHeight">
                            </google-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card card-shadow border-0 h-100 overflow-hidden card-radius">
                <div class="card-header bg-transparent py-4 border-bottom">
                    <div class="card-title-text">أخر الإشعارات</div>
                </div>
                <div class="card-body h-100 small-scroll px-3 overflow-auto d-flex flex-column gap-3 justify-content-between">
                    <div class="d-flex flex-column gap-3">
                        <div class="activity-item d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column gap-1">
                                <div class="fw-semibold">5 طلب رقم</div>
                                <div class="status-badge-position">اسم المورد</div>
                            </div>
                            <div class="status-badge d-flex align-items-center justify-content-center gap-1 pending">
                                <i class="ph ph-seal-question"></i>
                                <span>Pending</span>
                            </div>
                        </div>
                        <div class="activity-item d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column gap-1">
                                <div class="fw-semibold">طلب رقم 12</div>
                                <div class="status-badge-position">الهاجري</div>
                            </div>
                            <div class="status-badge d-flex align-items-center justify-content-center gap-1 approved">
                                <i class="ph ph-seal-check"></i>
                                <span>Approved</span>
                            </div>
                        </div>
                        <div class="activity-item d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column gap-1">
                                <div class="fw-semibold">طلب رقم 20</div>
                                <div class="status-badge-position">عبد اللطيف جميل</div>
                            </div>
                            <div class="status-badge d-flex align-items-center justify-content-center gap-1 rejected">
                                <i class="ph ph-seal-warning"></i>
                                <span>Rejected</span>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-white justify-content-center">
                            <span>المزيد</span>
                            <i class="ph ph-caret-right"></i>
                        </button>
                </div>
            </div>
        </div> -->


    <div class="row mt-3">
        <div class="col-xl-12">



            <div id="page-content">
                <div class="card border-0 table-card h-100 overflow-hidden card-radius">
                    <div class="card-header bg-transparent border-bottom-0 p-0">
                        <div class="d-flex justify-content-between align-items-center gap-2 p-3 py-2 mt-2">
                            <div class="d-flex align-items-center gap-2">
                                <div class="fw-semi-semibold fs-20 title-blue-color">أخر طلبات</div>
                                <div class="badge-box blue">{{pagedResponseModel?.totalCount}} طلب</div>
                            </div>
                            <div class="d-flex flex-wrap gap-2">
                                <!-- <button class="btn btn-white d-flex align-items-center gap-2 px-3">
                                    <i class="ph ph-download-simple"></i>
                                    <span>تصدير</span>
                                </button> -->
                                <button class="btn btn-blue d-flex align-items-center gap-2 px-3"
                                    routerLink="/merchant/merchant-orders">
                                    <i class="ph ph-plus"></i>
                                    <span>قائمة الطلبات </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3 ps-0 pb-0 pe-0">
                        <div class="table-responsive table-fixed-column height-520 px-3 mb-3">
                            <table class="table table-rounded align-middle table-hover m-0">
                                <thead>
                                    <tr>
                                        <th>رقم الطلب</th>
                                        <th>تاريخ الطلب</th>
                                        <th>القيمة الإجمالية</th>
                                        <th> طريقة الدفع</th>
                                        <th> الحالة</th>
                                        <th>ملاحظات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pagedResponseModel.results">
                                        <td>
                                            {{item.serialNumber}}
                                        </td>
                                        <td>{{item.orderDate | date:'dd/MM/yyyy HH:mm'}}</td>
                                        <td>{{item.totalValue}}</td>
                                        <td>{{item.paymentTypeNameAR ?? item.paymentTypeNameEN }}</td>
                                        <td>
                                            <span appWorkflowStatus [id]="item.workflowStatusId"
                                                [nameEN]="item?.workflowStatusNameEN"
                                                [nameAR]="item?.workflowStatusNameAR">
                                            </span>
                                        </td>
                                        <td>{{item.notes}}</td>
                                    </tr>
                                    <tr *ngIf="!pagedResponseModel.results.length || showLoader">
                                        <td colspan="8" class="text-right">
                                            <app-empty-data
                                                [showEmptyData]="!pagedResponseModel.results.length&&!showLoader"
                                                [showLoader]="showLoader"></app-empty-data>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>