<div class="card radius-10 border-0 card-shadow mb-3">
    
    <div class="card-header bg-white border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">
            <span class="ms-3">
                انشاء عرض  اسعار جديد
            </span>
        </h5>
        <button class="btn btn-secondary gap-2" routerLink="./../purchase-quotations">
            <span>عودة للقائمة</span>
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>
    <div class="card-body bg-light">

        <form [formGroup]="formGroup" autocomplete="off">
            <div class="employee-card-body row g-3">

                <div *ngIf="!isUpdate" class="col-xl-9">
                   <h3 class="text-center"> 
                    اختر الاصناف والموردين لأنشاء عرض اسعار جديد
                   </h3>
                </div>
                <div class="col-xl-4">

                    <app-drop-down-form-control formControlName="selectedItemIds"  [selectMulti]="true"  [placeholder]="'الاصناف'" [showSearch]="true"
                        [data]="itemsSelectorData"
                        (valueChanged)="getSelectedItems($event)"></app-drop-down-form-control>
                    <div *ngIf="formErrors.selectedItemIds" class="text-danger  font-small-3 m-03">
                         {{formErrors.selectedItemIds}}
                    </div>
                    <div class="d-flex align-items-center flex-wrap m-3">
                        <span class="badge badge-size bg-primary me-1 mb-1" *ngFor="let selected of selectedItems;let i = index">
                            {{selected.name}}
                        </span>
                    </div>
                </div>
                <div class="col-xl-1"></div>

                <div class="col-xl-4">

                    <app-drop-down-form-control formControlName="selectedSupplierIds"  [selectMulti]="true"  [placeholder]="'الموردين'" [showSearch]="true"
                        [data]="suppliersSelectorData"
                        (valueChanged)="getSelectedSuppliers($event)">
                    </app-drop-down-form-control>
                    <div *ngIf="formErrors.selectedSupplierIds" class="text-danger  font-small-3 m-03">
                        {{formErrors.selectedSupplierIds}}
                    </div>
                    <div class="d-flex align-items-center flex-wrap m-3">
                        <span class="badge badge-size bg-primary me-1 mb-1" *ngFor="let selected of selectedSuppliers;let i = index">
                            {{selected.name}}
                        </span>
                    </div>
                </div>

                
                <div class="col-xl-9">
                    <div class="form-floating mb-3">
                        <textarea type="text" formControlName="notes" class="form-control" id="floatingInput10" placeholder="ملاحظات"></textarea>
                        <label for="floatingInput10">ملاحظات</label>

                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <button class="btn btn-primary btn-lg fs-6 me-2" (click)="savePurchaseQuotation()">
                    <i class="fas fa-check-circle"></i>
                    <span class="ms-2">حفظ</span>
                </button>
                <button class="btn btn-warning m-2 text-white" (click)="initNewForm()">
                    <span class="me-2">افراغ الخانات</span>
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </form>

        <div class="overflow-auto">

            <table *ngIf="selectedItems?.length >0&&selectedSuppliers?.length >0" class="table table-responsive table-borderless table-feature-value align-middle border m-0">
                <thead>
                    <tr>
                        <th class="table-feature text-start">الصنف</th>
                        <th  class="table-feature text-start" *ngFor="let supplier of selectedSuppliers">
                            {{supplier.name}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedItems">
                        <td class="table-feature item-td-size">{{item.name}}</td>
                        <td *ngFor="let supplier of selectedSuppliers" class="table-value supplier-td-size">
                            <div class="form-floating">
                                <input required type="number" dir="rtl" class="form-control form-control-lg" id="floatingInput{{item.value}}_{{supplier.value}}" placeholder="السعر"
                                    [value]="getSupplierPrice(item.value, supplier.value)"
                                    (blur)="updateSupplierPrice(item.value, supplier.value, $event.target.value)"
                                    name="price_{{item.value}}_{{supplier.value}}">
                                <label for="floatingInput{{item.value}}_{{supplier.value}}"> السعر</label>
                                <div *ngIf="formErrors.docNumber" class="text-danger  font-small-3 m-03">
                                    {{formErrors.docNumber}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="formErrors.quotationProducts" class="text-danger  font-small-3 m-03">
            {{formErrors.quotationProducts}}
        </div>
    </div>
</div>
