<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="d-flex justify-content-between align-items-center px-3 border-bottom mb-2">
        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2">
            انشاء فاتورة مرتجعات
        </div>
        <div class="d-flex">


            <div class="d-flex align-items-center justify-content-center">
                <div ngbDropdown container="body">
                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div ngbDropdownMenu class="border">
                        <button ngbDropdownItem (click)="initNewForm()" *ngIf="!purchaseQuotationId&&!showLoader">
                            <i class="fas fa-times"></i>
                            <span class="px-2">
                                افراغ الخانات
                            </span>
                        </button>
                        <button ngbDropdownItem>

                        </button>
                        <button *ngIf="purchaseQuotationId" ngbDropdownItem>
                            <i class="fas fa-print"></i>
                            <span class="px-2">
                                طباعة
                            </span>
                        </button>

                        <button ngbDropdownItem routerLink="./../purchase-quotations">
                            <i class="fa fa-arrow-left"></i>
                            <span class="px-2">
                                عودة للقائمة
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="purchaseQuotationId">
                <app-next-previous [nextId]="purchaseQuotationModel?.nextId"
                    [previousId]="purchaseQuotationModel?.previousId" (valueChanged)="goToPage($event)">
                </app-next-previous>
            </ng-container>
            <button [disabled]="showAddLoader"
                class="btn btn-secondary  m-2 d-flex align-items-center gap-2 border rounded px-3"
                (click)="openSaveModal(saveDialog)">
                <i class="fas fa-check-circle"></i>
                <span class="ms-2">حفـظ</span>
            </button>
        </div>
    </div>


    <div class="inputs-sec-content px-3 py-2">
        <div *ngIf="!isUpdate" class="col-xl-9">
            <h3 class="text-center">
                اختر الاصناف والموردين لأنشاء عرض اسعار جديد
            </h3>
        </div>
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الاصناف
                            <span class="text-danger">*</span>
                        </label>
                        <app-general-selector formControlName="selectedItemIds" [selectMulti]="true"
                            [placeholder]="'الاصناف'" [showSearch]="true" [data]="itemsSelectorData"
                            (valueChanged)="getSelectedItems($event)"></app-general-selector>
                        <div *ngIf="formErrors.selectedItemIds" class="text-danger  font-small-3 m-03">
                            {{formErrors.selectedItemIds}}
                        </div>
                        <div class="d-flex align-items-center flex-wrap m-3">
                            <span class="badge badge-size bg-primary me-1 mb-1"
                                *ngFor="let selected of selectedItems;let i = index">
                                {{selected.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الموردين
                            <span class="text-danger">*</span>
                        </label>

                        <app-general-selector formControlName="selectedSupplierIds" [selectMulti]="true"
                            [placeholder]="'الموردين'" [showSearch]="true" [data]="suppliersSelectorData"
                            (valueChanged)="getSelectedSuppliers($event)">
                        </app-general-selector>
                        <div *ngIf="formErrors.selectedSupplierIds" class="text-danger  font-small-3 m-03">
                            {{formErrors.selectedSupplierIds}}
                        </div>
                        <div class="d-flex align-items-center flex-wrap m-3">
                            <span class="badge badge-size bg-primary me-1 mb-1"
                                *ngFor="let selected of selectedSuppliers;let i = index">
                                {{selected.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            البيان
                        </label>
                        <input type="text" class="form-control nw-form-input description-area" formControlName="notes"
                            autocomplete="off" />
                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="selectedItems?.length >0&&selectedSuppliers?.length >0" class="inputs-wrapper border rounded bg-white mb-3">
    <!-- <div class="card-header bg-white"></div> -->
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">

            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th class="table-feature text-start">الصنف</th>
                        <th class="table-feature text-start" *ngFor="let supplier of selectedSuppliers">
                            <div class="d-flex gap-2">
                                <div (click)="removeItem_Supplier(i,selectedSuppliers)" class="cursor-pointer text-danger">
                                    <i class="fas fa-times fs-5"></i>
                                </div>
                               <div>{{supplier.name}}</div> 
                            </div>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedItems;let i = index">
                        <td class="table-feature item-td-size">
                            <div class="d-flex gap-2">
                                <div (click)="removeItem_Supplier(i,selectedItems)" class="cursor-pointer text-danger">
                                    <i class="fas fa-times fs-5"></i>
                                </div>
                               <div>{{item.name}}</div> 
                            </div>
                        </td>
                        <td *ngFor="let supplier of selectedSuppliers" class="table-value supplier-td-size">
                            <div class="form-floating">
                                <input required type="number" dir="rtl" class="form-control form-control-lg"
                                    id="floatingInput{{item.value}}_{{supplier.value}}" placeholder="السعر"
                                    [value]="getSupplierPrice(item.value, supplier.value)"
                                    (blur)="updateSupplierPrice(item.value, supplier.value, $event.target.value)"
                                    name="price_{{item.value}}_{{supplier.value}}">
                                <label for="floatingInput{{item.value}}_{{supplier.value}}"> السعر</label>
                                <div *ngIf="formErrors.docNumber" class="text-danger  font-small-3 m-03">
                                    {{formErrors.docNumber}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="formErrors.quotationProducts" class="text-danger  font-small-3 m-03">
            {{formErrors.quotationProducts}}
        </div>
    </div>
</div>


<ng-template #saveDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); savePurchaseQuotation()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>