<!-- <i *ngIf="account.children?.length" class="fas " [class]="!expanded?'fa-plus-circle':'fa-minus-circle'" ></i>
    <span class="ms-2" [ngClass]="{'bg-warning': account.isSelected}">{{ account.nameEN }}</span>   -->
<!-- <div class="col-lg-6">
            <i *ngIf="account.children?.length" class="fas " [class]="!expanded?'fa-plus-circle':'fa-minus-circle'" ></i>
            <span class="ms-2" [ngClass]="{'bg-warning': account.isSelected}">{{ account.nameEN }}</span>

        </div>
        <div class="col-lg-6 align-self-start" >
            <a (click)="onEvent($event,account)" class="text-underline text-primary cursor-pointer fs-6">Select</a>
        </div>

      -->


<div class="tree-row d-flex align-items-center justify-content-between">
    <div class="tree-row-text width-75-per   d-flex align-items-center gap-3 cursor-pointer pss-{{account.accountLevel}}" [style]="getLevelClass(account.accountLevel)">
        <i (click)="toggleNode(account)" *ngIf="account.isGroup" class="fas " [class]="!expanded?'fa-plus-circle':'fa-minus-circle'"></i>
        <span [ngClass]="{'bg-warning': account.isSelected}" appGoToAccountReport [accountId]="account.accountId">{{ account.accountNumber }} - {{ account.nameAR }} </span>
    </div>
    <!-- <div class="tree-row-text width-20-per d-flex align-items-center justify-content-center">
        <span class="status-box" [ngClass]="{'bg-warning': account.isSelected}">{{ account.accountNumber }}</span>
    </div> -->
    <div class="tree-row-icon width-5-per d-flex align-items-center justify-content-center gap-3 px-3">
        <!-- <i class="fas fa-edit cursor-pointer" (click)="onEvent($event,account)"></i> -->
        <app-add-edit-account-tree *ngIf="account?.isGroup" [groupAccountId]="account.accountId" (dataUpdated)="accountActionUpdated($event)"></app-add-edit-account-tree>
        <app-add-edit-account-tree *ngIf="!account?.isReadOnly" [isUpdate]="true" [accountModel]="account" [groupAccountId]="account.parentAccountId" (dataUpdated)="accountActionUpdated($event)"></app-add-edit-account-tree>
        <!-- <i class="fas fa-trash-alt cursor-pointer text-danger" (click)="onEvent($event,account,true)"></i> -->

        <button class="btn btn-danger gap-2 border rounded px-3" (click)="onEvent($event,account,true)">
            <i class="fas fa-times"></i>
            <span>حذف</span>
        </button>

        <!-- <span class="mx-3">-</span>
              <i class="fas fa-eye cursor-pointer"></i> -->
    </div>
</div>






<!-- (account.isSelected||expanded) -->
<div *ngIf="account.children &&(expanded||account.isSelected) ">
    <app-account-tree-item (selectedAccount)="selectAccount($event)" *ngFor="let child of account.children" [account]="child" (dataUpdated)="accountActionUpdated($event)"></app-account-tree-item>
</div>