/* .tree-row {
  padding: 10px;
} */
.tree-row .tree-row-icon i {
  font-size: 14px;
}
.tree-row .tree-row-icon i:hover {
  color: var(--main-color);
}

.tree-row-text {
  /* width: 100%; */
  height: 50px;
  padding: 0 10px;
  border-left: 1px solid #dbdbdb;
}
.tree-row-icon {
  height: 50px;
  padding: 0 10px;
  min-width: 75px;
  max-width: 75px;
}
.tree-row-text-collapser {
  max-width: 250px;
}
.max-width-390 {
  max-width: 390px;
}
.width-75-per {
  width: 75%;
}
.width-20-per {
  width: 20%;
}
.width-5-per {
  width: 5%;
}
