<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="container-fluid pt-2">
    <div class="card card-with-table border shadow-none">
        <div class="card-header bg-white border-bottom d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-3">
                <button class="btn btn-outline-primary border d-flex align-items-center gap-2 py-2" (click)="openItemModal(ItemModal,null)">
                    <i class="uil uil-plus fs-5"></i>
                    <span>إضافة ضريبة جديدة</span>
                </button>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="FilterModel.currentPage" [pageSize]="FilterModel.pageSize" [totalCount]="TotalCount" [totalPages]="totalPages"></app-erp-pagination>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-borderless align-middle table-hover table-component m-0">
                <thead>
                    <tr>
                        <th>اسم الضريبة</th>
                        <th>الوصف</th>
                        <th>نوع الضريبة</th>
                        <th>نطاق الضريبة</th>
                        <th>حساب الضريبة</th>
                        <th>قيمة الضريبة</th>
                        <th>نشط</th>
                        <th class="actions-table-col"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of TaxCalculations">
                        <td>
                            <div class="fs-5 fw-bold">{{item.taxCalculationName}}</div>
                        </td>
                        <td>
                            <div class="fs-5 fw-bold">{{item.description}}</div>
                        </td>
                        <td>
                            <div class="fs-5 fw-bold">{{item.taxType}}</div>
                        </td>
                        <td>
                            <div class="fs-5 fw-bold">{{item.taxScope}}</div>
                        </td>
                        <td>
                            <div class="fs-5 fw-bold">{{item.taxLookupName}}</div>
                        </td>
                        <td>
                            <div class="fs-5 fw-bold">{{item.amount}} %</div>
                        </td>
                        <td>
                            <label class="switch me-2">
                                <input type="checkbox" [(ngModel)]="item.isActive"
                                    (change)="ChangeTaxCalculationStatus(item)"
                                    class="ng-valid ng-dirty ng-touched">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2" (click)="openItemModal(ItemModal,item)">
                                    <i class="uil uil-pen"></i>
                                    <span>تعديل</span>
                                </button>
                                <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openDeleteItemModal(deleteItemModal,item.taxCalculationId)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>حذف</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #ItemModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">اسم الضريبة</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" placeholder="أدخل الاسم..." formControlName="taxCalculationName">
                            <div *ngIf="formErrors.taxCalculationName" class="text-danger  font-small-3 m-03">
                                {{formErrors.taxCalculationName}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الوصف</td>
                        <td class="table-value">
                            <input type="text" class="form-control form-control-lg" placeholder="أدخل الوصف..." formControlName="description">
                            <div *ngIf="formErrors.description" class="text-danger  font-small-3 m-03">
                                {{formErrors.description}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">نوع الضريبة</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-drop-down-form-control formControlName="taxType" [data]="TaxTypes" [showSearch]="true" [placeholder]="'نوع الضريبة'"></app-drop-down-form-control>
                            </div>
                            <div *ngIf="formErrors.taxType" class="text-danger  font-small-3 m-03">
                                {{formErrors.taxType}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">نطاق الضريبة</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-drop-down-form-control formControlName="taxScope" [data]="TaxScopes" [showSearch]="true" [placeholder]="'نطاق الضريبة'"></app-drop-down-form-control>
                            </div>
                            <div *ngIf="formErrors.taxScope" class="text-danger  font-small-3 m-03">
                                {{formErrors.taxScope}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">حساب الضريبة</td>
                        <td class="table-value">
                            <div class="form-floating">
                                <app-drop-down-form-control formControlName="taxLookupId" [data]="TaxLookups" [showSearch]="true" [placeholder]="'حساب الضريبة'"></app-drop-down-form-control>
                            </div>
                            <div *ngIf="formErrors.taxLookupId" class="text-danger  font-small-3 m-03">
                                {{formErrors.taxLookupId}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">قيمة الضريبة</td>
                        <td class="table-value">
                            <input type="number" class="form-control form-control-lg text-align-right" placeholder="...قيمة الضريبة" formControlName="amount">
                            <div *ngIf="formErrors.amount" class="text-danger  font-small-3 m-03">
                                {{formErrors.amount}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100" (click)="AddNewTaxCalculation()">
            <i class="uil uil-save fs-3"></i>
            <span>حفظ</span>
        </button>
        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>


<ng-template #deleteItemModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want remove this Raw Item?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="DeleteTaxCalculation()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>