<div class="employee-card card radius-10 border-0 card-shadow mb-4">
    <div class="card-body pb-5">
        <ng-container *ngIf="employeeId&&employeeId>0">


            <div class="employee-card-header d-flex align-items-center flex-wrap mb-5">
                <div class="employee-image mb-2 me-4">
                    <img [src]="employeeBasicInfoModel.image" (error)="$event.target.src = defaultImage" class="emp-img" alt="default-image" loading="lazy" />
                </div>
                <div class="employee-info">
                    <div class="d-flex gap-2">
                        <h3 class="mb-2 d-flex align-items-center">
                            <span class="fw-bold me-2">{{employeeBasicInfoModel.fullNameAR}}</span>
                    
                            <!-- <span class="tag active fs-6 rounded shadow-sm px-2 py-1">نشط</span> -->
                        </h3>
                        <app-status-selector *ngIf="employeeBasicInfoModel?.employeeId" [selectedStatusId]="employeeBasicInfoModel?.statusId"
                            (statusSelected)="onStatusChanged($event)" [statusList]="employeeStatusSelector">
                        </app-status-selector>
                    </div>
                    
                    <!-- <div class="d-flex align-items-center fs-5 mb-1">
                        <i class="uil uil-postcard main-color"></i>
                        <span class="ms-2">المدير العام</span>
                    </div> -->
                    <div class="d-flex align-items-center fs-6">
                        <i class="uil uil-map-marker main-color"></i>
                        <span class="ms-2">{{employeeBasicInfoModel.address}}</span>
                    </div>
                    <!-- <button class="file-upload-button">
                        <input type="file" (change)="onSelectedFile($event)" style="cursor: pointer;" />
                    </button> -->
                </div>
            </div>
        </ng-container>
        <div class="employee-card-content card-shadow bg-light border mb-3">
            <div class="employee-card-tabs d-flex mb-5">
                <div class="employee-tab-item" routerLink="./basic-info" routerLinkActive="active" [queryParams]="queryParams">
                    <i class="uil uil-user"></i>
                    <span>البيانات الأساسية</span>
                </div>
                <ng-container *ngIf="employeeId&&employeeId>0">
                    <div class="employee-tab-item" routerLink="./verification-info" routerLinkActive="active" [queryParams]="queryParams">
                        <i class="uil uil-user"></i>
                        <span>بيانات الإقامة</span>
                    </div>
                    <div class="employee-tab-item" routerLink="./contract-info" routerLinkActive="active" [queryParams]="queryParams">
                        <i class="uil uil-user"></i>
                        <span>بيانات العقد</span>
                    </div>
                    <div *ngIf="employeeBasicInfoModel?.contractId" class="employee-tab-item" routerLink="./contract-salary" routerLinkActive="active" [queryParams]="queryParams">
                        <i class="uil uil-user"></i>
                        <span>بيانات الراتب</span>
                    </div>
                    <div class="employee-tab-item" routerLink="./attachments" routerLinkActive="active" [queryParams]="queryParams">
                        <i class="uil uil-user"></i>
                        <span>المرفقات</span>
                    </div>
                </ng-container>
            </div>
            <div class="employee-card-tabs-content px-4 pb-2">

                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- <button class="btn btn-primary" (click)="saveEmployeeDate()">حفظ</button> -->
    </div>
</div>