<section class="marketing-category-section mt-3">
    <div class="carousel-title d-flex align-items-center gap-2 position-relative mb-3">
        <img src="../../../../../assets/strong-offet-icon-2.svg" class="header-offer-icon" alt="offer-icon" loading="lazy" />
        <div class="fw-semibold fs-18">تسوق حسب التصنيف</div>
    </div>
    <swiper class="medium-carousel-swiper navigator-with-head h-auto" [slidesPerView]="1" [spaceBetween]="20" [navigation]="true" [pagination]="false" [slidesPerGroup]="1" [autoplay]="{ delay: 2000, disableOnInteraction: false }" [loop]="true" [breakpoints]="{
            '0': {
              slidesPerView: 1
            },
            '575': {
              slidesPerView: 2
            },
            '767': {
              slidesPerView: 3
            },
            '1024': {
              slidesPerView: 5
            },
            '1200': {
              slidesPerView: 6
            }
          }">
        <ng-container *ngFor="let category of responseModel.results">
            <ng-template swiperSlide>
                <div class="market-cat-card d-flex flex-column gap-2 align-items-center bg-white p-3">
                    <img src="../../../../../assets/marketing-cat-1.svg" class="marketing-cat-carousel-image" alt="offer-image" loading="lazy" />
                    <div class="fs-16 fw-semibold"> {{category.nameAR ?? category.nameEN }} </div>
                </div>
            </ng-template>
        </ng-container>
    </swiper>
</section>