<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">الأجازات</h5>
        <!-- <button class="btn btn-danger gap-2">
        <i class="far fa-times-circle"></i>
        <span>Exist</span> 
      </button>-->
    </div>
    <div class="card-body">
        <div class="main-card-action d-flex align-items-center flex-wrap">
            <!-- <button class="btn btn-dark mb-1">
                <i class="uil uil-eye"></i>
                <span class="ms-2">Preview</span>
            </button>
            <button class="btn btn-warning mb-1">
                <i class="uil uil-location-arrow"></i>
                <span class="ms-2">Update</span>
            </button>
            <button class="btn btn-secondary mb-1">
                <i class="uil uil-print"></i>
                <span class="ms-2">Print</span>
            </button>
            <button class="btn btn-danger mb-1">
                <i class="uil uil-times-circle"></i>
                <span class="ms-2">Exist</span>
            </button> -->
        </div>
        <div class="row py-1">
            <div class="col-lg-4">
                <label class="form-label d-flex align-items-center gap-2">
                    نوع الأجازه
                    <span class="text-danger">*</span>
                </label>
                <app-general-selector [data]="vacationTypeSelectorData" (valueChanged)="onVacationTypeSelectionChanged($event)" [showSearch]="true" [placeholder]="'نوع الأجازه'"></app-general-selector>
            </div>
            <!-- <div class="col-lg-2">
                <button class="btn btn-secondary radius-50 mt-4" (click)="getVacationsByEmployeeId()">
                    <i class="fas fa-search"></i>
                    <span class="ms-4">بحث</span>
                </button>
            </div> -->


            <div class="col-lg-4">
                <label class="form-label d-flex align-items-center gap-2">
                    اسم الموظف
                    <span class="text-danger">*</span>
                </label>
                <app-general-selector [(ngModel)]="selectedEmployeeId" [data]="employeeSelectorData" [showSearch]="true" [placeholder]="'قائمة الموظفين'"></app-general-selector>
            </div>

            <!-- <div class="col-lg-4">
                <select class="form-control mb-3 py-3" formControlName="employeeID">
                    <option [defaultSelected]=true [value]="0" disabled>Employees</option>
                    <option *ngFor="let emp of EmployeeData" [value]="emp.Id">{{emp.name}}</option>
                </select>
            </div> -->
            <!-- 
            <div class="col-lg-2">
                <button class="btn btn-secondary radius-50" (click)="getVacationsByEmployeeId()">
                    <i class="fas fa-search"></i>
                    <span class="ms-4">بحث</span>
                </button>
            </div> -->
        </div>
        <!-- <h6 class="mb-0 fw-bold" *ngIf="pagedResponseModel.results.length > 0">فرع {{pagedResponseModel.results[0].branchName}}
        </h6> -->
    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
        <div class="row p-2">
            <div class="col-md-8">
                <div class="d-flex align-items-center flex-wrap">
                    <div class="search-box position-relative mb-2">
                        <button class="btn btn-primary mb-2" (click)="openNewSidePanel(AddModal)">
                            <span class="me-2">إنشاء أجازة</span>
                            <i class="uil uil-plus-circle"></i>
                        </button>
                    </div>
                    <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->
                </div>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
            </div>
        </div>
        <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
        <div class="table-responsive shadow-sm radius-10 table-vp-height">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead class="table-light">
                    <tr>
                        <th>اسم الموظف</th>
                        <th>نوع الأجازة</th>

                        <th>الموظف البديل</th>
                        <th>من تاريخ</th>
                        <th>حتى تاريخ</th>
                        <th>أخر يوم عمل</th>
                        <th>اجمالي المدة بالأيام</th>
                        <th>الحالة</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>{{item.employeeName}}</td>
                        <td>{{item.vacationType}}</td>

                        <td>{{item.alternativeEmployeeName}}</td>
                        <td>{{item.fromDate | date}}</td>
                        <td>{{item.toDate | date}}</td>
                        <td>{{item.lastDayWork | date}}</td>
                        <td>{{item.period}}</td>
                        <td>
                            <!-- <div appColorWithStatus status="workflowStatusId" [text]="workflowStatusNameEN" [text]="item.workflowStatusId"></div> -->

                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <td>

                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem (click)="cancelPaymentOrder(item.paymentOrderId)">تعديل</button>
                                        <button ngbDropdownItem (click)="openDeleteModal(deleteModal,item.vacationId)">إلغاء</button>
                                        <button ngbDropdownItem (click)="openEditJoinDateModal(editJoinDateModal,item)">عودة من
                                            الأجازة</button>
                                    </div>
                                </div>

                                <!-- <div class="d-flex align-items-center justify-content-center text-center">
                                <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" (click)="openNewSidePanel(AddModal,item)">
                                    <i class="uil uil-pen"></i>
                                    <span>تعديل</span>
                                </button>
                                <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openDeleteModal(deleteModal,item.vacationId)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>الغاء</span>
                                </button>
                                <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openEditJoinDateModal(editJoinDateModal,item.employeeId)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>عودة من أجازة</span>
                                </button> -->

                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length || showLoader">
                        <td colspan="9" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>



<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">رسالة تأكيد</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد من الالغاء ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteVacation()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">عودة</span>
        </button>
    </div>
</ng-template>


<ng-template #editJoinDateModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h4 class="d-flex align-items-center gap-2">
            <i class="uil uil-refresh"></i>
            <span>عودة الموظف من الأجازة</span>
        </h4>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="card ">
            <!-- bg-light  >> for gray card-->
            <div class="card-body ">
                <div class="p-2">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label d-flex align-items-center gap-2">
                                حالة الموظف
                            </label>
                            <app-general-selector [(ngModel)]="employeeStatusId" [disabled]="true" [data]="employeeStatusSelector" [placeholder]="'حالة الموظف'"></app-general-selector>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label d-flex align-items-center gap-2">
                                تاريخ العودة
                            </label>
                            <input type="date" class="form-control nw-form-input w-100" [(ngModel)]="lastJoinDate" autocomplete="off" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button [disabled]="showAddLoader" (click)="updateEmployeeLastJoinDate()" type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100">
            <i class="uil uil-save fs-3"></i>
            <span>حفــظ</span>
        </button>

        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>إلغاء</span>
        </button>
    </div>
</ng-template>



<ng-template #AddModal let-offcanvas class="add-vacation-panel">
    <div class="offcanvas-header gap-3 fs-4 border-bottom py-4">
        <i class="fas fa-user-plus offcanvas-header-icon"></i>
        <span>إنشاء أجازة</span>
    </div>

    <div class="offcanvas-body pt-4 bg-light">
        <div class="card ">
            <!-- <div class="card-header bg-white">
                <h6 class="fw-bold m-0">
                    <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
                    <span *ngIf="isUpdate" class="ms-3">تعديل</span>
                </h6>
            </div> -->
            <!-- bg-light  >> for gray card-->
            <div class="card-body ">
                <div class="p-2">
                    <form [formGroup]="formGroup" autocomplete="off">

                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                التاريخ من
                                <span class="text-danger">*</span></label>
                            <input type="date" formControlName="fromDate" autocomplete="off" class="form-control nw-form-input" />
                            <div *ngIf="formErrors.fromDate" class="text-danger  font-small-3 m-03">
                                {{formErrors.fromDate}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                التاريخ الي
                                <span class="text-danger">*</span></label>
                            <input type="date" formControlName="toDate" autocomplete="off" class="form-control nw-form-input" />
                            <div *ngIf="formErrors.toDate" class="text-danger  font-small-3 m-03">
                                {{formErrors.toDate}}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                أخر يوم عمل
                                <span class="text-danger">*</span></label>
                            <input type="date" formControlName="lastDayWork" autocomplete="off" class="form-control nw-form-input" />
                            <div *ngIf="formErrors.lastDayWork" class="text-danger  font-small-3 m-03">
                                {{formErrors.lastDayWork}}
                            </div>
                        </div>

                        <!-- <hr class="my-4" /> -->
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    موظف بديل
                                </label>
                                <input class="big-checkbox" formControlName="isAlternativeAvailable" type="checkbox">

                                <div *ngIf="formErrors.isAlternativeAvailable" class="text-danger  font-small-3 m-03">
                                    {{formErrors.isAlternativeAvailable}}
                                </div>
                            </div>
                            <div *ngIf="formGroup?.value?.isAlternativeAvailable " class="col-sm-10">
                                <label class="form-label d-flex align-items-center gap-2">
                                    قائمة الموظفين
                                    <!-- <span class="text-danger">*</span> -->
                                </label>
                                <app-general-selector formControlName="alternativeEmployeeId" [data]="employeeSelectorData" [showSearch]="true" [placeholder]="'قائمة الموظفين'"></app-general-selector>

                                <div *ngIf="formErrors.alternativeEmployeeId" class="text-danger  font-small-3 m-03">
                                    {{formErrors.alternativeEmployeeId}}
                                </div>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                ملاحظات
                            </label>
                            <input type="text" class="form-control nw-form-input description-area" formControlName="notes" autocomplete="off" />
                            <!-- <textarea class="form-control" placeholder="Description *" formControlName="notes"
                                    autocomplete="off"></textarea> -->
                            <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                                {{formErrors.notes}}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center border-top pt-3 mt-3">
            <button [disabled]="showAddLoader" (click)="saveEmployeeVacation()" class="btn btn-primary w-50 justify-content-center py-3 fs-5 radius-10">
                <!-- <i class="fas fa-id-card"></i> -->
                <i class="fas fa-plus-circle"></i>
                <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
                <span *ngIf="isUpdate" class="ms-3">تعديل</span>
            </button>
        </div>
        <div class="table-responsive sidepanel-table-h large-scroll">
        </div>
    </div>
</ng-template>