<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>


<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="d-flex justify-content-between align-items-center px-3 border-bottom mb-2">
        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2">بيانات الطلب</div>
        <div class="d-flex">

            <div class="d-flex align-items-center justify-content-center">
                <div ngbDropdown container="body">
                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div ngbDropdownMenu class="border">
                        <button ngbDropdownItem (click)="initNewForm()"
                            *ngIf="!materialRequestModel?.orderId &&!showLoader">
                            <i class="fas fa-times"></i>
                            <span class="px-2">
                                افراغ الخانات
                            </span>
                        </button>
                        <button ngbDropdownItem>
                            <i class="fas fa-print"></i>
                            <span class="px-2">
                                طباعة
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            
            <ng-container *ngIf="materialRequestId">

                <button (click)="goToMaterialRequest(materialRequestModel?.nextId)" type="button"
                    [disabled]="!materialRequestModel?.nextId" title="التالي"
                    class="btn btn-table-action m-2 d-flex align-items-center gap-2 border rounded px-3">
                    <i class="fas fa-chevron-right"></i>
                </button>
                <button (click)="goToMaterialRequest(materialRequestModel?.previousId)" type="button"
                    [disabled]="!materialRequestModel?.previousId" title="السابق"
                    class="btn btn-table-action m-2 d-flex align-items-center gap-2 border rounded px-3">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </ng-container>

            <button [disabled]="showAddLoader"
                class="btn btn-secondary  m-2 d-flex align-items-center gap-2 border rounded px-3"
                (click)="openSaveModal(saveDialog)">
                <i class="fas fa-check-circle"></i>
                <span class="ms-2">حفـظ</span>
            </button>
        </div>
    </div>
    <div class="inputs-sec-content px-3 py-2">

        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            رقم الطلب
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="orderNumber" disabled
                            autocomplete="off" />

                        <div *ngIf="formErrors.orderNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.orderNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الرقم الدفتري
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="docNumber"
                            autocomplete="off" />

                        <div *ngIf="formErrors.docNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.docNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الغرض من الطلب
                            <span class="text-danger">*</span>
                        </label>
                        <app-general-selector formControlName="purposeId" [showSearch]="true"
                            [data]="materialRequestPurposesSelectorData" [placeholder]="'الفرع'"></app-general-selector>

                        <div *ngIf="formErrors.purposeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.purposeId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الفرع
                            <span class="text-danger">*</span>
                        </label>
                        <app-general-selector formControlName="branchId" [showSearch]="true"
                            [data]="branchesSelectorData" [placeholder]="'الفرع'"></app-general-selector>

                        <div *ngIf="formErrors.branchId" class="text-danger  font-small-3 m-03">
                            {{formErrors.branchId}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            تاريخ الطلب
                            <span class="text-danger">*</span></label>
                        <input type="date" formControlName="orderDate" autocomplete="off"
                            class="form-control nw-form-input" />
                        <div *ngIf="formErrors.orderDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.orderDate}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            تاريخ الاستحقاق
                            <span class="text-danger">*</span></label>
                        <input type="date" formControlName="dueDate" autocomplete="off"
                            class="form-control nw-form-input" />
                        <div *ngIf="formErrors.dueDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.dueDate}}
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-12">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            البيان
                        </label>
                        <input type="text" class="form-control nw-form-input description-area" formControlName="notes" autocomplete="off" />
                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>
                </div> -->
            </div>
        </form>
    </div>

    <!-- <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-top mb-2">
        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2" (click)="saveMaterialRequest()">
            <i class="fas fa-check-circle"></i>
            <span class="ms-2">حفـظ</span>
        </button>

        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2" *ngIf="!materialRequestModel?.orderId &&!showLoader"
            (click)="initNewForm()">
            <i class="fas fa-times"></i>
            <span class="ms-2">مسح</span>
        </button>

        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2">
            <i class="fas fa-print"></i>
            <span class="ms-2">طباعة</span>
        </button>
    </div> -->
</div>

<app-order-items [selectedProducts]="orderDetails" [clearAllProducts]="clearAllProducts" [showPrice]="false"
    [showDueDate]="true" (selectedProductsList)="getSelectedProductsList($event)"></app-order-items>



<ng-template #saveDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); saveMaterialRequest()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>