<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>


<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">بيانات الطلب</div>
    <div class="inputs-sec-content px-3 py-2">

        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            رقم الطلب
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="orderNumber" disabled autocomplete="off" />

                        <div *ngIf="formErrors.orderNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.orderNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الرقم الدفتري
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="docNumber" autocomplete="off" />

                        <div *ngIf="formErrors.docNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.docNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الفرع
                            <span class="text-danger">*</span>
                        </label>
                        <app-general-selector formControlName="branchId" [showSearch]="true" [data]="branchesSelectorData" [placeholder]="'الفرع'"></app-general-selector>

                        <div *ngIf="formErrors.branchId" class="text-danger  font-small-3 m-03">
                            {{formErrors.branchId}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            تاريخ الطلب
                            <span class="text-danger">*</span></label>
                        <input type="date" formControlName="orderDate" autocomplete="off" class="form-control nw-form-input" />
                        <div *ngIf="formErrors.orderDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.orderDate}}
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            البيان
                        </label>
                        <input type="text" class="form-control nw-form-input description-area" formControlName="notes" autocomplete="off" />
                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-top mb-2">
        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2" (click)="saveMaterialRequest()">
            <i class="fas fa-check-circle"></i>
            <span class="ms-2">حفـظ</span>
        </button>

        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2" *ngIf="!materialRequestModel?.orderId &&!showLoader" (click)="initNewForm()">
            <i class="fas fa-times"></i>
            <span class="ms-2">مسح</span>
        </button>

        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2">
            <i class="fas fa-print"></i>
            <span class="ms-2">طباعة</span>
        </button>
    </div>
</div>

<app-order-items [selectedProducts]="orderDetails" [clearAllProducts]="clearAllProducts" [showPrice]="false" (selectedProductsList)="getSelectedProductsList($event)"></app-order-items>