
<div ngbDropdown class="dropdown-filter-wrapper dropdown-as-input d-inline-block mb-3 w-100">
    <button type="button" class="btn-filter promotion-filter py-3" style="height: 30px;" id="filterInput1"
        ngbDropdownToggle>
        {{selectedValue}}
    </button>
    <div ngbDropdownMenu aria-labelledby="filterInput1" class="dropdown-filter p-0 overflow-hidden w-100 shadow-sm">
        <div class="p-2 bg-light border-bottom">
            <input type="text" name="Search" class="form-control form-control-sm" [(ngModel)]="searchText"
                placeholder="بحث..." />
        </div>
        <div class="max-height-150 min-width-200 overflow-auto small-scroll">
            
            <div class="check-row" *ngFor="let option of data | searchArry: searchText:'label'">
                <a class="dropdown-item" (click)="selectOption(option)"
                    [ngClass]="{'DropDownSelected': SelectorName == option.value}">{{option.label}}</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="alert text-danger validate-style" *ngIf="isValid">
    {{ValidateMessage}}
</div> -->

<!-- <div class="custom-dropdown">
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterData()" placeholder="Search..." />
    <ul>
        <li *ngFor="let option of filteredData" (click)="selectOption(option)">
            {{ option.label }}
        </li>
    </ul>
</div> -->