<div ngbDropdown class="dropdown-filter-wrapper dropdown-as-input d-inline-block w-100">
    <button type="button" class="btn-filter promotion-filter py-3" [ngStyle]="{'height': Height}" id="filterInput1" ngbDropdownToggle>
        {{SelectorName}}
    </button>
    <div ngbDropdownMenu aria-labelledby="filterInput1" class="dropdown-filter p-0 overflow-hidden w-100 shadow-sm">
        <div class="p-2 bg-light border-bottom">
            <input type="text" name="Search" class="form-control form-control-sm" [(ngModel)]="SearchText" placeholder="بحث..." />
        </div>
        <div class="max-height-150 min-width-200 overflow-auto small-scroll">
            <div class="check-row" *ngFor="let item of ItemsList | searchArry: SearchText:SearchKey">
                <a class="dropdown-item" (click)="onItemClick(item)" [ngClass]="{'DropDownSelected': SelectorName == item[innerTextKey]}">{{item[innerTextKey]}}</a>
            </div>
        </div>
    </div>
</div>
<div class="alert text-danger validate-style" *ngIf="isValid">
    {{ValidateMessage}}
</div>