<ng-container *ngFor="let filter of FilterList;let i = index">

    <div class="order-filter-box card">
        <div class="card-header main-bg text-white py-3 d-flex align-items-center">
            <!-- <i class="fas fa-sort-amount-down fs-18 ms-2"></i> -->
            <h5 class="m-0">{{filter.categoryDisplayName}}</h5>
        </div>
        <div class="card-body p-0">
            <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                <input type="text" [(ngModel)]="filter.searchText" class="form-control form-control-sm w-100"
                    placeholder="Search..." />
            </div>
            <div *ngFor="let filterItem of filter.filterItems | searchArry: filter.searchText:['itemKey'];let x = index"
                class="filter-wrapper form-check d-flex align-items-center gap-2">
                <input [(ngModel)]="filterItem.isChecked" (change)="filterChecked(filterItem)" type="checkbox"
                    id="filter-input_{{i}}_{{x}}">
                <label for="filter-input_{{i}}_{{x}}"
                    class="m-0 d-flex align-items-center justify-content-between w-100 pe-2">
                    <span>{{filterItem.itemKey}}</span>
                    <span>{{filterItem.itemValue}}</span>
                </label>
            </div>
        </div>
    </div>
    <hr />

    <!-- <div class="foods-filter-box card">
        <div class="card-header main-bg text-white py-3 d-flex align-items-center">
            <i class="fas fa-utensils fs-18 ms-2"></i>
            <h5 class="m-0">المطابخ</h5>
        </div>
        <div class="card-body p-0">
            <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                <input type="checkbox" id="flexCheckkitchen_1">
                <label for="flexCheckkitchen_1" class="m-0">
                    مطبخ 3
                </label>
            </div>
            <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                <input type="checkbox" id="flexCheckkitchen_2">
                <label for="flexCheckkitchen_2" class="m-0">
                    مطبخ 2
                </label>
            </div>
            <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                <input type="checkbox" id="flexCheckkitchen_3">
                <label for="flexCheckkitchen_3" class="m-0">
                    مطبخ 3
                </label>
            </div>
            <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                <input type="checkbox" id="flexCheckkitchen_4">
                <label for="flexCheckkitchen_4" class="m-0">
                    مطبخ 4
                </label>
            </div>
            <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                <input type="checkbox" id="flexCheckkitchen_5">
                <label for="flexCheckkitchen_5" class="m-0">
                    مطبخ 5
                </label>
            </div>
            <a class="more-filter-text text-underline main-color fw-bold cursor-pointer">
                sdsadsadasd</a>
        </div>
    </div> -->
</ng-container>