<ng-container *ngIf="!detailsView">
    <div class="card radius-10 border-0 card-shadow mb-3">
        <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
            <h5 class="mb-0 fw-bold">الأجازات</h5>
            <button class="btn btn-secondary gap-2" (click)="toggleDetails()">
                <i class="fa fa-arrow-left"></i>
                <span>الاجازات السابقة</span>
            </button>
        </div>
        <div class="card-body">
            <!-- <div class="d-flex justify-content-between">
                <h5 class="mb-3 fw-bold">Add Vacation</h5>
                <button (click)="toggleDetails()" class="btn mb-1">
                    <i class="uil uil-eye"></i>
                    <span class="ms-2">الاجازات السابقة</span>
                </button>
            </div> -->
            <div class="main-card-action d-flex align-items-center flex-wrap">

                <!-- <button class="btn btn-warning mb-1">
                    <i class="uil uil-location-arrow"></i>
                    <span class="ms-2">Update</span>
                </button>
                <button class="btn btn-secondary mb-1">
                    <i class="uil uil-print"></i>
                    <span class="ms-2">Print</span>
                </button>
                <button class="btn btn-danger mb-1">
                    <i class="uil uil-times-circle"></i>
                    <span class="ms-2">Exist</span>
                </button> -->
            </div>
            <form [formGroup]="formGroup" autocomplete="off">
                <div class="row">
                    <div class="col-lg-4 m-3">
                        <div class="form-floating">
                            <app-drop-down-form-control formControlName="vacationTypeId" [data]="vacationTypeSelectorData" [placeholder]="'نوع الاجازة'"></app-drop-down-form-control>
                        </div>
                        <div *ngIf="formErrors.vacationTypeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.vacationTypeId}}
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-4 m-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="fromDate" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">من تاريخ</label>
                        </div>
                        <div *ngIf="formErrors.fromDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.fromDate}}
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1 m-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="toDate" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">حتى تاريخ</label>
                        </div>
                        <div *ngIf="formErrors.toDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.toDate}}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 m-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="lastDayWork" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">أخر يوم عمل</label>
                        </div>
                        <div *ngIf="formErrors.lastDayWork" class="text-danger  font-small-3 m-03">
                            {{formErrors.lastDayWork}}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-9 m-3">
                        <div class="form-floating">
                            <label for="floatingInput2">ملاحظات</label>
                            <textarea style="min-height: 150px;" type="text" formControlName="notes" class="form-control " id="floatingInput2" placeholder="ملاحظات" autocomplete="off">
                            </textarea>
                        </div>
                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>

                </div>

            </form>
            <div class="d-flex justify-content-left">
                <button [disabled]="showAddLoader" (click)="saveVacation()" class="btn btn-primary m-2">
                    <i class="fas fa-save"></i>
                    <span *ngIf="!isUpdate" class="ms-3">إضافة</span>
                    <span *ngIf="isUpdate" class="ms-3">تعديل</span>
                </button>
                <button (click)="initNewVacationForm()" class="btn btn-danger m-2">
                    <i class="fa fa-times"></i>
                    <span class="ms-3">إلغاء</span>
                </button>
            </div>

        </div>
    </div>
</ng-container>



<ng-container *ngIf="detailsView">
    <div class="card radius-10 border-0 card-shadow mb-4">
        <div class="card-body">
            <div class="row p-2">
                <div class="col-md-8">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="search-box position-relative mb-2">
                            <button class="btn btn-primary mb-2" (click)="toggleDetails()">
                                <span class="me-2">إضافة أجازة</span>
                                <i class="uil uil-plus-circle"></i>
                            </button>
                        </div>
                        <!-- <ng-container *ngIf="filterList.length > 0">
                            <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                        </ng-container> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="vacationResponse.currentPage" [pageSize]="vacationResponse.pageSize" [totalCount]="vacationResponse.totalCount"></app-erp-pagination>
                </div>
            </div>
            <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
            <div class="table-responsive">
                <table class="table align-middle table-blue mb-0 table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>اسم الموظف</th>
                            <th>الموظف البديل</th>
                            <th>من تاريخ</th>
                            <th>حتى تاريخ</th>
                            <th>أخر يوم عمل</th>
                            <th>اجمالي المدة بالأيام</th>
                            <th>الحالة</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of vacationResponse.results">
                            <td>{{item.employeeName}}</td>
                            <td>{{item.alternativeEmployeeName}}</td>
                            <td>{{item.fromDate | date}}</td>
                            <td>{{item.toDate | date}}</td>
                            <td>{{item.lastDayWork | date}}</td>
                            <td>{{item.period}}</td>
                            <td>
                                <div appColorWithStatus status="isApproved" [text]="item.isApproved"></div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center text-center">
                                    <button class="btn btn-warning text-white me-2" (click)="toggleDetails(item)">
                                        <i class="uil uil-edit"></i>
                                        <span class="ms-2">Edit</span>
                                    </button>
                                    <button class="btn btn-danger" (click)="openDeleteModal(deleteModal,item.vacationId)">
                                        <i class="uil uil-trash-alt"></i>
                                        <span class="ms-2">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-empty-data [showContainer]="!vacationResponse.results?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="btn btn-danger py-0 px-3 rounded fs-4 fw-bold" (click)="modal.dismiss()">
            <i class="uil uil-times"></i>
        </button>
    </div>
    <div class="modal-body bg-light">
        <form [formGroup]="form" autocomplete="off">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="fromDate" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Start Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="toDate" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">End Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="lastDayWork" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Last Day Work</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="period" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Period</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="alternativeEmployee" id="floatingInput" placeholder="name@example.com" autocomplete="off">
                        <label for="floatingInput">Alternative Employee</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click');EditVacation()">
            <i class="fas fa-save"></i>
            <span class="ms-2">Save</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">Close</span>
        </button>
    </div>
</ng-template>


<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want remove this Vacation?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteVacation()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>

<ng-template #AddVacationSidePanel let-offcanvas>
    <div class="container bg-light h-100">
        <div class="offcanvas-header mb-2">

        </div>

        <div class="offcanvas-body pt-0 bg-light">
            <form [formGroup]="formGroup" autocomplete="off">
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="form-floating">
                            <app-drop-down-form-control formControlName="vacationTypeId" [data]="vacationTypeSelectorData" [showSearch]="true" [placeholder]="'نوع الاجازه'"></app-drop-down-form-control>
                        </div>
                        <div *ngIf="formErrors.vacationTypeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.vacationTypeId}}
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="fromDate" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Start Date</label>
                        </div>
                        <div *ngIf="formErrors.fromDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.fromDate}}
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="toDate" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">End Date</label>
                        </div>
                        <div *ngIf="formErrors.toDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.toDate}}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" formControlName="lastDayWork" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Last Work Day</label>
                        </div>
                        <div *ngIf="formErrors.lastDayWork" class="text-danger  font-small-3 m-03">
                            {{formErrors.lastDayWork}}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <label class="col-sm-3 col-form-label col-form-label-sm">موظف بديل</label>
                        <div class="col-sm-9">
                            <input class="form-check-input" formControlName="isAlternativeAvailable" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div *ngIf="formErrors.isAlternativeAvailable" class="text-danger  font-small-3 m-03">
                            {{formErrors.isAlternativeAvailable}}
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="form-floating">
                            <app-drop-down-form-control formControlName="alternativeEmployeeId" [data]="employeeSelectorData" [showSearch]="true" [placeholder]="'اسم الموظف'"></app-drop-down-form-control>
                        </div>
                        <div *ngIf="formErrors.alternativeEmployeeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.alternativeEmployeeId}}
                        </div>
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col-lg-8 offset-lg-1">
                        <div class="form-floating">
                            <label for="floatingInput2">ملاحظات</label>
                            <textarea type="text" formControlName="notes" class="form-control " id="floatingInput2" placeholder="ملاحظات" autocomplete="off">
                            </textarea>
                        </div>
                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>

                </div>

            </form>

            <div class="d-flex justify-content-center">
                <button [disabled]="showAddLoader" (click)="saveEmployeeVacation()" class="btn btn-primary w-50 justify-content-center py-3 fs-5 radius-10">
                    <!-- <i class="fas fa-id-card"></i> -->
                    <span *ngIf="!isUpdate" class="ms-3">إضافة</span>
                    <span *ngIf="isUpdate" class="ms-3">تعديل</span>
                </button>
            </div>
            <div class="table-responsive sidepanel-table-h large-scroll">
            </div>
        </div>
    </div>


</ng-template>