<button class="btn btn-primary" (click)="OpenSidePanel(OrderSearchSidepanel)">
  <i class="fas fa-upload"></i>
  <span class="ms-2">تحميل من أمر شراء</span>
</button>
<ng-template #OrderSearchSidepanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-store offcanvas-header-icon"></i>
            <span>بحث فى أوامر الشراء</span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div class="employee-card-body row mb-3">
            <div class="col-xl-4">
                <app-drop-down-form-control [(ngModel)]="selectedSupplierId" [disabled]="true" [data]="suppliersSelectorData" [showSearch]="true" [placeholder]="'قائمة الموردين'"></app-drop-down-form-control>
            </div>
            <div class="col-xl-4">
                <input type="text" autocomplete="off" [(ngModel)]="orderNumber" class="form-control input-height" placeholder="رقم الأذن">
            </div>
            <div class="col-xl-4">
                <input type="date" [(ngModel)]="orderDate" class="form-control input-height" placeholder="تاريخ الاصدار">
            </div>
            <div class="col-xl-12">
                <div class="d-flex justify-content-center mt-3">
                    <button (click)="loadData()" class="btn btn-primary w-50 justify-content-center py-2 fs-5 radius-10">
            بحث
          </button>
                </div>
            </div>
        </div>

        <hr class="border-black" />

        <div class="card card-with-table border shadow-none">
            <div class="card-header bg-white border-bottom d-flex align-items-center justify-content-end">
               
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-borderless align-middle table-hover table-component text-center m-0">
                    <thead>
                        <tr>
                            <th>رقم الأمر</th>
                            <th>تاريخ الاصدار</th>
                            <th>إجمالى القيمة</th>
                            <th>اسم المورد (AR)</th>
                            <th>اسم المورد (EN)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pagedResponseModel.results">
                            <td>{{item.orderNumber}}</td>
                            <td>{{item.orderDate | date}}</td>
                            <td>{{item.totalValue}}</td>
                            <td>{{item.supplierNameAR}}</td>
                            <td>{{item.supplierNameEN }}</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <button (click)="SelectOrder(item)" class="btn btn-secondary">
                    <i class="fas fa-upload"></i>
                    <!-- <span class="ms-2">تحميل</span> -->
                  </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-empty-data [showEmptyData]="!pagedResponseModel.results?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
            </div>
        </div>


        <!-- <div class="boxstyle1-content hastable table-responsive table-vp-height small-scroll">
      <table class="table table-bordered table-responsive table-middle table-hover m-0 bg-white bigtitle">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Total Value</th>
            <th>Supplier Name AR</th>
            <th>Supplier Name EN</th>

            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedResponseModel.results">
            <td>{{item.orderNumber}}</td>
            <td>{{item.orderDate | date}}</td>
            <td>{{item.totalValue}}</td>
            <td>{{item.supplierNameAR}}</td>
            <td>{{item.supplierNameEN }}</td>

            <td>
              <div class="w-100 d-flex align-items-center justify-content-center">
                <button (click)="SelectOrder(item)" class="btn btn-secondary">
                  <i class="far fa-eye"></i>
                  <span class="ms-2">تحميل</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <app-empty-data [showEmptyData]="!pagedResponseModel.results?.length&&!showLoader"
        [showLoader]="showLoader"></app-empty-data>
    </div> -->
    </div>

</ng-template>