<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-outline-primary d-flex align-items-center gap-2 border rounded px-3" routerLink="./../add-material-request">
                <i class="fas fa-plus-circle"></i>
                <span>إنشاء طلب جديد</span>
            </button>
            <!-- <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-filter"></i>
                <span>إنشاء فلتر</span>
            </button> -->
        </div>
        <div class="justify-content-end">
            <app-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-pagination>
        </div>
        <div class="col-md-12 mt-3">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-erp-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)" [searchPlaceholder]="'بحث  ...'"></app-erp-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th># الطلب</th>
                        <th>#</th>
                        <th>تاريخ الطلب</th>
                        <th>تاريخ الاستحقاق</th>
                        <th>الغرض من الطلب</th>
                        <th>اسم المخزن</th>
                        <th>حالة الطلب</th>
                        <!-- <th>ملاحظات</th> -->
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>{{item.orderNumber}}</td>
                        <td>{{item.serialNumber}}</td>
                        <td>{{item.orderDate | date}}</td>
                        <td>{{item.dueDate | date}}</td>
                        <td>{{item.purposeNameAR ?? item.purposeNameEN}}</td>
                        <td>{{item.storeNameAR ?? item.storeNameEN}}</td>
                        <td>
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <!-- <td>{{item.notes}}</td> -->
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem (click)="showMaterialRequestDetails(item)">تفاصيل</button>
                                        <button *ngIf="!item.isCancelled" ngbDropdownItem routerLink="../add-material-request" [queryParams]="{MaterialRequestId:item.materialRequestId}">
                                            تعديل
                                        </button>
                                        <button *ngIf="!item.isCancelled" ngbDropdownItem routerLink="/purchases/add-purchase-order" [queryParams]="{MaterialRequestId:item.materialRequestId}">
                                            انشاء امر شراء
                                        </button>
                                        <button *ngIf="!item.isCancelled" ngbDropdownItem (click)="openDeleteModal(deleteDialog,item.materialRequestId)">الغاء</button>

                                    </div>
                                </div>
                            </div>

                            <!-- <div class="w-100 d-flex align-items-center justify-content-center">
                                <button (click)="showMaterialRequestDetails(item)"
                                    class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                    <i class="uil uil-pen"></i>
                                    <span>تفاصيل</span>
                                </button>
                                <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2"
                                    routerLink="../add-material-request" [queryParams]="{MaterialRequestId:item.materialRequestId}">
                                    <i class="uil uil-pen"></i>
                                    <span>تعديل</span>
                                </button>
                                <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2"
                                    (click)="openDeleteModal(deleteDialog,item.materialRequestId)">
                                    <i class="uil uil-times"></i>
                                    <span>الغاء</span>
                                </button>
                            
                            </div> -->
                        </td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length || showLoader">
                        <td colspan="8" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #deleteDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحذف ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); cancelOrder()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>



<ng-template appComponentHost></ng-template>


<!-- <ngx-loading [show]="showLoader"></ngx-loading> -->