<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div
        class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <!-- <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" routerLink="/general-accounts/create-payment-order">
                <i class="fas fa-plus-circle"></i>
                <span>إنشاء إذن صرف مواد</span>
            </button> -->
            <button class="btn btn-outline-primary border d-flex align-items-center gap-2 py-2"
                routerLink="./../add-material-issue">
                <i class="uil uil-plus fs-5"></i>
                <span>إنشاء إذن جديد</span>
            </button>
            <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-file-download"></i>
                <span>تصدير CSV</span>
            </button>
            <!-- <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3"
                    id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fas fa-cogs"></i>
                    <span>الإجراءات</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded">
                    <button ngbDropdownItem class="d-flex align-items-center gap-2">
                        <i class="fas fa-edit"></i>
                        <span>تعديل</span>
                    </button>
                    <button ngbDropdownItem class="d-flex align-items-center gap-2">
                        <i class="fas fa-trash-alt"></i>
                        <span>اسقاط</span>
                    </button>
                </div>
            </div> -->
            <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-filter"></i>
                <span>إنشاء فلتر</span>
            </button>
            <!--<button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-save"></i>
                <span>المرشحات المحفوظة</span>
            </button> -->
        </div>
        <div class="justify-content-end">
            <!-- <nav>
                <ul class="pagination table-paging m-0">
                    <li class="page-item disabled">
                        <a class="page-link">السابق</a>
                    </li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link">2</a>
                    </li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                        <a class="page-link">التالى</a>
                    </li>
                </ul>
            </nav> -->
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage"
                [pageSize]="pagedResponseModel.pageSize"
                [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th># الطلب</th>
                        <th>الرقم الدفترى</th>
                        <th>تاريخ الطلب</th>
                        <th>اسم الفرع</th>
                        <th>المخزن</th>
                        <th>القيمة الإجمالية</th>
                        <th>حالة الطلب</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td class="fs-5 fw-bold text-center">
                            <!-- {{item.orderNumber}} -->
                            {{item.serialNumber}}

                        </td>
                        <td>{{item.docNumber}}</td>
                        <td>{{item.orderDate | date}}</td>
                        <td>{{item.branchNameAR ?? item.branchNameEN}}</td>
                        <td>{{item.storeNameAR ?? item.storeNameEN}}</td>
                        <td>{{item.totalValue}}</td>
                        <td>
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN"
                                [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem routerLink="/inventory/add-material-issue"
                                            [queryParams]="{MaterialIssueId:item.materialIssueId}">
                                            تعديل
                                        </button>
                                        <button ngbDropdownItem
                                            (click)="openDeleteModal(deleteModal,item.materialIssueId)">الغاء</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length">
                        <td colspan="9" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحذف ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" [disabled]="showAddLoader" class="btn btn-success"
            (click)="modal.close('Save click');cancelMaterialIssueOrder(materialIssueId)">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" [disabled]="showAddLoader" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>