<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-body">
        <div class="main-card-action d-flex align-items-center flex-wrap mb-3">
            <button class="btn btn-primary mb-1" (click)="openModal(ContentModal)">
                <i class="uil uil-plus-circle"></i>
                <span class="ms-2">Add Account</span>
            </button>
        </div>
    </div>
</div>

<!-- <div class="Z2Container">
    <div class="z2-boxstyle1 table-responsive">
        <div class="z2-boxstyle1-header">
            <div class="z2-boxstyle1-header-left">
                <div class="z2iconfont icon-Basic-Info"></div>
                Platform
            </div>
        </div>
        <div class="z2-boxstyle1-content hastable">
            <table class="table table-borderless switcher-table table-hover border bg-white bigtitle mb-0">
                <tbody>
                    <tr>
                        <td>Application Name</td>
                        <td></td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Category</td>
                        <td>Status</td>
                    </tr>
                </tbody>
                <ng-container>
                    <tbody>
                        <tr>
                            <td class="cursor-pointer"
                                [attr.aria-expanded]="!isCollapse">
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-caret-right mr-05 rotate"></i>
                                    <div class="font-weight-bold">ApplicationName</div>
                                </div>
                            </td>
                            <td>
                                <label class="jtoggler-wrapper m-0 mx-0">
                                    <input type="checkbox" class="jtoggler"
                                        id="chk_8beb30c9-e0c7-4444-9a9d-6852dc0c0253">
                                    <div class="jtoggler-control switcher-color">
                                        <div class="jtoggler-handle"></div>
                                    </div>
                                </label>
                            </td>
                            <td>
                                <div class="height-35">
                                    <input type="date" class="form-control form-control-sm" />
                                </div>
                            </td>
                            <td>
                                <div class="height-35">
                                    <input type="date" class="form-control form-control-sm" />
                                </div>
                            </td>
                            <td>
                                <div class="height-35">
                                    <select class="form-control" name="SubCustomerCategory">
                                        <option value="" disabled>Select Category</option>
                                        <option>Select Category</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="height-35">
                                    <select class="form-control" name="SubCustomerStatus">
                                        <option value="" disabled>Select Status</option>
                                        <option>Select Status</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <ng-container>
                        <tbody #collapse="ngbCollapse" [(ngbCollapse)]="appisCollapse">
                            <tr>
                                <td class="p-sub"
                                    (click)="appisCollapse = !appisCollapse"
                                    [attr.aria-expanded]="!appisCollapse">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-caret-right mr-05 rotate"></i>
                                        <div class="font-weight-bold">applicationName</div>
                                    </div>
                                </td>
                                <td>
                                    <label class="jtoggler-wrapper m-0 mx-0">
                                        <input type="checkbox" class="jtoggler"
                                            id="chk_8beb30c9-e0c7-4444-9a9d">
                                        <div class="jtoggler-control">
                                            <div class="jtoggler-handle"></div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <input type="date"
                                        class="form-control form-control-sm" />
                                </td>
                                <td>
                                    <input type="date"
                                        class="form-control form-control-sm" />
                                </td>
                                <td>
                                    <select class="form-control" name="SubCustomerCategory">
                                        <option>Select Category</option>
                                        <option>Select Category</option>

                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" name="SubCustomerStatus">
                                        <option>Select Status</option>
                                        <option>Select Status</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                        <tbody #collapse="ngbCollapse" [(ngbCollapse)]="!appisCollapse">
                            <tr>
                                <td class="p-sub-sub">
                                    name
                                </td>
                                <td>
                                    <label class="jtoggler-wrapper m-0 mx-0">
                                        <input type="checkbox" class="jtoggler" id="chk_8beb30c9-e0c7-4444-9a9d">
                                        <div class="jtoggler-control">
                                            <div class="jtoggler-handle"></div>
                                        </div>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </div>
</div> -->


<ng-template #ContentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="btn btn-danger py-0 px-3 rounded fs-4 fw-bold" (click)="modal.dismiss()">
            <i class="uil uil-times"></i>
        </button>
    </div>
    <div class="modal-body bg-light">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor1">
                        <label for="floatingInput">Editor 1</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor2">
                        <label for="floatingInput">Editor 2</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor3">
                        <label for="floatingInput">Editor 3</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor4">
                        <label for="floatingInput">Editor 4</label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-success" type="submit" (click)="modal.close()">
                        <i class="uil uil-save"></i>
                        <span class="ms-2">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>


<div class="Z2Container">
    <div class="z2-boxstyle1 table-responsive">
        <div class="z2-boxstyle1-header">
            <div class="z2-boxstyle1-header-left">
                <div class="z2iconfont icon-Basic-Info"></div>
                Platform
            </div>
        </div>

        <div class="z2-boxstyle1-content hastable">
            <table class="table table-bordered table-middle table-hover m-0 bg-white bigtitle">
                <thead>
                    <tr>
                        <th>Pools</th>
                        <th>Limits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center collapser-title cursor-pointer"
                                (click)="isQuota1 = !isQuota1" [attr.aria-expanded]="!isQuota1">
                                <i class="fas fa-plus font-small-3 cursor-pointer collapseArrow min-width-30"></i>
                                <div>Number of Parts</div>
                            </div>
                        </td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                </tbody>
                <tbody #collapse="ngbCollapse" [(ngbCollapse)]="isQuota1">
                    <tr>
                        <td class="pl-3">ManageParts</td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Users</td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center collapser-title cursor-pointer"
                                (click)="isQuota2 = !isQuota2" [attr.aria-expanded]="!isQuota2">
                                <i class="fas fa-plus font-small-3 cursor-pointer collapseArrow min-width-30"></i>
                                <div>Number of Suppliers</div>
                            </div>
                        </td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                </tbody>
                <tbody #collapse="ngbCollapse" [(ngbCollapse)]="isQuota2">
                    <tr>
                        <td class="pl-3">ManageSupplier</td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                    <tr>
                        <td class="pl-3">FollowSupplier</td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center collapser-title cursor-pointer"
                                (click)="isQuota3 = !isQuota3" [attr.aria-expanded]="!isQuota3">
                                <i class="fas fa-plus font-small-3 cursor-pointer collapseArrow min-width-30"></i>
                                <div>Number of Sites</div>
                            </div>
                        </td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                </tbody>
                <tbody #collapse="ngbCollapse" [(ngbCollapse)]="isQuota3">
                    <tr>
                        <td class="pl-3">FollowSites</td>
                        <td>
                            <input type="number" class="form-control" value="0">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>