<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-body">
        <div class="main-card-action d-flex align-items-center flex-wrap mb-3">
            <button class="btn btn-primary mb-1" (click)="openModal(ContentModal)">
                <i class="uil uil-plus-circle"></i>
                <span class="ms-2">Add Account</span>
            </button>
        </div>
    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="z2-boxstyle1">
        <div class="z2-boxstyle1-header">
            <div class="z2-boxstyle1-header-left">
                <div class="uil uil-user-check nav-icon me-2"></div>
                Accounts
            </div>
        </div>

        <div class="z2-boxstyle1-content hastable">
            <table class="table table-bordered table-middle table-hover m-0 bg-white bigtitle">
                <thead>
                    <tr>
                        <!-- <th>Account Number</th> -->
                        <th>NameAr</th>
                        <th>NameEn</th>
                        <th>Account Type</th>
                        <th>Asset Type</th>
                        <th>Depreciation Method</th>
                    </tr>
                </thead>
                <ng-container *ngFor="let app of AccountData">
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center collapser-title cursor-pointer ps-1"
                                    (click)="app.isCollapse = !app.isCollapse;CloseCollapse(app,app.isCollapse)" [attr.aria-expanded]="!app.isCollapse">
                                    <i *ngIf="app.isCollapse"
                                        class="fas fa-plus font-small-3 cursor-pointer min-width-30"></i>
                                    <i *ngIf="!app.isCollapse"
                                        class="fas fa-minus font-small-3 cursor-pointer min-width-30"></i>
                                    <div>{{app.nameAr}}</div>
                                </div>
                            </td>
                            <td>{{app.nameEn}}</td>
                            <td>{{app.accountType}}</td>
                            <td>{{app.assetType}}</td>
                            <td>{{app.depreciationMethod}}</td>
                        </tr>
                    </tbody>
                    <ng-container *ngFor="let level2 of app.level2">
                        <tbody #collapse="ngbCollapse" [(ngbCollapse)]="app.isCollapse">
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center collapser-title cursor-pointer ps-2"
                                        (click)="level2.isCollapse = !level2.isCollapse"
                                        [attr.aria-expanded]="!level2.isCollapse">
                                        <i *ngIf="level2.isCollapse"
                                            class="fas fa-plus font-small-3 cursor-pointer min-width-30"></i>
                                        <i *ngIf="!level2.isCollapse"
                                            class="fas fa-minus font-small-3 cursor-pointer min-width-30"></i>
                                        <div>{{level2.nameAr}}</div>
                                    </div>
                                </td>
                                <td>{{level2.nameEn}}</td>
                                <td>{{level2.accountType}}</td>
                                <td>{{level2.assetType}}</td>
                                <td>{{level2.depreciationMethod}}</td>
                            </tr>
                        </tbody>
                        <ng-container *ngFor="let level3 of level2.level3">
                            <tbody #collapse="ngbCollapse" [(ngbCollapse)]="level2.isCollapse">
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center collapser-title cursor-pointer ps-3"
                                            (click)="level3.isCollapse = !level3.isCollapse"
                                            [attr.aria-expanded]="!level3.isCollapse">
                                            <i *ngIf="level3.isCollapse"
                                                class="fas fa-plus font-small-3 cursor-pointer min-width-30"></i>
                                            <i *ngIf="!level3.isCollapse"
                                                class="fas fa-minus font-small-3 cursor-pointer min-width-30"></i>
                                            <div>{{level3.nameAr}}</div>
                                        </div>
                                    </td>
                                    <td>{{level3.nameEn}}</td>
                                    <td>{{level3.accountType}}</td>
                                    <td>{{level3.assetType}}</td>
                                    <td>{{level3.depreciationMethod}}</td>
                                </tr>
                            </tbody>
                            <ng-container *ngFor="let level4 of level3.level4">
                                <tbody #collapse="ngbCollapse" [(ngbCollapse)]="level3.isCollapse">
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center collapser-title cursor-pointer ps-4"
                                                (click)="level4.isCollapse = !level4.isCollapse"
                                                [attr.aria-expanded]="!level4.isCollapse">
                                                <i *ngIf="level4.isCollapse"
                                                    class="fas fa-plus font-small-3 cursor-pointer min-width-30"></i>
                                                <i *ngIf="!level4.isCollapse"
                                                    class="fas fa-minus font-small-3 cursor-pointer min-width-30"></i>
                                                <div>{{level4.nameAr}}</div>
                                            </div>
                                        </td>
                                        <td>{{level4.nameEn}}</td>
                                        <td>{{level4.accountType}}</td>
                                        <td>{{level4.assetType}}</td>
                                        <td>{{level4.depreciationMethod}}</td>
                                    </tr>
                                </tbody>
                                <ng-container *ngFor="let level5 of level4.level5">
                                    <tbody #collapse="ngbCollapse" [(ngbCollapse)]="level4.isCollapse">
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center collapser-title cursor-pointer ps-5"
                                                    (click)="level5.isCollapse = !level5.isCollapse"
                                                    [attr.aria-expanded]="!level5.isCollapse">
                                                    <div>{{level5.nameAr}}</div>
                                                </div>
                                            </td>
                                            <td>{{level5.nameEn}}</td>
                                            <td>{{level5.accountType}}</td>
                                            <td>{{level5.assetType}}</td>
                                            <td>{{level5.depreciationMethod}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </table>
        </div>
    </div>
</div>


<ng-template #ContentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="btn btn-danger py-0 px-3 rounded fs-4 fw-bold" (click)="modal.dismiss()">
            <i class="uil uil-times"></i>
        </button>
    </div>
    <div class="modal-body bg-light">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor1">
                        <label for="floatingInput">Editor 1</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor2">
                        <label for="floatingInput">Editor 2</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor3">
                        <label for="floatingInput">Editor 3</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="editor4">
                        <label for="floatingInput">Editor 4</label>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button class="btn btn-success" type="submit" (click)="modal.close()">
                        <i class="uil uil-save"></i>
                        <span class="ms-2">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>