<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-primary d-flex align-items-center gap-2 border rounded px-3" (click)="openRolePopup(addUserModal)">
                    <span>Add Role</span>
                    <i class="fas fa-plus-circle"></i>
                </button>
                <!-- <button [disabled]="showLoader" (click)="exportData()"
                    class="btn  btn-outline-success d-flex align-items-center gap-2 border rounded px-3">
                    <i class="fas fa-file-download"></i>
                    <span>تصدير CSV</span>
                </button> -->
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <app-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-pagination>
        </div>
        <!-- <div class="col-md-12 mt-3">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-erp-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"
                        [searchPlaceholder]="'البحث برقم / اسم الستخدم .......'"></app-erp-filters>
                </ng-container>
            </div>
        </div> -->
    </div>

    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Role Normalized Name</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of pagedResponseModel.results">
                        <tr>
                            <td>{{item.roleName}}</td>
                            <td>{{item.roleNormalizedName}}</td>
                        </tr>
                        <tr *ngIf="!pagedResponseModel.results.length">
                            <td colspan="2" class="text-right">
                                <app-empty-data [showEmptyData]="!pagedResponseModel.results.length"></app-empty-data>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <!-- <app-empty-data [showEmptyData]="!pagedResponseModel.results?.length && !showLoader" [showLoader]="showLoader"></app-empty-data> -->
        </div>
    </div>
</div>


<ng-template #addUserModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h4 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
            <!-- <span *ngIf="!isUpdate" class="ms-3">(إنشاء)</span>
            <span *ngIf="isUpdate" class="ms-3">(تعديل)</span> -->
        </h4>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">Role Name</td>
                        <td class="table-value">
                            <div class="row">
                                <div class="col-xl-6 mb-3">
                                    <input type="text" formControlName="roleName" class="form-control form-control-lg" placeholder="Role Name">
                                    <div *ngIf="formErrors.roleName" class="text-danger font-small-3 m-03">
                                        {{formErrors.roleName}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button [disabled]="showAddLoader" (click)="saveRole()" type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100">
            <i class="uil uil-save fs-3"></i>
            <!-- <span *ngIf="!isUpdate">إنشاء</span>
            <span *ngIf="isUpdate">تعديل</span>  -->
            <span>حفظ البيانات</span>
        </button>

        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>

</ng-template>

<ng-template #deleteRoleModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want remove this Role?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');removeRole()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>