<button class="btn btn-primary" (click)="openSidePanel(InvoiceSearchSidepanel)">
    <i class="fas fa-search"></i>
    <span class="ms-2">بحث عن فاتورة</span>
</button>

<!-- <div>
    <button (click)="openSidePanel(InvoiceSearchSidepanel)" class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2">
        <i class="fas fa-search"></i>
        <span>بحث عن فاتورة</span>
    </button>
    <div class="input-group form-floating  m-3">
        <input [(ngModel)]="invoiceNumber" type="text" class="form-control" id="floatingInput1"
            placeholder="رقم الفاتورة">
        <label for="floatingInput1">رقم الفاتورة</label>
        <span class="input-group-text">
            <i class="fas fa-search search-icon text-muted cursor-pointer" (click)="loadData()"></i>
        </span>
    </div>


</div> -->
<ng-template #InvoiceSearchSidepanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-store offcanvas-header-icon"></i>
            <span>بحث فى فواتير الشراء</span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div class="employee-card-body row mb-3">
            <div class="col-xl-4">
                <app-drop-down-form-control [(ngModel)]="selectedSupplierId" [data]="suppliersSelectorData"
                    [showSearch]="true" [placeholder]="'قائمة الموردين'"></app-drop-down-form-control>
            </div>
            <div class="col-xl-4">
                <input type="text" autocomplete="off" [(ngModel)]="invoiceNumber" class="form-control input-height"
                    placeholder="رقم الأذن">
            </div>
            <div class="col-xl-4">
                <input type="date" [(ngModel)]="invoiceDate" class="form-control input-height"
                    placeholder="تاريخ الاصدار">
            </div>
            <div class="col-xl-12">
                <div class="d-flex justify-content-center mt-3">
                    <button (click)="loadData()"
                        class="btn btn-primary w-50 justify-content-center py-2 fs-5 radius-10">
                        بحث
                    </button>
                </div>
            </div>
        </div>

        <hr class="border-black" />

        <div class="card card-with-table border shadow-none">
            <div class="card-header bg-white border-bottom d-flex align-items-center justify-content-end">
                <!-- pagination -->
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-borderless align-middle table-hover table-component text-center m-0">
                    <thead>
                        <tr>
                            <th>رقم الفاتورة</th>
                            <th>الرقم الدفترى</th>
                            <th>تاريخ الفاتورة</th>
                            <th>اسم المورد</th>
                            <th>نوع الفاتورة</th>
                            <!-- <th>Insert User</th>
                            <th>Insert Date</th>
                            <th>Is Locked</th> -->
                            <th>القيمة الإجمالية</th>
                            <th>حالة الفاتورة</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pagedResponseModel.results">
                            <td>{{item.orderNumber}}</td>
                            <td>{{item.docNumber}}</td>
                            <td>{{item.orderDate | date}}</td>
                            <td>{{item.supplierNameAR}}</td>
                            <td>{{item.orderTypeName}}</td>
                            <!-- <td>{{item.insertUser}}</td>
                            <td>{{item.insertDate | date}}</td>
                            <td>{{item.isLocked}}</td> -->
                            <td>{{item.totalValue}}</td>
                            <td>
                                <span class="badge rounded-pill default p-2 text-uppercase px-3">
                                    {{item.orderStatus}}
                                </span>
                            </td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button (click)="SelectInvoice(item)" class="btn btn-secondary">
                                        <i class="fas fa-upload"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
                <app-empty-data [showContainer]="!pagedResponseModel.results?.length&&!showLoader"
                    [showLoader]="showLoader"></app-empty-data>
            </div>
        </div>
    </div>

</ng-template>