<button class="btn btn-primary  m-2 d-flex align-items-center gap-2 border rounded px-3"
    (click)="openSidePanel(InvoiceSearchSidepanel)">
    <i class="fas fa-search"></i>
    <span class="ms-2">بحث عن فاتورة</span>
</button>


<ng-template #InvoiceSearchSidepanel let-offcanvas>

    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-store offcanvas-header-icon"></i>
            <span>بحث فى فواتير الشراء</span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div class="employee-card-body row mb-3">
            <div class="col-xl-4 mb-2">
                <app-general-selector [(ngModel)]="selectedSupplierId" [data]="suppliersSelectorData"
                    [showSearch]="true" [placeholder]="'الموردين'"></app-general-selector>
            </div>
            <div class="col-xl-4 mb-2">
                <input type="text" autocomplete="off" [(ngModel)]="invoiceNumber" class="form-control nw-form-input"
                    placeholder="رقم الفاتورة">

            </div>
            <div class="col-xl-4 mb-2">
                <input type="date" [(ngModel)]="invoiceDate" class="form-control nw-form-input"
                    placeholder="تاريخ الاصدار">
            </div>
            <div class="col-xl-12">
                <div class="d-flex justify-content-center mt-3">
                    <button (click)="loadData()"
                        class="btn btn-primary w-50 justify-content-center py-2 fs-5 radius-10">
                        بحث
                    </button>
                </div>
            </div>
        </div>

        <hr class="border-black" />

        <div class="card card-with-table border shadow-none">
            <!-- <div class="card-header bg-white border-bottom d-flex align-items-center justify-content-start">

            </div> -->
            
            <div class="table-responsive shadow-sm radius-10">
                <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                    <thead>
                        <tr>
                            <th>رقم الفاتورة</th>
                            <th>الرقم الدفترى</th>
                            <th>تاريخ الفاتورة</th>
                            <th>اسم المورد</th>
                            <th>نوع الفاتورة</th>
                            <th>حالة الفاتورة</th>
                            <th>القيمة الإجمالية</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pagedResponseModel.results">
                            <td>
                                {{item.serialNumber}}
                            </td>
                            <td>{{item.docNumber}}</td>
                            <td>{{item.orderDate | date}}</td>
                            <td>{{item.supplierNameAR}}</td>
                            <td>{{item.orderTypeName}}</td>
                            <!-- <td>{{item.insertUser}}</td>
                            <td>{{item.insertDate | date}}</td>-->
                            <td>
                                <span appWorkflowStatus [id]="item.workflowStatusId"
                                    [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                                </span>
                            </td>
                            <td>{{item.totalValue}}</td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button (click)="SelectInvoice(item)"
                                        class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                        <i class="fas fa-upload"></i>
                                        <span>تحميل</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!pagedResponseModel?.results.length || showLoader">
                            <td colspan="8" class="text-right">
                                <app-empty-data [showEmptyData]="!pagedResponseModel?.results.length&&!showLoader"
                                    [showLoader]="showLoader"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</ng-template>