<!-- OFFER NEWS BAR  -->
<!-- <div class="offer-discount-wrapper border-bottom bg-white">
  <div class="offer-discount-track">
    <div class="offer-discount-item d-flex align-items-center gap-2">
      <img src="{{systemUrl}}assets/discount-img.svg" class="discount-img" alt="discount-image" loading="lazy" />
      <div class="fw-semibold" style="color: #01824C">توصيل مجاني للطلب فوق 400 ريال في الرياض</div>
    </div>
    <div class="offer-discount-item d-flex align-items-center gap-2">
      <img src="{{systemUrl}}assets/discount-img.svg" class="discount-img" alt="discount-image" loading="lazy" />
      <div class="fw-semibold" style="color: #01824C">توصيل مجاني للطلب فوق 400 ريال في الرياض</div>
    </div>
    <div class="offer-discount-item d-flex align-items-center gap-2">
      <img src="{{systemUrl}}assets/discount-img.svg" class="discount-img" alt="discount-image" loading="lazy" />
      <div class="fw-semibold" style="color: #01824C">توصيل مجاني للطلب فوق 400 ريال في الرياض</div>
    </div>
    <div class="offer-discount-item d-flex align-items-center gap-2">
      <img src="{{systemUrl}}assets/discount-img.svg" class="discount-img" alt="discount-image" loading="lazy" />
      <div class="fw-semibold" style="color: #01824C">توصيل مجاني للطلب فوق 400 ريال في الرياض</div>
    </div>
    <div class="offer-discount-item d-flex align-items-center gap-2">
      <img src="{{systemUrl}}assets/discount-img.svg" class="discount-img" alt="discount-image" loading="lazy" />
      <div class="fw-semibold" style="color: #01824C">توصيل مجاني للطلب فوق 400 ريال في الرياض</div>
    </div>
  </div>
</div> -->


<!-- <div class="main-offer-wrapper d-flex align-items-center justify-content-between gap-3">
    <div class="d-flex align-items-center gap-3">
        <a class="text-white text-underline-none cursor-pointer">العربية</a>
        <div class="text-white">|</div>
        <a class="text-white text-underline-none cursor-pointer">English</a>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100 text-white">
        <div class="d-flex align-items-center gap-5">
            <i class="ph ph-caret-right"></i>
            <div>توصيل مجاني للطلب فوق 400 ريال في الرياض</div>
            <i class="ph ph-caret-left"></i>
        </div>
    </div>
</div> -->






<header class="top-header">
    <!-- 🔹 Row 1: Logo + Menu + Icons -->
    <div class="header-row">
        <!-- Burger menu for mobile -->
        <div class="burger-menu d-lg-none" (click)="toggleBurger()">☰</div>

        <!-- Logo -->
        <a routerLink="/" class="logo d-flex align-items-center">
            <img src="assets/retail_logo2.png" alt="Logo" />
        </a>

        <!-- Desktop Menu -->
        <ul class="nav-links d-none d-lg-flex">
            <li>
                <a routerLink="/website/categories" routerLinkActive="active" class="header-item-btn">
                    <span class="icon"><i class="ph ph-list"></i></span>
                    <span class="text">الأقسام</span>
                </a>
            </li>
            <li>
                <a routerLink="/website/privacy-policy" routerLinkActive="active" class="header-item-btn">
                    <span class="icon"><i class="ph ph-seal-percent"></i></span>
                    <span class="text">سياسة الخصوصية</span>
                </a>
            </li>
            <li>
                <a routerLink="/website/blogs" routerLinkActive="active" class="header-item-btn">
                    <span class="icon"><i class="ph ph-note"></i></span>
                    <span class="text">المدونة</span>
                </a>
            </li>
            <li>
                <a routerLink="/website/about-us" routerLinkActive="active"  class="header-item-btn">
                    <span class="icon"><i class="ph ph-phone"></i></span>
                    <span class="text">عن الموقع</span>
                </a>
            </li>
            <li>
                <a routerLink="/website/contact-us" routerLinkActive="active" class="header-item-btn">
                    <span class="icon"><i class="ph ph-phone"></i></span>
                    <span class="text">اتصل بنا</span>
                </a>
            </li>
        </ul>

        <!-- Icons: Compare, Favorites, Cart -->
        <ul class="header-icons d-flex align-items-center gap-3">
            <div class="d-none d-lg-flex align-items-center">
                <ng-container *ngIf="!isAuthenticated">
                    <li class="nav-item">
                        <app-float-login></app-float-login>
                    </li>
                    <li class="nav-item">
                        <app-website-apply-merchant-request></app-website-apply-merchant-request>
                    </li>
                </ng-container>

                <ng-container *ngIf="isAuthenticated">
                    <div ngbDropdown class="dropdown-search px-3" placement="auto">
                        <a class="sm-action-dropdown d-flex align-items-center gap-2 text-dark text-underline-none cursor-pointer" ngbDropdownToggle style="height: 45px">
                            <i class="ph ph-user-circle fs-3"></i>
                            <i class="ph ph-caret-down dropdown-arrow m-0"></i> {{UserModel?.fullName}}
                        </a>
                        <div class="dropdown-search-menu with-triangle overflow-unset p-2 pb-0 mt-3" style="max-height: 350px; right: -100px;" ngbDropdownMenu>
                            <div class="d-flex flex-column align-items-center gap-3 bg-dark-light p-3 radius-10">
                                <img src="../../../../../assets/user-image-profile.svg" class="user-image-profile" alt="user profile" loading="lazy" />
                                <div class="d-flex align-items-center gap-2">
                                    <div>مرحبا</div>
                                    <div class="fw-bold">{{UserModel.userName}}</div>
                                </div>
                            </div>
                            <div routerLink="/website/user-profile" routerLinkActive="active" class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-user"></i>
                                <div>حسابى</div>
                            </div>
                            <div routerLink="/website/my-orders" routerLinkActive="active" class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-list"></i>
                                <div>طلباتي</div>
                            </div>
                            <!-- <div class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-squares-four"></i>
                                <div routerLink="/user-panel">لوحة التحكم</div>
                            </div> -->
                             <div class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-squares-four"></i>
                                <div routerLink="/merchant">لوحة تحكم التاجر</div>
                            </div>
                            <!-- <div class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-question"></i>
                                <div routerLink="/">تحتاج مساعده؟</div>
                            </div> -->
                            <div (click)="logout()" class="d-flex align-items-center justify-content-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-sign-out"></i>
                                <div>تسجيل الخروج</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <li *ngIf="!isBurgerOpen">
                <app-compare></app-compare>
            </li>
            <!-- <li *ngIf="!isBurgerOpen">
                <a routerLink="/favorites" class="icon-btn me-2">
                    <i class="ph ph-heart"></i>
                </a>
            </li> -->
            <li>
                <a routerLink="/cart" class="icon-btn position-relative me-2">
                    <i class="ph ph-shopping-cart-simple"></i>
                    <span class="cart-count">{{ cartItemsCount$ }}</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 🔹 Row 2: City Selector + Search -->
    <div class="main-header">
        <app-website-search [placeholder]="'بحث في المنتجات'"></app-website-search>

        <!-- <select class="city-selector" [(ngModel)]="selectedCity">
                <option *ngFor="let city of cities">{{ city }}</option>
            </select>

            <input type="text" class="search-box" placeholder="ابحث عن منتج..." [(ngModel)]="searchText" /> -->
    </div>

    <!-- 🔹 Mobile Burger Menu -->
    <div class="burger-overlay" *ngIf="isBurgerOpen" (click)="closeBurger()"></div>

    <nav class="burger-dropdown" [class.open]="isBurgerOpen">
        <div class="burger-header">
            <span class="close-btn" (click)="closeBurger()">×</span>
            <h3>القائمة</h3>
        </div>
        <ul>
            <li><a href="#">المفضلة</a></li>

            <li class="dropdown-parent">
                <a href="#" (click)="toggleSubmenu('help')">المساعدة</a>
            </li>

            <li class="dropdown-parent">
                <a href="#" (click)="toggleSubmenu('country')">البلد: {{ selectedCountry }}</a>
            </li>

            <li><a href="#">English 🌐</a></li>

            <li class="dropdown-parent">
                <a href="#" (click)="toggleSubmenu('account')">الحساب 👤</a>
                <ul class="dropdown-menu" *ngIf="openSubmenu === 'account'">
                    <li><a href="#">تسجيل الدخول</a></li>
                    <li><a href="#">حسابي</a></li>
                    <li><a href="#">تسجيل الخروج</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>




<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
    <div class="container-fluid">
        <a class="navbar-brand me- cursor-pointer">
            <img src="{{systemUrl}}assets/images/retail-station-logo.svg" routerLink="/" class="retail-station-logo" alt="Retail-station-logo" loading="lazy" />
        </a>
        <button class="navbar-toggler hamburger nw-hamburger hamburger--elastic rounded-1 toggle-phosphor my-2" [class.is-active]="!collapsed" type="button" aria-controls="navbar-content" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <div class="collapse navbar-collapse" [class.collapse]="collapsed">
            <ul class="navbar-nav me-auto ms-0">
                <li>
                    <app-website-search [placeholder]="'بحث في المنتجات'"></app-website-search>
                </li>
            </ul>
            <ul class="navbar-nav pt-3 pt-lg-0 align-items-center gap-3">
                <ng-container *ngIf="!isAuthenticated">
                    <li class="nav-item">
                        <app-float-login></app-float-login>
                    </li>
                    <li class="nav-item">
                        <app-website-apply-merchant-request></app-website-apply-merchant-request>
                    </li>
                </ng-container>

                <ng-container *ngIf="isAuthenticated">
                    <div ngbDropdown class="dropdown-search px-3" placement="auto">
                        <a class="sm-action-dropdown d-flex align-items-center gap-2 text-dark text-underline-none cursor-pointer" ngbDropdownToggle style="height: 45px">
                            <i class="ph ph-user-circle fs-3"></i>
                            <i class="ph ph-caret-down dropdown-arrow m-0"></i> {{UserModel?.fullName}}
                        </a>
                        <div class="dropdown-search-menu with-triangle overflow-unset p-2 pb-0 mt-3" style="max-height: 350px; right: -100px;" ngbDropdownMenu>
                            <div class="d-flex flex-column align-items-center gap-3 bg-dark-light p-3 radius-10">
                                <img src="../../../../../assets/user-image-profile.svg" class="user-image-profile" alt="user profile" loading="lazy" />
                                <div class="d-flex align-items-center gap-2">
                                    <div>مرحبا</div>
                                    <div class="fw-bold">{{UserModel.userName}}</div>
                                </div>
                            </div>
                            <div routerLink="/user-profile" routerLinkActive="active" class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-user"></i>
                                <div>حسابى</div>
                            </div>
                            <div class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-squares-four"></i>
                                <div routerLink="/user-panel">لوحة التحكم</div>
                            </div>
                            <div class="d-flex align-items-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-question"></i>
                                <div routerLink="/">تحتاج مساعده؟</div>
                            </div>
                            <div (click)="logout()" class="d-flex align-items-center justify-content-center gap-2 cursor-pointer py-3 white-space-nowrap border-bottom-not-last" ngbDropdownItem>
                                <i class="ph ph-sign-out"></i>
                                <div>تسجيل الخروج</div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <li class="nav-item">
                    <app-compare></app-compare>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link d-flex align-items-center py-0 fs-2 cursor-pointer h-100 position-relative" routerLink="/favorites">
                        <i class="ph ph-heart cursor-pointer" routerLinkActive="ph-fill text-danger"></i>
                    </a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link d-flex align-items-center py-0 fs-2 cursor-pointer h-100 position-relative" routerLink="/cart">
                        <i class="ph ph-shopping-cart-simple"></i>
                        <div class="circle-order-count-box">{{cartItemsCount$}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->