.table-vp-height {
    min-height: 200px;
    max-height: 300px;
}

.order-card-payment.active {
    background-color: var(--main-bg);
    color: var(--main-color);
    border-color: var(--main-color);
}

.input-size {
    height: 35px;
}

.form-floating>label {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 100% 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.order-card-payment.active {
    background-color: var(--main-bg);
    color: var(--main-color);
    border-color: var(--main-color);
  }

  .modal-content{
    height: 500px;
  }