<!-- <app-website-search [placeholderText]="'بحث في المنتجات'"></app-website-search > -->




<ng-container>
    <div class="py-4">

        <div class="main-header">
            <app-website-search [placeholder]="'بحث في المنتجات'"></app-website-search>

            <!-- <select class="city-selector" [(ngModel)]="selectedCity">
                <option *ngFor="let city of cities">{{ city }}</option>
            </select>

            <input type="text" class="search-box" placeholder="ابحث عن منتج..." [(ngModel)]="searchText" /> -->
        </div>

        <app-website-slider></app-website-slider>



    </div>
    <app-website-best-seller-items></app-website-best-seller-items>
    <app-website-promotion-items></app-website-promotion-items>

    <app-website-top-partners [searchText]="searchText" [activeCategoryId]="activeCategoryId"></app-website-top-partners>

    <!-- <app-website-main-categories></app-website-main-categories> -->


    <section class="marketing-category-section">
        <div class="carousel-title d-flex align-items-center gap-2 position-relative mb-3">
            <img src="../../../../../assets/strong-offet-icon-2.svg" class="header-offer-icon" alt="offer-icon" loading="lazy" />
            <div class="fw-semibold fs-18">تسوق حسب التصنيف</div>
        </div>
        <swiper class="medium-carousel-swiper navigator-with-head h-auto" [slidesPerView]="1" [spaceBetween]="20" [navigation]="true" [pagination]="false" [slidesPerGroup]="1" [loop]="true" [breakpoints]="{
             '0': { slidesPerView: 1 },
             '575': { slidesPerView: 2 },
             '767': { slidesPerView: 3 },
             '1024': { slidesPerView: 5 },
             '1200': { slidesPerView: 6 }

          }">
            <ng-template swiperSlide>
                <div class="market-cat-card d-flex flex-column gap-2 align-items-center bg-white p-3" [class.active]="!activeCategoryId" (click)="activeCategoryId=null;activeCategoryName=''">
                    <img src="../../../../../assets/marketing-cat-1.svg" class="marketing-cat-carousel-image" alt="offer-image" loading="lazy" />
                    <div class="fs-16 fw-semibold"> كل الفئات </div>
                </div>
            </ng-template>
            <ng-container *ngFor="let category of CategoriesList; let i = index">
                <ng-template swiperSlide>
                    <div class="market-cat-card d-flex flex-column gap-2 align-items-center bg-white p-3" [class.active]="activeCategoryId === CategoriesList[i].itemCategoryId" (click)="onActiveItem(i)">
                        <img [src]="category.imageUrl"(error)="$event.target.src = defaultImage" class="marketing-cat-carousel-image" alt="offer-image" loading="lazy" />
                        <div class="fs-16 fw-semibold"> {{category.nameAR ?? category.nameEN }} </div>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </section>

    <app-website-main-items [selectedCategoryId]="activeCategoryId" [selectedCategoryName]="activeCategoryName"></app-website-main-items>

</ng-container>





<ng-template #cartModal let-modal>
    <div class="modal-body" *ngIf="FoodItem">
        <div class="row">
            <div class="col-xl-5">
                <div class="card-img-box img-thumbnail">
                    <img src="{{FoodItem?.image}}" alt="Food" />
                </div>
            </div>
            <div class="col-xl-7">
                <div class="d-flex align-itmes-center justify-content-between">
                    <h3 class="fs-2 mb-3">{{FoodItem?.nameAr}}</h3>
                    <div class="d-flex align-items-start flex-column">
                        <div *ngIf="FoodItem?.discount != 0 && FoodItem?.discount != null" class="new-price d-flex align-items-center mb-1">
                            <span class="main-color fw-bold fs-5 ms-1">{{FoodItem?.totalValue}}</span>
                            <sub class="text-muted">ر.س.</sub>
                        </div>
                        <div *ngIf="FoodItem?.discount == 0 || FoodItem?.discount == null" class="new-price d-flex align-items-center mb-1">
                            <span class="main-color fw-bold fs-5 ms-1">{{FoodItem?.totalValue}}</span>
                            <sub class="text-muted">ر.س.</sub>
                        </div>
                        <div class="d-flex align-items-center" *ngIf="FoodItem?.discount != 0 && FoodItem?.discount != null">
                            <div dir="ltr" class="discount-badge ms-2">{{FoodItem?.discount / FoodItem?.price2 * 100 | number:'2.1-2'}}%
                            </div>
                            <div class="old-price d-flex align-items-center">
                                <span class="text-muted fw-bold fs-5 ms-1">{{FoodItem?.price2}}</span>
                                <sub class="text-muted">ر.س.</sub>
                            </div>
                        </div>
                    </div>
                </div>
                <p>{{FoodItem?.descriptionAr}}</p>
                <div class="counter big-counter d-flex justify-content-between align-items-center shadow-sm mt-5">
                    <button class="counter-plus counter-action cursor-pointer" (click)="counter('plus',null)">
                        <i class="fas fa-plus"></i>
                    </button>
                    <div class="counter-value">
                        <input type="text" class="form-control border-0 bg-transparent px-1" min="1" [value]="counterValue" />
                    </div>
                    <button class="counter-minus counter-action cursor-pointer" (click)="counter('minus',null)" [disabled]="counterValue === 1">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-block">
        <div class="row">
            <div class="col-xl-10">
                <button type="button" class="btn btn-success w-100 mb-2" (click)="openSidePanel(cartSidePanel,FoodItem); modal.close()">أضف الى السلة</button>
            </div>
            <div class="col-xl-2">
                <button type="button" class="modal-close-btn btn btn-danger w-100 mb-2" (click)="modal.close()">الغاء</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #cartSidePanel let-offcanvas>
    <div class="offcanvas-header">
        <div class="d-flex align-items-center">
            <i class="fas fa-cart-plus ms-1 fs-4"></i>
            <h4 class="offcanvas-title">سله مشتريات</h4>
        </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="d-flex align-items-center flex-wrap px-3 py-2 border-bottom">
        <span class="fw-bold">{{CartItemsList[0].subscriberNameAr}}</span>
    </div>
    <div class="offcanvas-body p-0">
        <div class="sidepanel-card-wrapper bg-light border-bottom overflow-auto px-2 py-3">
            <div class="sidepanel-card card border rounded shadow-sm" *ngFor="let item of CartItemsList">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{{item.image}}" class="sidepanel-card-img img-thumbnail" alt="Cart-Img" />
                        </div>
                        <div class="col-lg-8">
                            <h6 class="fw-bold mb-1">{{item.nameAr}}</h6>
                            <p>{{item.descriptionAr}}</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div *ngIf="item.discount != 0 && item.discount != null" class="new-price d-flex align-items-center">
                                    <span class="main-color fw-bold fs-5 ms-1">{{item.price2 - item.discount}}</span>
                                    <sub class="text-muted">ر.س.</sub>
                                </div>
                                <div *ngIf="item.discount == 0 || item.discount == null" class="new-price d-flex align-items-center">
                                    <span class="main-color fw-bold fs-5 ms-1">{{item.price2}}</span>
                                    <sub class="text-muted">ر.س.</sub>
                                </div>
                                <div *ngIf="item.discount != 0 && item.discount != null">
                                    <div dir="ltr" class="discount-badge">{{item.discount / item.price2 * 100 | number:'2.1-2'}}%
                                    </div>
                                    <div class="old-price d-flex align-items-center">
                                        <span class="text-muted fw-bold fs-5 ms-1">{{item.price2}}</span>
                                        <sub class="text-muted">ر.س.</sub>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center">
                        <div class="ms-2">الكميه :</div>
                        <div class="fw-bold">{{item.counterValue}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-price px-1 py-3">
            <div class="row mx-0 cart-row-choosen align-items-center">
                <div class="col-xl-6">
                    <h6 class="m-0 fw-bolder fs-14">المجموع</h6>
                </div>
                <div class="col-xl-6">
                    <div class="new-price d-flex justify-content-end align-items-center">
                        <span class="fw-bold fs-5 ms-1">{{TotalValue}}</span>
                        <sub class="text-muted">ر.س.</sub>
                    </div>
                </div>
            </div>
            <div class="row mx-0 cart-row-choosen align-items-center">
                <div class="col-xl-6">
                    <h6 class="m-0 fw-bolder fs-14">رسوم التوصيل</h6>
                </div>
                <div class="col-xl-6">
                    <div class="new-price d-flex justify-content-end align-items-center">
                        <span class="fw-bold fs-5 ms-1">{{DeliveryFees}}</span>
                        <sub class="text-muted">ر.س.</sub>
                    </div>
                </div>
            </div>
            <div class="row mx-0 cart-row-choosen align-items-center border-top mt-3 pt-2">
                <div class="col-xl-6">
                    <h6 class="m-0 fw-bolder green-color">المبلغ الاجمالى</h6>
                </div>
                <div class="col-xl-6">
                    <div class="new-price d-flex justify-content-end align-items-center">
                        <span class="fw-bold fs-5 ms-1 green-color">{{NetValue}}</span>
                        <sub class="text-muted">ر.س.</sub>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-2 mt-3">
            <button type="button" class="btn btn-success w-100" routerLink="/Cart" (click)="offcanvas.close()">تنفيذ
                الطلب</button>
        </div>
    </div>
</ng-template>