<div class="btn-action d-flex align-items-center flex-wrap mb-3">
  <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
    <i class="fas fa-star"></i>
    <span class="ms-2">إضافة جديد</span>
  </button>
  <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
    <i class="fas fa-sync-alt"></i>
    <span class="ms-2">تحديث</span>
  </button>
  <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
    <i class="fas fa-trash-alt"></i>
    <span class="ms-2">حذف</span>
  </button>
  <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
    <i class="fas fa-print"></i>
    <span class="ms-2">طباعة</span>
  </button>
  <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
    <i class="fas fa-eye"></i>
    <span class="ms-2">معاينة</span>
  </button>
</div>

<div class="card radius-10 border-0 card-shadow">
  <div class="card-body td-disabled">
    <div class="row">
      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">الاستلام النقدى #</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" disabled />
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">تاريخ المستند</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" disabled />
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">رمز الحساب</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" disabled value="رمز الحساب" />
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">اسم الحساب</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" disabled value="اسم الحساب" />
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">مركز التكلفة</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" disabled value="رمز مركز التكلفة" />
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">اسم مركز التكلفة</label>
          <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" disabled value="اسم مركز التكلفة" />
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">دعم العملات المتعددة </label>
          <div class="col-sm-9">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div>
        </div>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label col-form-label-sm">تعريف</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="5" disabled></textarea>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4" />

    <div class="table-responsive">
      <table class="table transparent-table align-middle border-top">
        <thead>
          <tr>
            <th class="bg-white border-end-0">مسلسل</th>
            <th class="bg-white border-end-0">رمز الحساب</th>
            <th class="bg-white border-end-0">اسم الحساب</th>
            <th class="bg-white border-end-0">المبغ</th>
            <th class="bg-white border-end-0">تعريف</th>
            <th class="bg-white border-end-0">رقم المرجع</th>
            <th class="bg-white border-end-0">مركز التكلفة</th>
            <th class="bg-white border-end-0">اسم مركز التكلفة</th>
            <th class="bg-white border-end-0">حذف</th>
          </tr>
        </thead>
        <tbody class="table-group-divider text-center">
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td class="td-disabled">
              رمز الحساب
            </td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">0.0000</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">-</td>
            <td class="td-disabled">رمز مركز التكلفة</td>
            <td class="td-disabled">-</td>
            <td>
              <i class="fas fa-times cursor-pointer fs-5"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>