<div class="d-flex flex-column gap-5">
    <section class="general-accounts-section d-flex flex-column gap-4">
        <header class="section-header d-flex flex-column gap-2">
            <h2 class="section-title m-0">الموارد البشرية</h2>
            <!-- <span class="text-muted">٢٥/٤/٢٠٢٥ . الاحد</span> -->
        </header>

        <section class="welcome-section d-flex flex-column bg-light radius-10 ap-2 shadow-sm p-3">
            <!-- <h3 class="fw-bolder m-0">Welcome back, Abd Elrahman – Here’s your Business Operations Hub 👋</h3> -->
            <div class="d-flex algin-items-center flex-wrap gap-2">
                <div class="d-flex algin-items-center flex-wrap gap-2">
                    <div>لديك أجازات اليوم يرجى تغير حالاتهم <a class="text-underline-none text-danger cursor-pointer" (click)="openPendingVacationsSidePanel()">
                            {{ employeesVacations?.length}} pending requests</a></div>
                    <!-- <a class="text-primary cursor-pointer">View Alerts</a> -->
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <div class="text-muted">April 19,2025 . Sunday </div>
                <!-- <div ngbDropdown class="nw-dropdown" display="dynamic">
                    <button type="button" class="btn bg-white rounded d-flex align-items-center justify-content-between gap-2" ngbDropdownToggle>
                        <span>This Month</span>
                        <i class="fa-solid fa-chevron-down dropdown-arrow fs-13"></i>
                    </button>
                    <div class="border shadow-lg" ngbDropdownMenu aria-labelledby="product-month">
                        <button class="dropdown-item cursor-pointer">January</button>
                        <button class="dropdown-item cursor-pointer">March</button>
                        <button class="dropdown-item cursor-pointer">April</button>
                        <button class="dropdown-item cursor-pointer">October</button>
                    </div>
                </div> -->
            </div>
        </section>

        <div class="section-content">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 g-4">
                <div class="col">
                    <div routerLink="/hr/employees" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer  hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-file-edit-alt"></i>
                        </div>
                        <div class="column-card-title">بيانات الموظفين</div>
                        <div class="column-card-description text-muted">إدارة وتعديل بيانات الموظفين
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/vacations" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer  hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-plus"></i>
                        </div>
                        <div class="column-card-title">الأجازات</div>
                        <div class="column-card-description text-muted">إدارة وتعديل الأجازات</div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/penalty" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer  hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-exchange"></i>
                        </div>
                        <div class="column-card-title">الجزاءات</div>
                        <div class="column-card-description text-muted">إدارة وتعديل الجزاءات</div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/loans" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-pound-circle"></i>
                        </div>
                        <div class="column-card-title">سلف الموظفين</div>
                        <div class="column-card-description text-muted">إدارة وتعديل سلف الموظفين
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/attendance-report" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-money-withdraw"></i>
                        </div>
                        <div class="column-card-title">الحضور والانصراف</div>
                        <div class="column-card-description text-muted">متابعة الحضور والانصراف
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/employees" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-usd-circle"></i>
                        </div>
                        <div class="column-card-title">Payroll</div>
                        <div class="column-card-description text-muted">احتساب رواتب الموظفين</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="general-accounts-section d-flex flex-column gap-4">
        <header class="section-header d-flex align-items-center justify-content-between flex-wrap gap-2">
            <h2 class="section-title m-0">احصائيات الموارد البشرية</h2>
        </header>
        <div class="section-content">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                        <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                            <div class="d-flex flex-column gap-2">
                                <div class="column-card-title">إجمالى الإقامات المنتهية</div>
                                <!-- <div class="column-card-description text-muted">إجمالي العمليات اليومية</div> -->
                            </div>
                            <div class="column-card-icon">
                                <i class="uil uil-university"></i>
                            </div>
                        </header>
                        <div class="light-purple-content d-flex flex-column gap-3 w-100">
                            <div class="light-purple-content-item">
                                <div class="fw-bold text-danger">{{HRStatistics?.iqamaExpireTotal}} إقامة</div>
                                <!-- <div class="text-success">١٢٪ أعلى من الأمس</div> -->
                            </div>
                            <!-- <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                <div>
                                    <div class="text-muted">إجمالي الإيرادات</div>
                                    <div class="fw-bold">١٨,٥٠٠ ر.س</div>
                                </div>
                                <div>
                                    <div class="text-muted">إجمالي المصروفات</div>
                                    <div class="fw-bold">٧,٢٠٠ ر.س</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                        <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                            <div class="d-flex flex-column gap-2">
                                <div class="column-card-title">إجمالى العقود المتهية</div>
                                <!-- <div class="column-card-description text-muted">إجمالي الإيرادات اليومية</div> -->
                            </div>
                            <div class="column-card-icon">
                                <i class="uil uil-money-insert"></i>
                            </div>
                        </header>
                        <div class="light-purple-content d-flex flex-column gap-3 w-100">
                            <div class="light-purple-content-item">
                                <div class="fw-bold text-danger">{{HRStatistics?.contractExpireTotal}} عقد</div>
                                <!-- <div class="text-success">١٢٪ أعلى من الأمس</div> -->
                            </div>
                            <!-- <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                <div>
                                    <div class="text-muted">عدد العمليات</div>
                                    <div class="fw-bold">٢٢ عملية</div>
                                </div>
                                <div>
                                    <div class="text-muted">متوسط القيمة</div>
                                    <div class="fw-bold">٨٤٠ ر.س</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                        <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                            <div class="d-flex flex-column gap-2">
                                <div class="column-card-title">إجمالى الرخص المنتهية</div>
                                <!-- <div class="column-card-description text-muted">إجمالي المصروفات اليومية</div> -->
                            </div>
                            <div class="column-card-icon">
                                <i class="uil uil-money-stack"></i>
                            </div>
                        </header>
                        <div class="light-purple-content d-flex flex-column gap-3 w-100">
                            <div class="light-purple-content-item">
                                <div class="fw-bold text-danger">{{HRStatistics?.licenseExpireTotal}} رخصة</div>

                                <!-- <div class="text-danger fw-bold">{{HRStatistics.licenseExpireTotal}}</div>
                                <div class="text-muted fw-bold"></div> -->
                            </div>
                            <!-- <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                <div>
                                    <div class="text-muted">عدد العمليات</div>
                                    <div class="fw-bold">٢٢ عملية</div>
                                </div>
                                <div>
                                    <div class="text-muted">متوسط القيمة</div>
                                    <div class="fw-bold">{{HRStatistics.licenseExpireTotal}}</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="general-accounts-section d-flex flex-column gap-4">
        <header class="section-header">
            <h2 class="section-title m-0">الإيرادات الشهرية</h2>
        </header>
        <div class="section-content">
            <div style="width: 100%; height: 100%;" #chartBox>
                <google-chart [type]="columnChartType" [columns]="columnChartNames" [data]="columnChartData" [options]="columnChartOptions" [width]="columnChartWidth" [height]="columnChartHeight">
                </google-chart>
            </div>
        </div>
    </section>
</div>




<ng-template #DetailsSidePanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-info-circle offcanvas-header-icon"></i>
            <span>
                موظفين على وشك أن تبدأ أجازاتهم
            </span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">
        <div class="employee-card-body mb-3">
            <div class="inputs-wrapper border rounded bg-white mb-3">
                <div class="inputs-sec-content px-3 py-3">
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">حالة الموظف</label>
                                <app-general-selector [disabled]="true" [(ngModel)]="workflowStatusId" [showSearch]="true" [data]="employeeStatusSelector" [placeholder]="'حالة الموظف'"></app-general-selector>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start m-3">
                    <button (click)="editSelectedEmployeeStatus()" class="btn btn-primary d-flex align-items-center gap-2 border rounded px-3" (click)="editSelectedEmployeeStatus()">
                        <i class="uil uil-pen"></i>
                        <span>تعديل</span>
                    </button>
                    <!-- <button (click)="PrintData()" class="btn btn-table-action  gap-2 border rounded px-3 me-2">
                        <i class="fas fa-print fs-7"></i>
                        <span>طباعة</span>
                    </button> -->
                </div>
            </div>
        </div>

        <hr class="border-black" />

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">طلبات الأجازات</div>
            <div class="inputs-sec-content px-3 py-2 table-responsive table-vp-height small-scroll">
                <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                    <thead class="table-light">
                        <tr>
                            <th class="min-width-50 width-50 max-width-50">
                                <input type="checkbox" [(ngModel)]="selectAll" (change)="selectAllData()" class="big-checkbox cursor-pointer" />
                            </th>
                            <th>الرقم الوظيفى</th>
                            <th>اسم الموظف</th>
                            <th>نوع الأجازة</th>
                            <th>من تاريخ</th>
                            <th>حتى تاريخ</th>
                            <th>أخر يوم عمل</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let item of employeesVacations">
                            <td><input type="checkbox" class="big-checkbox" [(ngModel)]="item.isChecked">
                            </td>
                            <td>{{item.employeeCode}}</td>
                            <td>{{item.employeeName}}</td>
                            <td>{{item.vacationType}}</td>

                            <!-- <td>{{item.alternativeEmployeeName}}</td> -->
                            <td>{{item.fromDate | date}}</td>
                            <td>{{item.toDate | date}}</td>
                            <td>{{item.lastDayWork | date}}</td>
                            <!-- <td>{{item.period}}</td>
                            <td>
                                <div appColorWithStatus status="workflowStatusId" [text]="item.workflowStatusId"></div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div ngbDropdown container="body">
                                        <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div ngbDropdownMenu class="border">
                                            <button ngbDropdownItem (click)="cancelPaymentOrder(item.paymentOrderId)">تعديل</button>
                                            <button ngbDropdownItem (click)="openDeleteModal(deleteModal,item.vacationId)">إلغاء</button>
                                            <button ngbDropdownItem (click)="openEditJoinDateModal(editJoinDateModal,item.employeeId)">عودة
                                                من الأجازة</button>
                                        </div>
                                    </div>
                                </div>
                            </td> -->
                        </tr>
                        <tr *ngIf="!employeesVacations.length || showLoader">
                            <td colspan="7" class="text-right">
                                <app-empty-data [showEmptyData]="!employeesVacations.length && !showLoader" [showLoader]="showLoader"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>