<div class="card radius-10 border-0 card-shadow mb-3">
  <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
    <h5 class="mb-0 fw-bold">Add Attendance</h5>
    <button class="btn btn-danger gap-2">
      <i class="far fa-times-circle"></i>
      <span>Exist</span>
    </button>
  </div>
    <div class="card-body">
        <div class="main-card-action d-flex align-items-center flex-wrap">
            <!-- <button class="btn btn-dark mb-1">
          <i class="uil uil-eye"></i>
          <span class="ms-2">Preview</span>
        </button>
        <button class="btn btn-warning mb-1">
          <i class="uil uil-location-arrow"></i>
          <span class="ms-2">Update</span>
        </button>
        <button class="btn btn-secondary mb-1">
          <i class="uil uil-print"></i>
          <span class="ms-2">Print</span>
        </button>
        <button class="btn btn-danger mb-1">
          <i class="uil uil-times-circle"></i>
          <span class="ms-2">Exist</span>
        </button> -->
        </div>
        <form [formGroup]="form" autocomplete="off">
            <div class="row">
                <div class="col-lg-4">
                    <select class="form-control mb-3 py-3" formControlName="employeeID">
            <option [defaultSelected]=true [value]="0" disabled>Employees</option>
            <option *ngFor="let emp of EmployeeData" [value]="emp.employeeId">{{emp.employeeName}}</option>
          </select>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="executionDate" id="floatingInput" placeholder="name@example.com" autocomplete="off">
                        <label for="floatingInput">Execution Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="fromDate" id="floatingInput" placeholder="name@example.com" autocomplete="off">
                        <label for="floatingInput">Start Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="toDate" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">End Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="requestDate" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Request Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="type" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Type</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="noOfDays" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">No Of Days</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="moneyAmount" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Money Amount</label>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary mb-1" (click)="addNewAttendance()">
      <i class="uil uil-plus-circle"></i>
      <span class="ms-2">Add New</span>
    </button>
    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
        <h5 class="mb-3 fw-bold">Table</h5>
        <div class="table-responsive table-vp-height">
            <table class="table align-middle table-blue mb-0 table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Employee</th>
                        <th>Request Date</th>
                        <th>Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>No Of Days</th>
                        <th>Money Amount</th>
                        <th>Execution Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of AttendanceData">
                        <td>{{item.employeeName}}</td>
                        <td>{{item.requestDate | date}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.fromDate | date}}</td>
                        <td>{{item.toDate | date}}</td>
                        <td>{{item.noOfDays}}</td>
                        <td>{{item.moneyAmount}}</td>
                        <td>{{item.executionDate | date}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center text-center">
                                <button class="btn btn-warning text-white me-2" (click)="openEditModal(editModal,item)">
                  <i class="uil uil-edit"></i>
                  <span class="ms-2">Edit</span>
                </button>
                                <button class="btn btn-danger" (click)="openDeleteModal(deleteModal,item.attendanceID)">
                  <i class="uil uil-trash-alt"></i>
                  <span class="ms-2">Delete</span>
                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="btn btn-danger py-0 px-3 rounded fs-4 fw-bold" (click)="modal.dismiss()">
      <i class="uil uil-times"></i>
    </button>
    </div>
    <div class="modal-body bg-light">
        <form [formGroup]="form" autocomplete="off">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="executionDate" id="floatingInput" placeholder="name@example.com" autocomplete="off">
                        <label for="floatingInput">Execution Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="fromDate" id="floatingInput" placeholder="name@example.com" autocomplete="off">
                        <label for="floatingInput">Start Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="toDate" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">End Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" formControlName="requestDate" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Request Date</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="type" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Type</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="noOfDays" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">No Of Days</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="moneyAmount" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Money Amount</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click');EditAttendance()">
      <i class="fas fa-save"></i>
      <span class="ms-2">Save</span>
    </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
      <i class="fas fa-times"></i>
      <span class="ms-2">Close</span>
    </button>
    </div>
</ng-template>


<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want remove this Attendance?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');DeleteAttendance()">
      <i class="fas fa-check"></i>
      <span class="ms-2">Yes</span>
    </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
      <i class="fas fa-times"></i>
      <span class="ms-2">No</span>
    </button>
    </div>
</ng-template>
