<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="d-flex justify-content-between align-items-center px-3 border-bottom mb-2">
        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2">
            المستحقات
        </div>
        <div class="d-flex">
            <button class="btn btn-success  m-2 d-flex align-items-center gap-2 border rounded px-3" (click)="getEmployeeDuesPreparationDate()">
                <i class="fas fa-check-circle"></i>
                <span class="ms-2">احتساب</span>
            </button>
            <button *ngIf="duesCreateModel?.totalDueAmount" class="btn btn-primary  m-2 d-flex align-items-center gap-2 border rounded px-3" (click)="openSaveModal(saveDialog)">
                <span class="me-2">حفظ</span>
                <i class="uil uil-plus-circle"></i>
            </button>
        </div>
    </div>
    <div class="inputs-sec-content px-3 py-2">

        <div class="row gy-3">
            <div class="col-lg-6 mb-2">
                <div class="row gy-3">
                    <div class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                نوع المستحقات
                                <span class="text-danger">*</span>
                            </label>
                            <app-general-selector (valueChanged)="dueTypeChanged($event)" [data]="employeeDueTypesSelectorData" [placeholder]="'نوع المستحقات'" [(ngModel)]="selectedDueTypeId" [showSearch]="true"></app-general-selector>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                اسم الموظف
                                <span class="text-danger">*</span>
                            </label>
                            <app-general-selector [(ngModel)]="selectedEmployeeId" [disabled]="!employeeSelectorData?.length" (valueChanged)="employeeChanged($event)" [data]="employeeSelectorData" [placeholder]="'اسم الموظف'" [showSearch]="true"></app-general-selector>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                الفرع
                                <span class="text-danger">*</span>
                            </label>
                            <app-general-selector [disabled]="true" [(ngModel)]="selectedBranchId" [data]="branchSelectorData" [placeholder]="'الفروع'" [showSearch]="true"></app-general-selector>
                        </div>
                    </div>

                    <div class="row">
                        <div *ngIf="selectedDueTypeId == DueType.EndOfService" class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    أول يوم عمل
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="date" [(ngModel)]="duesCreateModel.joinDate" disabled autocomplete="off" class="form-control nw-form-input" />
                            </div>
                        </div>
                        <div *ngIf="selectedDueTypeId == DueType.Vacation" class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    أخر يوم عمل
                                    <span class="text-danger">*</span></label>
                                <input type="date" [(ngModel)]="duesCreateModel.lastJoinDate" [min]="duesCreateModel.joinDate" disabled autocomplete="off" class="form-control nw-form-input" />
                            </div>
                        </div>
                        <div *ngIf="duesCreateModel.joinDate || duesCreateModel.lastJoinDate" class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    الي تاريخ
                                    <span class="text-danger">*</span></label>
                                <input type="date" (change)="calcDeusPeriod()" [(ngModel)]="duesCreateModel.executionDate" [min]="duesCreateModel.joinDate || duesCreateModel.lastJoinDate" autocomplete="off" class="form-control nw-form-input" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="duesCreateModel.totalDuesMonths || duesCreateModel.totalDuesDays">
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    عدد الشهور

                                </label>
                                <input type="text" [value]="duesCreateModel.totalDuesMonths||0" disabled autocomplete="off" class="form-control nw-form-input" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    عدد الأيام
                                </label>
                                <input type="text" [value]="duesCreateModel.totalDuesDays||0" disabled autocomplete="off" class="form-control nw-form-input" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    الأجازه المستحقة
                                </label>
                                <input type="text" [value]="duesCreateModel?.contractVacationPeriod||0" disabled autocomplete="off" class="form-control nw-form-input" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    مدة أجازه
                                </label>
                                <input type="text" [value]="duesCreateModel?.currentVacationPeriod||0" disabled autocomplete="off" class="form-control nw-form-input" />
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6  mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                أضافه الراتب للمستحقات
                            </label>
                            <input class="big-checkbox" [(ngModel)]="duesCreateModel.includeSalary" type="checkbox">

                        </div>
                        <ng-container *ngIf="duesCreateModel.includeSalary">
                            <div class="col-lg-6">
                                <div class="mb-2">
                                    <label class="form-label d-flex align-items-center gap-2">
                                        الشهر
                                        <span class="text-danger">*</span>
                                    </label>
                                    <app-general-selector (valueChanged)="salaryMonthsChanged($event)" [data]="salaryMonthsSelector" [selectMulti]="true" [placeholder]="'الشهر'" [showSearch]="true"></app-general-selector>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div class="col-lg-6  mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                أضافه تذكره طيران
                            </label>
                            <input class="big-checkbox" [(ngModel)]="duesCreateModel.includeFlightTicket" type="checkbox">

                        </div>
                        <ng-container *ngIf="duesCreateModel.includeFlightTicket">
                            <div class="col-lg-6">
                                <div class="mb-2">
                                    <label class="form-label d-flex align-items-center gap-2">
                                        قيمة تذكره طيران
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" (keypress)="validateNumbers($event.key)" [(ngModel)]="duesCreateModel.flightTicketDues" [min]="0" autocomplete="off" class="form-control nw-form-input" />
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div class="row">
                        <div class="col-lg-3  mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                خصومات أخرى
                            </label>
                            <input class="big-checkbox" [(ngModel)]="duesCreateModel.otherDeduction" type="checkbox">
                        </div>
                        <ng-container *ngIf="duesCreateModel.otherDeduction">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label d-flex align-items-center gap-2">
                                        تفاصيل الخصم
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" [(ngModel)]="duesCreateModel.otherDeductionDesc" autocomplete="off" class="form-control nw-form-input" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label class="form-label d-flex align-items-center gap-2">
                                        قيمة الخصم
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" (keypress)="validateNumbers($event.key)" [(ngModel)]="duesCreateModel.otherDeductionValue" [min]="0" autocomplete="off" class="form-control nw-form-input" />
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-2 border-start">
                <div class="row gy-3">
                    <div *ngIf="selectedDueTypeId == DueType.Vacation" class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                مستحقات الاجازة
                            </label>
                            <input type="number" [value]="duesCreateModel?.vacationDues?? 0" disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div *ngIf="selectedDueTypeId == DueType.EndOfService" class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                مستحقات انهاء تعاقد
                            </label>
                            <input type="number" [value]="duesCreateModel?.endOfServiceDues?? 0" disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                الراتب
                            </label>
                            <input type="number" [value]="duesCreateModel?.salaryDues ?? 0" disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                مستحقات المعيشه
                            </label>
                            <input type="number" [value]="duesCreateModel?.homeAllowance ?? 0" disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div *ngIf="duesCreateModel.includeFlightTicket" class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                قيمة تذكره طيران
                            </label>
                            <input type="number" [value]="duesCreateModel?.flightTicketDues ??0 " disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                السلف
                            </label>
                            <input type="number" [value]="duesCreateModel?.advances??0" disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div *ngIf="duesCreateModel.otherDeduction" class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                خصومات أخرى
                            </label>
                            <input type="number" [value]="duesCreateModel?.otherDeductionValue??0 " disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                العهدة
                            </label>
                            <input type="number" [value]="duesCreateModel?.covenant??0" disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                اجمالي المستحقات
                            </label>
                            <input type="number" [value]="duesCreateModel?.totalDueAmount ??0" disabled autocomplete="off" class="form-control nw-form-input text-center text-danger" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <app-hr-mini-employee-contract-info [employeeId]="selectedEmployeeId" (contractDetails)="contractDetailsChanged($event)"></app-hr-mini-employee-contract-info>

        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-top">
            <!-- <button class="btn btn-primary me-2" [disabled]="showLoader" (click)="search()">
                <i class="fas fa-search"></i>
                <span class="ms-2">بحث</span>
            </button> -->
            <!-- <button [disabled]="showExportLoader" (click)="exportData()"
            class="btn  btn-outline-success gap-2 border rounded px-3 me-2">
            <i class="fas fa-file-download"></i>
            <span>تصدير CSV</span>
        </button> -->
            <!-- <button class="btn btn-table-action  gap-2 border rounded px-3 me-2">
                <i class="fas fa-print fs-7"></i>
                <span>طباعة</span>
            </button> -->
            <!-- <button class="btn btn-secondary me-2" (click)="printData()">
            <i class="fas fa-print"></i>
            <span class="ms-2">طباعة</span>
        </button> -->
        </div>
    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
        <div class="row p-2">
            <div class="col-md-8">
                <div class="d-flex align-items-center flex-wrap">
                    <div class="search-box position-relative mb-2">
                        <button *ngIf="selectedEmployeeId" class="btn btn-primary me-2" [disabled]="showLoader" (click)="search()">
                            <i class="fas fa-search"></i>
                            <span class="ms-2">بحث</span>
                        </button>

                        <button *ngIf="selectedEmployeeId" class="btn btn-table-action  gap-2 border rounded px-3 me-2">
                            <i class="fas fa-print fs-7"></i>
                            <span>طباعة</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
            </div>
        </div>
        <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
        <div class="table-responsive shadow-sm radius-10 table-vp-height">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0 ">
                <thead class="table-light">
                    <tr>
                        <th>اسم الموظف</th>
                        <th>الفرع</th>
                        <th>الوظيفة</th>
                        <th> من تاريخ</th>
                        <th>الي تاريخ</th>
                        <th>تاريخ التنفيذ</th>
                        <th>نوع المستحقات</th>
                        <th>مستحقات الاجازه</th>
                        <th>مستحقات نهاية الخدمه</th>
                        <th>راتب الشهر</th>
                        <th>المنزل</th>
                        <th>السلف</th>
                        <th>اجمالي المستحقات</th>
                        <th>الحالة</th>



                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>{{item.employeeNameAR ?? item.employeeNameEN}}</td>
                        <td>{{item.branchNameAR ?? item.branchNameEN}}</td>
                        <td>{{item.jobNameAR ?? item.jobNameEN}}</td>
                        <td>{{item.joinDate| date}}</td>
                        <td>{{item.lastJoinDate| date}}</td>
                        <td>{{item.executionDate | date}}</td>
                        <td>{{item.dueTypeNameAR ?? item.dueTypeNameEN}}</td>
                        <td>{{item.vacationDues}}</td>
                        <td>{{item.endOfServiceDues}}</td>
                        <td>{{item.salaryDues}}</td>
                        <td>{{item.homeAllowance}}</td>
                        <td>{{item.advances}}</td>
                        <td>{{item.totalDuesAmount}}</td>
                        <td>
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>

                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length || showLoader">
                        <td colspan="14" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #saveDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button [disabled]="showLoader" type="button" class="btn btn-success" (click)="modal.close('Save click'); saveEmployeeDue()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>

<ngx-loading [show]="showLoader"></ngx-loading>