<aside id="main_sidebar" class="main-sidebar" [ngClass]="{'toggled': toggler}">
    <ul class="nav list-unstyled flex-column p-0 m-0 small-scroll overflow-auto h-100 flex-column flex-nowrap">
        <!-- <li class="nav-item nav-profile">
            <a href="!#" class="nav-link">
                <div class="nav-profile-image"><img src="/purple-react/static/media/face1.42d41e61.jpg" alt="profile"><span class="login-status online"></span> </div>
                <div class="nav-profile-text"><span class="font-weight-bold mb-2">David Grey. H</span><span class="text-secondary text-small">Project Manager</span></div><i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li> -->



        <div class="nalika-profile" style="padding-top: 5px; padding-bottom: 5px; position: relative;z-index: 99999;background: #9f2316;color: white;">
            <!-- <div class="profile-dtl" style="text-align:center">
                <a routerLink="dashboard">
                    <img src="../../../../assets/images/home.png" style="width: 75px;height: 75px;border-radius: 50%;border: 2px solid #152036;" alt="">
                </a>
                <h3 class="mt-2">Admin <span class="min-dtn">User</span></h3>
            </div> -->
            <!-- <div class="profile-social-dtl">
                <ul class="dtl-social">
                    <li><a href="#"><i class="icon nalika-facebook"></i></a></li>
                    <li><a href="#"><i class="icon nalika-twitter"></i></a></li>
                    <li><a href="#"><i class="icon nalika-linkedin"></i></a></li>
                </ul>
            </div> -->
            <a class="nav-link cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" routerLink="/" routerLinkActive="active">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-setting nav-icon" style="font-size: 25px; color: white;"></i>
                    <span class="nav-link-text item-sidebar fw-bold main-nav-link ms-3" style="color: white; font-size: 14px;">لوحة
                        التحكم</span>
                </div>
            </a>
        </div>

        <!-- <li class="nav-item item-sidebar item-home">
            <a class="nav-link cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" routerLink="/" routerLinkActive="active">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-estate nav-icon"></i>
                    <a class="nav-link title cursor-pointer text-lowercase fw-bold text-dark">الرئيسية</a>
                </div>
            </a>
        </li> -->
        <!-- <li class="nav-item nav-item-item mt-2 mb-2">
            
        </li> -->
        <li class="nav-item nav-item-title item-sidebar">
            <a class="nav-link title text-lowercase fw-bold text-dark">
                <i class="uil uil-database nav-icon"></i> الحسابات العامة</a>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu2)" [ngClass]="{'active': menu2.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-files-landscapes nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الادلة</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu2>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/account-tree" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">شجرة الحسابات</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/cost-center-tree" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">مراكز التكلفة</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu3)" [ngClass]="{'active': menu3.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-money-withdrawal nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">العمليات المالية</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu3>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/journal-daily-list" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">سجل القيود اليومية</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/new-entry" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">انشاء قيد جديد</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/payment-receipts" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">سندات الصرف</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/receive-receipts" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">سندات القبض</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/opening-balance" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">الرصيد الافتتاحي</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/customers-account-statement" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">كشف حساب عميل</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/suppliers-account-statement" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">كشف حساب مورد</span>
                    </a>
                </li> -->
            </ul>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu4)" [ngClass]="{'active': menu4.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-receipt nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">تقارير مالية</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu4>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/accounts-general-ledger" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">الأستاذ العام</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/accounts-assistant-ledger" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">الأستاذ المساعد</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/trial-balance" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">ميزان المراجعة</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/monthly-assistant-ledger" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">الأستاذ المساعد الشهرى</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu6)" [ngClass]="{'active': menu6.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-calculator-alt nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الحسابات الختامية</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu6>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">الحسابات الختامية 1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">الحسابات الختامية 2</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu7)" [ngClass]="{'active': menu7.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-chart-growth nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">تقارير مراكز التكلفة</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu7>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/cost-general-ledger" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">الأستاذ العام - مراكز التكلفة</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/cost-assistant-ledger" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">الأستاذ المساعد - مراكز التكلفة</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/cost-trial-balance" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">ميزان مراجعة مراكز التكلفة</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/cost-center-matrix" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">مصفوفة مراكز التكلفة</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu1)" [ngClass]="{'active': menu1.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">البيانات الاساسية</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu1>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/currency" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">العملة</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/featured" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">المميز</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/journal-entry-types" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">أنواع القيود</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/financial-period" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">السنة المالية</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/receipt-ledgers" routerLinkActive="active">
                        <span class="nav-link-sub-text item-sidebar">دفاتر الايصال</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li class="nav-item nav-item-title item-sidebar">
            <a class="nav-link title cursor-pointer text-lowercase fw-bold text-dark">المدفوعات</a>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu9)" [ngClass]="{'active': menu9.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-clipboard-alt nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الايصالات</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu9>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">الايصالات 1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">الايصالات 2</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu10)" [ngClass]="{'active': menu10.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-servers nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">البيانات الاساسية</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu10>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">البيانات الاساسية 1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">البيانات الاساسية 2</span>
                    </a>
                </li>
            </ul>
        </li> -->

        <!-- <li class="nav-item nav-item-title item-sidebar">
            <a class="nav-link title cursor-pointer text-lowercase fw-bold text-dark">المقبوضات</a>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu11)" [ngClass]="{'active': menu11.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-clipboard-alt nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الايصالات</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu11>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">الايصالات 1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">الايصالات 2</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu12)" [ngClass]="{'active': menu12.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-servers nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">البيانات الاساسية</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu12>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">البيانات الاساسية 1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <span class="nav-link-sub-text item-sidebar">البيانات الاساسية 2</span>
                    </a>
                </li>
            </ul>
        </li> -->


        <!-- <li class="nav-item nav-item-title item-sidebar">
      <a class="nav-link title cursor-pointer text-lowercase fw-bold text-dark"></a>
    </li> -->

        <!-- <li class="nav-item nav-item-title item-sidebar">
      <div class="nav-link title text-lowercase fw-bold text-dark">المشتريات</div>
    </li> -->

        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active" (click)="toggleMenu(menu_purchase)" [ngClass]="{'active': menu_purchase.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">المشتريات</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu_purchase>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/purchase-invoices" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">فواتير الشراء</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/add-purchase-invoice" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">انشاء فاتورة شراء</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/purchase-orders" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">أوامر الشراء</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/purchase-returns" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">مرتجعات المشتريات</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/suppliers-account-statement" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">كشف حساب مورد</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/suppliers-list" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">قائمة الموردين</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/supplier-returns-voucher" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3"> اشعارات خصم الموردين </span>
                        </div>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Purchases/add-supplier-returns-voucher" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">انشاء أشعار خصم مورد </span>
                        </div>
                    </a>
                </li> -->
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu_PurchaseDef)" [ngClass]="{'active': menu_PurchaseDef.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">البيانات الاساسية</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu_PurchaseDef>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/generalAccounts/currency" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">أنواع فواتير المشتريات-</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/generalAccounts/featured" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">بيانات الموردين</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active" (click)="toggleMenu(menu_Sales)" [ngClass]="{'active': menu_Sales.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">المبيعات</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu_Sales>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Sales/sales-invoices" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">فواتير المبيعات</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Sales/add-sales-invoice" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">انشاء فاتورة مبيعات</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Finance/sales/sales-returns" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">مرتجعات المبيعات</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Finance/sales/customer-statement" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">كشف حساب عميل</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active" (click)="toggleMenu(menu_inventory)" [ngClass]="{'active': menu_inventory.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">المخازن</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu_inventory>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Inventory/raw-items" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">بيانات الأصناف</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Inventory/items-category" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">مجموعات الأصناف</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Inventory/receive-orders" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">أذونات الإضافة</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Inventory/purchases-requests" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">طلبات الشراء</span>
                        </div>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Inventory/add-purchases-request" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">انشاء طلب شراء جديد</span>
                        </div>
                    </a>
                </li> -->
            </ul>
        </li>


        <li class="nav-item nav-item-item">
            <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active" (click)="toggleMenu(menu_settings)" [ngClass]="{'active': menu_settings.classList.contains('show')}">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">إعدادات النظام</span>
                </div>
                <div class="nav-collapse">
                    <i class="uil uil-angle-left-b"></i>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu_settings>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" (click)="toggleMenu(menu_definitions)" [ngClass]="{'active': menu_definitions.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-files-landscapes nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">تعريفات النظام</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu_definitions>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <span class="nav-link-sub-text item-sidebar">العملة</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <span class="nav-link-sub-text item-sidebar">المميز</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <span class="nav-link-sub-text item-sidebar">السنة المالية</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">بيانات المستخدمين</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">مجموعات الأصناف</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <div class="nav-text d-flex align-items-center w-100 mb-3">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">أذونات الإضافة</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الحسابات العامة</span>
                </div>
            </a>
            <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu2>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/account-tree" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">شجرة الحسابات</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/cost-center-tree" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">مراكز التكلفة</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/new-entry" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">انشاء قيد يومية</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/journal-daily-list" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">سجل القيود اليومية</span>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/create-payment-receipt" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3"> انشاء سند قبض</span>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/GeneralAccounts/create-receive-receipt" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-users-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3"> انشاء سند صرف</span>
                        </div>
                    </a>
                </li>
            </ul> -->



        <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
            <div class="nav-text d-flex align-items-center w-100">
                <i class="uil uil-database nav-icon"></i>
                <span class="nav-link-text item-sidebar main-nav-link ms-3">الموارد البشرية</span>
            </div>
        </a>
        <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu1>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Hr/hr-Employees" routerLinkActive="active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-users-alt nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">بيانات الموظفين</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Hr/HrVacation" routerLinkActive="active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-user-check nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Hr/HrOverTime" routerLinkActive="active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-presentation-plus nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">ساعات العمل الاضافية</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Hr/HrPenalty" routerLinkActive="active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-user-minus nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الجزاءات</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Hr/HrSickLeave" routerLinkActive="active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-user-nurse nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات المرضية</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-transaction nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الترقيات والتنقلات</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-pricetag-alt nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الخصم</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-money-insert nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">السلف</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-invoice nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">مستحقات الموظفين</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Hr/HrAttendance" routerLinkActive="active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-file-check-alt nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الحضور والانصراف</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-bill nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">العلاوات</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="/Hr/HrSalary" routerLinkActive="active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-dollar-sign-alt nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الراتب الشهري</span>
                    </div>
                </a>
            </li>
        </ul>

        <li class="nav-item nav-item-title item-sidebar">
            <a class="nav-link title cursor-pointer text-lowercase fw-bold text-dark">التقارير</a>
        </li>
        <li class="nav-item">
            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الراتب الشهري</span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الراتب الشهري</span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                <div class="nav-text d-flex align-items-center w-100">
                    <i class="uil uil-database nav-icon"></i>
                    <span class="nav-link-text item-sidebar main-nav-link ms-3">الراتب الشهري</span>
                </div>
            </a>
        </li>
    </ul>
</aside>


<!-- Two Levels Menu Code -->
<!-- <li class="nav-item nav-item-title item-sidebar">
  <a class="nav-link title cursor-pointer text-lowercase fw-bold text-dark">navigation</a>
</li>
<li class="nav-item nav-item-item">
  <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
    (click)="toggleMenu(menu2)" [ngClass]="{'active': menu2.classList.contains('show')}">
    <div class="nav-text d-flex align-items-center w-100">
      <i class="uil uil-estate nav-icon"></i>
      <span class="nav-link-text item-sidebar main-nav-link ms-3">Navigator Two Level</span>
    </div>
    <div class="nav-collapse">
      <i class="uil uil-angle-left-b"></i>
    </div>
  </a>
  <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu2>
    <li class="nav-item">
      <a class="nav-link sub-nav cursor-pointer d-flex align-items-center justify-content-between"
        (click)="toggleMenu(subMenu1)" [ngClass]="{'active': subMenu1.classList.contains('show')}">
        <span class="nav-link-text item-sidebar main-nav-link">Navigator</span>
        <div class="nav-collapse">
          <i class="uil uil-angle-left-b"></i>
        </div>
      </a>
      <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #subMenu1>
        <li class="nav-item">
          <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
            <span class="nav-link-sub-text item-sidebar">Navigator Sub 1</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
            <span class="nav-link-sub-text item-sidebar">Navigator Sub 2</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
            <span class="nav-link-sub-text item-sidebar">Navigator Sub 3</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
        <span class="nav-link-sub-text item-sidebar">Navigator Sub 2</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
        <span class="nav-link-sub-text item-sidebar">Navigator Sub 3</span>
      </a>
    </li>
  </ul>
</li> -->