<section class="marketing-category-section d-flex flex-column gap-3 mt-4 mb-5">
    <div class="d-flex align-items-center gap-2 position-relative">
        <img src="../../../../../assets/strong-offet-icon-2.svg" class="header-offer-icon" alt="offer-icon"
            loading="lazy" />
        <div class="fw-semibold fs-18">عربة التسوق</div>
    </div>
    <div class="row p-3">
        <div class="col-md-9 gap-3 flex-wrap px-3">
            <div *ngFor="let item of cartItems" class="position-relative overflow-hidden mb-3">
                <div class="main-item-card-content bg-white d-flex flex-wrap gap-3 border radius-10 p-3">
                    <div class="d-flex flex-column align-items-center gap-2 px-3 pt-3">
                        <div class="more-buy-img-box position-relative">
                            <img [src]="item.imageUrl" class="more-buy-image" alt="more-buy-image" loading="lazy" />
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-3 position-relative w-100 px-3 pb-3">
                        <div class="fs-16 fw-semibold">
                            {{item.nameAR}}
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-2">
                            <div class="d-flex align-items-center gap-2">
                                <i class="ph ph-link-simple text-muted"></i>
                                <a class="text-muted fw-semibold cursor-pointer">
                                    {{item.supplierName}}
                                </a>
                            </div>
                            <app-rate></app-rate>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div class="d-flex align-items-center gap-2">
                                <i class="ph ph-chart-line-down text-muted"></i>
                                <div class="d-flex align-items-center gap-1 text-muted">أقل كمية للطلب: <span
                                        class="fw-bold">3
                                        قطعة</span></div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-3">
                            <div class="d-flex align-items-center gap-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="text-danger fw-bold fs-4">{{item.price}}</div>
                                    <img src="{{systemURL}}assets/ryal-black-icon.svg" class="ryial-img" alt="ryal-icon"
                                        loading="lazy" />
                                </div>
                                <div class="d-flex align-items-center gap-2 line-through">
                                    <div class="text-danger fw-bold fs-4">{{item.price + item.price*20/100}}</div>
                                    <img src="{{systemURL}}assets/ryal-gray-icon.svg" class="ryial-img" alt="ryal-icon"
                                        loading="lazy" />
                                </div>
                            </div>
                            <div class="d-flex">
                                <a (click)="removeItem(item)" class="text-muted fw-semibold cursor-pointer p-3">حذف
                                    الصنف</a>

                                <div class="count-button d-flex align-items-center gap-2">
                                    <i (click)="changeQuantity(item,1)"
                                        class="ph ph-plus cursor-pointer text-danger fw-semibold"></i>
                                    <input type="text" disabled [(ngModel)]="item.quantity"
                                        class="form-control border text-center height-30 width-50">
                                    <i *ngIf="item.quantity>1" (click)="changeQuantity(item,-1)"
                                        class="ph ph-minus cursor-pointer text-danger fw-semibold"></i>
                                    <i *ngIf="item.quantity==1" (click)="removeItem(item)"
                                        class="ph ph-trash cursor-pointer text-danger fw-semibold"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!cartItems.length">
                <div
                    class="d-flex align-items0-center justify-content-center bg-white radius-10 flex-column text-center w-100 height-300">
                    <img src="{{systemUrl}}assets/table-action-start.svg" width="60px" alt="" class="table-action-img">
                    <div class="mt-2 fs-16">عربة التسوق فارغة</div>
                </div>
            </div>
        </div>

        <div class="col-md-3 gap-3 flex-wrap">
            <div class="main-item-card-content bg-white d-flex flex-wrap gap-3 border radius-10 p-3">
                <table class="table table-borderless text-right bg-white" style="line-height:30px">
                    <tbody>
                        <tr>
                            <td class="fw-bold w-25"> الإجمالى بدون الضريبة </td>
                            <td class="w-25">
                                <span class="fw-bold me-2">{{netValue | number : '1.2-2'}}</span>ر.س
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class="fw-bold w-25"> الشحن </td>
                            <td class="w-25"><span class="fw-bold me-2">0</span> ر.س </td>
                        </tr> -->
                        <tr>
                            <td class="fw-bold w-25"> الخصم </td>
                            <td class="w-25"><span class="fw-bold me-2">{{discount | number : '1.2-2'}}</span> ر.س </td>
                        </tr>
                        <tr>
                            <td class="fw-bold w-25"> 15% الضريبة </td>
                            <td class="w-25"><span class="fw-bold me-2">{{tax | number : '1.2-2'}}</span> ر.س </td>
                        </tr>
                        <tr>
                            <td class="fw-bold w-25">إجمالى القيمة</td>
                            <td class="w-25"><span class="fw-bold me-2">{{totalValue | number : '1.2-2'}}</span> ر.س
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="complete-purchase-action border p-3 w-100 cursor-pointer radius-10" (click)="createOrder()">
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <i class="ph ph ph-credit-card fs-4"></i>
                        <div class="fw-bold">إتمام عملية الشراء</div>
                    </div>
                </div>
            </div>


            <!-- <div class="bg-white position-relative overflow-hidden h-100">
                <div class="main-item-card-content d-flex flex-wrap gap-3 border border-bottom-0 radius-top-10">
                    <div class="a-section a-spacing-top-micro sc-buy-box-inner-box">
                        <h3 class="a-spacing-none a-text-normal">
                            <div data-name="Subtotals" class="a-row a-spacing-mini sc-subtotal sc-subtotal-buybox sc-java-remote-feature">
                                <span id="sc-subtotal-label-buybox" class="a-size-medium sc-number-of-items">
                                    الإجمالي الفرعي (5 من السلع):
                                </span>
                                <span id="sc-subtotal-amount-buybox" class="sc-price-container a-text-bold">&nbsp;
                                    <span
                                        class="a-size-medium a-color-base sc-price sc-white-space-nowrap">‏36,248.00&nbsp;جنيه
                                    </span>
                                </span>
                            </div>
                        </h3>

                        <div class="main-item-card-action light-green-hover border p-3 w-100 cursor-pointer radius-bottom-10">
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <i class="ph ph-shopping-cart fs-4"></i>
                                <div class="fw-bold">أضف للعربه</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>


    </div>
</section>



<!-- <div class="container">

    <div class="table-card border radius-10 overflow-hidden shadow-sm">
        <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-outline-primary d-flex align-items-center gap-2 border rounded px-3" (click)="openSaveModal(saveDialog)">
                    <i class="fas fa-plus-circle"></i>
                    <span>حفظ</span>
                </button>
                <button class="btn btn-outline-danger d-flex align-items-center gap-2 border rounded px-3" (click)="clearCart()">
                    <i class="fas fa-trash"></i>
                    <span>أفراغ السلة</span>
                </button>
            </div>
            <div class="justify-content-end">

            </div>
        </div>
        <div class="p-3 bg-white">
            <div class="table-responsive shadow-sm radius-10">
                <table class="table table-card-table table-borderless table-middle table-hover bg-transparent small-scroll m-0">
                    <thead>
                        <tr>
                            <th>اسم الصنف</th>
                            <th>سعر 1</th>
                            <th>سعر 10</th>
                            <th>سعر 100</th>
                            <th>سعر 1000</th>
                            <th>اسم المورد</th>
                            <th>التكلفة</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pageResponseModel.results">
                            <td class="fs-5 fw-bold text-center">
                                {{item.nameAR ?? item.nameEN}}

                            </td>
                            <td>{{item.price}}</td>
                            <td>{{item.price10}}</td>
                            <td>{{item.price100}}</td>
                            <td>{{item.price1000}}</td>
                            <td>{{item.supplierName}}</td>
                            <td>{{item.cost}}</td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <app-change-quantity [value]="item.quantity" (valueChange)="onQuantityChange(item, $event)">
                                    </app-change-quantity>
                                    <button (click)="remove(item)" class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2 me-2">
                                        <i class="uil uil-trash-alt"></i>
                                        <span></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!pageResponseModel.results.length">
                            <td colspan="8" class="text-right">
                                <app-empty-data [showEmptyData]="!pageResponseModel.results.length"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div> -->



<ngx-loading [show]="showLoader"></ngx-loading>


<ng-template #saveDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); createOrder()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>