<div class="container-fluid py-5">
    <div class="row">
        <div class="col-xl-2">
            <div class="order-filter-box card">
                <div class="card-header main-bg text-white py-3 d-flex align-items-center">
                    <i class="fas fa-sort-amount-down fs-18 ms-2"></i>
                    <h5 class="m-0">ترتيب</h5>
                </div>
                <div class="card-body p-0">
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckChecked_1">
                        <label for="flexCheckChecked_1" class="m-0">
                            ترتيب 1
                        </label>
                    </div>
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckChecked_2">
                        <label for="flexCheckChecked_2" class="m-0">
                            ترتيب 2
                        </label>
                    </div>
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckChecked_3">
                        <label for="flexCheckChecked_3" class="m-0">
                            ترتيب 3
                        </label>
                    </div>
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckChecked_4">
                        <label for="flexCheckChecked_4" class="m-0">
                            ترتيب 3
                        </label>
                    </div>
                </div>
            </div>

            <hr />

            <div class="foods-filter-box card">
                <div class="card-header main-bg text-white py-3 d-flex align-items-center">
                    <i class="fas fa-utensils fs-18 ms-2"></i>
                    <h5 class="m-0">المطابخ</h5>
                </div>
                <div class="card-body p-0">
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckkitchen_1">
                        <label for="flexCheckkitchen_1" class="m-0">
                            مطبخ 3
                        </label>
                    </div>
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckkitchen_2">
                        <label for="flexCheckkitchen_2" class="m-0">
                            مطبخ 2
                        </label>
                    </div>
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckkitchen_3">
                        <label for="flexCheckkitchen_3" class="m-0">
                            مطبخ 3
                        </label>
                    </div>
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckkitchen_4">
                        <label for="flexCheckkitchen_4" class="m-0">
                            مطبخ 4
                        </label>
                    </div>
                    <div class="filter-wrapper form-check d-flex align-items-center gap-2">
                        <input type="checkbox" id="flexCheckkitchen_5">
                        <label for="flexCheckkitchen_5" class="m-0">
                            مطبخ 5
                        </label>
                    </div>
                    <a class="more-filter-text text-underline main-color fw-bold cursor-pointer">
                        sdsadsadasd</a>
                </div>
            </div>
        </div>
        <div class="col-xl-10 pe-4">
            <h3 class="d-flex align-items-end mb-4">
                <span class="ms-2">مطعم</span>
            </h3>
            <div class="row">

                <div *ngFor="let item of suppliersData" class="col-md-6 col-xl-4">
                    <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
                        <div class="card-inner">
                            <div class="card-slider">
                                <a class="card-img-box d-block position-relative">
                                    <img [src]="item.imageUrl" alt="order-img"
                                        (error)="$event.target.src = defaultItemImage" />
                                    <div class="highlight-text order-highlight">
                                        <h6 class="m-0">{{item.description}}</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content mt-3">
                                <div class="card-content-info d-flex mb-3">
                                    <div class="card-content-img">
                                        <img [src]="supplierLogo" alt="restaurant-logo" />
                                    </div>
                                    <div class="me-2 w-100">
                                        <div class="foods-title d-flex align-items-center justify-content-between">
                                            <a class="m-0 fw-bold" style="color: black;">{{item.nameAR}}</a>
                                            <div class="d-flex align-items-center">
                                                <app-rate></app-rate>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-box align-items-center text-center"
                                    style="height: 40px;padding-top: 10px;">
                                    <a class="me-2" style="color: #4caf50;">اوردر أونلاين</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card with slider -->
                <!-- <div class="col-md-6 col-xl-4">
                    <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
                        <div class="card-inner">
                            <div class="card-slider">
                                <a class="card-img-box d-block position-relative">
                                    <swiper class="small-carousel-swiper" [slidesPerView]="1" [spaceBetween]="0"
                                        [navigation]="true" [pagination]="{ clickable: true }"
                                        [autoplay]="{ delay: 5000, disableOnInteraction: false }">
                                        <ng-template swiperSlide>
                                            <img src="../../../../../assets/images/13.png" alt="order-img" />
                                        </ng-template>
                                        <ng-template swiperSlide>
                                            <img src="../../../../../assets/images/14.png" alt="order-img" />
                                        </ng-template>
                                        <ng-template swiperSlide>
                                            <img src="../../../../../assets/images/15.png" alt="order-img" />
                                        </ng-template>
                                        <ng-template swiperSlide>
                                            <img src="../../../../../assets/images/16.png" alt="order-img" />
                                        </ng-template>
                                        <ng-template swiperSlide>
                                            <img src="../../../../../assets/images/17.png" alt="order-img" />
                                        </ng-template>
                                    </swiper>
                                    <div class="highlight-text order-highlight">
                                        <h6 class="m-0">سلطه كفته</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card-content mt-3">
                                <div class="card-content-info d-flex mb-3">
                                    <div class="card-content-img">
                                        <img src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/fa4f0bed-7ae1-4381-a81c-455259a981bf.jpg"
                                            alt="restaurant-logo" />
                                    </div>
                                    <div class="me-2 w-100">
                                        <div class="foods-title d-flex align-items-center justify-content-between">
                                            <a class="m-0 fw-bold" style="color: black;">sadsadsadsa</a>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <i class="fas fa-star rate-color-gold fs-12"></i>
                                                    <i class="fas fa-star rate-color-gold fs-12"></i>
                                                    <i class="fas fa-star rate-color-gold fs-12"></i>
                                                    <i class="fas fa-star rate-color-gold fs-12"></i>
                                                    <i class="fas fa-star rate-color-grey fs-12"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offer-box align-items-center text-center"
                                    style="height: 40px;padding-top: 10px;">
                                    <a class="me-2" style="color: #4caf50;">اوردر أونلاين</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

            <app-pagination (pageChanged)="pageChanged($event)" 
                [currentPage]="pageResponseModel.currentPage" 
                [pageSize]="pageResponseModel.pageSize" 
                [totalCount]="pageResponseModel.totalCount"
                [usePaginationBtn]="true"
                [text]="'تحميل مطاعم أكثر'">
            </app-pagination>

        </div>
    </div>
</div>