<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="d-flex justify-content-between align-items-center px-3 border-bottom mb-2">
        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2">
            انشاء فاتورة مرتجعات
        </div>
        <div class="d-flex">


            <div class="d-flex align-items-center justify-content-center">
                <div ngbDropdown container="body">
                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div ngbDropdownMenu class="border">
                        <button ngbDropdownItem (click)="initNewForm()" *ngIf="!purchaseReturnsId&&!showLoader">
                            <i class="fas fa-times"></i>
                            <span class="px-2">
                                افراغ الخانات
                            </span>
                        </button>
                        <button ngbDropdownItem>
                            <!-- <app-material-receipt-side-panel (selectedOrder)="searchOrderSelected($event)"
                            [selectedSupplierId]="formGroup?.value?.supplierId"></app-material-receipt-side-panel> -->

                        </button>
                        <button *ngIf="purchaseReturnsId" ngbDropdownItem>
                            <i class="fas fa-print"></i>
                            <span class="px-2">
                                طباعة
                            </span>
                        </button>

                        <button ngbDropdownItem routerLink="./../purchase-returns">
                            <i class="fa fa-arrow-left"></i>
                            <span class="px-2">
                                عودة للقائمة
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="purchaseReturnsId">
                <app-next-previous [nextId]="purchaseReturnsModel?.nextId"
                    [previousId]="purchaseReturnsModel?.previousId" (valueChanged)="goToPage($event)">
                </app-next-previous>
            </ng-container>
            <app-invoice-search-sidepanel *ngIf="!isUpdate" [selectedSupplierId]="selectedSupplierId"
                (selectedInvoice)="searchInvoiceSelected($event)">

            </app-invoice-search-sidepanel>
            <button [disabled]="showAddLoader"
                class="btn btn-secondary  m-2 d-flex align-items-center gap-2 border rounded px-3"
                (click)="openSaveModal(saveDialog)">
                <i class="fas fa-check-circle"></i>
                <span class="ms-2">حفـظ</span>
            </button>
        </div>
    </div>


    <div class="inputs-sec-content px-3 py-2">
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            رقم الطلب
                            <!-- <span class="text-danger">*</span> -->
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="serialNumber" disabled
                            autocomplete="off" />

                        <div *ngIf="formErrors.serialNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.serialNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الرقم الدفتري
                            <!-- <span class="text-danger">*</span> -->
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="docNumber"
                            autocomplete="off" />

                        <div *ngIf="formErrors.docNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.docNumber}}
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="selectedPurchaseInvoice.purchaseInvoiceId">
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                رقم فاتورة المشتريات
                                <span class="text-danger">*</span>
                            </label>
                            <div class="d-flex gap-2">
                                <input type="text" [value]="selectedPurchaseInvoice?.serialNumber"
                                    class="form-control nw-form-input" disabled autocomplete="off" />
                                <div *ngIf="selectedPurchaseInvoice.purchaseInvoiceId && !isUpdate" class="mb-2">
                                    <!-- <button type="button" class="btn btn-success"
                                        (click)="getPurchaseInvoiceProducts()">
                                        <i class="fas fa-redo-alt"></i>
                                    </button> -->
                                    <button (click)="getPurchaseInvoiceProducts()"
                                        class="button-table-action btn-edit">
                                        <i class="fas fa-redo-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                تاريخ الفاتورة
                                <span class="text-danger">*</span></label>
                            <input type="text" [value]="selectedPurchaseInvoice?.orderDate|date"
                                class="form-control nw-form-input" disabled autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                المورد
                                <span class="text-danger">*</span></label>
                            <input type="text"
                                [value]="selectedPurchaseInvoice?.supplierNameAR ?? selectedPurchaseInvoice?.supplierNameEN"
                                class="form-control nw-form-input" disabled autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                اجمالي الفاتورة
                                <span class="text-danger">*</span></label>
                            <input type="text" [value]="selectedPurchaseInvoice?.totalValue"
                                class="form-control nw-form-input" disabled autocomplete="off" />
                        </div>
                    </div>
                </ng-container>
                <div class="col-lg-12">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            البيان
                        </label>
                        <input type="text" class="form-control nw-form-input description-area" formControlName="notes"
                            autocomplete="off" />
                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-order-items [selectedProducts]="orderDetails" [clearAllProducts]="clearAllProducts" [disabled]="true"
    (selectedProductsList)="getSelectedProductsList($event)"></app-order-items>

<ng-template #saveDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); savePurchaseReturns()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>