.sidepanel-table-h {
  height: calc(100vh - 145px);
}

.sub-header {
  margin-left: 58px;
  font-size: 16px;
}

::ng-deep .offcanvas {
  width: 50% !important;
  background: #f0f0f0;
  min-width: 250px;
  box-shadow: -2px 0px 5px 0px rgb(65 73 91);
}

/* ::ng-deep .details-panel {
    width: 50% !important;
} */

@media (max-width: 767px) {
  ::ng-deep .offcanvas {
    width: 95% !important;
  }
}

.sidepanel-close {
  background: #3c3c3c;
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 7px;
  cursor: pointer;
}

.offcanvas-title {
  line-height: 1;
  margin-bottom: 5px;
}

.offcanvas-sub-header {
  font-size: 1.1rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.sidepanel-card-wrapper {
  max-height: calc(100vh - 340px);
}

.sidepanel-card:not(:last-child) {
  margin-bottom: 10px;
}

.sidepanel-card-img {
  max-width: 100%;
  height: 90px;
}

.sl-dots {
  width: 35px;
  height: 35px;
}

::ng-deep .table-vp-height {
  height: calc(100vh - 150px);
}
