<div (click)="OpenSidePanel(OrderSearchSidepanel)">
    <i class="uil uil-pen"></i>
    <span class="ms-2">تحميل أذن أضافة</span>
</div>


<ng-template #OrderSearchSidepanel let-offcanvas>

    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-store offcanvas-header-icon"></i>
            <span>بحث أذن أضافة</span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div class="employee-card-body row mb-3">
            <div class="col-xl-4 mb-2">
                <app-general-selector [(ngModel)]="selectedSupplierId" [disabled]="true" [data]="suppliersSelectorData"
                    [showSearch]="true" [placeholder]="'الموردين'"></app-general-selector>
            </div>
            <div class="col-xl-4 mb-2">
                <input type="text" autocomplete="off" [(ngModel)]="orderNumber" class="form-control nw-form-input"
                    placeholder="رقم الطلب">

            </div>
            <div class="col-xl-4 mb-2">
                <input type="date" [(ngModel)]="orderDate" class="form-control nw-form-input"
                    placeholder="تاريخ الاصدار">
            </div>
            <div class="col-xl-12">
                <div class="d-flex justify-content-center mt-3">
                    <button (click)="loadData()"
                        class="btn btn-primary w-50 justify-content-center py-2 fs-5 radius-10">
                        بحث
                    </button>
                </div>
            </div>
        </div>

        <hr class="border-black" />

        <div class="card card-with-table border shadow-none">
            <div class="card-header bg-white border-bottom d-flex align-items-center justify-content-start">
                <button (click)="selectOrders()"
                    class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                    <i class="fas fa-upload"></i>
                    <span>تحميل</span>
                </button>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-borderless align-middle table-hover table-component text-center m-0">
                    <thead>
                        <tr>
                            <th>
                                <input class="cursor-pointer" (change)="selectAllData()" [(ngModel)]="selectAll"
                                    type="checkbox">

                            </th>
                            <th>رقم الطلب</th>
                            <th>الرقم الدفترى</th>
                            <th>تاريخ الطلب</th>
                            <th>اسم المورد</th>
                            <th>المخزن</th>
                            <th>القيمة الإجمالية</th>
                            <th>حالة الطلب</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pagedResponseModel.results">
                            <td>
                                <input class="cursor-pointer" type="checkbox" [(ngModel)]="item.isChecked">

                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="fs-5 fw-bold text-center">{{item.orderNumber}}</div>
                                </div>
                            </td>
                            <td>{{item.docNumber}}</td>
                            <td>{{item.orderDate | date}}</td>
                            <td>{{item.supplierNameAR}}</td>
                            <td>{{item.storeNameAR}}</td>
                            <td>{{item.totalValue}}</td>
                            <td>
                                <span class="badge rounded-pill default p-2 text-uppercase px-3">
                                    {{item.orderStatus}}
                                </span>
                            </td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button (click)="selectOrder(item)"
                                        class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                        <i class="fas fa-upload"></i>
                                        <span>تحميل</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-empty-data [showEmptyData]="!pagedResponseModel.results?.length&&!showLoader"
                    [showLoader]="showLoader"></app-empty-data>
            </div>
        </div>

    </div>
</ng-template>