<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="card radius-10 border-0 card-shadow mb-3">

    <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">
            <span class="ms-3">
                فاتورة مشتريات            
            </span>
        </h5>
        <button class="btn btn-secondary gap-2" routerLink="./../purchase-invoices">
            <span>عودة للقائمة</span>
            <i class="fa fa-arrow-left"></i>
        </button>
    </div>
    <div class="card-body bg-light">
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="employee-card-body row">
                <div class="col-xl-4 mb-3">

                    <app-drop-down-form-control [disabled]="isUpdate" formControlName="supplierId" [placeholder]="'الموردين'" [showSearch]="true" [data]="suppliersSelectorData" (valueChanged)="getSelectedSupplier($event)"></app-drop-down-form-control>
                    <div *ngIf="formErrors.supplierId" class="text-danger  font-small-3 m-03">
                        {{formErrors.supplierId}}
                    </div>
                </div>
                <div class="col-xl-1"></div>
                <div class="col-xl-4  mb-3">

                    <app-drop-down-form-control formControlName="orderTypeId" [placeholder]="'نوع الفاتورة'" [showSearch]="true" [data]="invoiceTypesSelectorData"></app-drop-down-form-control>
                    <div *ngIf="formErrors.orderTypeId" class="text-danger  font-small-3 m-03">
                        {{formErrors.orderTypeId}}
                    </div>

                </div>
                <!-- <div class="col-xl-3 mb-3">

                    <button class="btn btn-secondary me-2" (click)="getSupplierItemsBySupplierId()">
                        <i class="fas fa-upload"></i>
                        <span class="ms-2">تحميل أصناف المورد</span>
                    </button>

                </div> -->
                <!-- <div class="col-xl-1"></div> -->
                <ng-container *ngIf="!isUpdate">
                    <!-- <div class="col-xl-2  mb-3">
     
                        <div class="form-floating">
                            <input type="text" [value]="selectedMaterialReceipt?.orderNumber ?? ''" disabled class="form-control" id="floatingInput1" placeholder="any">
                            <label for="floatingInput1">رقم أمر الاستلام</label>
                        </div>
                        <div *ngIf="formErrors.purchaseOrderId" class="text-danger  font-small-3 m-03">
                            {{formErrors.purchaseOrderId}}
                        </div>
                    </div> -->
                    <div *ngIf="selectedSupplierId" class="col-xl-2 mb-3">

                        <app-material-receipt-side-panel [selectedSupplierId]="selectedSupplierId" (selectedOrder)="searchOrderSelected($event)"></app-material-receipt-side-panel>

                    </div>
                </ng-container>


                <!-- <div class="col-xl-4 mb-3">


                    <div class="form-floating mb-3">
                        <input type="date" formControlName="orderDate" class="form-control" id="floatingInput1" placeholder="any">
                        <label for="floatingInput6">تاريخ الاصدار</label>
                        <div *ngIf="formErrors.orderDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.orderDate}}
                        </div>
                    </div>

                </div>
                <div class="col-xl-1"></div> -->
                <div class="col-xl-4">


                    <div class="form-floating mb-3">
                        <input type="date" formControlName="dueDate" class="form-control" id="floatingInput1" placeholder="any">
                        <label for="floatingInput6">تاريخ الاستحقاق</label>
                        <div *ngIf="formErrors.dueDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.dueDate}}
                        </div>
                    </div>

                </div>
                <div class="col-xl-1"></div>
                <div class="col-xl-4 mb-3">
                    <div class="form-floating">
                        <input type="text" formControlName="docNumber" class="form-control" id="floatingInput1" placeholder="any">
                        <label for="floatingInput3"> الرقم الدفتري</label>
                        <div *ngIf="formErrors.docNumber" class="text-danger  font-small-3 m-03">
                            {{formErrors.docNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-1"></div>
                <div class="col-xl-9">
                    <div class="form-floating mb-3">
                        <textarea type="text" formControlName="description" class="form-control" id="floatingInput10" placeholder="ملاحظات"></textarea>
                        <label for="floatingInput10">ملاحظات</label>

                        <div *ngIf="formErrors.description" class="text-danger  font-small-3 m-03">
                            {{formErrors.description}}
                        </div>
                    </div>


                </div>
            </div>

            <div class="m-3">
                <button class="btn btn-primary btn-lg fs-6 me-2" (click)="savePurchaseInvoice()">
                    <i class="fas fa-check-circle"></i>
                    <span class="ms-2">حفظ</span>
                </button>
                <button class="btn btn-warning m-2 text-white" (click)="initNewForm()">
                    <span class="me-2">افراغ الخانات</span>
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </form>

        <app-general-order-products [selectedProducts]="orderProducts" [clearAllProducts]="clearAllProducts" [showEditQuantity]="false" [showAddNew]="false" (selectedProductsList)="getSelectedProductsList($event)"></app-general-order-products>
        <!-- <app-order-products [selectedSupplierProducts]="ItemsBySupplier" [clearAllProducts]="clearAllProducts" (selectedProductsList)="getSelectedProductsList($event)"></app-order-products> -->

    </div>
</div>