


<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>
<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="d-flex justify-content-between align-items-center px-3 border-bottom mb-2">
        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2">
            انشاء فاتورة مشتريات
        </div>
        <div class="d-flex">

            <div class="d-flex align-items-center justify-content-center">
                <div ngbDropdown container="body">
                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div ngbDropdownMenu class="border">
                        <button ngbDropdownItem (click)="initNewForm()" *ngIf="!purchaseInvoiceId&&!showLoader">
                            <i class="fas fa-times"></i>
                            <span class="px-2">
                                افراغ الخانات
                            </span>
                        </button>
                        <button ngbDropdownItem>
                            <app-material-receipt-side-panel (selectedOrder)="searchOrderSelected($event)"
                            [selectedSupplierId]="formGroup?.value?.supplierId"></app-material-receipt-side-panel>

                        </button>
                        <button *ngIf="purchaseInvoiceId" ngbDropdownItem>
                            <i class="fas fa-print"></i>
                            <span class="px-2">
                                طباعة
                            </span>
                        </button>
                        
                        <button ngbDropdownItem routerLink="./../purchase-invoices">
                            <i class="fa fa-arrow-left"></i>
                            <span class="px-2">
                                عودة للقائمة
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="purchaseInvoiceId">
                <app-next-previous [nextId]="purchaseInvoiceModel?.nextId"
                    [previousId]="purchaseInvoiceModel?.previousId" (valueChanged)="goToPage($event)">
                </app-next-previous>
            </ng-container>

            <button [disabled]="showAddLoader"
                class="btn btn-secondary  m-2 d-flex align-items-center gap-2 border rounded px-3"
                (click)="openSaveModal(saveDialog)">
                <i class="fas fa-check-circle"></i>
                <span class="ms-2">حفـظ</span>
            </button>
        </div>
    </div>


    <div class="inputs-sec-content px-3 py-2">
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            رقم الفاتورة
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="orderNumber" disabled
                            autocomplete="off" />

                        <div *ngIf="formErrors.orderNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.orderNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الرقم الدفتري
                            <!-- <span class="text-danger">*</span> -->
                        </label>
                        <input type="text" class="form-control nw-form-input" formControlName="docNumber"
                            autocomplete="off" />

                        <div *ngIf="formErrors.docNumber" class="text-danger font-small-3 m-03">
                            {{formErrors.docNumber}}
                        </div>
                    </div>
                </div>
                <!-- <ng-container *ngIf="!isUpdate">
                    <div *ngIf="formErrors.purchaseOrderId" class="text-danger  font-small-3 m-03">
                        {{formErrors.purchaseOrderId}}
                    </div>
                    <div class="col-md-2">
                        <app-material-receipt-side-panel (selectedOrder)="searchOrderSelected($event)" [selectedSupplierId]="formGroup?.value?.supplierId"></app-material-receipt-side-panel>
                    </div>
                </ng-container> -->
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            الموردين
                            <span class="text-danger">*</span>
                        </label>
                        <app-general-selector formControlName="supplierId" [data]="suppliersSelectorData"
                            [placeholder]="'الموردين'">
                        </app-general-selector>

                        <div *ngIf="formErrors.supplierId" class="text-danger  font-small-3 m-03">
                            {{formErrors.supplierId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            نوع الفاتورة
                            <span class="text-danger">*</span>
                        </label>
                        <app-general-selector formControlName="orderTypeId" [data]="invoiceTypesSelectorData"
                            [placeholder]="'نوع الفاتورة'">
                        </app-general-selector>

                        <div *ngIf="formErrors.orderTypeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.orderTypeId}}
                        </div>
                    </div>
                </div>




                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            تاريخ الطلب
                            <span class="text-danger">*</span></label>
                        <input type="date" formControlName="orderDate" autocomplete="off"
                            class="form-control nw-form-input" />
                        <div *ngIf="formErrors.orderDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.orderDate}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            تاريخ الاستحقاق
                            <span class="text-danger">*</span></label>
                        <input type="date" formControlName="dueDate" autocomplete="off"
                            class="form-control nw-form-input" />
                        <div *ngIf="formErrors.dueDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.dueDate}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">
                            البيان
                        </label>
                        <input type="text" class="form-control nw-form-input description-area" formControlName="notes"
                            autocomplete="off" />
                        <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                            {{formErrors.notes}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-order-items [selectedProducts]="orderDetails" [clearAllProducts]="clearAllProducts" [disabled]="true"
    (selectedProductsList)="getSelectedProductsList($event)"></app-order-items>

    <ng-template #saveDialog let-modal>
        <div class="modal-header">
            <h4 class="modal-title">تأكيد العملية</h4>
        </div>
        <div class="modal-body">
            <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
        </div>
        <div class="modal-footer justify-content-start">
            <button type="button" class="btn btn-success" (click)="modal.close('Save click'); savePurchaseInvoice()">
                <i class="fas fa-check"></i>
                <span class="ms-2">نعم</span>
            </button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
                <i class="fas fa-times"></i>
                <span class="ms-2">الغاء</span>
            </button>
        </div>
    </ng-template>