<div (click)="OpenSidePanel(OrderSearchSidepanel)">
    <i class="uil uil-pen"></i>
    <span class="ms-2">طلبات الشراء</span>
</div>


<ng-template #OrderSearchSidepanel let-offcanvas>

    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-store offcanvas-header-icon"></i>
            <span>بحث طلب شراء</span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div class="card radius-10 border-0 card-shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                رقم الطلب
                            </label>
                            <input type="text" autocomplete="off" [(ngModel)]="orderNumber"
                                class="form-control nw-form-input">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                الفرع
                            </label>
                            <app-general-selector [(ngModel)]="selectedStoreId" [data]="storesSelectorData"
                                [showSearch]="true" [placeholder]="'الفرع'"></app-general-selector>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 mb-2">
                        <input type="text" autocomplete="off" [(ngModel)]="orderNumber" class="form-control nw-form-input" placeholder="رقم الطلب">

                    </div> -->
                    <div class="col-lg-4 mb-2">
                        <div class="mb-2">
                            <label class="form-label d-flex align-items-center gap-2">
                                تاريخ الطلب
                            </label>
                            <input type="date" [(ngModel)]="orderDate" class="form-control nw-form-input"
                                placeholder="تاريخ الاصدار">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <button (click)="loadData()"
                            class="btn btn-primary w-50 justify-content-center py-2 fs-5 radius-10">
                            بحث
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border-black" />

        <div class="card card-with-table border shadow-none">
            <div class="card-header bg-white border-bottom d-flex align-items-center justify-content-between">
                <button (click)="SelectOrders()"
                    class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                    <i class="far fa-eye"></i>
                    <span>تحميل</span>
                </button>
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage"
                    [pageSize]="pagedResponseModel.pageSize"
                    [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>

            </div>
            <div class="card-body table-responsive p-0 shadow-sm radius-10">

                <table
                    class="table table-card-table table-borderless table-middle table-hover bg-transparent small-scroll m-0">
                    <thead>
                        <tr>
                            <th>
                                <input class="cursor-pointer" (change)="selectAllData()" [(ngModel)]="selectAll"
                                    type="checkbox">
                            </th>
                            <th># الطلب</th>
                            <th>#</th>
                            <th>تاريخ الطلب</th>
                            <th>تاريخ الاستحقاق</th>
                            <th>الغرض من الطلب</th>
                            <th>اسم المخزن</th>
                            <th>حالة الطلب</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pagedResponseModel.results">
                            <td>
                                <input class="cursor-pointer" type="checkbox" [(ngModel)]="item.isChecked">
                            </td>
                            <td>{{item.orderNumber}}</td>
                            <td>{{item.serialNumber}}</td>
                            <td>{{item.orderDate | date}}</td>
                            <td>{{item.dueDate | date}}</td>
                            <td>{{item.purposeNameAR ?? item.purposeNameEN}}</td>
                            <td>{{item.storeNameAR ?? item.storeNameEN}}</td>
                            <td>
                                <span appWorkflowStatus [id]="item.workflowStatusId"
                                    [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                                </span>
                            </td>
                            <td>
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <button (click)="SelectOrder(item)"
                                        class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                        <i class="far fa-eye"></i>
                                        <span>تحميل</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-empty-data [showEmptyData]="!pagedResponseModel.results?.length&&!showLoader"
                    [showLoader]="showLoader"></app-empty-data>
            </div>
        </div>

    </div>
</ng-template>