<div class="inputs-wrapper border rounded bg-white mb-3">
    <!-- <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">الأصناف</div> -->

    <div class="d-flex justify-content-between align-items-center px-3 border-bottom mb-2">
        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2">الأصناف</div>
        <div class="d-flex">
            <!-- <button class="btn btn-secondary m-1" (click)="openEditQuantityModal(EditQuantityModal)">
        <i class="fas fa-edit"></i>
        <span class="ms-2">تعديل الكمية</span>
      </button> -->

            <div *ngIf="!disabled && showActions" ngbDropdown class="d-inline-block">
                <button type="button"
                    class="btn btn-table-action m-2 d-flex align-items-center gap-2 border rounded px-3"
                    id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fas fa-cogs"></i>
                    <span>Actions</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded" style="min-width: 150px;">

                    <button ngbDropdownItem (click)="openItemsModal(ItemModal)">
                        <i class="fas fa-download"></i>
                        <span class="px-2">
                            القوالب
                        </span>
                    </button>
                    <button ngbDropdownItem (click)="openItemsModal(SuppliersModal)">
                        <i class="fas fa-download"></i>
                        <span class="px-2">
                            أصناف الموردين
                        </span>
                    </button>

                </div>
            </div>

            <!-- <button class="button-table-action m-2 btn-edit align-items-center justify-content-center gap-2"
                (click)="openItemsModal(ItemModal)">
                <i class="fas fa-import"></i>
                <span class="ms-2">تحميل من قالب</span>
            </button>
            <button class="button-table-action m-2 btn-edit align-items-center justify-content-center gap-2"
                (click)="openItemsModal(SuppliersModal)">
                <i class="fas fa-import"></i>
                <span class="ms-2">تحميل من الموردين</span>
            </button> -->
        </div>
    </div>

    <div class="inputs-sec-content px-3 py-2 table-responsive table-vp-height small-scroll">
        <table class="table table-bordered table-middle text-center table-actions m-0">
            <thead>
                <tr>
                    <th>اسم الصنف</th>
                    <!-- <th>اسم الصنف (En)</th> -->
                    <th>الوحدة</th>
                    <th *ngIf="showPrice">سعر الوحدة</th>
                    <th *ngIf="showRequestedQuantity">الكمية المطلوبه</th>
                    <th>الكمية</th>
                    <th *ngIf="showPrice">إجمالى القيمة</th>
                    <th *ngIf="showDueDate">تاريخ الاستحقاق</th>
                    <th *ngIf="showExpireDate">تاريخ الصلاحية</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                <tr class="row-hover" *ngFor="let item of orderItems;let i = index">
                    <td style="width: 300px;">
                        <app-general-selector [disabled]="disabled" [showSearch]="true" [data]="itemsSelector"
                            [(ngModel)]="item.itemId" (valueChanged)="getItemDetailsById($event,i)"
                            [placeholder]="'الحسابات'"></app-general-selector>
                    </td>
                    <td>
                        <input type="text" #inputs class="form-control text-center" disabled
                            [(ngModel)]="item.unitNameAR" focus>
                    </td>
                    <td *ngIf="showPrice" class="d-flex gap-1">
                        <input type="number" min="0" #inputs class="form-control text-center" [(ngModel)]="item.price"
                            autocomplete="off" (input)="calcTotalValue()" [disabled]="disablePrice">
                        <div *ngIf="item.itemId&&!disablePrice">
                            <button (click)="itemQuickUpdate(item.itemId,item.price,item.unitId)"
                                class="button-table-action btn-edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </td>
                    <td *ngIf="showRequestedQuantity">
                        <input type="number" disabled #inputs class="form-control text-center"
                            [value]="item.requestedQuantity" autocomplete="off">
                    </td>
                    <td>
                        <input type="number" min="0" [max]="showRequestedQuantity ? item.requestedQuantity:null"
                            class="form-control text-center" [(ngModel)]="item.quantity" autocomplete="off"
                            (input)="checkQuantityValue($event,item)">
                    </td>
                    <td *ngIf="showPrice">
                        <input type="number" #inputs class="form-control text-center" disabled
                            [(ngModel)]="item.totalValue" autocomplete="off">
                    </td>
                    <td *ngIf="showDueDate">
                        <input type="date" #inputs class="form-control text-center" [(ngModel)]="item.dueDate"
                            autocomplete="off">
                    </td>
                    <td *ngIf="showExpireDate">
                        <input type="date" #inputs class="form-control text-center" [(ngModel)]="item.expireDate" [min]="today"
                            autocomplete="off">
                    </td>
                    <td class="justify-content-center d-flex">
                        <button
                            class="button-table-action mt-1 btn-delete d-flex align-items-center justify-content-center gap-2"
                            (click)="removeItem(i)">
                            <i class="fas fa-times fs-5"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!orderItems.length">
                    <td colspan="7" class="text-right">
                        <app-empty-data [showEmptyData]="!orderItems.length"></app-empty-data>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!disabled" class="p-2">
        <div class="d-flex">
            <div class="me-1 ms-2">
                <button *ngIf="showActions"
                    class="button-table-action mt-3 btn-edit d-flex align-items-center justify-content-center gap-2"
                    (click)="addField()">
                    <i class="uil uil-plus fs-5"></i>
                    <span>اضافة صنف</span>
                </button>
                <!-- <div *ngIf="orderItems&&!orderItems?.length" class="text-danger  font-small-3 m-03">
          {{formErrors.orderItems}}
        </div> -->
            </div>
            <button *ngIf="orderItems.length"
                class="button-table-action mt-3 btn-delete d-flex align-items-center justify-content-center gap-2"
                (click)="removeItem()">
                <i class="fas fa-times fs-5"></i>
                حذف الكل
            </button>
        </div>
    </div>
</div>





<ng-template #ItemModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">اختر من القوالب</h4>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 150px;">
            <app-general-selector [(ngModel)]="selectedLookupId" [showSearch]="true" [data]="lookupSelector"
                (valueChanged)="selectedLookupChanged($event)" [placeholder]="'المخزون'"></app-general-selector>
        </div>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');getSelectedLookup()">
            <i class="fas fa-check"></i>
            <span class="ms-2">حفظ</span>
        </button>
        <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button> -->
    </div>
</ng-template>

<ng-template #SuppliersModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">اختر من الموردين</h4>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 150px;">
            <app-general-selector [(ngModel)]="selectedSupplierId" [disabled]="disableSupplierSelector"
                [showSearch]="true" [data]="supplierSelector" (valueChanged)="selectedSupplierChanged($event)"
                [placeholder]="'الموردين'"></app-general-selector>
        </div>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');getSelectedSupplierItems()">
            <i class="fas fa-check"></i>
            <span class="ms-2">تحميل</span>
        </button>
        <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">لا</span>
        </button> -->
    </div>
</ng-template>




<ng-template #EditQuantityModal let-modal>
    <div class="modal-header">
        <h4 class="d-flex align-items-center m-0">
            <div class="ms-3">تعديل الكمية</div>
        </h4>
        <button class="btn btn-danger" (click)="modal.dismiss()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body bg-light">
        <div class="row">
            <div class="col-lg-12" *ngFor="let item of EditQuantityList">
                <div class="mb-3">
                    <i class="fas fa-info-circle ms-2 text-muted cursor-pointer me-2"
                        ngbPopover="Here will be information about field!" placement="end"
                        triggers="mouseenter:mouseleave"></i>
                    <label for="exampleFormControlInput1" class="form-label">{{item.itemNameAr ?item.itemNameAr
                        :item.itemNameEn}}
                        <sup class="text-danger">*</sup>

                    </label>
                    <input type="number" [(ngModel)]="item.quantity" class="form-control py-3"
                        id="exampleFormControlInput1">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer flex-nowrap">
        <button class="btn btn-primary w-100 justify-content-center py-3 fs-5 radius-10" (click)="ChangeNewQuantity()">
            <i class="fas fa-check-square"></i>
            <span class="ms-2">حفظ</span>
        </button>
    </div>
</ng-template>