<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header bg-white">
        <h5 class="m-0 fw-bold">انشاء أذن  أضافة</h5>
    </div>
    <div class="card-body bg-light">
        <div class="row mb-3">
            <div class="col-lg-3 offset-lg-1">
                <app-erp-selector [SelectorName]="InventoryName" [ItemsList]="InventoryList"
                    (ItemObj)="GetSelectedInventory($event)"></app-erp-selector>
            </div>

            <div class="col-lg-3 offset-lg-1">
                <app-erp-selector [SelectorName]="SupplierName" [ItemsList]="SuppliersList"
                    (ItemObj)="GetSelectedSupplier($event)"></app-erp-selector>
            </div>
            <div class="col-lg-2 ">
                <div class="form-floating mb-3">
                    <input type="text" [(ngModel)]="OrderNumber" disabled class="form-control"
                      id="floatingInput1" placeholder="any">
                    <label for="floatingInput1">رقم أمر الشراء</label>
                  </div>
            </div>
            <div class="col-lg-2 mt-2">
                <app-order-search-sidepanel (selectedOrder)="SelectOrder($event)"></app-order-search-sidepanel>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 offset-lg-1 h-100">
                <!-- <textarea class="form-control" placeholder="Notes *" [(ngModel)]="notes"></textarea> -->
                <div class="form-floating ">
                    <textarea  [(ngModel)]="notes" class="form-control"
                      id="floatingInput6" placeholder="any"></textarea>
                    <label for="floatingInput6">Notes</label>
                </div>
            </div>
        </div>
    </div>
</div>



<app-order-products [selectedSupplierProducts]="ItemsBySupplier"  [clearAllProducts]="clearAllProducts" (selectedProductsList)="GetSelectedProductsList($event)"></app-order-products>

<div class="mt-3">
    <button class="btn btn-primary btn-lg fs-6 me-2" (click)="SaveNewPurchaseOrder()">
        <i class="fas fa-check-circle"></i>
        <span class="ms-2">حفظ</span>
    </button>
    <button class="btn btn-warning btn-lg fs-6 me-2" (click)="ClearAllFields()">
        <i class="fas fa-times"></i>
        <span class="ms-2">مسح</span>
    </button>
</div>