.btn-table-action {
  background-color: #fff;
}
.btn-table-action:hover {
  background-color: #f2f2f2;
  color: #000;
}
.table-paging .page-link {
  color: #000;
}
.table-paging .active > .page-link,
.page-link.active {
  background-color: #eeeeee;
  border-color: #d5d5d5;
  color: #000 !important;
}
.table-card-table th {
  background-color: #eee;
  border-left: none;
}
.table-card-table.table-borderless th:first-child {
  border-top-right-radius: 10px;
}

.table-card-table.table-borderless th:last-child {
  border-top-left-radius: 10px;
}
