<div class="table-card border radius-10 overflow-hidden shadow-sm">
  <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
    <div class="d-flex align-items-center gap-2">
      <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
        <i class="fas fa-file-download"></i>
        <span>تصدير CSV</span>
      </button>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3"
          id="dropdownBasic1" ngbDropdownToggle>
          <i class="fas fa-cogs"></i>
          <span>الإجراءات</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded">
          <button ngbDropdownItem class="d-flex align-items-center gap-2">
            <i class="fas fa-edit"></i>
            <span>تعديل</span>
          </button>
          <button ngbDropdownItem class="d-flex align-items-center gap-2">
            <i class="fas fa-trash-alt"></i>
            <span>حذف</span>
          </button>
        </div>
      </div>
      <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
        <i class="fas fa-filter"></i>
        <span>إنشاء عوامل التصفية</span>
      </button>
      <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
        <i class="fas fa-save"></i>
        <span>المرشحات المحفوظة</span>
      </button>
    </div>
    <nav>
      <ul class="pagination table-paging m-0">
        <li class="page-item disabled">
          <a class="page-link">السابق</a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link">2</a>
        </li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
          <a class="page-link">التالى</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="p-3 bg-white">
    <div class="table-responsive shadow-sm radius-10">
      <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
        <thead>
          <tr>
            <th>الاسم</th>
            <th>النشاطات</th>
            <th>أخر نشاط</th>
            <th>الموقع</th>
            <th>البريد الالكترونى</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
          <tr>
            <td>حازم بكرى</td>
            <td>لاعب كرة قدم</td>
            <td>تعديل بيانات قاعدة البيانات</td>
            <td>القاهرة</td>
            <td>hazem.bakry@yahoo.com</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="table-responsive shadow-sm radius-10">
      <table class="table table-card-table table-bordered border table-middle table-hover bg-transparent m-0">
        <thead>
          <tr>
            <th rowspan="2">الكود</th>
            <th rowspan="2">الحساب</th>
            <th colspan="2">رصيد ماقبل</th>
            <th colspan="2">الحركه</th>
            <th colspan="2">الاجمالى</th>
            <th colspan="2">الصافى</th>
          </tr>
          <tr>
            <th>مدين</th>
            <th>دائن</th>
            <th>مدين</th>
            <th>دائن</th>
            <th>مدين</th>
            <th>دائن</th>
            <th>مدين</th>
            <th>دائن</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30101</td>
            <td>تكلفه المواد</td>
            <td>0257893541</td>
            <td>9874563124</td>
            <td>4567893232</td>
            <td>0</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>0</td>
          </tr>
          <tr>
            <td>30101</td>
            <td>تكلفه المواد</td>
            <td>0257893541</td>
            <td>9874563124</td>
            <td>4567893232</td>
            <td>0</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>0</td>
          </tr>
          <tr>
            <td>30101</td>
            <td>تكلفه المواد</td>
            <td>0257893541</td>
            <td>9874563124</td>
            <td>4567893232</td>
            <td>0</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>0</td>
          </tr>
          <tr>
            <td>30101</td>
            <td>تكلفه المواد</td>
            <td>0257893541</td>
            <td>9874563124</td>
            <td>4567893232</td>
            <td>0</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>0</td>
          </tr>
          <tr>
            <td>30101</td>
            <td>تكلفه المواد</td>
            <td>0257893541</td>
            <td>9874563124</td>
            <td>4567893232</td>
            <td>0</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>0</td>
          </tr>
          <tr>
            <td>30101</td>
            <td>تكلفه المواد</td>
            <td>0257893541</td>
            <td>9874563124</td>
            <td>4567893232</td>
            <td>0</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>4567893232</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>