<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
        <div class="row p-2">
            <div class="col-md-8">
                <div class="d-flex align-items-center flex-wrap">
                    <div class="search-box position-relative mb-2">
                        <!-- <button class="btn btn-primary mb-2" (click)="toggleDetails()">
                            <span class="me-2">إنشاء أجازة</span>
                            <i class="uil uil-plus-circle"></i>
                        </button> -->
                    </div>
                    <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->

                </div>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="vacationResponse.currentPage" [pageSize]="vacationResponse.pageSize" [totalCount]="vacationResponse.totalCount"></app-erp-pagination>
            </div>
        </div>
        <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
        <div class="table-responsive">
            <table class="table align-middle table-blue mb-0 table-hover">
                <thead class="table-light">
                    <tr>
                        <th>اسم الموظف</th>
                        <th>الموظف البديل</th>
                        <th>من تاريخ</th>
                        <th>حتى تاريخ</th>
                        <th>أخر يوم عمل</th>
                        <th>اجمالي المدة بالأيام</th>
                        <th>الحالة</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of vacationResponse.results">
                        <td>{{item.employeeName}}</td>
                        <td>{{item.alternativeEmployeeName}}</td>
                        <td>{{item.fromDate | date}}</td>
                        <td>{{item.toDate | date}}</td>
                        <td>{{item.lastDayWork | date}}</td>
                        <td>{{item.period}}</td>
                        <td>
                            <!-- <div appColorWithStatus status="isApproved" [text]="item.isApproved"></div> -->
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center text-center">

                                <button ngbDropdownItem class="btn text-success" (click)="openApproveModal(approveModal,item.vacationId,item.employeeId,true)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span class="ms-2">قبول</span>
                                </button>
                                <button ngbDropdownItem class="btn text-danger" (click)="openApproveModal(approveModal,item.vacationId,item.employeeId,false)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span class="ms-2">رفض</span>
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-empty-data [showEmptyData]="!vacationResponse.results?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
        </div>
    </div>
</div>

<ng-template #approveModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want approve this Vacation?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');approveVacation()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>