<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-body">
      <h5 class="mb-3 fw-bold">Hr</h5>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
      <h5 class="mb-3 fw-bold">Table</h5>
      <div class="table-responsive">
        <table class="table align-middle table-blue mb-0 table-hover">
          <thead class="table-light">
            <tr>
              <th>Table head1</th>
              <th>Table head2</th>
              <th>Table head3</th>
              <th>Table head4</th>
              <th>Table head5</th>
              <th>Table head6</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Table Cell1</td>
              <td>Table Cell2</td>
              <td>Table Cell3</td>
              <td>Table Cell4</td>
              <td>Table Cell5</td>
              <td>Table Cell6</td>
            </tr>
            <tr>
              <td>Table Cell1</td>
              <td>Table Cell2</td>
              <td>Table Cell3</td>
              <td>Table Cell4</td>
              <td>Table Cell5</td>
              <td>Table Cell6</td>
            </tr>
            <tr>
              <td>Table Cell1</td>
              <td>Table Cell2</td>
              <td>Table Cell3</td>
              <td>Table Cell4</td>
              <td>Table Cell5</td>
              <td>Table Cell6</td>
            </tr>
            <tr>
              <td>Table Cell1</td>
              <td>Table Cell2</td>
              <td>Table Cell3</td>
              <td>Table Cell4</td>
              <td>Table Cell5</td>
              <td>Table Cell6</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  