<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="boxstyle1">
        <div class="boxstyle1-header">
            <div class="boxstyle1-header-left">
                <button class="btn btn-primary" routerLink="/Inventory/newReceiveOrders">
                    <i class="fas fa-plus-circle"></i>
                    <span class="ms-2">New Receive Order</span>
                </button>
            </div>
        </div>
        <div class="boxstyle1-content hastable table-responsive table-vp-height small-scroll">
            <table class="table table-bordered table-middle table-hover m-0 bg-white bigtitle">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Total Value</th>
                        <th>Insert User</th>
                        <th>Insert Date</th>
                        <th>Is Locked</th>
                        <th>Is Cancelled</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of OrderList">
                        <td>{{item.orderNumber}}</td>
                        <td>{{item.receiveDate | date}}</td>
                        <td>{{item.totalValue}}</td>
                        <td>{{item.insertUser}}</td>
                        <td>{{item.insertDate | date}}</td>
                        <td>{{item.isLocked}}</td>
                        <td>{{item.isCancelled}}</td>
                        <td>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <!-- <button class="btn btn-danger me-2" (click)="CancelPurchaseInvoice(item.purchaseInvoiceID)">
                                    <i class="fas fa-times"></i>
                                    <span class="ms-2">الغاء</span>
                                </button> -->
                                <!-- <button class="btn btn-secondary me-2">
                                    <i class="far fa-eye"></i>
                                    <span class="ms-2">Lock Order</span>
                                </button>
                                <button class="btn btn-primary me-2">
                                    <i class="fas fa-edit"></i>
                                    <span class="ms-2">Edit</span>
                                </button> -->
                                <!-- <app-invoice-details-sidepanel [invoiceId]="item.purchaseInvoiceID"></app-invoice-details-sidepanel> -->
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <app-empty-data [showContainer]="!OrderList?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>

    </div>
</div>

<!-- <ngx-loading [show]="showLoader"></ngx-loading> -->