<!-- NEW CONTENT  -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mb-4 g-4">
    <div class="col" *ngFor="let data of overviewList">
        <app-overview-card [data]="data"></app-overview-card>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card radius-10 border-0 card-shadow h-100">
            <div class="card-header border-bottom bg-gray">
                <h5 class="mb-0 fw-bold">طلبات الأجازات</h5>
            </div>
            <div class="card-body min-height-50">
                <div class="table-responsive small-scroll overflow-auto pe-2 mh-270">
                    <table class="table table-borderless align-middle table-middle mb-2 table-hover">
                        <thead>
                            <tr>
                                <th>اسم الموظف</th>
                                <th>الموظف البديل</th>
                                <th>من تاريخ</th>
                                <th>حتى تاريخ</th>
                                <th>أخر يوم عمل</th>
                                <th>اجمالي المدة بالأيام</th>
                                <th>الحالة</th>
                                <th>المدير المباشر</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of VacationsList">
                                <td>{{item.employeeName}}</td>
                                <td>{{item.alternativeEmployeeName}}</td>
                                <td>{{item.fromDate | date}}</td>
                                <td>{{item.toDate | date}}</td>
                                <td>{{item.lastDayWork | date}}</td>
                                <td>{{item.period}}</td>
                                <td>
                                    <!-- <div appColorWithStatus status="isApproved" [text]="item.isApproved"></div> -->
                                    <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                                    </span>
                                </td>
                                <td>{{item.directManager}}</td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-pen"></i>
                                            <span>تعديل</span>
                                        </button>
                                        <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-trash-alt"></i>
                                            <span>الغاء</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card radius-10 border-0 card-shadow h-100">
            <div class="card-header border-bottom bg-gray">
                <h5 class="mb-0 fw-bold">طلبات السلف</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive small-scroll overflow-auto pe-2 mh-270">
                    <table class="table table-borderless align-middle table-middle mb-0 table-hover">
                        <thead>
                            <tr>
                                <th>اسم الموظف</th>
                                <th> تاريخ البدء</th>
                                <th> تاريخ الانتهاء</th>
                                <th>نوع الخصم</th>
                                <th>القيمة </th>
                                <th>القسط </th>
                                <th>الحالة</th>
                                <th>السبب</th>
                                <th>المدير المباشر</th>
                                <th>العمليات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of LoansList">
                                <td>{{item.employeeName}}</td>
                                <td>{{item.paymentFromDate | date}}</td>
                                <td>{{item.paymentToDate | date}}</td>
                                <td>{{item.loanTypeName}}</td>
                                <td>{{item.loanAmount}}</td>
                                <td>{{item.paymentAmount}}</td>
                                <td>
                                    <div class="status-table-ele success">{{item.isApproved}}</div>
                                    <!-- <div appColorWithStatus status="isApproved" [text]="item.isApproved"></div> -->
                                </td>
                                <td class="word-break">{{item.notes}}</td>
                                <td>
                                    <div appColorWithStatus status="entryStatus" [text]="item.directManager"></div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-pen"></i>
                                            <span>تعديل</span>
                                        </button>
                                        <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-trash-alt"></i>
                                            <span>الغاء</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>