<!-- <div class="cart-btn position-relative" (click)="OpenSidePanel(CompareSidePanel)">
    <span class="ordered-cart-number shadow">{{compareCount$ }}</span>
    <i class="fa-solid fa-code-compare"></i>
</div> -->

<a class="nav-link d-flex align-items-center position-relative py-0 fs-2 cursor-pointer h-100" (click)="OpenSidePanel(CompareSidePanel)">
    <i class="ph ph-git-diff"></i>
    <div class="circle-order-count-box">{{compareCount$ }}</div>
</a>



<ng-template #CompareSidePanel let-modal>
    <div class="modal-header modal-header-gray justify-content-between">
        <div class="fs-16 fw-semibold d-flex align-items-center gap-2 m-0">
            <i class="ph ph-git-diff fs-4"></i>
            <div>مقارنة المنتجات</div>
        </div>
        <i class="ph ph-x fs-4 cursor-pointer" (click)="modal.dismiss()"></i>
    </div>
    <div class="modal-body bg-light">
        <table *ngIf="pageResponseModel.results.length" class="table table-bordered table-light align-middle table-hover text-center m-0">
            <thead>
                <tr>
                    <th class="border bg-white text-muted fw-semibold">المعلومات</th>
                    <ng-container *ngFor="let item of pageResponseModel.results">
                        <th class="border bg-white text-muted fw-semibold">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="cursor-pointer" (click)="removeFromCompare(item)"> <i
                                        class="ph ph-x-circle text-danger fs-5"></i></span>
                                <span> {{item.nameAR ?? item.nameEN}}</span>
                                <button (click)="toggleAddToCart(item)" class="btn btn-add-compare d-flex align-items-center gap-2">
                                    <i class="ph ph-shopping-cart fs-6"></i>
                                    <div>
                                        <span *ngIf="!item.isItemInCart">أضف للعربه</span>
                                        <span *ngIf="item.isItemInCart"> حذف من العربه</span>
                                    </div>
                                </button>
                            </div>
                            <!-- <ng-container *ngIf="!item.isItemInCart">
                                <div class="d-flex align-items-center justify-content-center gap-2"
                                    (click)="addToCart(item)">
                                    <i class="ph ph-shopping-cart fs-4"></i>
                                    <div class="fw-bold">أضف للعربه</div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="item.isItemInCart">
                                <div class="d-flex align-items-center justify-content-center gap-4">
                                    <div class="count-button d-flex align-items-center gap-2">
                                        <i (click)="addToCart(item)" *ngIf="!item.isItemInCart"
                                            class="ph ph-plus cursor-pointer text-danger fw-semibold"></i>
                                        <input type="text" value="1" disabled
                                            class="form-control border text-center height-30 width-50">
                                        <i (click)="removeFromCart(item)" *ngIf="item.isItemInCart"
                                            class="ph ph-trash cursor-pointer text-danger fw-semibold"></i>
                                    </div>
                                    <div>-</div>
                                </div>
                            </ng-container> -->
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let field of dataFields">
                    <td class="bg-white text-muted fw-semibold">{{field.displayName}}</td>
                    <ng-container *ngFor="let item of pageResponseModel.results">

                        <td *ngIf="['productImage'].includes(field.fieldName)" class="bg-white">
                            <img [src]="item.imageUrl" class="more-buy-image" alt="more-buy-image" loading="lazy" />
                        </td>
                        <td *ngIf="['productName'].includes(field.fieldName)" class="bg-white fw-semibold">
                            {{item.nameAR ?? item.nameEN}}
                        </td>
                        <td *ngIf="['price'].includes(field.fieldName)" class="bg-white fw-semibold">
                            <div class="d-flex align-items-center justify-content-center gap-3">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="text-danger fw-bold fs-4">{{item.offerPrice?item.offerPrice:item.price}}
                                    </div>
                                    <img src="{{systemURL}}assets/ryal-black-icon.svg" class="ryial-img" alt="ryal-icon" loading="lazy" />
                                </div>
                                <div *ngIf="item.offerPrice" class="d-flex align-items-center gap-2 line-through">
                                    <div class="text-danger fw-bold fs-4">{{item.price}}</div>
                                    <img src="{{systemURL}}assets/ryal-gray-icon.svg" class="ryial-img" alt="ryal-icon" loading="lazy" />
                                </div>
                                <!-- <button class="btn btn-danger py-1 px-3">Sale 20%</button> -->
                            </div>
                            <!-- <div>للكيلو (عند طلب 5 طن)</div> -->
                        </td>
                        <td *ngIf="['productRate'].includes(field.fieldName)" class="bg-white fw-semibold">
                            <div class="rate-box d-inline-flex align-items-center justify-content-center gap-2">
                                <div>4.9</div>
                                <i class="ph ph-star-four star-rate-icon stared"></i>
                            </div>
                        </td>
                        <td *ngIf="['productUrl'].includes(field.fieldName)" class="bg-white fw-semibold">
                            <a routerLink="./product-details" [queryParams]="{ItemId:item?.merchantItemId}" class="text-underline">شاهد تفاصيل المنتج</a>
                        </td>
                        <td *ngIf="field.fieldName == 'supplierName'" class="bg-white fw-semibold">

                            {{item.supplierName}}
                        </td>
                        <td *ngIf="field.fieldName == 'manufacturingCountry'" class="bg-white fw-semibold">مصر</td>
                        <td *ngIf="['supplierRate'].includes(field.fieldName)" class="bg-white fw-semibold">
                            <app-rate [value]="item.supplierRate"></app-rate>
                        </td>
                        <td *ngIf="field.fieldName == 'deliveryTime'" class="bg-white fw-semibold">
                            {{item.deliveryTime}}
                        </td>
                        <td *ngIf="field.fieldName == 'dimensions'" class="bg-white fw-semibold">حجم متوسط (متوسط 250 جرام/برتقالة)
                        </td>
                        <td *ngIf="field.fieldName == 'weight'" class="bg-white fw-semibold">الوزن الصافي: 15 كيلو/صندوق
                        </td>
                        <td *ngIf="field.fieldName == 'minOrderQuantity'" class="bg-white fw-semibold">
                            {{item.minimumOrderQuantity ?? 1}}
                        </td>
                        <td *ngIf="field.fieldName == 'returnPolicy'" class="bg-white fw-semibold">متاح خلال 24 ساعة من الاستلام
                        </td>
                        <td *ngIf="field.fieldName == 'paymentMethods'" class="bg-white fw-semibold">
                            {{item.paymentMethod}}
                        </td>


                    </ng-container>
                </tr>
            </tbody>
        </table>
        <app-empty-data [showEmptyData]="!pageResponseModel.results?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
    </div>
</ng-template>