<!-- <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
    <div class="card-inner">
        <div class="card-slider">
            <a class="card-img-box d-block position-relative">
                <img [src]="item.imageUrl" alt="order-img" (error)="$event.target.src = defaultItemImage" />
                <div class="highlight-text order-highlight">
                    <h6 class="m-0">{{item.description}}</h6>
                </div>
            </a>
        </div>
        <div class="card-content mt-3">
            <div class="card-content-info d-flex mb-3">
                <div class="card-content-img">
                    <img [src]="supplierLogo" alt="restaurant-logo" />
                </div>
                <div class="me-2 w-100">
                    <div class="foods-title d-flex align-items-center justify-content-between">
                        <a class="m-0 fw-bold" style="color: black;">{{item.nameAR}}</a>
                        <div class="d-flex align-items-center">
                            <app-rate></app-rate>
                        </div>
                    </div>
                    <div class="foods-title">
                        {{item.supplierName}}
                    </div>
                </div>
            </div>
            <button [class]="item.isCompareAdded ? 'btn-delete':'btn-edit'"
                class="button-table-action  d-flex align-items-center justify-content-center gap-2"
                (click)="toggleCompare(item)">
                <i class="fa-solid fa-code-compare"></i>
                <span *ngIf="!item.isCompareAdded">مقارنة</span>
                <span *ngIf="item.isCompareAdded"> حذف المقارنة</span>
            </button>
            <div (click)="addToCart()" *ngIf="!isItemInCart" class="offer-box align-items-center text-center"
                style="height: 40px;padding-top: 10px;">
                <a class="me-2" style="color: #4caf50;">اوردر أونلاين</a>
            </div>
            <div (click)="removeItem()" *ngIf="isItemInCart" class="offer-box align-items-center text-center"
                style="height: 40px;padding-top: 10px;">
                <a class="me-2" style="color: #d14b4b;">حذف من السلة</a>
            </div>
        </div>
    </div>
</div> -->


<div class="bg-white position-relative overflow-hidden h-100" [class.is-fav]="item.isFav">
    <i class="{{ item.isFav ? 'ph-fill ph-heart' : 'ph ph-heart' }} cursor-pointer like-product-icon" (click)="item.isFav = !item.isFav" [style.color]="item.isFav ? '#86ee02d9' : ''"></i>
    <div class="main-item-card-content d-flex flex-wrap gap-3 border border-bottom-0 radius-top-10">
        <div class="d-flex flex-column align-items-center gap-2 w-100 px-3 pt-3">
            <div class="more-buy-img-box position-relative">
                <img [src]="item.imageUrl" class="more-buy-image" alt="more-buy-image" loading="lazy" />
            </div>
        </div>
        <div class="d-flex flex-column gap-3 position-relative w-100 px-3 pb-3">
            <div class="fs-16 fw-semibold">
                {{item.nameAR}}
            </div>
            <div class="d-flex align-items-center justify-content-between gap-2">
                <div class="d-flex align-items-center gap-2">
                    <i class="ph ph-link-simple text-muted"></i>
                    <a class="text-muted fw-semibold cursor-pointer">
            {{item.supplierName}}
          </a>
                </div>
                <app-rate></app-rate>
            </div>
            <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2">
                    <i class="ph ph-chart-line-down text-muted"></i>
                    <div class="d-flex align-items-center gap-1 text-muted">أقل كمية للطلب: <span class="fw-bold">3
              قطعة</span></div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-3">
                <div class="d-flex align-items-center gap-3">
                    <div class="d-flex align-items-center gap-2">
                        <div class="text-danger fw-bold fs-4">{{item.price}}</div>
                        <img src="{{systemURL}}assets/ryal-black-icon.svg" class="ryial-img" alt="ryal-icon" loading="lazy" />
                    </div>
                    <div class="d-flex align-items-center gap-2 line-through">
                        <div class="text-danger fw-bold fs-4">{{item.price + item.price*20/100}}</div>
                        <img src="{{systemURL}}assets/ryal-gray-icon.svg" class="ryial-img" alt="ryal-icon" loading="lazy" />
                    </div>
                </div>
                <button (click)="toggleCompare(item)" class="btn btn-add-compare d-flex align-items-center gap-2">
          <i class="ph ph-git-diff fs-6"></i>
          <div>
            <span *ngIf="!item.isCompareAdded">مقارنة</span>
            <span *ngIf="item.isCompareAdded"> حذف المقارنة</span>
          </div>
        </button>
            </div>
        </div>
    </div>
    <div class="main-item-card-action light-green-hover border p-3 w-100 cursor-pointer radius-bottom-10">
        <ng-container *ngIf="!isCounterMode">
            <div class="d-flex align-items-center justify-content-center gap-2" (click)="isCounterMode = true">
                <i class="ph ph-shopping-cart fs-4"></i>
                <div class="fw-bold">أضف للعربه</div>
            </div>
        </ng-container>
        <ng-container *ngIf="isCounterMode">
            <div class="d-flex align-items-center justify-content-center gap-4">
                <div class="count-button d-flex align-items-center gap-2">
                    <i (click)="addToCart()" *ngIf="!isItemInCart" class="ph ph-plus cursor-pointer text-danger fw-semibold"></i>
                    <input type="text" value="1" disabled class="form-control border text-center height-30 width-50">
                    <i (click)="removeItem(); isCounterMode = false" *ngIf="isItemInCart" class="ph ph-trash cursor-pointer text-danger fw-semibold"></i>
                </div>
                <div>-</div>
                <!-- <div class="count-button d-flex align-items-center gap-2">
          <i (click)="addQuantity(1)" class="ph ph-plus cursor-pointer text-danger fw-semibold"></i>
          <input type="text" disabled [(ngModel)]="itemQuantity"
            class="form-control border text-center height-30 width-50">
          <i (click)="addQuantity(-1)" class="ph ph-minus cursor-pointer text-danger fw-semibold"></i>
        </div> -->
            </div>
        </ng-container>


    </div>
</div>