<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div
        class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-outline-primary d-flex align-items-center gap-2 border rounded px-3"
                (click)="openNewItemSidePanel(AddNewItemDialog)">
                <i class="fas fa-plus-circle"></i>
                <span>إنشاء صنف</span>
            </button>
            <button [disabled]="showExportLoader"
                class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3" (click)="exportData()">
                <i class="fas fa-file-download"></i>
                <span>تصدير</span>
            </button>
            <app-upload-importer-file 
            [importerName]="importerName"
            [useTemplateSP]="true"
            [useExternalService]="true"
            (uploadedFile)="importerFileChanged($event)">
            </app-upload-importer-file> 
            <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-filter"></i>
                <span>إنشاء فلتر</span>
            </button>
        </div>
        <div class="justify-content-end">
            <app-pagination (pageChanged)="pageChanged($event)" [currentPage]="itemResponseModel.currentPage"
                [pageSize]="itemResponseModel.pageSize" [totalCount]="itemResponseModel.totalCount"></app-pagination>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="card-body table-responsive p-0">
            <div class="row">
                <div class="col-md-2">
                    <div class="table-responsive shadow-sm radius-10">
                        <table
                            class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">

                            <thead>
                                <tr>
                                    <th class="cursor-pointer" title="reset" (click)="filterCategory(0)">
                                        <i class="fas fa-history  main-color me-2"></i> المجموعات
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cursor-pointer" (click)="filterCategory(0)"
                                        [class]="selectedCategoryId == 0 ? 'bg-secondary':''">
                                        كل الاصناف
                                    </td>
                                </tr>
                                <tr *ngFor="let cat of categoriesData">
                                    <td class="cursor-pointer" (click)="filterCategory(cat.value)"
                                        [class]="cat.value == selectedCategoryId ? 'bg-secondary':''">
                                        {{cat.name}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="table-responsive shadow-sm radius-10">
                        <table
                            class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                            <thead>
                                <tr>
                                    <th>الصنف</th>
                                    <th>الوحدة</th>
                                    <th>سعر الوحدة</th>
                                    <th>سعر العرض</th>
                                    <th>سعر 10 الوحدة</th>
                                    <th>سعر 100 الوحدة</th>
                                    <th>سعر 1000 الوحدة</th>
                                    <th>الكميه</th>
                                    <th>أقل كميه للطلب</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of itemResponseModel.results">
                                    <td>
                                        <div class="file-table-ele d-flex align-items-center gap-3">
                                            <div class="file-table-ele-icon warning">
                                                <i *ngIf="!item.imageUrl" class="far fa-file-pdf"></i>
                                                <img *ngIf="item.imageUrl" [src]="item.imageUrl">
                                            </div>
                                            <div class="file-table-ele-text">
                                                <div class="fw-bold fs-5">{{item.nameAR}}</div>
                                                <div class="text-muted fs-6">{{item.nameEN}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.unitName}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.offerPrice}}</td>
                                    <td>{{item.price10}}</td>
                                    <td>{{item.price100}}</td>
                                    <td>{{item.price1000}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.minimumOrderQuantity}}</td>
                                    <td class="text-center">
                                        <div class="d-flex align-items-center gap-2">
                                            <label class="switch me-2">
                                                <input type="checkbox" [(ngModel)]="item.isActive"
                                                    (change)="changeItemStatus(item.supplierItemId)"
                                                    class="ng-valid ng-dirty ng-touched">
                                                <span class="slider round"></span>
                                            </label>
                                            <button
                                                class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2"
                                                (click)="openNewItemSidePanel(AddNewItemDialog,item)">
                                                <i class="uil uil-pen"></i>
                                                <span>تعديل</span>
                                            </button>
                                            <button
                                                class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2"
                                                (click)="openDeleteModal(deleteModal,item.supplierItemId)">
                                                <i class="uil uil-trash-alt"></i>
                                                <span>حذف</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <app-empty-data [showEmptyData]="!itemResponseModel.results?.length&&!showLoader"
                            [showLoader]="showLoader"></app-empty-data>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #AddNewItemDialog let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h2 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
            <span *ngIf="!isUpdate" class="ms-3">(إنشاء)</span>
            <span *ngIf="isUpdate" class="ms-3">(تعديل)</span>
        </h2>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">الاسم</td>
                        <td class="table-value">
                            <!-- <input type="text" class="form-control form-control-lg" placeholder="أدخل الاسم..."> -->
                            <div class="row">
                                <div class="col-xl-6">
                                    <input type="text" formControlName="nameAR" class="form-control form-control-lg"
                                        placeholder="الاسم عربي">
                                    <div *ngIf="formErrors.nameAR" class="text-danger  font-small-3 m-03">
                                        {{formErrors.nameAR}}
                                    </div>
                                </div>
                                <div class="col-xl-6"><input type="text" formControlName="nameEN"
                                        class="form-control form-control-lg" placeholder="الاسم انجليزي">
                                    <div *ngIf="formErrors.nameEN" class="text-danger  font-small-3 m-03">
                                        {{formErrors.nameEN}}
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">التكلفة</td>
                        <td class="table-value">
                            <input type="text" formControlName="price" class="form-control form-control-lg"
                                placeholder="التكلفة">
                            <div *ngIf="formErrors.price" class="text-danger  font-small-3 m-03">
                                {{formErrors.price}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">سعر العرض</td>
                        <td class="table-value">
                            <input type="text" formControlName="offerPrice" class="form-control form-control-lg"
                                placeholder="سعر العرض">
                            <div *ngIf="formErrors.offerPrice" class="text-danger  font-small-3 m-03">
                                {{formErrors.offerPrice}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">التكلفة 10</td>
                        <td class="table-value">
                            <input type="text" formControlName="price10" class="form-control form-control-lg"
                                placeholder="التكلفة 10">
                            <div *ngIf="formErrors.price10" class="text-danger  font-small-3 m-03">
                                {{formErrors.price10}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">التكلفة 100</td>
                        <td class="table-value">
                            <input type="text" formControlName="price100" class="form-control form-control-lg"
                                placeholder="التكلفة 100">
                            <div *ngIf="formErrors.price100" class="text-danger  font-small-3 m-03">
                                {{formErrors.price100}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">التكلفة 1000</td>
                        <td class="table-value">
                            <input type="text" formControlName="price1000" class="form-control form-control-lg"
                                placeholder="التكلفة 1000">
                            <div *ngIf="formErrors.price1000" class="text-danger  font-small-3 m-03">
                                {{formErrors.price1000}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">Quantity</td>
                        <td class="table-value">
                            <input type="text" formControlName="quantity" class="form-control form-control-lg"
                                placeholder="Quantity">
                            <div *ngIf="formErrors.quantity" class="text-danger  font-small-3 m-03">
                                {{formErrors.quantity}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">Minimum Order Quantity</td>
                        <td class="table-value">
                            <input type="text" formControlName="minimumOrderQuantity" class="form-control form-control-lg"
                                placeholder="Minimum Order Quantity">
                            <div *ngIf="formErrors.minimumOrderQuantity" class="text-danger  font-small-3 m-03">
                                {{formErrors.minimumOrderQuantity}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">Quantity</td>
                        <td class="table-value">
                            <input type="text" formControlName="quantity" class="form-control form-control-lg"
                                placeholder="Quantity">
                            <div *ngIf="formErrors.quantity" class="text-danger  font-small-3 m-03">
                                {{formErrors.quantity}}
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="table-feature">الوحدة</td>
                        <td class="table-value">
                            <div class="row">
                                <div class="col-xl-12">
                                    <app-drop-down-form-control formControlName="unitId" [placeholder]="'الوحدة'"
                                        [showSearch]="true" [data]="unitsSelectorData"></app-drop-down-form-control>
                                    <div *ngIf="formErrors.unitId" class="text-danger  font-small-3 m-03">
                                        {{formErrors.unitId}}
                                    </div>

                                </div>

                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">فئة الصنف</td>
                        <td class="table-value">
                            <app-drop-down-form-control formControlName="itemCategoryId" [placeholder]="'فئة الصنف'"
                                [showSearch]="true" [data]="itemCategoriesSelectorData"></app-drop-down-form-control>
                            <div *ngIf="formErrors.itemCategoryId" class="text-danger  font-small-3 m-03">
                                {{formErrors.itemCategoryId}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">صورة</td>
                        <td class="table-value">

                            <div class="form-floating mb-3">
                                <input formControlName="image" (change)="onFileChange($event)" type="file"
                                    class="cursor-pointer" placeholder="الصورة الشخصية">

                                <div *ngIf="formErrors.image" class="text-danger  font-small-3 m-03">
                                    {{formErrors.image}}
                                </div>
                            </div>



                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button [disabled]="showAddLoader" (click)="saveItem()" type="button"
            class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100">
            <i class="uil uil-save fs-3"></i>
            <span *ngIf="!isUpdate">إنشاء</span>
            <span *ngIf="isUpdate">تعديل</span> </button>

        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>


<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحذف ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteItem()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>