  <div class="tasty-offers">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h3 class="m-0">عروض شهية</h3>
        <a class="main-color cursor-pointer">
          <span class="ms-1">رؤية الكل</span>
          <i class="fas fa-caret-left"></i>
        </a>
      </div>

      <swiper class="big-carousel-swiper" [slidesPerView]="4" [spaceBetween]="10" [navigation]="true"
        [pagination]="{ clickable: true }" [slidesPerGroup]="4" [breakpoints]="{
            '0': {
              slidesPerView: 1
            },
            '575': {
              slidesPerView: 1
            },
            '767': {
              slidesPerView: 2
            },
            '1024': {
              slidesPerView: 3
            },
            '1200': {
              slidesPerView: 4
            }
          }">
        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage1.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage2.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage1.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage2.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage1.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage2.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage1.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage2.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage1.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage2.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage1.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage2.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage1.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img src="../../../../../assets/images/homePage2.jpeg" alt="order-img" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">Hello</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img
                      src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Thumbnail/979d7ddd-cc99-42dd-98fe-db186bbff711.jpg"
                      alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">sdasdasda</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">Hello again</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </swiper>


    </div>
  </div>