<!-- أقوي العروض -->
<section class="strong-offer-section">
  <div class="carousel-title d-flex align-items-center gap-2 position-relative mb-3">
    <img src="{{systemURL}}assets/strong-offet-icon.svg" class="header-offer-icon" alt="offer-icon" loading="lazy" />
    <div class="fw-semibold fs-18">أقوي العروض</div>
  </div>
  <swiper class="big-offer-carousel medium-carousel-swiper navigator-with-head h-auto" [slidesPerView]="1"
    [spaceBetween]="20" [navigation]="true" [pagination]="false" [slidesPerGroup]="1"
    [autoplay]="{ delay: 4000, disableOnInteraction: false }" [loop]="true" [breakpoints]="{
            '0': {
              slidesPerView: 1
            },
            '575': {
              slidesPerView: 2
            },
            '767': {
              slidesPerView: 2
            },
            '1024': {
              slidesPerView: 2
            },
            '1200': {
              slidesPerView: 2
            }
          }">
    <ng-container *ngFor="let promo of promotionItems">

      <ng-template swiperSlide>
        <img [src]="promo.imageURL" alt="offer-image" (error)="$event.target.src = defaultItemImage"
          class="offer-carousel-image" loading="lazy" />
      </ng-template>
    </ng-container>
  </swiper>
</section>


<!-- <div class="tasty-offers" *ngIf="promotionItems?.length  >0">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h3 class="m-0">عروض</h3>
      <a class="main-color cursor-pointer">
        <span class="ms-1">رؤية الكل</span>
        <i class="fas fa-caret-left"></i>
      </a>
    </div>

    <swiper class="big-carousel-swiper" [slidesPerView]="4" [spaceBetween]="10" [navigation]="true"
      [pagination]="{ clickable: true }" [slidesPerGroup]="4" [breakpoints]="{
            '0': {
              slidesPerView: 1
            },
            '575': {
              slidesPerView: 1
            },
            '767': {
              slidesPerView: 2
            },
            '1024': {
              slidesPerView: 3
            },
            '1200': {
              slidesPerView: 4
            }
          }">

      <ng-container *ngFor="let promo of promotionItems">
        <ng-template swiperSlide>
          <div class="resturant-card px-2 pt-3 pb-4 mb-4 cursor-pointer">
            <div class="order-card-img position-relative">
              <img [src]="promo.imageURL" alt="order-img" (error)="$event.target.src = defaultItemImage" />
              <div class="highlight-text order-highlight">
                <h6 class="m-0">{{promo.description}}</h6>
              </div>
            </div>
            <div class="card-content position-relative px-3">
              <div class="bg-white border-radius w-100 shadow-sm p-2 mt--20">
                <div class="card-content-info d-flex align-items-center">
                  <div class="card-content-img">
                    <img [src]="supplierLogo" alt="order-logo" />
                  </div>
                  <div class="me-3 w-100">
                    <div class="foods-title m-0">
                      <h6 class="m-0 fw-bold">{{promo.nameAR}}</h6>
                    </div>
                  </div>
                </div>
                <div class="offer-box d-flex align-items-center shadow-sm">
                  <span class="me-2">{{promo.title}}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </swiper>


  </div>
</div> -->