<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div
        class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">

                <!-- <button [disabled]="showExportLoader" (click)="exportData()"
                    class="btn  btn-outline-success d-flex align-items-center gap-2 border rounded px-3">
                    <i class="fas fa-file-download"></i>
                    <span>تصدير CSV</span>
                </button>
                <div ngbDropdown class="d-inline-block">
                    <button type="button"
                        class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3"
                        id="dropdownBasic1" ngbDropdownToggle>
                        <i class="fas fa-cogs"></i>
                        <span>الإجراءات</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded">
                        <button ngbDropdownItem class="d-flex align-items-center gap-2" (click)="cancel()">
                            <i class="fas fa-trash-alt"></i>
                            <i class="fas fa-times"></i>
                            <span class="px-2"> إسقاط</span>
                        </button>
                        
                    </div>
                </div> -->
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage"
                [pageSize]="pagedResponseModel.pageSize"
                [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
        </div>



        <div class="col-md-12 mt-3">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-erp-filters (filterChanged)="filterChecked($event)"
                        [searchPlaceholder]="'البحث  ...'"></app-erp-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0 ">
                <thead class="table-light">

                    <tr>
                        <th>اسم الموظف</th>
                        <th>الفرع</th>
                        <th>الوظيفة</th>
                        <th> من تاريخ</th>
                        <th>الي تاريخ</th>
                        <th>تاريخ التنفيذ</th>
                        <th>نوع المستحقات</th>
                        <th>مستحقات الاجازه</th>
                        <th>مستحقات نهاية الخدمه</th>
                        <th>راتب الشهر</th>
                        <th>المنزل</th>
                        <th>السلف</th>
                        <th>اجمالي المستحقات</th>
                        <th>الحالة</th>

                        <th>العمليات</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>{{item.employeeNameAR ?? item.employeeNameEN}}</td>
                        <td>{{item.branchNameAR ?? item.branchNameEN}}</td>
                        <td>{{item.jobNameAR ?? item.jobNameEN}}</td>
                        <td>{{item.joinDate| date}}</td>
                        <td>{{item.lastJoinDate| date}}</td>
                        <td>{{item.executionDate | date}}</td>
                        <td>{{item.dueTypeNameAR ?? item.dueTypeNameEN}}</td>
                        <td>{{item.vacationDues}}</td>
                        <td>{{item.endOfServiceDues}}</td>
                        <td>{{item.salaryDues}}</td>
                        <td>{{item.homeAllowance}}</td>
                        <td>{{item.advances}}</td>
                        <td>{{item.totalDuesAmount}}</td>
                        <td>
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN"
                                [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <td>

                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem
                                            (click)="openDeleteModal(deleteModal,item.employeeDueId)">
                                            <!-- <i class="uil uil-trash-alt"></i> -->
                                            اسقاط
                                        </button>
                                        <button *ngIf="item.employeeDueId && item.workflowStatusId ==wfStatus.Approved"
                                            ngbDropdownItem routerLink="/general-accounts/create-payment-order"
                                            [queryParams]="{EmployeeDueId:item.employeeDueId}">انشاء أمر
                                            صرف
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length || showLoader">
                        <td colspan="14" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length&&!showLoader"
                                [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>


<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">رسالة تأكيد</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد من الالغاء ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteEmployeeDues()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">عودة</span>
        </button>
    </div>
</ng-template>


<ngx-loading [show]="showLoader"></ngx-loading>