<app-header (toggler)="onToggler()"></app-header>
<main id="app">
    <div class="app-content">
        <!-- <app-sidebar [toggler]="toggler"></app-sidebar> -->


        <aside id="main_sidebar" class="main-sidebar" [ngClass]="{'toggled': toggler}">
            <ul class="nav list-unstyled flex-column p-0 m-0 small-scroll overflow-auto h-100 flex-column flex-nowrap">
                <div class="nalika-profile"
                    style="padding-top: 5px; padding-bottom: 5px; position: relative;z-index: 99999;background: #9f2316;color: white;">

                    <a class="nav-link cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        routerLink="/" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-setting nav-icon" style="font-size: 25px; color: white;"></i>
                            <span class="nav-link-text item-sidebar fw-bold main-nav-link ms-3"
                                style="color: white; font-size: 14px;">لوحة
                                التحكم</span>
                        </div>
                    </a>
                </div>

                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active"
                        (click)="toggleMenu(menu_users)"
                        [ngClass]="{'active': menu_users.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">المستخدمين</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu_users>
                        
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./system-users" routerLinkActive="active">
                                <div class="nav-text d-flex align-items-center w-100">
                                    <i class="uil uil-users-alt nav-icon"></i>
                                    <span class="nav-link-text item-sidebar main-nav-link ms-3">قائمة المستخدمين</span>
                                </div>
                            </a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./roles" routerLinkActive="active">
                                <div class="nav-text d-flex align-items-center w-100">
                                    <i class="uil uil-users-alt nav-icon"></i>
                                    <span class="nav-link-text item-sidebar main-nav-link ms-3">قائمة الصلاحيات</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu_MainSettings)"
                        [ngClass]="{'active': menu_MainSettings.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">البيانات الاساسية</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu_MainSettings>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="/generalAccounts/currency" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">الشركة</span>
                            </a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </aside>





        <div class="main-content" [ngClass]="{'toggled': toggler}">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>