<div class="employee-card card radius-10 border-0 card-shadow mb-4">
  <div class="card-body">
    <div class="employee-card-header d-flex align-items-center flex-wrap mb-5">
      <div class="employee-image mb-2 me-4">
        <img src="../../../../assets/images/default-image.png" class="emp-img" alt="default-image" loading="lazy" />
      </div>
      <div class="employee-info">
        <h3 class="mb-2 d-flex align-items-center">
          <span class="fw-bold me-2">حازم بكرى</span>
          <span class="tag active fs-6 rounded shadow-sm px-2 py-1">نشيط</span>
        </h3>
        <div class="d-flex align-items-center fs-5 mb-1">
          <i class="uil uil-postcard main-color"></i>
          <span class="ms-2">المدير العام</span>
        </div>
        <div class="d-flex align-items-center fs-6">
          <i class="uil uil-map-marker main-color"></i>
          <span class="ms-2">القاهرة</span>
        </div>
      </div>
    </div>
    <div class="employee-card-tabs d-flex bg-light border border-bottom-0 mb-5">
      <div class="employee-tab-item" [class.active]="active === 1" (click)="onActive(1)">
        <i class="uil uil-user"></i>
        <span>Tab 1</span>
      </div>
      <div class="employee-tab-item" [class.active]="active === 2" (click)="onActive(2)">
        <i class="uil uil-user"></i>
        <span>Tab 2</span>
      </div>
      <div class="employee-tab-item" [class.active]="active === 3" (click)="onActive(3)">
        <i class="uil uil-user"></i>
        <span>Tab 3</span>
      </div>
      <div class="employee-tab-item" [class.active]="active === 4" (click)="onActive(4)">
        <i class="uil uil-user"></i>
        <span>Tab 4</span>
      </div>
      <div class="employee-tab-item" [class.active]="active === 5" (click)="onActive(5)">
        <i class="uil uil-user"></i>
        <span>Tab 5</span>
      </div>
    </div>
    <div class="employee-card-tabs-content">
      <ng-container>
        <div class="employee-card-body row">
          <div class="col-xl-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="any">
              <label for="floatingInput">النص التعريفى هنا</label>
            </div>
          </div>
          <div class="col-xl-1"></div>
          <div class="col-xl-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="any">
              <label for="floatingInput">النص التعريفى هنا</label>
            </div>
          </div>

          <div class="col-xl-5">
            <select class="form-control mb-3 py-3">
              <option value="0" selected disabled>اختر من فضلك</option>
              <option value="1">اختيار 1</option>
              <option value="2">اختيار 2</option>
              <option value="3">اختيار 3</option>
            </select>
          </div>
          <div class="col-xl-1"></div>
          <div class="col-xl-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="any">
              <label for="floatingInput">النص التعريفى هنا</label>
            </div>
          </div>

          <div class="col-xl-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="any">
              <label for="floatingInput">النص التعريفى هنا</label>
            </div>
          </div>
          <div class="col-xl-1"></div>
          <div class="col-xl-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="any">
              <label for="floatingInput">النص التعريفى هنا</label>
            </div>
          </div>

          <div class="col-xl-5">
            <select class="form-control mb-3 py-3">
              <option value="0" selected disabled>اختر من فضلك</option>
              <option value="1">اختيار 1</option>
              <option value="2">اختيار 2</option>
              <option value="3">اختيار 3</option>
            </select>
          </div>
          <div class="col-xl-1"></div>
          <div class="col-xl-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="any">
              <label for="floatingInput">النص التعريفى هنا</label>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>