.input-drop-action {
    position: absolute;
    top: 50%;
    left: 8px;
    font-size: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.dropdown-menu-search-input {
    border-radius: 8px;
    outline: 0;
    border: none;
    box-shadow: 0 0 0 2px #7c7c7c40 !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.table-actions {
    border-color: transparent;
}

.table-actions th {
    background-color: #f3f3f3;
    color: #7c7c7c;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.table-actions th:first-child {
    border-top-right-radius: 10px;
    border-right: none;
}

.table-actions th:last-child {
    border-top-left-radius: 10px;
}

.table-actions th:last-child {
    border-left: none;
}

.table-actions th,
td {
    border-color: #ededed !important;
}

.table-action-img {
    height: 45px;
}

.table-actions .row-hover:hover>* {
    background-color: #f7f7f7;
}