<div class="d-flex flex-column gap-5">
    <section class="general-accounts-section d-flex flex-column gap-4">
        <header class="section-header d-flex flex-column gap-2">
            <h2 class="section-title m-0">الموارد البشرية</h2>
            <!-- <span class="text-muted">٢٥/٤/٢٠٢٥ . الاحد</span> -->
        </header>

        <section class="welcome-section d-flex flex-column bg-light radius-10 ap-2 shadow-sm p-3">
            <!-- <h3 class="fw-bolder m-0">Welcome back, Abd Elrahman – Here’s your Business Operations Hub 👋</h3> -->
            <div class="d-flex algin-items-center flex-wrap gap-2">
                <div class="d-flex algin-items-center flex-wrap gap-2">
                    <div>لديك 24 أجازة اليوم يرجى تغغير حالاتهم and <a class="text-underline-none text-danger cursor-pointer">2
                            pending alerts</a> that need your attention.</div>
                    <a class="text-primary cursor-pointer">View Alerts</a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                <div class="text-muted">April 19,2025 . Sunday </div>
                <!-- <div ngbDropdown class="nw-dropdown" display="dynamic">
                    <button type="button" class="btn bg-white rounded d-flex align-items-center justify-content-between gap-2" ngbDropdownToggle>
                        <span>This Month</span>
                        <i class="fa-solid fa-chevron-down dropdown-arrow fs-13"></i>
                    </button>
                    <div class="border shadow-lg" ngbDropdownMenu aria-labelledby="product-month">
                        <button class="dropdown-item cursor-pointer">January</button>
                        <button class="dropdown-item cursor-pointer">March</button>
                        <button class="dropdown-item cursor-pointer">April</button>
                        <button class="dropdown-item cursor-pointer">October</button>
                    </div>
                </div> -->
            </div>
        </section>

        <div class="section-content">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 g-4">
                <div class="col">
                    <div routerLink="/hr/employees" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer  hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-file-edit-alt"></i>
                        </div>
                        <div class="column-card-title">بيانات الموظفين</div>
                        <div class="column-card-description text-muted">إدارة وتعديل بيانات الموظفين
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/vacations" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer  hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-plus"></i>
                        </div>
                        <div class="column-card-title">الأجازات</div>
                        <div class="column-card-description text-muted">إدارة وتعديل الأجازات</div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/penalty" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer  hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-exchange"></i>
                        </div>
                        <div class="column-card-title">الجزاءات</div>
                        <div class="column-card-description text-muted">إدارة وتعديل الجزاءات</div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/loans" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-pound-circle"></i>
                        </div>
                        <div class="column-card-title">سلف الموظفين</div>
                        <div class="column-card-description text-muted">إدارة وتعديل سلف الموظفين
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/attendance-report" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-money-withdraw"></i>
                        </div>
                        <div class="column-card-title">الحضور والانصراف</div>
                        <div class="column-card-description text-muted">متابعة الحضور والانصراف
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div routerLink="/hr/employees" routerLinkActive="active" class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100 cursor-pointer hovered">
                        <div class="column-card-icon">
                            <i class="uil uil-usd-circle"></i>
                        </div>
                        <div class="column-card-title">Payroll</div>
                        <div class="column-card-description text-muted">احتساب رواتب الموظفين</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="general-accounts-section d-flex flex-column gap-4">
        <header class="section-header d-flex align-items-center justify-content-between flex-wrap gap-2">
            <h2 class="section-title m-0">احصائيات الموارد البشرية</h2>
        </header>
        <div class="section-content">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col">
                    <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                        <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                            <div class="d-flex flex-column gap-2">
                                <div class="column-card-title">إجمالى الإقامات المنتهية</div>
                                <!-- <div class="column-card-description text-muted">إجمالي العمليات اليومية</div> -->
                            </div>
                            <div class="column-card-icon">
                                <i class="uil uil-university"></i>
                            </div>
                        </header>
                        <div class="light-purple-content d-flex flex-column gap-3 w-100">
                            <div class="light-purple-content-item">
                                <div class="fw-bold text-danger">{{HRStatistics?.iqamaExpireTotal}} إقامة</div>
                                <!-- <div class="text-success">١٢٪ أعلى من الأمس</div> -->
                            </div>
                            <!-- <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                <div>
                                    <div class="text-muted">إجمالي الإيرادات</div>
                                    <div class="fw-bold">١٨,٥٠٠ ر.س</div>
                                </div>
                                <div>
                                    <div class="text-muted">إجمالي المصروفات</div>
                                    <div class="fw-bold">٧,٢٠٠ ر.س</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                        <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                            <div class="d-flex flex-column gap-2">
                                <div class="column-card-title">إجمالى العقود المتهية</div>
                                <!-- <div class="column-card-description text-muted">إجمالي الإيرادات اليومية</div> -->
                            </div>
                            <div class="column-card-icon">
                                <i class="uil uil-money-insert"></i>
                            </div>
                        </header>
                        <div class="light-purple-content d-flex flex-column gap-3 w-100">
                            <div class="light-purple-content-item">
                                <div class="fw-bold text-danger">{{HRStatistics?.contractExpireTotal}} عقد</div>
                                <!-- <div class="text-success">١٢٪ أعلى من الأمس</div> -->
                            </div>
                            <!-- <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                <div>
                                    <div class="text-muted">عدد العمليات</div>
                                    <div class="fw-bold">٢٢ عملية</div>
                                </div>
                                <div>
                                    <div class="text-muted">متوسط القيمة</div>
                                    <div class="fw-bold">٨٤٠ ر.س</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                        <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                            <div class="d-flex flex-column gap-2">
                                <div class="column-card-title">إجمالى الرخص المنتهية</div>
                                <!-- <div class="column-card-description text-muted">إجمالي المصروفات اليومية</div> -->
                            </div>
                            <div class="column-card-icon">
                                <i class="uil uil-money-stack"></i>
                            </div>
                        </header>
                        <div class="light-purple-content d-flex flex-column gap-3 w-100">
                            <div class="light-purple-content-item">
                                <div class="fw-bold text-danger">{{HRStatistics?.licenseExpireTotal}} رخصة</div>

                                <!-- <div class="text-danger fw-bold">{{HRStatistics.licenseExpireTotal}}</div>
                                <div class="text-muted fw-bold"></div> -->
                            </div>
                            <!-- <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                <div>
                                    <div class="text-muted">عدد العمليات</div>
                                    <div class="fw-bold">٢٢ عملية</div>
                                </div>
                                <div>
                                    <div class="text-muted">متوسط القيمة</div>
                                    <div class="fw-bold">{{HRStatistics.licenseExpireTotal}}</div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="general-accounts-section d-flex flex-column gap-4">
        <header class="section-header">
            <h2 class="section-title m-0">الإيرادات الشهرية</h2>
        </header>
        <div class="section-content">
            <div style="width: 100%; height: 100%;" #chartBox>
                <google-chart [type]="columnChartType" [columns]="columnChartNames" [data]="columnChartData" [options]="columnChartOptions" [width]="columnChartWidth" [height]="columnChartHeight">
                </google-chart>
            </div>
        </div>
    </section>
</div>