<button class="btn btn-secondary" (click)="OpenSidePanel(InvoiceDetailsSidepanel)">
    <i class="far fa-eye"></i>
    <span class="ms-2">تفاصيل</span>
</button>

<ng-template #InvoiceDetailsSidepanel let-offcanvas >
    <div class="m-1">

        <div class="offcanvas-header pb-0" style="z-index: 9999;">
            <div>
                <h4 class="offcanvas-title m-0 d-flex align-items-center w-100"><i
                        class="fas fa-history fa-2x main-color me-2"></i> التفاصيل</h4>
            </div>
            <button type="button" class="btn bg-danger text-white rounded" aria-label="Close" (click)="offcanvas.dismiss()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="offcanvas-sub-header m-3" >
            <div>
                <!-- <h5 class="offcanvas-sub-header m-0 d-flex align-items-center w-100">التفاصيل</h5> -->
                <h5 class="m-0"> رقم الفاتورة : {{invoiceData?.invoiceNumber}}</h5>
                <h5 class="m-0"> تاريخ الفاتورة : {{invoiceData?.invoiceDate| date}}</h5>
                <h5 class="m-0"> اسم المورد : {{invoiceData?.supplierNameAR}}<span *ngIf="invoiceData"> - </span>{{invoiceData?.supplierNameEN}}</h5>
                <h5 class="m-0"> قيمة الفاتورة : {{invoiceData?.invoiceTotalValue}}</h5>

            </div>
        </div>
        <div class="offcanvas-body pt-0">

           
            <div class="z2-boxstyle1-content hastable table-responsive table-vp-height small-scroll">
                <table class="table table-bordered table-responsive table-middle table-hover m-0 bg-white bigtitle">
                    <thead>
                        <tr>
                            <th>Item Name AR</th>
                            <th>Item Name EN</th>
                            <th>Item Price</th>
                            <th>Quantity</th>
                            <th>Total Value</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoiceData?.items">
                            <td>{{item.itemNameAR}}</td>
                            <td>{{item.itemNameEN}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.itemTotalValue }}</td>
                            
                        </tr>
                    </tbody>

                </table>
            </div>
            <app-empty-data [showContainer]="!invoiceData?.items?.length&&!showLoader"></app-empty-data>
        </div>
    </div>

</ng-template>