<aside class="nw-sidebar-wrapper" [class.is-toggle]="isToggle">
  <button class="sidebar-button-collapser" (click)="onToggleSidebar()">
    <i class="uil uil-angle-left"></i>
  </button>

  <div class="p-2">
    <div class="sidebar-scrolling small-scroll d-flex flex-column gap-4">
      <section class="d-flex flex-column gap-4">
        <h4 class="nw-sidebar-title mb-0">الحسابات العامة</h4>
        <ul class="nw-sidebar-list list-unstyled p-0 m-0 d-flex flex-column gap-3">
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3 active">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-coins"></i>
              </div>
              <div class="nw-sidebar-text">العمليات المالية</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-file-circle-exclamation"></i>
              </div>
              <div class="nw-sidebar-text">الادلة</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-file-invoice-dollar"></i>
              </div>
              <div class="nw-sidebar-text">تقارير مالية</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-file-invoice"></i>
              </div>
              <div class="nw-sidebar-text">الحسابات الختامية</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-toilet-paper"></i>
              </div>
              <div class="nw-sidebar-text">تقارير مراكز التكلفة</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-people-group"></i>
              </div>
              <div class="nw-sidebar-text">العملاء</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-gear"></i>
              </div>
              <div class="nw-sidebar-text">التهيئة والاعدادات</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-gears"></i>
              </div>
              <div class="nw-sidebar-text">إعدادات النظام</div>
            </a>
          </li>
        </ul>
      </section>

      <section class="d-flex flex-column gap-4">
        <h4 class="nw-sidebar-title mb-0">التقارير</h4>
        <ul class="nw-sidebar-list list-unstyled p-0 m-0 d-flex flex-column gap-3">
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-user-gear"></i>
              </div>
              <div class="nw-sidebar-text">إعدادات الحساب</div>
            </a>
          </li>
          <li class="nw-sidebar-item">
            <a class="nw-sidebar-link d-flex align-items-center gap-3">
              <div class="nw-sidebar-icon">
                <i class="fa-solid fa-gears"></i>
              </div>
              <div class="nw-sidebar-text">إعدادات النظام</div>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</aside>