<div class="erp-home-wrapper">
    <div class="container-fluid width-90-per position-relative zindex-2 py-3">
        <header class="module-header rounded shadow-lg d-flex align-items-center mb-4">
            <div class="half-content">
                <div class="row gy-2">
                    <div class="col-lg-11">
                        <div class="horizontal-line w-100 h-100 d-flex align-items-center justify-content-center justify-content-lg-start text-white ps-0 ps-lg-4">
                            <div>
                                <h2 class="with-bullets d-flex align-items-center">
                                    <div class="module-header-icon me-2">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                    <div>مرحبا
                                        <span class="username-title text-white text-uppercase fw-bold ms-2">{{UserModel?.fullName}}</span>
                                    </div>
                                </h2>
                                <h4 class="with-bullets">
                                    <div class="module-header-icon me-2">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div>
                                        <!-- <span>{{UserModel?.roles[0]}}</span> -->
                                        <span>{{UserModel?.subscriberName}}</span>
                                        <!-- <span class="mx-2">/</span>
                                        <span>{{UserModel?.branchNameEN}}</span> -->
                                    </div>
                                </h4>
                                <h6 class="with-bullets">
                                    <div class="module-header-icon me-2">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div>{{time | date}}</div>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 d-flex justify-content-center justify-content-lg-end">
                        <div class="summary-circle-date shadow-sm">
                            <span>{{clock}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{{systemURL}}assets/images/svg-banner.svg" class="image-banner" loading="lazy" alt="" />
        </header>

        <section class="erp-home-products">

            <div class="card radius-10 border shadow-sm mb-4">
                <div class="card-body pt-3">
                    <div class="d-flex align-items-center mb-3 gap-3 pb-3 border-bottom">
                        <div class="title-with-img">
                            <img src="{{systemURL}}assets/images/select-product.png" class="title-imaged" loading="lazy" alt="" />
                        </div>
                        <h4 class="fw-bold m-0">اختر نظام</h4>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-6 gy-4">


                        <div class="col" routerLink="general-accounts">
                            <div class="erp-prod-item prod-orange box-hover cursor-pointer">
                                <div class="d-flex flex-column align-items-center justify-content-between">
                                    <div class="erp-prod-icon shadow-sm erp-icon-orange">
                                        <img src="{{systemURL}}assets/images/call-center.png" class="product-img" loading="lazy" alt="" />
                                    </div>
                                    <div class="erp-prod-text prod-text-orange fw-bold fs-5">الحسابات العامة</div>
                                </div>
                            </div>
                        </div>
                        <div class="col" routerLink="hr">
                            <div class="erp-prod-item prod-purple box-hover cursor-pointer">
                                <div class="d-flex flex-column align-items-center justify-content-between">
                                    <div class="erp-prod-icon shadow-sm erp-icon-purple">
                                        <img src="{{systemURL}}assets/images/hr.png" class="product-img" loading="lazy" alt="" />
                                    </div>
                                    <div class="erp-prod-text prod-text-purple fw-bold fs-5">الموارد البشرية</div>
                                </div>
                            </div>
                        </div>
                        <div class="col" routerLink="inventory">
                            <div class="erp-prod-item prod-blue box-hover cursor-pointer">
                                <div class="d-flex flex-column align-items-center justify-content-between">
                                    <div class="erp-prod-icon shadow-sm erp-icon-blue">
                                        <img src="{{systemURL}}assets/images/stock.png" class="product-img" loading="lazy" alt="" />
                                    </div>
                                    <div class="erp-prod-text prod-text-blue fw-bold fs-5">المخازن</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col" routerLink="purchases">
                            <div class="erp-prod-item prod-gray box-hover cursor-pointer">
                                <div class="d-flex flex-column align-items-center justify-content-between">
                                    <div class="erp-prod-icon shadow-sm erp-icon-gray">
                                        <img src="{{systemURL}}assets/images/pay-payment.png" class="product-img" loading="lazy" alt="" />
                                    </div>
                                    <div class="erp-prod-text prod-text-gray fw-bold fs-5">المشتريات</div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col" routerLink="sales">
                            <div class="erp-prod-item prod-red box-hover cursor-pointer">
                                <div class="d-flex flex-column align-items-center justify-content-between">
                                    <div class="erp-prod-icon shadow-sm erp-icon-red">
                                        <img src="{{systemURL}}assets/images/pay-payment.png" class="product-img" loading="lazy" alt="" />
                                    </div>
                                    <div class="erp-prod-text prod-text-red fw-bold fs-5">التقارير</div>
                                </div>
                            </div>
                        </div>



                        <div class="col" routerLink="system-settings">
                            <div class="erp-prod-item prod-green box-hover cursor-pointer">
                                <div class="d-flex flex-column align-items-center justify-content-between">
                                    <div class="erp-prod-icon shadow-sm erp-icon-green">
                                        <img src="{{systemURL}}assets/images/settings.png" class="product-img" loading="lazy" alt="" />
                                    </div>
                                    <div class="erp-prod-text prod-text-green fw-bold fs-5">إعدادات النظام</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col" routerLink="design">
                            <div class="erp-prod-item prod-yellow box-hover cursor-pointer">
                                <div class="d-flex flex-column align-items-center justify-content-between">
                                    <div class="erp-prod-icon shadow-sm erp-icon-yellow">
                                        <img src="{{systemURL}}assets/images/settings.png" class="product-img"
                                            loading="lazy" alt="" />
                                    </div>
                                    <div class="erp-prod-text prod-text-yellow fw-bold fs-5">Design</div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<!-- <app-header [showToggler]="false"></app-header>
<main id="app">
    <div class="app-content">
        <div class="products-home-wrapper">
            <div class="products-home-wrapper_banner">
                <div class="half-banner top-half-banner vh-50">
                    <div class="container position-relative zindex-2">
                        <h1 class="text-uppercase d-flex align-items-center">
                            <div class="rounded-img-wrapper">
                                <img src="{{systemURL}}assets/images/server.png" class="product-img-logo" loading="lazy" alt="" />
                            </div>
                            <div *ngIf="Lang == 'en'" class="ms-3 border-white">Welcome <span class="prod-title position-relative">
                                    {{UserModel?.fullName}}
                                </span>
                            </div>
                            <div *ngIf="Lang == 'ar'" class="ms-3 border-white">مرحبا <span class="prod-title position-relative">
                                    {{UserModel?.fullName}}
                                </span>
                            </div>
                        </h1>

                        <h3 class="mb-2 d-flex align-items-center" style="padding-left: 110px;">
                            <div class="ms-3 border-white">
                                <span class="position-relative fw-bold">
                                   شركة مطاعم مشوار
                                </span>
                            </div>
                        </h3>

                        <h4 class="mb-2 d-flex align-items-center" style="padding-left: 110px;">
                            <div *ngIf="Lang == 'en'" class="ms-3 border-white">
                                Branch :
                                <span class="position-relative">
                                    
                                </span> -

                                <span class="position-relative">
                                    {{UserModel?.roles[0]}}
                                </span>
                            </div>
                            <div *ngIf="Lang == 'ar'" class="ms-3 border-white">
                                <span class="position-relative">
                                    
                                </span>
                            </div>
                        </h4>

                        <div class="separate-line position-relative mb-7">
                            <hr class="separate-dashed-border">
                        </div>
                    </div>
                </div>
                <div class="half-banner bottom-half-banner vh-50 ">
                    <div class="container">
                        <h3 class="d-flex align-items-center">
                            <img src="{{systemURL}}assets//images/select-product.png" class="select-prod-logo" loading="lazy" alt="" />
                            <div class="select-prod-title fw-bold ms-3">{{Lang == 'en' ? 'Select a Product' : 'اختر منتج'}}
                            </div>
                        </h3>
                        <div class="product-carousel">
                            <swiper [slidesPerView]="1" [spaceBetween]="30" [navigation]="true" [breakpoints]="breakpoints">
                                <ng-template *ngFor="let item of customerApplications" swiperSlide>
                                    <div class="product-box" (click)="GoToProductModule(item)">
                                        <div class="product-box-img">
                                            <img src={{item.icon}} class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3">{{Lang == 'en' ? item.applicationName :
                                            item.applicationName }}
                                        </div>
                                    </div>
                                </ng-template>


                                <ng-template swiperSlide>
                                    <div class="product-box" routerLink="hr" routerLinkActive="router-link-active">
                                        <div class="product-box-img">
                                            <img src="{{systemURL}}assets/images/hr.png" class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3"> الموارد البشرية </div>
                                    </div>
                                </ng-template>

                                <ng-template swiperSlide>
                                    <div class="product-box" routerLink="purchases" routerLinkActive="router-link-active">
                                        <div class="product-box-img">
                                            <img src="{{systemURL}}assets/images/pay-payment.png" class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3"> المشتريات </div>
                                    </div>
                                </ng-template>

                                <ng-template swiperSlide>
                                    <div class="product-box" routerLink="sales" routerLinkActive="router-link-active">
                                        <div class="product-box-img">
                                            <img src="{{systemURL}}assets/images/pay-payment.png" class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3"> المبيعات </div>
                                    </div>
                                </ng-template>

                                <ng-template swiperSlide>
                                    <div class="product-box" routerLink="general-accounts" routerLinkActive="router-link-active">
                                        <div class="product-box-img">
                                            <img src="{{systemURL}}assets/images/call-center.png" class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3 text-nowrap"> الحسابات العامة </div>
                                    </div>
                                </ng-template>

                                <ng-template swiperSlide>
                                    <div class="product-box" routerLink="inventory" routerLinkActive="router-link-active">
                                        <div class="product-box-img">
                                            <img src="{{systemURL}}assets/images/stock.png" class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3"> المخازن </div>
                                    </div>
                                </ng-template>
                                <ng-template swiperSlide>
                                    <div class="product-box" routerLink="system-settings" routerLinkActive="router-link-active">
                                        <div class="product-box-img">
                                            <img src="{{systemURL}}assets/images/settings.png" class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3 text-nowrap"> إعدادات النظام </div>
                                    </div>
                                </ng-template>

                                <ng-template swiperSlide>
                                    <div class="product-box" routerLink="design" routerLinkActive="router-link-active">
                                        <div class="product-box-img">
                                            <img src="{{systemURL}}assets/images/settings.png" class="product-img" loading="lazy" alt="" />
                                        </div>
                                        <div class="product-name fw-bold mt-3 text-nowrap"> System Settings </div>
                                    </div>
                                </ng-template>
                            </swiper>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        
    </div>
</main> -->