<!-- <img src="{{systemUrl}}assets/logo2.png" alt="logo" loading="lazy" class="logo-image">

<li class="nav-item">
    <a class="nav-link justify-content-center justify-content-md-start" routerLink="/admin/home">
        <img src="{{systemUrl}}assets/settings.svg" class="nw-header-icon-link-img" alt="SettingsImage" loading="lazy" />
    </a>
</li> -->




<!-- Start New Header -->
<nav class="navbar navbar-expand-lg bg-nw-header new-rounded-header p-0">
    <div class="container-fluid">
        <a class="navbar-brand cursor-pointer me-5">
            <img src="{{systemUrl}}assets/logo2.png" class="logo-image" alt="logo" loading="lazy" />
        </a>
        <button class="navbar-toggler hamburger hamburger--elastic rounded-1 main-bgcolor my-2" [class.is-active]="!collapsed" type="button" aria-controls="navbar-content" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        <div class="collapse navbar-collapse" [class.collapse]="collapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                <li class="nav-item">
                    <a class="nav-link justify-content-md-start" routerLink="/home">
                        <img src="{{systemUrl}}assets/home.svg" class="nw-header-icon-link-img" alt="Home" loading="lazy" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link gap-2">
                        <img src="{{systemUrl}}assets/date.svg" class="nw-header-icon-link-img max-width-30" alt="Current Date" loading="lazy" />
                        <span class="nav-link-text">{{ CurrentDate | date }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link gap-2">
                        <img src="{{systemUrl}}assets/time.svg" class="nw-header-icon-link-img max-width-30" alt="Current Time" loading="lazy" />
                        <span class="nav-link-text">{{CurrentTime}}</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link gap-2">
                        <img src="{{systemUrl}}assets/branch.svg" class="nw-header-icon-link-img max-width-30" alt="LanguageImage" loading="lazy" />
                        <span class="nav-link-text">{{this.UserModel?.branchNameAR}}</span>
                    </a>
                </li> -->
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
                <li class="nav-item">
                    <a class="nav-link gap-2" routerLink="/">
                        <img src="{{systemUrl}}assets/lang.svg" class="nw-header-icon-link-img" alt="Website Home" loading="lazy" />
                        <!-- <span class="nav-link-text">Ar</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link justify-content-md-start" routerLink="/admin/home">
                        <img src="{{systemUrl}}assets/settings.svg" class="nw-header-icon-link-img" alt="SettingsImage" loading="lazy" />
                    </a>
                </li>
                <li ngbDropdown class="nav-item nw-dropdown" display="dynamic">
                    <a class="nav-link d-flex align-items-center gap-2 with-no-arrow" ngbDropdownToggle>
                        <img src="{{systemUrl}}assets/user.svg" class="nw-header-icon-link-img" class="nw-user-img-header" alt="UserImage" loading="lazy" />
                        <span>{{ this.UserModel?.fullName}}</span>
                        <i class="fa-solid fa-chevron-down dropdown-arrow fs-13"></i>
                    </a>
                    <ul class="border shadow-lg animated-dropdown-menu" ngbDropdownMenu aria-labelledby="user-settings">
                        <li><a class="dropdown-item cursor-pointer" (click)="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End New Header -->