<div class="p-4 gradient-nw-wrraper-bg">

    <app-header></app-header>

    <!-- <div class="container-fluid width-90-per position-relative zindex-2 py-3">
        <header class="module-header rounded shadow-lg d-flex align-items-center mb-4">
            <div class="half-content">
                <div class="row gy-2">
                    <div class="col-lg-11">
                        <div class="horizontal-line w-100 h-100 d-flex align-items-center justify-content-center justify-content-lg-start text-white ps-0 ps-lg-4">
                            <div>
                                <h2 class="with-bullets d-flex align-items-center">
                                    <div class="module-header-icon ms-2">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                    <div> <span class="username-title text-white text-uppercase fw-bold ms-2">{{loggedInUser?.fullName}}</span>
                                    </div>
                                </h2>
                                <h4 class="with-bullets">
                                    <div class="module-header-icon ms-2 me-2">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div>
                                        <span>{{loggedInUser?.subscriberName}}</span>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 d-flex justify-content-center justify-content-lg-end">
                        <div class="summary-circle-date shadow-sm">
                            <span>{{clock}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="pos-home-products">
            <div class="card radius-10 lighter-bg-white border-0 shadow-sm mb-4">
                <div class="card-body pt-3">
                    <div class="d-flex align-items-center mb-3 gap-3 pb-3 border-bottom">
                        <div class="title-with-img">
                            <img src="../../../../../assets/select-product.png" class="title-imaged" loading="lazy" alt="" />
                        </div>
                        <h4 class="fw-bold m-0">لوحة التحكم</h4>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gy-4">
                        <div class="col" routerLink="/">
                            <div class="bg-white radius-20 p-3 shadow-sm h-100 module-box new-delivery-order-box">
                                <div class="title">Place Order</div>
                                <div class="icon">
                                    <i class="ph ph-first-aid"></i>
                                </div>
                                <div class="button btn btn-primary-clr">عودة للموقع</div>
                            </div>
                        </div>
                        <div class="col" routerLink="/purchases/dashboard">
                            <div class="bg-white radius-20 p-3 shadow-sm h-100 module-box customers-box">
                                <div class="title">Purchases</div>
                                <div class="icon">
                                    <i class="ph ph-user-circle-gear"></i>
                                </div>
                                <div class="button btn btn-light-green-clr">إدارة المشتريات</div>
                            </div>
                        </div>
                        <div class="col" routerLink="/sales/dashboard">
                            <div class="bg-white radius-20 p-3 shadow-sm h-100 module-box customers-box">
                                <div class="title">Sales</div>
                                <div class="icon">
                                    <i class="ph ph-user-circle-gear"></i>
                                </div>
                                <div class="button btn btn-light-green-clr">إدارة المبيعات</div>
                            </div>
                        </div>
                        <div class="col" routerLink="/reports">
                            <div class="bg-white radius-20 p-3 shadow-sm h-100 module-box delivery-orders-box">
                                <div class="title">Reports</div>
                                <div class="icon">
                                    <i class="ph ph-chart-line"></i>
                                </div>
                                <div class="button btn btn-purple-clr">التقارير</div>
                            </div>
                        </div>
                        <div class="col" routerLink="/general-settings">
                            <div class="bg-white radius-20 p-3 shadow-sm h-100 module-box delivery-reports-box">
                                <div class="title">Setup / Configuration</div>
                                <div class="icon">
                                    <i class="ph ph-gear"></i>
                                </div>
                                <div class="button btn btn-red-clr">التهيئة والإعدادات</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->


    <aside id="main-sidebar" class="p-3 mt-3">
        <div class="d-flex justify-content-center p-3 border-bottom">
            <img src="../../../../../assets/images/av-7.png" class="tour-logo-image" loading="lazy" alt="tour-package" />
        </div>

        <ul class="list-unstyled sidebar-list d-flex flex-column gap-2 m-0 overflow-auto">
            <li class="tour-package-item">
                <a class="sidebar-link d-flex align-items-center gap-3" routerLink="/home">
                    <i class="fa-th-large fas"></i>
                    <span class="sidebar-link-text"> لوحة التحكم </span>
                </a>
            </li>
            <li class="tour-package-item">
                <a class="sidebar-link d-flex align-items-center gap-3" routerLink="/">
                    <i class="ph ph-shopping-cart"></i>
                    <span class="sidebar-link-text"> تصفح الموقع </span>
                </a>
            </li>
            <li class="tour-package-item">
                <a class="sidebar-link d-flex align-items-center gap-3" routerLink="./../user-profile">
                    <i class="ph ph-user"></i>
                    <span class="sidebar-link-text"> الحساب الشخصى </span>
                </a>
            </li>
            <!-- <li class="tour-package-item">
                <a class="sidebar-link d-flex align-items-center gap-3" routerLink="/admin/home">
                    <i class="ph ph-gear-six"></i>
                    <span class="sidebar-link-text">الإعدادات</span>
                </a>
            </li> -->
        </ul>
    </aside>

    <div class="main-general-account-content p-3" style="margin-right: 270px;">

        <div class="page-header p-3">
            <h4>Welcome back, Hazem 👋</h4>
            <p>Here’s what’s happening in your store today.</p>
        </div>

        <div class="row mt-3">
            <div class="col-md-3 mb-2">
                <div class="module-card card p-4 text-center bg-light">
                    <i class="fa-solid fa-cart-shopping fa-2x mb-2 text-primary"></i>
                    <h4 class="fw-bold mb-0">طلباتى</h4>
                    <p class="text-muted small mb-2">متابعة وإدارة الطلبات التى تمت من خلالنا</p>
                    <a routerLink="/purchases/dashboard" class="stretched-link small fw-semibold text-primary">Go to Sales</a>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="module-card card p-4 text-center  bg-light">
                    <i class="fa-solid fa-truck-fast fa-2x mb-2 text-success"></i>
                    <h4 class="fw-bold mb-0">قسم المشتريات</h4>
                    <p class="text-muted small mb-2">إدارة طلبات الشراء المطلوب توريدها</p>
                    <a routerLink="/sales/dashboard" class="stretched-link small fw-semibold text-success">Go to Purchases</a>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="module-card card p-4 text-center  bg-light">
                    <i class="fa-solid fa-warehouse fa-2x mb-2 text-warning"></i>
                    <h4 class="fw-bold mb-0">إدارة المخازن</h4>
                    <p class="text-muted small mb-2">إضافة وتعديل الأصناف الخاصة بى</p>
                    <a routerLink="/inventory/dashboard" class="stretched-link small fw-semibold text-warning">Go to Inventory</a>
                </div>
            </div>
            <!-- <div class="col-md-4 mb-2">
                <div class="module-card card p-4 text-center  bg-light">
                    <i class="fa-solid fa-comments fa-2x mb-2 text-info"></i>
                    <h4 class="fw-bold mb-0">Conversations</h4>
                    <p class="text-muted small mb-2">Stay in touch with clients</p>
                    <a href="#" class="stretched-link small fw-semibold text-info">View Messages</a>
                </div>
            </div> -->
            <div class="col-md-3 mb-2">
                <div class="module-card card p-4 text-center bg-light">
                    <i class="fa-solid fa-sliders fa-2x mb-2 text-secondary"></i>
                    <h4 class="fw-bold mb-0">التهيئة والإعدادات</h4>
                    <p class="text-muted small mb-2">ضبط التهئية والإعدادات </p>
                    <a routerLink="/general-settings" class="stretched-link small fw-semibold text-secondary">Open Settings</a>
                </div>
            </div>
            <!-- <div class="col-md-4 mb-2">
                <div class="module-card card p-4 text-center bg-light">
                    <i class="fa-solid fa-diagram-project fa-2x mb-2 text-danger"></i>
                    <h4 class="fw-bold mb-0">Projects</h4>
                    <p class="text-muted small mb-2">Track your current initiatives</p>
                    <a href="#" class="stretched-link small fw-semibold text-danger">View Projects</a>
                </div>
            </div> -->
        </div>

        <div class="row mt-3">
            <div class="col-xl-6">
                <div class="card card-shadow border-0 h-100 overflow-hidden card-radius">
                    <div class="card-header bg-transparent py-4 border-bottom">
                        <h3>أخر الأنشطة</h3>
                    </div>
                    <div class="card-body h-100 small-scroll px-3 overflow-auto d-flex flex-column gap-3 justify-content-between">
                        <div class="d-flex flex-column gap-3">
                            <div class="activity-item d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-column gap-1">
                                    <div class="fw-semibold">Van Lam</div>
                                    <div class="status-badge-position">Product Manager</div>
                                </div>
                                <div class="status-badge d-flex align-items-center justify-content-center gap-1 pending">
                                    <i class="ph ph-seal-question"></i>
                                    <span>Pending</span>
                                </div>
                            </div>
                            <div class="activity-item d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-column gap-1">
                                    <div class="fw-semibold">John Doe</div>
                                    <div class="status-badge-position">General Manager</div>
                                </div>
                                <div class="status-badge d-flex align-items-center justify-content-center gap-1 approved">
                                    <i class="ph ph-seal-check"></i>
                                    <span>Approved</span>
                                </div>
                            </div>
                            <div class="activity-item d-flex align-items-center justify-content-between">
                                <div class="d-flex flex-column gap-1">
                                    <div class="fw-semibold">Sarah Djan</div>
                                    <div class="status-badge-position">CO Manager</div>
                                </div>
                                <div class="status-badge d-flex align-items-center justify-content-center gap-1 rejected">
                                    <i class="ph ph-seal-warning"></i>
                                    <span>Rejected</span>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-white justify-content-center">
                            <span>See All</span>
                            <i class="ph ph-caret-right"></i>
                        </button>
                    </div>
                </div>
            </div>


            <div class="col-xl-6">
                <div class="card card-shadow border-0 h-100 overflow-hidden card-radius">
                    <div class="card-header bg-transparent py-4 border-bottom">
                        <h3>حالة الطلبات</h3>
                    </div>
                    <div class="card-body h-100 small-scroll px-3 overflow-auto d-flex flex-column gap-3 justify-content-between">
                        <div class="d-flex flex-column gap-3">
                            <div class="project-card">
                                <strong>Website Redesign</strong>
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-info" style="width: 60%"></div>
                                </div>
                                <small>60% completed</small>
                            </div>

                            <div class="project-card">
                                <strong>New Mobile App</strong>
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-success" style="width: 80%"></div>
                                </div>
                                <small>80% completed</small>
                            </div>

                            <div class="project-card">
                                <strong>Marketing Campaign</strong>
                                <div class="progress mt-2">
                                    <div class="progress-bar bg-warning" style="width: 45%"></div>
                                </div>
                                <small>45% completed</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>