<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">دفتر الاستاذ العام - مراكز التكلفة
    </div>
    <div class="inputs-sec-content px-3 py-2">
        <app-accounts-report-search (searchDataChanged)="searchDataChanged($event)" [isParent]="true" [showCostCenter]="true"></app-accounts-report-search>
        <div class="row">

            <div class="col-lg-4  mb-3">
                <label class="form-label d-flex align-items-center gap-2">
                    اخفاء الحسابات بدون رصيد
                </label>
                <input class="big-checkbox" [(ngModel)]="ledgersResponse.hideEmptyAccounts" type="checkbox">

            </div>
        </div>
    </div>

    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-top mb-2">
        <button class="btn btn-primary me-2" (click)="loadData()">
            <i class="fas fa-search"></i>
            <span class="ms-2">بحث</span>
        </button>
        <button [disabled]="showExportLoader" (click)="exportData()" class="btn  btn-outline-success gap-2 border rounded px-3 me-2">
            <i class="fas fa-file-download"></i>
            <span>تصدير CSV</span>
        </button>
        <button (click)="printData()" class="btn btn-table-action  gap-2 border rounded px-3 me-2">
            <i class="fas fa-print fs-7"></i>
            <span>طباعة</span>
        </button>
        <!-- <button class="btn btn-secondary me-2" (click)="printData()">
            <i class="fas fa-print"></i>
            <span class="ms-2">طباعة</span>
        </button> -->
    </div>
</div>

<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">
        مراكز التكلفة

    </div>
    <!-- <div class="px-3 py-2 mb-2">

        <app-pagination (pageChanged)="pageChanged($event)" [currentPage]="ledgersResponse.currentPage"
            [pageSize]="ledgersResponse.pageSize" [totalCount]="ledgersResponse.totalCount"></app-pagination>
    </div> -->


    <div class="table-responsive shadow-sm radius-10  small-scroll">
        <table class="table table-card-table table-bordered border table-middle table-hover bg-transparent m-0">

            <thead>
                <tr>
                    <th rowspan="2">الكود</th>
                    <th rowspan="2">مركز التكلفة</th>
                    <th colspan="2">رصيد ماقبل</th>
                    <th colspan="2">الحركه</th>
                    <th colspan="2">الاجمالى</th>
                    <th colspan="2">الرصيد</th>
                </tr>
                <tr>
                    <th>مدين</th>
                    <th>دائن</th>
                    <th>مدين</th>
                    <th>دائن</th>
                    <th>مدين</th>
                    <th>دائن</th>
                    <th>مدين</th>
                    <th>دائن</th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let item of ledgersResponse.results" class="row-hover">
                    <td>{{item.costCenterNumber}}</td>
                    <td style="width: 300px;">{{item.costCenterNameAR ?? item.costCenterNameEN}}</td>
                    <td>{{item.preDebit}}</td>
                    <td>{{item.preCredit}}</td>
                    <td>{{item.debit}}</td>
                    <td>{{item.credit}}</td>
                    <td>{{item.totalDebit}}</td>
                    <td>{{item.totalCredit}}</td>
                    <td>{{item.balanceDebit}}</td>
                    <td>{{item.balanceCredit}}</td>
                </tr>
                <tr *ngIf="!ledgersResponse.results.length">
                    <td colspan="10" class="text-right">
                        <app-empty-data [showEmptyData]="!ledgersResponse.results.length"></app-empty-data>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <ng-container *ngIf="totalDebit !=null &&totalCredit !=null">
        <hr />
        <div class="row justify-content-end m-3">
            <div class="col-md-2">
                <label class="form-label d-flex align-items-center gap-2">
                    أجمالي دائن
                </label>
                <input type="text" class="form-control nw-form-input" [value]="totalCredit" disabled autocomplete="off" />
            </div>
            <div class="col-md-2">
                <label class="form-label d-flex align-items-center gap-2">
                    أجمالي مدين
                </label>
                <input type="text" class="form-control nw-form-input" [value]="totalDebit" disabled autocomplete="off" />
            </div>
        </div>
        <!-- <div class="row justify-content-end mb-3">

    </div> -->

    </ng-container>
</div>