<div class="p-4 gradient-nw-wrraper-bg">
    <div class="container-fluid width-90-per">

        <app-header></app-header>
        <main class="main-design-wrapper pt-3">
            <div class="d-flex">
                <erp-sidebar id="nw-sidebar" (sidebarEvent)="onToggleContent()" [isToggle]="isToggle"></erp-sidebar>
                <div class="main-general-account-content py-3">
                    <div class="d-flex flex-column gap-5">
                        <section class="general-accounts-section d-flex flex-column gap-4">
                            <header class="section-header d-flex flex-column gap-2">
                                <h2 class="section-title m-0">الموارد البشرية</h2>
                                <span class="text-muted">٢٥/٤/٢٠٢٥ . الاحد</span>
                            </header>
                            <div class="section-content">
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 g-4">
                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100">
                                            <div class="column-card-icon">
                                                <i class="uil uil-file-edit-alt"></i>
                                            </div>
                                            <div class="column-card-title">بيانات الموظفين</div>
                                            <div class="column-card-description text-muted">إدارة وتعديل بيانات الموظفين
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100">
                                            <div class="column-card-icon">
                                                <i class="uil uil-plus"></i>
                                            </div>
                                            <div class="column-card-title">الأجازات</div>
                                            <div class="column-card-description text-muted">إدارة وتعديل الأجازات</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100">
                                            <div class="column-card-icon">
                                                <i class="uil uil-exchange"></i>
                                            </div>
                                            <div class="column-card-title">الجزاءات</div>
                                            <div class="column-card-description text-muted">إدارة وتعديل الجزاءات</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100">
                                            <div class="column-card-icon">
                                                <i class="uil uil-pound-circle"></i>
                                            </div>
                                            <div class="column-card-title">سلف الموظفين</div>
                                            <div class="column-card-description text-muted">إدارة وتعديل سلف الموظفين
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100">
                                            <div class="column-card-icon">
                                                <i class="uil uil-money-withdraw"></i>
                                            </div>
                                            <div class="column-card-title">الحضور والانصراف</div>
                                            <div class="column-card-description text-muted">متابعة الحضور والانصراف
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 text-center h-100">
                                            <div class="column-card-icon">
                                                <i class="uil uil-usd-circle"></i>
                                            </div>
                                            <div class="column-card-title">Payroll</div>
                                            <div class="column-card-description text-muted">احتساب رواتب الموظفين</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="general-accounts-section d-flex flex-column gap-4">
                            <header class="section-header d-flex align-items-center justify-content-between flex-wrap gap-2">
                                <h2 class="section-title m-0">احصائيات الموارد البشرية</h2>
                            </header>
                            <div class="section-content">
                                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                                            <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                                                <div class="d-flex flex-column gap-2">
                                                    <div class="column-card-title">العمليات المالية</div>
                                                    <div class="column-card-description text-muted">إجمالي العمليات اليومية
                                                    </div>
                                                </div>
                                                <div class="column-card-icon">
                                                    <i class="uil uil-university"></i>
                                                </div>
                                            </header>
                                            <div class="light-purple-content d-flex flex-column gap-3 w-100">
                                                <div class="light-purple-content-item">
                                                    <div class="fw-bold">٣٥ عملية</div>
                                                    <div class="text-success">١٢٪ أعلى من الأمس</div>
                                                </div>
                                                <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                                    <div>
                                                        <div class="text-muted">إجمالي الإيرادات</div>
                                                        <div class="fw-bold">١٨,٥٠٠ ر.س</div>
                                                    </div>
                                                    <div>
                                                        <div class="text-muted">إجمالي المصروفات</div>
                                                        <div class="fw-bold">٧,٢٠٠ ر.س</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                                            <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                                                <div class="d-flex flex-column gap-2">
                                                    <div class="column-card-title">الإيرادات</div>
                                                    <div class="column-card-description text-muted">إجمالي الإيرادات اليومية
                                                    </div>
                                                </div>
                                                <div class="column-card-icon">
                                                    <i class="uil uil-money-insert"></i>
                                                </div>
                                            </header>
                                            <div class="light-purple-content d-flex flex-column gap-3 w-100">
                                                <div class="light-purple-content-item">
                                                    <div class="fw-bold">١٨,٥٠٠ ر.س</div>
                                                    <div class="text-success">١٢٪ أعلى من الأمس</div>
                                                </div>
                                                <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                                    <div>
                                                        <div class="text-muted">عدد العمليات</div>
                                                        <div class="fw-bold">٢٢ عملية</div>
                                                    </div>
                                                    <div>
                                                        <div class="text-muted">متوسط القيمة</div>
                                                        <div class="fw-bold">٨٤٠ ر.س</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col">
                                        <div class="bg-white shadow-sm column-card d-flex flex-column align-items-center gap-3 h-100">
                                            <header class="d-flex align-items-center justify-content-between gap-2 w-100 light-purple-header">
                                                <div class="d-flex flex-column gap-2">
                                                    <div class="column-card-title">المصروفات</div>
                                                    <div class="column-card-description text-muted">إجمالي المصروفات اليومية
                                                    </div>
                                                </div>
                                                <div class="column-card-icon">
                                                    <i class="uil uil-money-stack"></i>
                                                </div>
                                            </header>
                                            <div class="light-purple-content d-flex flex-column gap-3 w-100">
                                                <div class="light-purple-content-item">
                                                    <div class="fw-bold">٧,٢٠٠ ر.س</div>
                                                    <div class="text-danger">٥٪ أقل من الأمس</div>
                                                </div>
                                                <div class="light-purple-content-item d-flex justify-content-between gap-2 flex-wrap">
                                                    <div>
                                                        <div class="text-muted">عدد العمليات</div>
                                                        <div class="fw-bold">٢٢ عملية</div>
                                                    </div>
                                                    <div>
                                                        <div class="text-muted">متوسط القيمة</div>
                                                        <div class="fw-bold">٨٤٠ ر.س</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="general-accounts-section d-flex flex-column gap-4">
                            <header class="section-header">
                                <h2 class="section-title m-0">الإيرادات الشهرية</h2>
                            </header>
                            <div class="section-content">
                                <div style="width: 100%; height: 100%;" #chartBox>
                                    <google-chart [type]="columnChartType" [columns]="columnChartNames" [data]="columnChartData" [options]="columnChartOptions" [width]="columnChartWidth" [height]="columnChartHeight">
                                    </google-chart>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="overlaying-element" class="cursor-pointer" [class.show]="isToggle" (click)="onOverlayClicked()">
            </div>
        </main>

    </div>
</div>








<!-- <app-header (toggler)="onToggler()"></app-header>
<main id="app">
    <div class="app-content">

        <aside id="main_sidebar" class="main-sidebar" [ngClass]="{'toggled': toggler}">
            <ul class="nav list-unstyled flex-column p-0 m-0 small-scroll overflow-auto h-100 flex-column flex-nowrap">
                <div class="nalika-profile" style="background: #16487ad9;color: white;">
                    <a class="nav-link cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" routerLink="/" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-home nav-icon" style="font-size: 20px; color: white;"></i>
                            <span class="nav-link-text item-sidebar fw-bold main-nav-link ms-3" style="color: white; font-size: 14px;">الرئيسية
                                </span>
                        </div>
                    </a>
                </div>
                <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-database nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الموارد البشرية</span>
                    </div>
                </a>
                <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu1>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./employees" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-users-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">بيانات الموظفين</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./vacations" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-check nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./over-time" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-presentation-plus nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">ساعات العمل الاضافية</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./penalty" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-minus nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الجزاءات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./sick-leaves" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-nurse nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات المرضية</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./careers" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-transaction nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الترقيات والتنقلات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./deducts" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-pricetag-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الخصم</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./loans" routerLinkActive="active" class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-money-insert nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./loans-payments" routerLinkActive="active" class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-money-insert nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">أقساط السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./attendance" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-file-check-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الحضور والانصراف</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./salary" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-dollar-sign-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">رواتب الموظفين</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-database nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">التقارير</span>
                    </div>
                </a>
                <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu1>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./employees-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير بيانات الموظفين</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./iqama-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير انتهاء الإقامة</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./loans-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./payroll-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">Payroll Report</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </ul>
        </aside>





        <div class="main-content" [ngClass]="{'toggled': toggler}">
            <router-outlet></router-outlet>
        </div>
    </div>
</main> -->