<div class="p-4 gradient-nw-wrraper-bg">
    <div class="container-fluid width-90-per">
        <app-header></app-header>

        <main class="main-design-wrapper pt-3">
            <div class="d-flex">
                <!-- <erp-sidebar id="nw-sidebar" (sidebarEvent)="onToggleContent()" [isToggle]="isToggle"></erp-sidebar> -->

                <aside class="nw-sidebar-wrapper" [class.is-toggle]="isToggle">
                    <button class="sidebar-button-collapser" (click)="onToggleContent()">
                        <i class="uil uil-angle-left"></i>
                    </button>

                    <div class="p-2">
                        <div class="sidebar-scrolling small-scroll d-flex flex-column gap-4 nw-sidebar-height">
                            <section class="d-flex flex-column gap-4">
                                <h4 routerLink="./home" routerLinkActive="active"
                                    class="nw-sidebar-title cursor-pointer mb-0">
                                    الموارد البشرية
                                </h4>
                                <ul class="nw-sidebar-list list-unstyled p-0 m-0 d-flex flex-column gap-3">
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./home" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="fas fa-th-large"></i>
                                            </div>
                                            <div class="nw-sidebar-text">لوحة التحكم</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./employees" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-users-alt"></i>
                                            </div>
                                            <div class="nw-sidebar-text">بيانات الموظفين</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./vacations" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-user-check"></i>
                                            </div>
                                            <div class="nw-sidebar-text">الاجازات</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./over-time" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-presentation-plus"></i>
                                            </div>
                                            <div class="nw-sidebar-text">ساعات العمل الاضافية</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./penalty" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-user-minus "></i>
                                            </div>
                                            <div class="nw-sidebar-text">الجزاءات</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./sick-leaves" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-user-nurse"></i>
                                            </div>
                                            <div class="nw-sidebar-text">الاجازات المرضية</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./careers" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-transaction "></i>
                                            </div>
                                            <div class="nw-sidebar-text">الترقيات والتنقلات</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./deducts" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-pricetag-alt "></i>
                                            </div>
                                            <div class="nw-sidebar-text">الخصم</div>
                                        </a>
                                    </li>

                                    <li class="nw-sidebar-item">
                                        <a routerLink="./advances" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-money-insert "></i>
                                            </div>
                                            <div class="nw-sidebar-text">السلف</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./advances-payments" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-money-insert"></i>
                                            </div>
                                            <div class="nw-sidebar-text">أقساط السلف</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./attendance-report" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-file-check-alt"></i>
                                            </div>
                                            <div class="nw-sidebar-text">الحضور والانصراف</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./salary" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-dollar-sign-alt"></i>
                                            </div>
                                            <div class="nw-sidebar-text">رواتب الموظفين</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./employee-dues" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-dollar-sign-alt"></i>
                                            </div>
                                            <div class="nw-sidebar-text">مستحقات الموظفين</div>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                            <section class="d-flex flex-column gap-4">
                                <h4 routerLink="./home" routerLinkActive="active"
                                    class="nw-sidebar-title cursor-pointer mb-0">
                                    التقارير
                                </h4>
                                <ul class="nw-sidebar-list list-unstyled p-0 m-0 d-flex flex-column gap-3">
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./employees-report" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-chart-growth"></i>
                                            </div>
                                            <div class="nw-sidebar-text">تقرير بيانات الموظفين</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./iqama-report" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-chart-growth"></i>
                                            </div>
                                            <div class="nw-sidebar-text">تقرير انتهاء الإقامة</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./advances-report" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-chart-growth"></i>
                                            </div>
                                            <div class="nw-sidebar-text">تقرير السلف</div>
                                        </a>
                                    </li>
                                    <li class="nw-sidebar-item">
                                        <a routerLink="./payroll-report" routerLinkActive="active"
                                            class="nw-sidebar-link d-flex align-items-center gap-3">
                                            <div class="nw-sidebar-icon">
                                                <i class="uil uil-chart-growth"></i>
                                            </div>
                                            <div class="nw-sidebar-text">Payroll Report</div>
                                        </a>
                                    </li>

                                </ul>
                            </section>
                        </div>
                    </div>
                </aside>


                <div class="main-general-account-content py-3">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <div id="overlaying-element" class="cursor-pointer" [class.show]="isToggle" (click)="onOverlayClicked()">
            </div>
        </main>

    </div>
</div>








<!-- <app-header (toggler)="onToggler()"></app-header>
<main id="app">
    <div class="app-content">

        <aside id="main_sidebar" class="main-sidebar" [ngClass]="{'toggled': toggler}">
            <ul class="nav list-unstyled flex-column p-0 m-0 small-scroll overflow-auto h-100 flex-column flex-nowrap">
                <div class="nalika-profile" style="background: #16487ad9;color: white;">
                    <a class="nav-link cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" routerLink="/" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-home nav-icon" style="font-size: 20px; color: white;"></i>
                            <span class="nav-link-text item-sidebar fw-bold main-nav-link ms-3" style="color: white; font-size: 14px;">الرئيسية
                                </span>
                        </div>
                    </a>
                </div>
                <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-database nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الموارد البشرية</span>
                    </div>
                </a>
                <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu1>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./employees" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-users-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">بيانات الموظفين</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./vacations" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-check nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./over-time" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-presentation-plus nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">ساعات العمل الاضافية</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./penalty" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-minus nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الجزاءات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./sick-leaves" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-nurse nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات المرضية</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./careers" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-transaction nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الترقيات والتنقلات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./deducts" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-pricetag-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الخصم</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./loans" routerLinkActive="active" class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-money-insert nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./loans-payments" routerLinkActive="active" class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-money-insert nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">أقساط السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./attendance" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-file-check-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الحضور والانصراف</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./salary" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-dollar-sign-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">رواتب الموظفين</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-database nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">التقارير</span>
                    </div>
                </a>
                <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu1>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./employees-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير بيانات الموظفين</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./iqama-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير انتهاء الإقامة</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./loans-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./payroll-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">Payroll Report</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </ul>
        </aside>





        <div class="main-content" [ngClass]="{'toggled': toggler}">
            <router-outlet></router-outlet>
        </div>
    </div>
</main> -->