<app-header (toggler)="onToggler()"></app-header>
<main id="app">
    <div class="app-content">
        <!-- <app-sidebar [toggler]="toggler"></app-sidebar> -->


        <aside id="main_sidebar" class="main-sidebar" [ngClass]="{'toggled': toggler}">
            <ul class="nav list-unstyled flex-column p-0 m-0 small-scroll overflow-auto h-100 flex-column flex-nowrap">
                <div class="nalika-profile" style="background: #16487ad9;color: white;">
                    <a class="nav-link cursor-pointer text-dark d-flex align-items-center justify-content-between w-100" routerLink="/" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-home nav-icon" style="font-size: 20px; color: white;"></i>
                            <span class="nav-link-text item-sidebar fw-bold main-nav-link ms-3" style="color: white; font-size: 14px;">الرئيسية
                                </span>
                        </div>
                    </a>
                </div>

                <!-- <li class="nav-item nav-item-title item-sidebar">
                    <a class="nav-link title text-lowercase fw-bold text-dark">
                        <i class="uil uil-database nav-icon"></i> الموارد البشرية</a>
                </li> -->
                <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-database nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">الموارد البشرية</span>
                    </div>
                </a>
                <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu1>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./employees" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-users-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">بيانات الموظفين</span>
                            </div>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                            routerLink="./employee-details" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-users-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">أضافة موظف</span>
                            </div>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./vacations" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-check nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./over-time" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-presentation-plus nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">ساعات العمل الاضافية</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./penalty" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-minus nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الجزاءات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./sick-leaves" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-user-nurse nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الاجازات المرضية</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./careers" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-transaction nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الترقيات والتنقلات</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./deducts" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-pricetag-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الخصم</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./loans" routerLinkActive="active" class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-money-insert nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./loans-payments" routerLinkActive="active" class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-money-insert nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">أقساط السلف</span>
                            </div>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-invoice nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">مستحقات الموظفين</span>
                            </div>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./attendance" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-file-check-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">الحضور والانصراف</span>
                            </div>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-bill nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">العلاوات</span>
                            </div>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./salary" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-dollar-sign-alt nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">رواتب الموظفين</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100 active">
                    <div class="nav-text d-flex align-items-center w-100">
                        <i class="uil uil-database nav-icon"></i>
                        <span class="nav-link-text item-sidebar main-nav-link ms-3">التقارير</span>
                    </div>
                </a>
                <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0 show" #menu1>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./employees-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير بيانات الموظفين</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./iqama-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير انتهاء الإقامة</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./loans-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">تقرير السلف</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./payroll-report" routerLinkActive="active">
                            <div class="nav-text d-flex align-items-center w-100">
                                <i class="uil uil-chart-growth nav-icon"></i>
                                <span class="nav-link-text item-sidebar main-nav-link ms-3">Payroll Report</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </ul>
        </aside>





        <div class="main-content" [ngClass]="{'toggled': toggler}">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>