<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">السلف</h5>
    </div>
    <div class="card-body">
        <div class="row  py-3">
            <div class="col-lg-4">
                <app-drop-down-form-control [(ngModel)]="selectedEmployeeId" [data]="employeeSelectorData" [showSearch]="true" [placeholder]="'قائمة الموظفين'"></app-drop-down-form-control>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-secondary radius-50" (click)="getLoanByEmployeeId()">
                    <i class="fas fa-search"></i>
                    <span class="ms-4">بحث</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
        <div class="row p-2">
            <div class="col-md-8">
                <div class="d-flex align-items-center flex-wrap">
                    <div class="search-box position-relative mb-2">
                        <button class="btn btn-primary mb-2" (click)="openNewSidePanel(AddModal)">
                            <span class="me-2">إنشاء سلفة</span>
                            <i class="uil uil-plus-circle"></i>
                        </button>
                    </div>
                    <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->
                </div>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="employeeLoanResponse.currentPage" [pageSize]="employeeLoanResponse.pageSize" [totalCount]="employeeLoanResponse.totalCount"></app-erp-pagination>
            </div>
        </div>
        <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0 table-vp-height">
                <thead class="table-light">
                    <tr>
                        <th>اسم الموظف</th>
                        <th> تاريخ البدء</th>
                        <th> تاريخ الانتهاء</th>
                        <th>نوع الخصم</th>
                        <th>القيمة </th>
                        <th>القسط </th>
                        <th>الحالة</th>
                        <th>السبب</th>
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of employeeLoanResponse.results">
                        <td>{{item.employeeName}}</td>
                        <td>{{item.paymentFromDate | date}}</td>
                        <td>{{item.paymentToDate | date}}</td>
                        <td>{{item.loanTypeName}}</td>
                        <td>{{item.loanAmount}}</td>
                        <td>{{item.paymentAmount}}</td>
                        <td>
                            <!-- <div appColorWithStatus status="isApproved" [text]="item.isApproved"></div> -->
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN" [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <td class="word-break">{{item.notes}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center text-center">
                                <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2" (click)="openNewSidePanel(AddModal,item)">
                                    <i class="uil uil-pen"></i>
                                    <span>تعديل</span>
                                </button>
                                <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openDeleteModal(deleteModal,item.loanId)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>الغاء</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!employeeLoanResponse.results.length || showLoader">
                        <td colspan="9" class="text-right">
                            <app-empty-data [showEmptyData]="!employeeLoanResponse.results.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">رسالة تأكيد</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد من الالغاء ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteEmployeeLoan()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">عودة</span>
        </button>
    </div>
</ng-template>

<ng-template #AddModal let-offcanvas>
    <div class="offcanvas-header gap-3 fs-4 border-bottom py-4">
        <i class="fas fa-user-plus offcanvas-header-icon"></i>
        <span>إنشاء سلفة</span>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div class="card ">
            <!-- <div class="card-header bg-white">
                <h6 class="fw-bold m-0">
                    <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
                    <span *ngIf="isUpdate" class="ms-3">تعديل</span>
                </h6>
            </div> -->
            <!-- bg-light  >> for gray card-->
            <div class="card-body ">
                <div class="p-2">
                    <form [formGroup]="formGroup" autocomplete="off">
                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                نوع السلفة
                                <span class="text-danger">*</span>
                            </label>
                            <app-general-selector formControlName="loanTypeId" [data]="loanTypesSelectorData" [showSearch]="true" [placeholder]="'نوع السلفة'"></app-general-selector>

                            <div *ngIf="formErrors.loanTypeId" class="text-danger  font-small-3 m-03">
                                {{formErrors.loanTypeId}}
                            </div>

                        </div>
                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                بداية الدفع
                                <span class="text-danger">*</span></label>
                            <input type="date" formControlName="paymentFromDate" autocomplete="off" class="form-control nw-form-input" />
                            <div *ngIf="formErrors.paymentFromDate" class="text-danger  font-small-3 m-03">
                                {{formErrors.paymentFromDate}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                قيمة السلفة
                                <span class="text-danger">*</span></label>
                            <input type="text" formControlName="loanAmount" autocomplete="off" class="form-control nw-form-input" />
                            <div *ngIf="formErrors.loanAmount" class="text-danger  font-small-3 m-03">
                                {{formErrors.loanAmount}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                القسط الشهرى
                                <span class="text-danger">*</span></label>
                            <input type="text" formControlName="paymentAmount" autocomplete="off" class="form-control nw-form-input" />
                            <div *ngIf="formErrors.paymentAmount" class="text-danger  font-small-3 m-03">
                                {{formErrors.paymentAmount}}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                ملاحظات
                            </label>
                            <input type="text" class="form-control nw-form-input description-area" formControlName="notes" autocomplete="off" />
                            <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                                {{formErrors.notes}}
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center border-top pt-3 mt-3">
            <button [disabled]="showAddLoader" (click)="saveEmployeeLoan()" class="btn btn-primary w-50 justify-content-center py-3 fs-5 radius-10">
                <!-- <i class="fas fa-id-card"></i> -->
                <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
                <span *ngIf="isUpdate" class="ms-3">تعديل</span>
            </button>
        </div>
        <div class="table-responsive sidepanel-table-h large-scroll">
        </div>
    </div>
</ng-template>