<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-body bg-light">
        <div class="row mb-3">
            <div class="col-lg-4 offset-lg-1">
                <app-erp-selector [SelectorName]="SupplierName" [ItemsList]="SuppliersList"
                    (ItemObj)="GetSelectedSupplier($event)"></app-erp-selector>
            </div>
            <div class="col-lg-4 mt-2">
                <button class="btn btn-info" (click)="loadData()">
                    بحث
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="z2-boxstyle1">
        <div class="z2-boxstyle1-header">
            <div class="z2-boxstyle1-header-left">
                <!-- <button class="btn btn-primary" routerLink="/Finance/purchases/newPurchasesInvoice">
                    <i class="fas fa-plus-circle"></i>
                    <span class="ms-2">New Purchase</span>
                </button> -->
                <h5 *ngIf="selectedSupplier" class="m-0"> اسم المورد : {{selectedSupplier?.nameAR}}<span> - </span>{{selectedSupplier?.nameEN}}</h5>

            </div>
        </div>
        <div class="z2-boxstyle1-content hastable table-responsive table-vp-height small-scroll">
            <table class="table table-bordered table-middle table-hover m-0 bg-white bigtitle">
                <thead>
                    <tr>
                        <!-- <th>Supplier Name</th> -->
                        <th>Is Opening Balance</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Balance</th>
                        <!-- <th>Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of PurchaseList">
                        <!-- <td>{{item.supplierName}}</td> -->
                        <td>{{item.isOpeningBalance}}</td>
                        <td>{{item.date | date}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.credit}}</td>
                        <td>{{item.debit }}</td>
                        <td>{{item.balance}}</td>
                        <!-- <td>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <button class="btn btn-danger me-2" (click)="CancelPurchaseInvoice(item.purchaseInvoiceID)">
                                    <i class="fas fa-times"></i>
                                    <span class="ms-2">الغاء</span>
                                </button>
                              
                                <button class="btn btn-secondary">
                                    <i class="far fa-eye"></i>
                                    <span class="ms-2">تفاصيل</span>
                                </button>
                            </div>
                        </td> -->
                    </tr>
                </tbody>

            </table>
           
        </div>
        <app-empty-data [showContainer]="!PurchaseList?.length&&!showLoader"></app-empty-data>
    </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>