<section class="marketing-category-section">
  <div class="carousel-title d-flex align-items-center gap-2 position-relative mb-3">
    <img src="../../../../../assets/strong-offet-icon-2.svg" class="header-offer-icon" alt="offer-icon"
      loading="lazy" />
    <div class="fw-semibold fs-18">الأكثر مبيعا</div>
  </div>
  <swiper class="medium-carousel-swiper navigator-with-head h-auto" [slidesPerView]="1" [spaceBetween]="10"
    [navigation]="true" [pagination]="false" [slidesPerGroup]="1"
    [autoplay]="{ delay: 350000000000, disableOnInteraction: false }" [loop]="true" [breakpoints]="{
        '0': {
          slidesPerView: 1
        },
        '575': {
          slidesPerView: 2
        },
        '767': {
          slidesPerView: 3
        },
        '1024': {
          slidesPerView: 3
        },
        '1200': {
          slidesPerView:4
        }
      }">
    <ng-container *ngFor="let item of suppliersData;let i =index">
      <ng-template swiperSlide>
        <app-website-item-card [item]="item"></app-website-item-card>
      </ng-template>
    </ng-container>
  </swiper>
</section>
<!-- <div class="container-fluid py-5">
    <div class="row">
        <div class="col-xl-2">


            <app-website-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"
                [searchPlaceholder]="'البحث  ...'"></app-website-filters>

        </div>
        <div class="col-xl-10 pe-4">
            <h3 class="d-flex align-items-end mb-4">
                <span class="ms-2">الأصناف</span>
            </h3>
            <div class="row">

                <div *ngFor="let item of suppliersData;let i =index" class="col-md-6 col-xl-3">
                    <app-website-item-card [item]="item"></app-website-item-card>
                </div>
            </div>

            <app-pagination (pageChanged)="pageChanged($event)" [currentPage]="pageResponseModel.currentPage"
                [pageSize]="pageResponseModel.pageSize" [totalCount]="pageResponseModel.totalCount"
                [usePaginationBtn]="true" [text]="'تحميل أكثر'">
            </app-pagination>

        </div>
    </div>
</div> -->