<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div
        class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-outline-primary d-flex align-items-center gap-2 border rounded px-3"
                routerLink="/purchases/add-purchase-returns">
                <i class="fas fa-plus-circle"></i>
                <span>إنشاء فاتورة مرتجعات</span>
            </button>
        </div>
        <div class="justify-content-end">
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage"
                [pageSize]="pagedResponseModel.pageSize"
                [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>رقم الفاتورة</th>
                        <th>الرقم الدفتري</th>
                        <th>تاريخ الارتجاع</th>
                        <th>إجمالى القيمة</th>
                        <th>فاتورة المشتريات </th>
                        <th>الموظف المسؤول</th>
                        <th>تاريخ الارتجاع</th>

                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>
                            <!-- {{item.orderNumber}} -->
                            {{item.serialNumber}}
                        </td>
                        <td>{{item.docNumber}}</td>
                        <td>{{item.returnsDate | date}}</td>
                        <td>{{item.totalValue}}</td>
                        <td>{{item.purchaseInvoiceSerialNumber}}</td>
                        <td>{{item.createdByName}}</td>
                        <td>{{item.createdDate | date}}</td>

                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem (click)="showOrderDetails(item)">تفاصيل</button>
                                        <button ngbDropdownItem routerLink="/purchases/add-purchase-returns"
                                            [queryParams]="{PurchaseReturnsId:item.purchaseReturnsId}">
                                            تعديل
                                        </button>
                                        <button ngbDropdownItem
                                            (click)="openDeleteModal(deleteDialog,item.purchaseReturnsId)">الغاء</button>

                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel?.results.length || showLoader">
                        <td colspan="8" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel?.results.length&&!showLoader"
                                [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>
<ng-template #deleteDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحذف ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); cancelPurchaseReturns()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template appComponentHost></ng-template>



<ngx-loading [show]="showDetailsLoader"></ngx-loading>