<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="inputs-wrapper border rounded bg-white mb-3 py-3">
    <!-- <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">
        الحضور والانصراف
    </div> -->
    <div class="inputs-sec-content px-3 py-2">

        <div class="row gy-3">

            <div class="col-lg-3">
                <div class="mb-2">
                    <label class="form-label d-flex align-items-center gap-2">
                        الشركة
                        <span class="text-danger">*</span>
                    </label>
                    <app-general-selector [(ngModel)]="selectedSponsorId" [selectMulti]="true" [showSearch]="true" (valueChanged)="selectMultiSponsor($event)" [data]="sponsorSelectorData" [placeholder]="'الشركات'"></app-general-selector>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-2">
                    <label class="form-label d-flex align-items-center gap-2">
                        الفرع
                        <span class="text-danger">*</span>
                    </label>
                    <app-general-selector [(ngModel)]="selectedBranchId" [selectMulti]="true" [showSearch]="true" (valueChanged)="selectMultiBranch($event)" [data]="branchSelectorData" [placeholder]="'الفروع'"></app-general-selector>
                </div>
            </div>


            <!-- <div class="col-lg-3">
                <div class="mb-2">
                    <label class="form-label d-flex align-items-center gap-2">
                        اسم الموظف
                        <span class="text-danger">*</span>
                    </label>
                    <app-general-selector [(ngModel)]="selectedEmployeeId" [data]="employeeSelectorData" [placeholder]="'اسم الموظف'" [showSearch]="true"></app-general-selector>
                </div>
            </div> -->
            <div class="col-lg-3">
                <div class="mb-2">
                    <label class="form-label d-flex align-items-center gap-2">
                        السنه
                        <span class="text-danger">*</span>
                    </label>
                    <app-general-selector [(ngModel)]="selectedYear" [data]="yearsSelectorData" [placeholder]="'السنه'" [showSearch]="true"></app-general-selector>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-2">
                    <label class="form-label d-flex align-items-center gap-2">
                        الشهر
                        <span class="text-danger">*</span>
                    </label>
                    <app-general-selector [(ngModel)]="selectedMonth" [data]="monthsSelectorData" [placeholder]="'الشهر'" [showSearch]="true"></app-general-selector>
                </div>
            </div>
        </div>
    </div>

    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-top">
        <button class="btn btn-primary me-2 mt-2" [disabled]="showLoader" (click)="search()">
            <i class="fas fa-search"></i>
            <span class="ms-2">احتساب</span>
        </button>
        <button [disabled]="showExportLoader" (click)="exportData()" class="btn btn-outline-success gap-2 border rounded px-3 me-2 mt-2">
            <i class="fas fa-file-download"></i>
            <span>تصدير CSV</span>
        </button>
        <button class="btn btn-secondary gap-2 border rounded px-3 me-2 mt-2">
            <i class="fas fa-print fs-7"></i>
            <span>طباعة</span>
        </button>

        <button class="btn btn-success gap-2 border rounded px-3 me-2 mt-2" [disabled]="showAddLoader" (click)="openSaveModal(saveDialog)">
            <i class="fas fa-check-circle"></i>
            <span>اعتماد</span>
        </button>

        <!-- <button class="btn btn-secondary me-2" (click)="printData()">
            <i class="fas fa-print"></i>
            <span class="ms-2">طباعة</span>
        </button> -->
    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
        <div class="row p-2">
            <div class="col-md-8">
                <div class="d-flex align-items-center flex-wrap">
                    <!-- <ng-container>
                        <app-erp-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)" [searchPlaceholder]="'البحث بإسم الموظف ...'"></app-erp-filters>
                    </ng-container> -->

                    <!-- <div class="search-box position-relative mb-2">
                        <button [disabled]="showAddLoader" (click)="openSaveModal(saveDialog)" class="btn btn-primary d-flex align-items-center gap-2 border rounded px-3">
                            <i class="fas fa-plus-circle"></i>
                            <span>Approve</span>
                        </button>
                    </div> -->
                    <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->
                </div>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
            </div>
        </div>
        <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
        <div class="table-responsive shadow-sm radius-10 table-vp-height">
            <table class="table table-card-table table-bordered table-middle  bg-transparent m-0">
                <colgroup></colgroup>
                <thead class="table-light">
                    <tr>
                        <th rowspan="2" class="min-width-50 width-50 max-width-50">
                            <input type="checkbox" [(ngModel)]="selectAll" (change)="selectAllData()" class="big-checkbox cursor-pointer" />
                        </th>
                        <th rowspan="2">الكود</th>
                        <!-- <th rowspan="2">الحساب البنكى</th> -->
                        <th style="min-width: 200px;" rowspan="2">اسم الموظف</th>
                        <!-- <th rowspan="2">كود البنك</th> -->
                        <th rowspan="2">الشركة</th>
                        <th rowspan="2">الفرع</th>
                        <th rowspan="2">الوظيفة</th>
                        <th rowspan="2">أيام الدوام</th>
                        <th colspan="11">الراتب</th>
                        <th rowspan="2">Diff Cost</th>
                        <th rowspan="2">إجمالى الراتب</th>
                        <th colspan="9">الخصومات</th>
                        <th rowspan="2">صافى القيمة</th>
                        <th rowspan="2">فيزا</th>
                        <th rowspan="2">كاش</th>

                    </tr>
                    <tr>
                        <th>أساسى</th>
                        <th>إضافى</th>
                        <th>بدل انتقال</th>
                        <th>طبيعة عمل</th>
                        <th>بدل وجبات</th>
                        <th>بدل سكن</th>
                        <th>ساعات إضافية</th>
                        <th>بدل هاتف</th>
                        <th>أخري</th>
                        <th>أخري 2</th>
                        <th>الإجمالى</th>

                        <th>تأمين</th>
                        <th>غيابات</th>
                        <th>جزاءات</th>
                        <th>سلف</th>
                        <th>أجازات مرضية</th>
                        <th>انتقال(-)</th>
                        <th>سكن(-)</th>
                        <th>أخري(-)</th>
                        <th>إجمالى الخصم</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td><input type="checkbox" class="big-checkbox" [(ngModel)]="item.isChecked">
                        </td>
                        <td>{{item.employeeCode}}</td>
                        <!-- <td>{{item.bankAccountNumber}}</td> -->
                        <td>{{item.employeeNameAR ??item.employeeNameEN}}</td>
                        <!-- <td>{{item.bank}}</td> -->
                        <td>{{item.sponsorName}}</td>
                        <td>{{item.branchName}}</td>
                        <td>{{item.jobNameEN ?? item.jobNameAR}}</td>
                        <td>
                            {{item.totalWorkingDays ?? 0 }}
                        </td>
                        <td>{{item.basicSalary ?? 0}}</td>
                        <td>{{item.extraSalary ?? 0 }}</td>
                        <td>{{item.transportation ?? 0 }}</td>
                        <td>{{item.workNature ?? 0 }}</td>
                        <td>{{item.mealAllowance ?? 0 }}</td>
                        <td>{{item.housingAllowance ?? 0 }}</td>
                        <td>{{item.overtime ?? 0 }}</td>
                        <td>{{item.mobileAllowance ?? 0 }}</td>
                        <td>{{item.other ?? 0 }}</td>
                        <td>{{item.other2 ?? 0 }}</td>
                        <td>{{item.grossSalary ?? 0 }}</td>
                        <td>
                            {{item.dailySalary ?? 0 }}
                        </td>
                        <td>
                            {{item.netSalary ?? 0 }}
                        </td>
                        <td>
                            {{item.insurance ?? 0 }}
                        </td>
                        <td>
                            {{item.absentDays * item.dailySalary ?? 0 }}
                        </td>
                        <td>
                            {{item.penalties ?? 0 }}
                        </td>
                        <td>
                            {{item.advances ?? 0 }}
                        </td>
                        <td>
                            {{item.sickDays * item.dailySalary ?? 0 }}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{item.totalDeductions ?? 0 }}</td>

                        <td>{{item.netSalary ?? 0 }}</td>
                        <td>{{item.visaPayment ?? 0 }}</td>
                        <td>{{item.cashPayment ?? 0 }}</td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length || showLoader">
                        <td colspan="33" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="card card-shadow border-0 table-card overflow-hidden mb-3 card-radius">
    <div class="card-header bg-transparent py-4 border-bottom">
        <div class="card-title-text mb-1">إجمالى الرواتب</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label summary-title">إجمالى الأساسى
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [(ngModel)]="basicSalary" disabled class="form-control py-2">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label summary-title">إجمالى الإضافى
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [(ngModel)]="extraSalary" disabled class="form-control py-2">
                </div>
            </div>
            <!-- <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label">بدل طبيعة عمل
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [(ngModel)]="totalSummary.workNature" disabled class="form-control py-2">
                </div>
            </div> -->
            <!-- <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label summary-title">إجمالى البدلات
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [(ngModel)]="totalSummary.transportation" disabled class="form-control py-2">
                </div>
            </div> -->
            <!-- <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label">ساعات عمل إضافية<sup class="text-danger">*</sup>
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [value]="totalSummary.overtime" disabled class="form-control py-2">
                </div>
            </div> -->
            <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label summary-title"> الاستقطاعات
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [value]="deductions" disabled class="form-control py-2">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label summary-title">صافى القيمة
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [value]="grossSalary" disabled class="form-control py-2">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label summary-title">إجمالى الكاش
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [(ngModel)]="totalCash" disabled class="form-control py-2">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="mb-3">
                    <label class="form-label summary-title">إجمالى الفيزا
                        <i class="fas fa-info-circle ms-2 text-muted cursor-pointer"></i>
                    </label>
                    <input type="text" [(ngModel)]="totalVisa" disabled class="form-control py-2">
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #saveDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); approve()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>