<!-- <div class="card radius-10 border-0 card-shadow">
    <div class="card-body bg-light"> -->
<div class="row " *ngIf="showCostCenterFilter">
    <div class="col-lg-3">
        <app-erp-selector-with-search #Selector2 [SelectorName]="'رقم مركز التكلفه'" [ItemsList]="CostCenterList" [Height]="'35px'" [SearchKey]="'nameAR'" [innerTextKey]="'costCenterNumber'" (ItemObj)="getSelectedCostCenter($event)">
        </app-erp-selector-with-search>
    </div>
    <div class="col-lg-4">
        <app-erp-selector-with-search #Selector3 [SelectorName]="'اسم مركز التكلفه'" [ItemsList]="CostCenterList" [Height]="'35px'" [SearchKey]="'nameAR'" (ItemObj)="GetSelectedCostCenter($event)">
        </app-erp-selector-with-search>
    </div>

</div>
<div class="row " *ngIf="showAccountFilter">
    <div class="col-lg-3">
        <app-erp-selector-with-search #Selector [SelectorName]="'رقم الحساب'" [ItemsList]="AccountsList" [Height]="'35px'" [SearchKey]="'nameAR'" [innerTextKey]="'accountNumber'" (ItemObj)="getSelectedAccount($event)">
        </app-erp-selector-with-search>
    </div>
    <div class="col-lg-4">
        <app-erp-selector-with-search #Selector1 [SelectorName]="'اسم الحساب'" [ItemsList]="AccountsList" [Height]="'35px'" [SearchKey]="'nameAR'" (ItemObj)="getSelectedAccount($event)">
        </app-erp-selector-with-search>

    </div>
    <div class="col-lg-3 mb-3">
        <!-- <div class="form-floating mb-3">
            <button class="btn  mb-1" (click)="OpenSidePanel(AccountTreeSidePanel)">
                <i class="uil uil-analysis"></i>
                <span class="ms-2">Preview</span>
              </button>
              
        </div> -->
        <button class="btn-sm-action sm-action-dropdown sl-dots" (click)="openSidePanel(AccountTreeSidePanel)">
            <i class="fas fa-ellipsis-v"></i>
        </button>
    </div>
</div>

<div class="row ">

    <div class="col-lg-3 mb-3">
        <div class="form-floating mb-3">
            <input type="date" id="FromDate" [(ngModel)]="SearchModel.fromDate" (ngModelChange)="emitSearchModel()" placeholder="From Date" class="form-control ng-pristine ng-valid ng-touched">
            <!-- <input type="date" class="form-control" [(ngModel)]="FromDate" id="FromDate" placeholder="From Date"> -->
            <label for="FromDate"> من تاريخ : <sup>*</sup></label>
        </div>
    </div>
    <div class="col-lg-3 offset-lg-1 mb-3">
        <div class="form-floating mb-3">
            <input type="date" class="form-control" [(ngModel)]="SearchModel.toDate" (ngModelChange)="emitSearchModel()" id="ToDate" placeholder="From Date">
            <label for="ToDate">حتى تاريخ : <sup>*</sup></label>
        </div>
    </div>
</div>

<!-- </div>
</div> -->


<ng-template #AccountTreeSidePanel let-offcanvas>
    <div class="m-1">

        <div class="offcanvas-header pb-1" style="z-index: 9999;">
            <div>
                <!-- <h4 class="offcanvas-title m-0 d-flex align-items-center w-100"><i
                        class="fas fa-history fa-2x main-color me-2"></i> التفاصيل</h4> -->
            </div>
            <button type="button" class="btn bg-danger text-white rounded" aria-label="Close" (click)="offcanvas.dismiss()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="offcanvas-body my-1 py-1">
            <app-account-tree-v2 [isParentAccount]="IsParentAccount" (selectedAccount)="getSelectedAccount($event)">
            </app-account-tree-v2>
            <!-- <app-accounts-tree [isParentAccount]="IsParentAccount" (selectedAccount)="GetSelectedAccount($event)"></app-accounts-tree> -->
            <!-- <div class="boxstyle1-content hastable table-responsive table-vp-height small-scroll">
            </div> -->
        </div>
    </div>

</ng-template>