<div class="employee-card-body row">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="employee-card-body row">
            <div class="col-xl-5">


                <div class="form-floating mb-3">
                    <input type="date" formControlName="startDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6">تاريخ بدء العمل</label>
                    <div *ngIf="formErrors.startDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.startDate}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">


                <div class="form-floating mb-3">
                    <input type="date" formControlName="endDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6">تاريخ انتهاء العمل</label>
                    <div *ngIf="formErrors.endDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.endDate}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="contractPeriodYears" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">عدد سنوات العمل </label>
                    <div *ngIf="formErrors.contractPeriodYears" class="text-danger  font-small-3 m-03">
                        {{formErrors.contractPeriodYears}}
                    </div>
                </div>
            </div>
            <div class="col-xl-5"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="joinDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">تاريخ بدء العمل</label>
                    <div *ngIf="formErrors.joinDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.joinDate}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="lastJoinDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">تاريخ آخر عودة للعمل</label>
                    <div *ngIf="formErrors.lastJoinDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.lastJoinDate}}
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="vacationDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">تاريخ بدء الأجازة</label>
                    <div *ngIf="formErrors.vacationDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.vacationDate}}
                    </div>
                </div>
            </div> -->
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="vacationDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">تاريخ بدء الأجازة</label>
                    <div *ngIf="formErrors.vacationDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.vacationDate}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="vacationPeriodDays" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">مدة الأجازة</label>
                    <div *ngIf="formErrors.vacationPeriodDays" class="text-danger  font-small-3 m-03">
                        {{formErrors.vacationPeriodDays}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class=" mb-3">
                    <div class="d-flex">
                        <input class="form-check-input width-30 height-30" formControlName="isGossi" type="checkbox" value="" id="flexCheckDefault">
                        <label class=" form-label m-2">مؤمن علية</label>
                    </div>
                    <div *ngIf="formErrors.isGossi" class="text-danger  font-small-3 m-03">
                        {{formErrors.isGossi}}
                    </div>
                </div>
            </div>


        </div>
    </form>
    <div class="d-flex justify-content-left">
        <button [disabled]="showAddLoader" (click)="saveEmployeeContractInfo()" class="btn btn-primary m-2">
            <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
            <span *ngIf="isUpdate" class="ms-3">تعديل</span>
        </button>
        <button (click)="initNewForm()" class="btn btn-danger m-2">
            <span class="ms-3">إلغاء</span>
        </button>
    </div>
</div>