<div class="employee-card-body row">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="employee-card-body row">
            <div class="col-xl-5">


                <div class="form-floating mb-3">
                    <input type="date" formControlName="joinDate" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput6">تاريخ بدء العمل</label>
                    <div *ngIf="formErrors.joinDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.joinDate}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">


                <div class="form-floating mb-3">
                    <input type="date" formControlName="lastJoinDate" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput6">تاريخ انتهاء العمل</label>
                    <div *ngIf="formErrors.lastJoinDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.lastJoinDate}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="contractPeriodYears" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">عدد سنوات العمل </label>
                    <div *ngIf="formErrors.contractPeriodYears" class="text-danger  font-small-3 m-03">
                        {{formErrors.contractPeriodYears}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class=" mb-3">
                    
                    <div class="d-flex">
                        <input class="form-check-input width-30 height-30" formControlName="isGossi" type="checkbox" value="" id="flexCheckDefault">
                        <label class=" form-label m-2">مؤمن علية</label>
                    </div>
                    <div *ngIf="formErrors.isGossi" class="text-danger  font-small-3 m-03">
                        {{formErrors.isGossi}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="vacationDate" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">تاريخ بدء الأجازة</label>
                    <div *ngIf="formErrors.vacationDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.vacationDate}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="vacationPeriodDays" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">مدة الأجازة</label>
                    <div *ngIf="formErrors.vacationPeriodDays" class="text-danger  font-small-3 m-03">
                        {{formErrors.vacationPeriodDays}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>




            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="basicSalary" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">الراتب الاساسي</label>
                    <div *ngIf="formErrors.basicSalary" class="text-danger  font-small-3 m-03">
                        {{formErrors.basicSalary}}
                    </div>
                </div>

            </div>
           
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="extraSalary" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">الراتب الاضافي</label>
                    <div *ngIf="formErrors.extraSalary" class="text-danger  font-small-3 m-03">
                        {{formErrors.extraSalary}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="transportation" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">التنقلات</label>
                    <div *ngIf="formErrors.transportation" class="text-danger  font-small-3 m-03">
                        {{formErrors.transportation}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="housingAllowance" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">المنزل</label>
                    <div *ngIf="formErrors.housingAllowance" class="text-danger  font-small-3 m-03">
                        {{formErrors.housingAllowance}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="mobileAllowance" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">الهاتف</label>
                    <div *ngIf="formErrors.mobileAllowance" class="text-danger  font-small-3 m-03">
                        {{formErrors.mobileAllowance}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="workNature" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">طبيعة العمل</label>
                    <div *ngIf="formErrors.workNature" class="text-danger  font-small-3 m-03">
                        {{formErrors.workNature}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="mealAllowance" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">الوجبة</label>
                    <div *ngIf="formErrors.mealAllowance" class="text-danger  font-small-3 m-03">
                        {{formErrors.mealAllowance}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="other" class="form-control" id="floatingInput1"
                        placeholder="any">
                    <label for="floatingInput5">اخري</label>
                    <div *ngIf="formErrors.other" class="text-danger  font-small-3 m-03">
                        {{formErrors.other}}
                    </div>
                </div>

            </div>
            
        </div>
    </form>
    <div class="d-flex justify-content-left">
        <button [disabled]="showAddLoader" (click)="saveEmployeeContractInfo()" class="btn btn-primary m-2">
            <span *ngIf="!isUpdate" class="ms-3">إضافة</span>
            <span *ngIf="isUpdate" class="ms-3">تعديل</span>
        </button>
        <button (click)="initNewForm()" class="btn btn-danger m-2">
            <span class="ms-3">إلغاء</span>
        </button>
    </div>
</div>
