<div class="">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">رمز الحساب</label>
        <div class="col-sm-9">
            <input [(ngModel)]="accountTreeModel.accountNumber" placeholder="رمز الحساب" type="text" class="form-control form-control-sm">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">اسم الحساب</label>
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-text">
                    <i class="fas fa-user"></i>
                </span>
                <input [(ngModel)]="accountTreeModel.nameEN" type="text" class="form-control" placeholder="اسم الحساب">
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-3 col-form-label col-form-label-sm">نوع الحساب</label>
        <div class="col-sm-9">
            <app-drop-down-form-control #Selector [placeholder]="'نوع الحساب'" [data]="accountTypes" (valueChanged)="getSelectedAccountType($event)">
            </app-drop-down-form-control>
        </div>
    </div>

    <div class="row">

        <label class="col-sm-3 col-form-label col-form-label-sm">متفرع من حساب</label>
        <div class="col-sm-9">
            <app-drop-down-form-control #Selector1 [placeholder]="'اسم الحساب'" [showSearch]="true" [data]="parentAccountsList" (valueChanged)="getSelectedParentAccount($event)">
            </app-drop-down-form-control>
        </div>
    </div>
    <hr class="my-4" />

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">العملة الافتراضية</label>
        <div class="col-sm-9">
            <app-drop-down-form-control #Selector2 [placeholder]="'نوع العملة'" [data]="currencyType" (valueChanged)="getSelectedCurrencyType($event)">
            </app-drop-down-form-control>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">دعم مركز التكلفة </label>
        <div class="col-sm-9">
            <input [(ngModel)]="accountTreeModel.isDisToCostCenter" class="form-check-input" type="checkbox" id="flexCheckDefault">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label col-form-label-sm">حساب نشط</label>
        <div class="col-sm-9">
            <div class="d-flex align-items-center">
                <input [(ngModel)]="accountTreeModel.isActive" class="form-check-input" type="checkbox" id="flexCheckDefault">
                <!-- <button (click)="CreateNewAccount()" class="btn btn-primary ms-2">
                        <i class="fas fa-cogs"></i>
                        <span class="ms-2">Save</span>
                    </button> -->
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="d-flex align-items-center">
                <button (click)="isUpdate ?updateAccountTree(): createNewAccount()" class="btn btn-primary ms-2">
                    <i class="fas fa-cogs"></i>
                    <span class="ms-2">{{isUpdate?'تعديل':'أضافة'}}</span>
                </button>
            </div>
        </div>
    </div>
</div>