/* .table-vp-height {
    min-height: 200px;
    max-height: 300px;
}

.order-card-payment.active {
    background-color: var(--main-bg);
    color: var(--main-color);
    border-color: var(--main-color);
  } */