<div class="login-wrapper">
  <div class="container-fluid py-3">
    <div class="login-card shadow-lg" [ngClass]="{'login': loggingMode, 'register': !loggingMode}">
      <div class="login-img-box">
        <img src="../../assets/signin.png" class="login-img" alt="" loading="lazy" />
      </div>
      <div class="card-body p-5 text-center">
        <h2 class="header-form fw-bold">
          <span class="login-title">سجل دخول الان !</span>
          <span class="register-title">انشاء حساب جديد !</span>
        </h2>
        <section class="form-section">
          <div class="login-form">
            <div class="mb-4">
              <input type="text" name="userName" [(ngModel)]="userName" class="form-control py-3"
                placeholder="اسم المستخدم" autocomplete="off" />
            </div>
            <div class="mb-4">
              <input type="password" name="Password" [(ngModel)]="password" class="form-control py-3"
                placeholder="الرقم السري" autocomplete="off" />
            </div>
            
            <button class="btn btn-lg btn-primary  mb-4 shadow-sm text-center" (click)="Login()">
              تسجيل الدخول
              
            </button>
            <!-- <a class="text-white text-underline-none cursor-pointer" (click)="loggingMode = false">ليس لديك حساب ؟</a> -->
          </div>
          <!-- <div class="register-form" *ngIf="!loggingMode">
            <div class="mb-4">
              <input type="text" class="form-control py-3" placeholder="الاسم" />
            </div>
            <div class="mb-4">
              <input type="text" class="form-control py-3" placeholder="الهاتف" />
            </div>
            <div class="mb-4">
              <input type="text" class="form-control py-3" placeholder="البريد الالكترونى" />
            </div>
            <div class="mb-4">
              <input type="password" class="form-control py-3" placeholder="كلمه المرور" />
            </div>
            <button type="submit" class="btn btn-lg btn-primary w-100 mb-4 shadow-sm">
              انشاء حساب
            </button>
            <a class="text-white text-underline-none cursor-pointer" (click)="loggingMode = true">لديك حساب بالفعل ؟</a>
          </div> -->
        </section>
      </div>
    </div>
  </div>
</div>





<!-- <div class="row p-3">
  <div class="col-lg-3">
    <div class="card radius-10">
      <div style="min-height: 700px; max-height: 700px;">
        <div class="login-card mb-2">
          <div class="login-text">Login</div>
        </div>
        <section class="form-section">
          <div class="login-form" *ngIf="loggingMode">
            <div class="mb-4">
              <input type="text" name="UserName" [(ngModel)]="UserName" class="form-control py-3"
                placeholder="User Name" />
            </div>
            <div class="mb-4">
              <input type="password" name="Password" [(ngModel)]="Password" class="form-control py-3"
                placeholder="Passowrd" />
            </div>
            <button class="btn btn-lg btn-primary w-100 mb-4 shadow-sm" (click)="Login()">
              Sign In
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="card radius-10">
      <div style="min-height: 300px;">

      </div>
    </div>
  </div>
</div> -->