.product-page {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    /* max-width: 1200px; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-images {
    display: flex;
    gap: 15px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnails img {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    transition: all 0.3s ease;
}

.thumbnails img:hover {
    border-color: #007185;
}

.main-image img {
    width: 420px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #eee;
}

.product-details {
    flex: 1;
}

.product-title {
    font-size: 20px;
    color: #222;
    line-height: 1.6;
    margin: 0 0 8px;
}

.store-name {
    font-size: 14px;
    color: #666;
    margin: 0 0 10px;
}

.store-name a {
    color: #007185;
    text-decoration: none;
}

.rating {
    font-size: 14px;
    color: #f90;
    margin-bottom: 10px;
}

.rating a {
    color: #007185;
    text-decoration: none;
    margin-right: 5px;
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: #111;
    margin: 10px 0;
}

.currency {
    font-size: 16px;
    vertical-align: top;
}

.tax-info,
.return-info,
.installment {
    font-size: 14px;
    color: #444;
    margin: 6px 0;
}

.offer {
    background: #f7fafa;
    border: 1px solid #d5e6e0;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 14px;
}

.offer-badge {
    background-color: #008e57;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 13px;
    margin-left: 6px;
}

.quantity-section {
    margin: 20px 0;
    font-size: 14px;
}

.quantity-section select {
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    width: 50%;
}

.btn-add,
.btn-buy {
    flex: 1;
    font-size: 15px;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-add {
    /* background-color: #ffd814;
    color: #111; */
    background-color: #ecf9f3;
    color: #1d361e;
    border-color: #1d361e !important;
}

.btn-add:hover {
    background-color: #18593a;
    color: #fff;
    border-color: #a6e2c9 !important;
}

.btn-buy {
    background-color: #ffa41c;
    color: #111;
}

.policies p {
    font-size: 14px;
    color: #333;
    margin: 4px 0;
}


/* Responsive */

@media (max-width: 900px) {
    .product-page {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .main-image img {
        width: 100%;
    }
    .thumbnails {
        flex-direction: row;
    }
    .thumbnails img {
        width: 50px;
        height: 50px;
    }
}