.main-content {
  position: relative;
  top: var(--nav-link-height);
  width: calc(100vw - var(--aside-bar-width));
  min-height: calc(100vh - var(--nav-link-height));
  margin-right: 260px;
  padding: 15px 30px 20px 20px;
  transition: var(--toggled-transition);
  -webkit-transition: var(--toggled-transition);
  -moz-transition: var(--toggled-transition);
  -ms-transition: var(--toggled-transition);
  -o-transition: var(--toggled-transition);
  background: #e6edf0;
}
.main-content.toggled {
  width: calc(100vw - var(--aside-bar-width-toggled));
  margin-right: var(--aside-bar-width-toggled);
}
@media (min-width: 767px) and (max-width: 1199px) {
  .main-content {
    width: calc(100vw - 80px);
    margin-right: var(--aside-bar-width-toggled);
  }
}
@media (max-width: 766px) {
  .main-content {
    width: 100%;
    margin-right: 0;
  }
  .main-content.toggled {
    width: 100%;
    margin-right: 0;
  }
}
