.btn {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 11px;
    max-height: 30px;
    /* background-color: #9e9e9f; */
    /* width: 60px !important; */
}

.btn:hover {
    background-color: var(--bs-btn-hover-bg);
}