<section class="py-5 bg-light">
    <div class="container">
        <h2 class="fw-bold text-center mb-5">تواصل معنا</h2>
        <div class="row g-4">
            <div class="col-md-6">
                <form class="card shadow-sm border-0 p-4 rounded-4">
                    <div class="mb-3">
                        <label class="form-label">اسم المرسل</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">البريد الالكترونى</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">الرسالة</label>
                        <textarea class="form-control" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 fw-semibold height-40">إرسال</button>
                </form>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps?q=cairo%20egypt&output=embed" class="w-100 h-100 rounded-4 shadow-sm" style="min-height: 380px; border:0;" allowfullscreen="" loading="lazy">
        </iframe>
            </div>
        </div>
    </div>
</section>