<div class="boxstyle1">
    <div class="boxstyle1-header bg-light">
        <div class="boxstyle1-header-left mb-3">
            <button class="btn btn-primary" routerLink="/Purchases/add-purchase-order">
                <i class="fas fa-plus-circle"></i>
                <span class="ms-2">انشاء أمر</span>
            </button>
        </div>
    </div>
    <div class="card radius-10 border-0 card-shadow">
        <div class="card-body">
            <div class="main-card-action pb-3">
                <div class="row">
                    <div class="col-md-8">
                        <!-- <div class="col-md-12">
                            <div class="d-flex align-items-center flex-wrap">
                                <ng-container *ngIf="filterList.length > 0">
                                    <app-pos-filters [FilterList]="filterList"
                                        (filterChanged)="filterChecked($event)"></app-pos-filters>
                                </ng-container>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-4">
                        <app-erp-pagination (pageChanged)="pageChanged($event)"
                            [currentPage]="FilterModel.currentPage" [pageSize]="FilterModel.pageSize"
                            [totalCount]="TotalCount" [totalPages]="TotalPages"></app-erp-pagination>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-middle table-hover m-0 bg-white bigtitle">
                <thead>
                    <tr>
                        <th>رقم الأمر</th>
                        <th>تاريخ الأمر</th>
                        <th>القيمة الإجمالية</th>
                        <th>مغلق</th>
                        <th>ملغى</th>
                        <th>عمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of PurchaseList">
                        <td>{{item.orderNumber}}</td>
                        <td>{{item.orderDate | date}}</td>
                        <td>{{item.totalValue}}</td>
                        <!-- <td>{{item.insertUser}}</td>
                        <td>{{item.insertDate | date}}</td> -->
                        <td>{{item.isLocked}}</td>
                        <td>{{item.isCancelled}}</td>
                        <td>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <button class="btn btn-danger me-2" (click)="CancelPurchaseOrder(item.purchaseOrderID)">
                                    <i class="fas fa-times"></i>
                                    <span class="ms-2">الغاء</span>
                                </button>
                                <!-- <button class="btn btn-secondary me-2">
                                    <i class="far fa-eye"></i>
                                    <span class="ms-2">Lock Order</span>
                                </button>
                                <button class="btn btn-primary me-2">
                                    <i class="fas fa-edit"></i>
                                    <span class="ms-2">Edit</span>
                                </button> -->
                                <!-- <button class="btn btn-secondary">
                                    <i class="far fa-eye"></i>
                                    <span class="ms-2">تفاصيل</span>
                                </button> -->
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <app-empty-data [showContainer]="!PurchaseList?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>

    </div>
</div>

<!-- <ngx-loading [show]="showLoader"></ngx-loading> -->