<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-outline-primary d-flex align-items-center gap-2 border rounded px-3" routerLink="/purchases/add-purchase-order">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة طلب شراء</span>
            </button>
            <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-filter"></i>
                <span>إضافة فلتر</span>
            </button>
        </div>
        <div class="justify-content-end">
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>رقم الفاتورة</th>
                        <th>الرقم الدفترى</th>
                        <th>تاريخ الفاتورة</th>
                        <th>اسم المورد</th>
                        <th>نوع الفاتورة</th>
                        <th>القيمة الإجمالية</th>
                        <th>حالة الفاتورة</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>{{item.orderNumber}}</td>
                        <td>{{item.docNumber}}</td>
                        <td>{{item.orderDate | date}}</td>
                        <td>{{item.supplierNameAR}}</td>
                        <td>{{item.orderTypeName}}</td>
                        <td>{{item.totalValue}}</td>
                        <td>
                            <span class="badge rounded-pill default p-2 text-uppercase px-3" [ngClass]="getStatusColor(item.isLocked)">
                                {{item.orderStatus}}
                            </span>
                        </td>
                        <td>
                            <div class="w-100 d-flex align-items-center justify-content-center">

                                <button routerLink="/purchases/add-purchase-order" [queryParams]="{PurchaseOrderId:item.purchaseOrderId}" class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                    <i class="uil uil-pen"></i>
                                    <span>تعديل</span>
                                </button>

                                <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2 me-2" (click)="cancelPurchaseOrder(item.purchaseOrderId)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>حذف</span>
                                </button>
                                <button (click)="showOrderDetails(item)" class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                <i class="uil uil-pen"></i>
                                <span>تفاصيل</span>
                            </button>
                                <!-- <app-invoice-details-sidepanel [invoiceId]="item.orderId"></app-invoice-details-sidepanel> -->
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <!-- <app-empty-data [showEmptyData]="!pagedResponseModel.results?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data> -->
        </div>
    </div>
</div>

<ng-template appComponentHost></ng-template>