<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="col-md-8 mb-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-primary d-flex align-items-center gap-2 border rounded px-3" (click)="openUserPopup(addUserModal)">
                    <i class="fas fa-plus-circle"></i>
                    <span>إنشاء مستخدم</span>
                </button>
                <button [disabled]="showLoader" (click)="exportData()" class="btn  btn-outline-success d-flex align-items-center gap-2 border rounded px-3">
                    <i class="fas fa-file-download"></i>
                    <span>تصدير CSV</span>
                </button>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <app-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-pagination>
        </div>
        <div class="col-md-12 mt-3">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-erp-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)" [searchPlaceholder]="'البحث برقم / اسم الستخدم .......'"></app-erp-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>رقم المستخدم</th>
                        <th>اسم المستخدم</th>
                        <th>الحالة</th>
                        <th>البريد الالكترونى</th>
                        <th>الهاتف</th>
                        <th>تاريخ الانشاء</th>
                        <th>ِعمليات</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of pagedResponseModel.results">
                        <tr>
                            <td>{{item.userName}}</td>
                            <td>{{item.fullName}}</td>
                            <td>
                                <div appColorWithStatus status="IsLocked" [text]="item.status"></div>
                            </td>
                            <td>{{item.email }}</td>
                            <td>{{item.phoneNumber}}</td>
                            <td>{{item.createdDate | date}}</td>
                            <td>
                                <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3" id="dropdownBasic1" ngbDropdownToggle>
                                        <i class="fas fa-cogs"></i>
                                        <span>الإجراءات</span>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded" style="min-width: 180px;">
                                        <button ngbDropdownItem class="d-flex align-items-center gap-2" (click)="openUserPopup(addUserModal,item)">
                                            <i class="fas fa-edit"></i>
                                            <span class="px-2">تعديل بيانات المستخدم</span>
                                        </button>
                                        <button ngbDropdownItem class="d-flex align-items-center gap-2 mt-2" (click)="$event.stopPropagation();openManagePermissions(ManagePermissions,item.userId)">
                                            <i class="fas fa-unlock-alt"></i>
                                            <span class="px-2"> اعدادات الصلاحيات</span>
                                        </button>
                                        <button ngbDropdownItem class="d-flex align-items-center gap-2 mt-2" (click)="openResetPasswordModel(resetUserPasswordModal,item.userId)">
                                            <i class="fas fa-sync-alt"></i>
                                            <span class="px-2">إعادة تعيين كلمة المرور</span>
                                        </button>
                                        <button ngbDropdownItem class="d-flex align-items-center gap-2 mt-2" (click)="deleteUser(deleteUserModal,item.userId)">
                                            <i class="fas fa-times"></i>
                                            <span class="px-2">حذف المستخدم</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!pagedResponseModel.results.length">
                            <td colspan="6" class="text-right">
                                <app-empty-data [showEmptyData]="!pagedResponseModel.results.length"></app-empty-data>
                            </td>
                        </tr>

                    </ng-container>

                </tbody>
            </table>
            <!-- <app-empty-data [showEmptyData]="!pagedResponseModel.results.length && !showLoader"></app-empty-data> -->

        </div>
    </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>



<ng-template #ManagePermissions let-modal>
    <div class="main-card-manage">
        <div class="main-card-header p-3 main-dark-gray-bg">
            <h3 class="fs-3">User Rules</h3>
            <div class="text-muted">Add / Remove Roles</div>
        </div>
        <div class="main-card-action p-3 bg-white border-top border-top border-bottom">
            <div class="d-flex flex-column">
                <div class="form-check mb-3" *ngFor="let item of UsersRoles;let i = index">
                    <input type="checkbox" class="form-check-input m-0" [(ngModel)]="item.checked" id="Roles_{{i}}">
                    <label class="form-check-label ms-2" for="Roles_{{i}}">
                        {{item.name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="main-card-body px-2 py-3 bg-light">
            <div class="d-flex align-items-center">
                <button class="btn btn-primary me-2" (click)="SaveUserRole();modal.close('Save click')">
                    <i class="fas fa-check-circle"></i>
                    <span class="ms-2">Save</span>
                </button>
                <button class="btn btn-danger">
                    <i class="fas fa-times"></i>
                    <span class="ms-2" (click)="modal.close('Save click')">Close</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>



<ng-template #addUserModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h4 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
            <!-- <span *ngIf="!isUpdate" class="ms-3">(إنشاء)</span>
            <span *ngIf="isUpdate" class="ms-3">(تعديل)</span> -->
        </h4>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" autocomplete="off">
            <table class="table table-bordered table-feature-value align-middle border m-0">
                <tbody>
                    <tr>
                        <td class="table-feature">اسم المستخدم</td>
                        <td class="table-value">
                            <div class="row">
                                <div class="col-xl-6 mb-3">
                                    <input type="text" formControlName="userName" class="form-control form-control-lg" placeholder="اسم المستخدم">
                                    <div *ngIf="formErrors.userName" class="text-danger  font-small-3 m-03">
                                        {{formErrors.userName}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الاسم رباعى</td>
                        <td class="table-value">
                            <input type="text" formControlName="fullName" class="form-control form-control-lg" placeholder="اسم رباعى">
                            <div *ngIf="formErrors.fullName" class="text-danger  font-small-3 m-03">
                                {{formErrors.fullName}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الفرع</td>
                        <td class="table-value">
                            <app-drop-down-form-control formControlName="branchId" [placeholder]="'الفرع'" [showSearch]="true" [data]="branchSelectorData"></app-drop-down-form-control>
                            <div *ngIf="formErrors.branchId" class="text-danger  font-small-3 m-03">
                                {{formErrors.branchId}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الاسم رباعى</td>
                        <td class="table-value">
                            <input type="text" formControlName="fullName" class="form-control form-control-lg" placeholder="اسم رباعى">
                            <div *ngIf="formErrors.fullName" class="text-danger  font-small-3 m-03">
                                {{formErrors.fullName}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">البريد الالكترونى</td>
                        <td class="table-value">
                            <input type="text" formControlName="email" class="form-control form-control-lg" placeholder="البريد الالكترونى">
                            <div *ngIf="formErrors.email" class="text-danger font-small-3 m-03">
                                {{formErrors.email}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-feature">الهاتف</td>
                        <td class="table-value">
                            <input type="text" formControlName="phoneNumber" class="form-control form-control-lg" placeholder="الهاتف">
                            <div *ngIf="formErrors.phoneNumber" class="text-danger font-small-3 m-03">
                                {{formErrors.phoneNumber}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button [disabled]="showAddLoader" (click)="saveCategory()" type="button" class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100">
            <i class="uil uil-save fs-3"></i>
            <!-- <span *ngIf="!isUpdate">إنشاء</span>
            <span *ngIf="isUpdate">تعديل</span>  -->
            <span>حفظ البيانات</span>
        </button>

        <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>

</ng-template>

<ng-template #deleteUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want remove this User?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');RemoveUser()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>

<ng-template #resetUserPasswordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want reset password for this User?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');resetUserPassword()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>

















<ng-template #DetailsSidePanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-info-circle offcanvas-header-icon"></i>
            <span>
                تفاصيل القيد رقم {{selectedEntryModel.entryNumber}}
            </span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div *ngIf="selectedEntryModel" class="employee-card-body mb-3">
            <div class="inputs-wrapper border rounded bg-white mb-3">
                <div class="inputs-sec-content px-3 py-3">
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">رقم القيد</label>
                                <input type="text" disabled class="form-control nw-form-input" ngModel={{selectedEntryModel?.entryNumber}} />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">تاريخ القيد</label>
                                <input type="text" disabled class="form-control nw-form-input" ngModel={{selectedEntryModel?.entryDate}} />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    البيان
                                </label>
                                <input type="text" disabled class="form-control nw-form-input description-area" ngModel={{selectedEntryModel?.description}} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start m-3">
                    <button (click)="offcanvas.dismiss()" routerLink="/general-accounts/new-entry" [queryParams]="{JournalEntryId:selectedEntryModel?.journalEntryId}" class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2">
                        <i class="uil uil-pen"></i>
                        <span>تعديل</span>
                    </button>
                </div>
            </div>
        </div>

        <hr class="border-black" />

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">الحسابات</div>
            <div class="inputs-sec-content px-3 py-2 table-responsive table-vp-height small-scroll">
                <table class="table table-bordered table-middle text-center table-actions m-0">
                    <thead>
                        <tr>
                            <th>
                                الحساب
                            </th>
                            <th>
                                مدين
                            </th>
                            <th>
                                دائن
                            </th>
                            <th>مركز التكلفة</th>
                            <th style="width: 290px;">ملاحظات</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr class="row-hover" *ngFor="let item of selectedEntryModel?.journalEntryAccounts;let i = index">
                            <td style="width: 300px;">
                                <span appGoToAccountReport [accountId]="item.accountId">{{item.accountName}}</span>

                                <!-- {{item.accountName}} - {{item.accountNumber}} -->
                            </td>

                            <td>
                                {{item.debit}}
                            </td>
                            <td>
                                {{item.credit}}

                            </td>
                            <td>
                                {{item.costCenterName}}
                            </td>
                            <td>
                                {{item.description}}
                            </td>
                        </tr>
                        <tr *ngIf="!selectedEntryModel?.journalEntryAccounts?.length">
                            <td colspan="5" class="text-right">
                                <app-empty-data [showEmptyData]="!selectedEntryModel?.journalEntryAccounts?.length"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>

                </table>



            </div>
        </div>
    </div>

</ng-template>