<div class="row gy-3">

    <div class="col-lg-3" *ngIf="showAccounts">
        <div class="mb-2">
            <label class="form-label d-flex align-items-center gap-2">
                الحساب
                <span class="text-danger">*</span>
            </label>
            <app-general-selector (valueChanged)="getSelectedAccount($event)" [(ngModel)]="searchModel.accountId" [data]="accountsSelectorData" [placeholder]="'الحساب'" [showSearch]="true"></app-general-selector>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-2">
            <label class="form-label d-flex align-items-center gap-2">
                من تاريخ
                <span class="text-danger">*</span>
            </label>
            <input type="date" (change)="emitSearchModel()" [(ngModel)]="searchModel.fromDate" autocomplete="off" class="form-control nw-form-input" />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mb-2">
            <label class="form-label d-flex align-items-center gap-2">
                الي تاريخ
                <span class="text-danger">*</span></label>
            <input type="date" (change)="emitSearchModel()" [(ngModel)]="searchModel.toDate" autocomplete="off" class="form-control nw-form-input" />
        </div>
    </div>
    <div *ngIf="showCostCenter" class="col-lg-3">
        <div class="mb-2">
            <label class="form-label d-flex align-items-center gap-2">
                مركز التكلفة
                <span class="text-danger">*</span>
            </label>
            <app-general-selector (valueChanged)="getSelectedCostCenter($event)" [data]="costCenterSelectorData" [placeholder]="'مركز التكلفة'" [showSearch]="true"></app-general-selector>
        </div>
    </div>

</div>