<div class="home-slider">
    <ngb-carousel *ngIf="pageResponseModel.results && pageResponseModel.results.length>0" [interval]="5000">
        <ng-template ngbSlide *ngFor="let slider of pageResponseModel.results">
            <div class="slider-img-wrapper">
                <img [src]="slider?.imageURL" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3>{{slider?.title}}</h3>
                <p>{{slider?.description}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>