/* Carousel Style */

::ng-deep .home-slider .carousel-inner .slider-img-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
}

::ng-deep .home-slider .carousel-inner .slider-img-wrapper img {
    width: 100%;
    height: 400px;
    max-height: 400px;
}

::ng-deep .home-slider .carousel-inner .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
}

::ng-deep .home-slider .carousel-control-next,
::ng-deep .home-slider .carousel-control-prev {
    width: 50px;
    height: 50px;
    top: 50%;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

::ng-deep .home-slider .carousel-control-next {
    right: 96%;
}

::ng-deep .home-slider .carousel-control-prev {
    left: 25px;
}

::ng-deep .home-slider .carousel-indicators {
    opacity: 1 !important;
}

::ng-deep .home-slider .carousel-indicators .active {
    background-color: var(--main-color);
}