<div class="home-slider">
    <ngb-carousel *ngIf="pageResponseModel.results && pageResponseModel.results.length > 0" [interval]="5000">
        <ng-template ngbSlide *ngFor="let slider of pageResponseModel.results">
            <div class="slider-img-wrapper">
                <img [src]="slider?.imageURL" (error)="$event.target.src = defaultImage"/>
            </div>
            <div class="carousel-caption">
                <h3>{{slider?.title}}</h3>
                <p>{{slider?.description}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>







<div class="home-slider">

    <swiper [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }" [breakpoints]="{
            '0': {
              slidesPerView: 1
            },
            '575': {
              slidesPerView: 1
            },
            '767': {
              slidesPerView: 1
            },
            '1024': {
              slidesPerView: 1
            },
            '1200': {
              slidesPerView: 1
            }
          }">
        <ng-container *ngFor="let slide of sliderData">
            <ng-template swiperSlide>
                <div class="slider-img-wrapper">
                    <img [src]="slide.imageURL" [alt]="slide.title" />
                </div>
                <!-- <div class="carousel-caption">
                    <h3>{{slide.title}}</h3>
                    <p>{{slide.description}}</p>
                </div> -->
            </ng-template>
        </ng-container>
    </swiper>
</div>