<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header border-bottom bg-gray">
      <h5 class="mb-0 fw-bold">Add Career</h5>
    </div>
    <div class="card-body">
        <div class="main-card-action d-flex align-items-center flex-wrap">
            <!-- <button class="btn btn-dark mb-1">
                <i class="uil uil-eye"></i>
                <span class="ms-2">Preview</span>
            </button>
            <button class="btn btn-warning mb-1">
                <i class="uil uil-location-arrow"></i>
                <span class="ms-2">Update</span>
            </button>
            <button class="btn btn-secondary mb-1">
                <i class="uil uil-print"></i>
                <span class="ms-2">Print</span>
            </button>
            <button class="btn btn-danger mb-1">
                <i class="uil uil-times-circle"></i>
                <span class="ms-2">Exist</span>
            </button> -->
        </div>
        <div class="row">
            <!-- <div class="col-lg-4">
                <select class="form-control mb-3 py-3" formControlName="employeeID">
                    <option [defaultSelected]=true [value]="0" disabled>Employees</option>
                    <option *ngFor="let emp of EmployeeData" [value]="emp.Id">{{emp.name}}</option>
                </select>
            </div> -->
            <div class="col-lg-4">
                <app-drop-down-form-control [(ngModel)]="selectedEmployeeId" [data]="employeeSelectorData"
                    [showSearch]="true" [placeholder]="'قائمة الموظفين'"></app-drop-down-form-control>
                <!-- <div *ngIf="formErrors.Id" class="text-danger  font-small-3 m-03">
                        {{formErrors.regionId}}
                    </div> -->
            </div>
            <div class="col-lg-2 mt-2">
                <button class="btn btn-primary radius-50" (click)="getCareerByEmployeeId()">

                    <i class="fas fa-search"></i>
                    <span class="ms-2">بحث</span>
                </button>
            </div>

        </div>

    </div>
</div>

<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-body">
        <div class="row p-2">
            <div class="col-md-8">
                <div class="d-flex align-items-center flex-wrap">
                    <div class="search-box position-relative mb-2">
                        <button class="btn btn-primary mb-2" (click)="openNewCareerSidePanel(AddCareerSidePanel)">
                            <span class="me-2">إضافة ترقية</span>
                            <i class="uil uil-plus-circle"></i>
                        </button>
                    </div>
                    <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->
                </div>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)"
                    [currentPage]="employeeCareerResponse.currentPage" [pageSize]="employeeCareerResponse.pageSize"
                    [totalCount]="employeeCareerResponse.totalCount"></app-erp-pagination>
            </div>
        </div>
        <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
        <div class="table-responsive table-vp-height">
            <table class="table align-middle table-blue mb-0 table-hover">
                <thead class="table-light">
                    <tr>
                        <th>اسم الموظف</th>
                        <th> تاريخ التنفيذ</th>
                        <th>الوظيفة</th>
                        <th>الفرع </th>
                        <th>حالة العمل</th>
                        <th>السبب</th>
                        <th>العمليات</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let item of employeeCareerResponse.results">
                        <td>{{item.employeeName}}</td>
                        <td>{{item.executionDate | date}}</td>
                        <td>{{item.jobName}}</td>
                        <td>{{item.branchName}}</td>
                        <td>{{item.workStatusName}}</td>
                        <td class="word-break">{{item.notes}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center text-center">
                                <button class="btn btn-warning text-white me-2" (click)="openNewCareerSidePanel(AddCareerSidePanel,item)">
                                    <i class="uil uil-edit"></i>
                                    <span class="ms-2">Edit</span>
                                </button>
                                <button class="btn btn-danger" (click)="openDeleteModal(deleteModal,item.careerId)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span class="ms-2">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-empty-data [showContainer]="!employeeCareerResponse.results?.length&&!showLoader"
                [showLoader]="showLoader"></app-empty-data>
        </div>
    </div>
</div>


<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want remove this Career?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteEmployeeCareer()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>


<ng-template #AddCareerSidePanel let-offcanvas>
      <div class="offcanvas-header gap-3 fs-4 border-bottom py-4">
        <i class="fas fa-user-plus offcanvas-header-icon"></i>
        <span>إضافة ترقية</span>
      </div>

      <div class="offcanvas-body pt-4 bg-light">
        <form [formGroup]="formGroup" autocomplete="off">
          <div class="row">

            <div class="col-lg-12 mb-3">
              <label class="form-label">الترقية</label>
              <app-drop-down-form-control formControlName="jobId" [data]="jobsSelectorData" [showSearch]="true"
                [placeholder]="'الترقية'"></app-drop-down-form-control>
              <div *ngIf="formErrors.jobId" class="text-danger  font-small-3 m-03">
                {{formErrors.jobId}}
              </div>
            </div>

            <div class="col-lg-12 mb-3">
              <label class="form-label">الفرع</label>
              <app-drop-down-form-control formControlName="branchId" [data]="branchesSelectorData" [showSearch]="true"
                [placeholder]="'الفرع'"></app-drop-down-form-control>
              <div *ngIf="formErrors.branchId" class="text-danger  font-small-3 m-03">
                {{formErrors.branchId}}
              </div>
            </div>

            <div class="col-lg-12 mb-3">
              <label class="form-label">حالة العمل</label>
              <app-drop-down-form-control formControlName="workStatusId" [data]="workStatusSelectorData" [showSearch]="true"
                [placeholder]="'حالة العمل'"></app-drop-down-form-control>
              <div *ngIf="formErrors.workStatusId" class="text-danger  font-small-3 m-03">
                {{formErrors.workStatusId}}
              </div>
            </div>

            <div class="col-lg-12 mb-3">
              <label class="form-label">Execution Date</label>
              <input type="date" class="form-control sidepanel-input-padding" formControlName="executionDate" id="floatingInput"
                placeholder="name@example.com">
              <div *ngIf="formErrors.executionDate" class="text-danger  font-small-3 m-03">
                {{formErrors.executionDate}}
              </div>
            </div>


            <div class="col-lg-12 mb-3">
              <label class="form-label">ملاحظات</label>
              <textarea type="text" formControlName="notes" class="form-control " id="floatingInput2" placeholder="ملاحظات"
                autocomplete="off"></textarea>
              <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                {{formErrors.notes}}
              </div>
            </div>

          </div>

        </form>

        <div class="d-flex justify-content-center border-top pt-3 mt-3">
          <button [disabled]="showAddLoader" (click)="saveEmployeeCareer()"
            class="btn btn-primary w-50 justify-content-center py-3 fs-5 radius-10">
            <!-- <i class="fas fa-id-card"></i> -->
            <span *ngIf="!isUpdate" class="ms-3">إضافة</span>
            <span *ngIf="isUpdate" class="ms-3">تعديل</span>
          </button>
        </div>
        <div class="table-responsive sidepanel-table-h large-scroll">
        </div>
      </div>
</ng-template>

<!-- <form [formGroup]="form" autocomplete="off">
    <div class="row">
        <div class="col-lg-4">
            <select class="form-control mb-3 py-3" formControlName="employeeID">
    <option [defaultSelected]=true [value]="0" disabled>Employees</option>
    <option *ngFor="let emp of EmployeeData" [value]="emp.employeeId">{{emp.employeeName}}</option>
  </select>
        </div>
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" formControlName="executionDate" id="floatingInput" placeholder="name@example.com" autocomplete="off">
                <label for="floatingInput">Execution Date</label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" formControlName="requestDate" id="floatingInput" placeholder="name@example.com" autocomplete="off">
                <label for="floatingInput">Request Date</label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="noHours" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">No Hours</label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" formControlName="moneyAmount" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Money Amount</label>
            </div>
        </div>
    </div>
</form> -->
