<!-- <app-header (toggler)="onToggler()"></app-header>
<main id="app">
  <div class="app-content">
    <app-sidebar [toggler]="toggler"></app-sidebar>
    <div class="main-content" [ngClass]="{'toggled': toggler}">
      <router-outlet></router-outlet>
    </div>
  </div>
</main> -->



<a href="https://wa.me/201010805092" class="whatsapp-float" target="_blank" aria-label="Chat on WhatsApp">
    <img src="assets/WhatsApp.png" alt="WhatsApp" />
    <!-- <i class="fab fa-whatsapp"></i> -->

</a>

<router-outlet></router-outlet>