<div *ngIf="contractId" class="employee-card-body row">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="employee-card-body row">
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="basicSalary" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">الراتب الاساسي</label>
                    <div *ngIf="formErrors.basicSalary" class="text-danger  font-small-3 m-03">
                        {{formErrors.basicSalary}}
                    </div>
                </div>

            </div>

            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="extraSalary" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">الراتب الاضافي</label>
                    <div *ngIf="formErrors.extraSalary" class="text-danger  font-small-3 m-03">
                        {{formErrors.extraSalary}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="transportation" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">بدل انتقالات</label>
                    <div *ngIf="formErrors.transportation" class="text-danger  font-small-3 m-03">
                        {{formErrors.transportation}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="housingAllowance" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">بدل سكن</label>
                    <div *ngIf="formErrors.housingAllowance" class="text-danger  font-small-3 m-03">
                        {{formErrors.housingAllowance}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="mobileAllowance" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">بدل هاتف</label>
                    <div *ngIf="formErrors.mobileAllowance" class="text-danger  font-small-3 m-03">
                        {{formErrors.mobileAllowance}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="workNature" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">بدل طبيعة العمل</label>
                    <div *ngIf="formErrors.workNature" class="text-danger  font-small-3 m-03">
                        {{formErrors.workNature}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-2">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="mealAllowance" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">بدل وجبة</label>
                    <div *ngIf="formErrors.mealAllowance" class="text-danger  font-small-3 m-03">
                        {{formErrors.mealAllowance}}
                    </div>
                </div>
            </div>
            <div class="col-xl-2">

                <input type="checkbox" formControlName="mealAllowance" id="floatingInput1" placeholder="any">
                <label for="floatingInput5">وجبة</label>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="other" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">اخري</label>
                    <div *ngIf="formErrors.other" class="text-danger  font-small-3 m-03">
                        {{formErrors.other}}
                    </div>
                </div>

            </div>

        </div>
    </form>
    <div class="d-flex justify-content-left">
        <button [disabled]="showAddLoader" (click)="saveEmployeeContractInfo()" class="btn btn-primary m-2">
            <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
            <span *ngIf="isUpdate" class="ms-3">تعديل</span>
        </button>
        <button (click)="initNewForm()" class="btn btn-danger m-2">
            <span class="ms-3">إلغاء</span>
        </button>
    </div>
</div>