<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">قوالب الأصناف</h5>
    </div>
    <div class="card-body">
        <div class="row  py-3">
            <div class="col-lg-4">
                <app-general-selector (valueChanged)="selectedItemLookupChanged($event)" [data]="itemLookupSelectorData"
                    [showSearch]="true" [placeholder]="'قوالب الأصناف'"></app-general-selector>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
    <div class="m-3">
        <div class="d-flex align-items-center gap-2">

            <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2"
                (click)="openAddModal(addNewModal)">
                <i class="uil uil-pen"></i>
                <span>أضافة</span>
            </button>
            <button *ngIf="selectedItemLookupId && itemLookupModel"
                class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2"
                (click)="openAddModal(addNewModal,itemLookupModel)">
                <i class="uil uil-pen"></i>
                <span>تعديل</span>
            </button>
            <button *ngIf="selectedItemLookupId"
                class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2"
                (click)="openDeleteModal(deleteModal,selectedItemLookupId)">
                <i class="uil uil-trash-alt"></i>
                <span>حذف</span>
            </button>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card radius-10 border-0 card-shadow mb-4">
             <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
                <h5 class="mb-0 fw-bold">الأصناف</h5>
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-md-8">
                        <div class="d-flex align-items-center flex-wrap">
                            <!-- <div class="search-box position-relative mb-2">
                        <button class="btn btn-primary mb-2" (click)="">
                            <span class="me-2">إنشاء</span>
                            <i class="uil uil-plus-circle"></i>
                        </button>
                    </div> -->
                            <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <app-erp-pagination (pageChanged)="pageItemsChanged($event)"
                            [currentPage]="itemResponseModel.currentPage" [pageSize]="itemResponseModel.pageSize"
                            [totalCount]="itemResponseModel.totalCount"></app-erp-pagination>
                    </div>
                </div>
                <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
                <div class="table-responsive shadow-sm radius-10 table-vp-height">
                    <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0 ">
                        <thead class="table-light">
                            <tr>
                                <th>الصنف</th>
                                <th>الوحدة</th>
                                <th>وحدة المشتريات</th>
                                <th>سعر الوحدة</th>
                                <th>العمليات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemResponseModel.results">
                                <td>
                                    {{item.nameAR??item.nameEN}}
                                </td>
                                <td>{{item.unitName}}</td>
                                <td>{{item.purchaseUnitName}}</td>
                                <td>{{item.cost}}</td>
                                <td>
                                    <button *ngIf="!disabled"
                                        class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2"
                                        (click)="moveItemToLookup(item)">
                                        <i class="uil uil-pen"></i>
                                        <span>أضافة</span>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="!itemResponseModel.results.length || showLoader">
                                <td colspan="5" class="text-right">
                                    <app-empty-data [showEmptyData]="!itemResponseModel.results.length&&!showLoader"
                                        [showLoader]="showLoader"></app-empty-data>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card radius-10 border-0 card-shadow mb-4">
            <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
                <h5 class="mb-0 fw-bold">أصناف القالب</h5>
            </div>
            <div class="card-body">
                <div class="row p-2">
                    <div class="col-md-8">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="search-box position-relative mb-2">
                                <button class="btn btn-primary mb-2"
                                    [disabled]="!itemLookupModel?.itemLookupId || !itemLookupModel?.items.length ||showAddLoader"
                                    (click)="addItemsToLookup()">
                                    <span class="me-2">حفظ</span>
                                    <i class="uil uil-plus-circle"></i>
                                </button>
                            </div>
                            <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- <app-erp-pagination (pageChanged)="pageChanged($event)"
                            [currentPage]="pagedResponse.currentPage" [pageSize]="pagedResponse.pageSize"
                            [totalCount]="pagedResponse.totalCount"></app-erp-pagination> -->
                    </div>
                </div>
                <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
                <div class="table-responsive shadow-sm radius-10 table-vp-height">
                    <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0 ">
                        <thead class="table-light">
                            <tr>
                                <th>الصنف</th>
                                <th>الوحدة</th>
                                <th>سعر الوحدة</th>
                                <th>العمليات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="itemLookupModel?.items?.length>0">
                                <tr *ngFor="let item of itemLookupModel?.items;let i=index">
                                    <td>
                                        {{item.itemNameAR??item.itemNameEN}}
                                    </td>
                                    <td>{{item.unitNameAR ?? item.unitNameEN}}</td>
                                    <td>{{item.price}}</td>
                                    <td>
                                        <button
                                            class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2"
                                            (click)="removeItemDetails(i,itemLookupModel?.items)">
                                            <i class="uil uil-trash-alt"></i>
                                            <span></span>
                                        </button>

                                    </td>
                                </tr>
                            </ng-container>
                            <tr *ngIf="!itemLookupModel?.items?.length || showLoader">
                                <td colspan="9" class="text-right">
                                    <app-empty-data [showEmptyData]="!itemLookupModel?.items?.length&&!showLoader"
                                        [showLoader]="showLoader"></app-empty-data>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">رسالة تأكيد</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل أنت متأكد من الالغاء ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteItemLookup()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">عودة</span>
        </button>
    </div>
</ng-template>

<ng-template #addNewModal let-modal>
    <div class="modal-header modal-header-bg justify-content-between">
        <h4 class="d-flex align-items-center gap-2">
            <i class="uil uil-plus"></i>
            <span>املأ البيانات الأتية</span>
            <span *ngIf="!isUpdate" class="ms-3">(إضافة)</span>
            <span *ngIf="isUpdate" class="ms-3">(تعديل)</span>
        </h4>
        <div class="cursor-pointer text-danger fs-2" (click)="modal.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">

        <div class="card ">
            <div class="card-body ">
                <div class="p-2">


                    <form [formGroup]="formGroup" autocomplete="off">

                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                الاسم (AR)
                            </label>
                            <input type="text" class="form-control nw-form-input" formControlName="nameAR"
                                autocomplete="off" />

                            <div *ngIf="formErrors.nameAR" class="text-danger  font-small-3 m-03">
                                {{formErrors.nameAR}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                الاسم (EN)
                            </label>
                            <input type="text" class="form-control nw-form-input" formControlName="nameEN"
                                autocomplete="off" />

                            <div *ngIf="formErrors.nameEN" class="text-danger  font-small-3 m-03">
                                {{formErrors.nameEN}}
                            </div>
                        </div>

                        <!-- <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                الفرع
                                <span class="text-danger">*</span>
                            </label>
                            <app-general-selector formControlName="branchId" [data]="branchesSelector"
                                [placeholder]="'الفرع'"></app-general-selector>

                            <div *ngIf="formErrors.branchId" class="text-danger  font-small-3 m-03">
                                {{formErrors.branchId}}
                            </div>

                        </div> -->

                        <div class="row mb-3">
                            <label class="form-label d-flex align-items-center gap-2">
                                الملاحظات
                            </label>

                            <textarea formControlName="notes" class="form-control"></textarea>
                            <div *ngIf="formErrors.notes" class="text-danger  font-small-3 m-03">
                                {{formErrors.notes}}
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer flex-nowrap gap-2">
        <button [disabled]="showAddLoader" (click)="saveItemLookup()" type="button"
            class="btn btn-success d-flex align-items-center justify-content-center gap-2 w-100">
            <i class="uil uil-save fs-3"></i>
            <span>{{isUpdate?'تعديل':'أضافة'}}</span>
        </button>

        <button type="button" class="btn btn-danger d-flex align-items-center gap-2"
            (click)="formGroup?.reset();modal.close()">
            <i class="uil uil-times-circle fs-3"></i>
            <span>الغاء</span>
        </button>
    </div>
</ng-template>