<div class="btn-action d-flex align-items-center flex-wrap mb-3">

    <button (click)="dataUpdated(true)" class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
      <i class="fas fa-sync-alt"></i>
      <span class="ms-2">تحديث</span>
    </button>
    <!-- <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
      <i class="fas fa-trash-alt"></i>
      <span class="ms-2">حذف</span>
    </button>
    <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
      <i class="fas fa-eye"></i>
      <span class="ms-2">معاينة</span>
    </button> -->
</div>

<div class="card radius-10 border-0 card-shadow">
    <div class="card-header bg-white">
        <h6 class="fw-bold m-0">رمز الحساب</h6>
    </div>
    <div class="card-body bg-light">
        <div class="row">
            <div class="col-lg-6">

                <app-cost-center-tree 
                (selectedCostCenter)="selectedCostCenter($event)"
                [reloadData]="reloadData"></app-cost-center-tree>
            </div>
            <div class="col-lg-6">

                <app-add-edit-cost-center-tree 
                [costCenterTreeModel]="selectedCostCenterTreeModel"
                [isUpdate]="isUpdate"
                (dataUpdated)="dataUpdated($event)"
                >
                </app-add-edit-cost-center-tree>
            </div>
        </div>
    </div>
</div>