<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div
        class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-outline-primary d-flex align-items-center gap-2 border rounded px-3"
                routerLink="/purchases/add-purchase-quotation">
                <i class="fas fa-plus-circle"></i>
                <span>انشاء عرض مشتريات</span>
            </button>
        </div>
        <div class="justify-content-end">
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage"
                [pageSize]="pagedResponseModel.pageSize"
                [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>رقم العرض</th>
                        <th>تاريخ العرض</th>
                        <th>تفاصيل</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>{{item.quotationNumber}}</td>
                        <td>{{item.serialNumber}}</td>
                        <td>{{item.quotationDate | date}}</td>
                        <td>{{item.notes}}</td>

                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem
                                            (click)="openQuotationDetailsSidePanel(item)">تفاصيل</button>
                                        <button ngbDropdownItem routerLink="/purchases/add-purchase-quotation"
                                            [queryParams]="{PurchaseQuotationId:item.purchaseQuotationId}">
                                            تعديل
                                        </button>
                                        <button ngbDropdownItem
                                            (click)="openDeleteModal(deleteDialog,item.purchaseQuotationId)">حذف</button>

                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>

                    <tr *ngIf="!pagedResponseModel?.results.length || showLoader">
                        <td colspan="8" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel?.results.length&&!showLoader"
                                [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>
<ng-template #deleteDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحذف ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); deletePurchaseQuotation()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>




<!-- <ngx-loading [show]="showLoader"></ngx-loading> -->

<ng-template appComponentHost></ng-template>



<ng-template #QuotationsDetailsSidePanel let-offcanvas>
    <div class="offcanvas-header justify-content-between gap-3 fs-4 border-bottom py-3">
        <div class="d-flex align-items-center gap-2">
            <i class="fas fa-info-circle offcanvas-header-icon"></i>
            <span>
                تفاصيل العرض رقم {{quotationDetailsModel?.serialNumber}}
            </span>
        </div>
        <div class="cursor-pointer text-danger fs-2" (click)="offcanvas.dismiss()">
            <i class="uil uil-times-circle"></i>
        </div>
    </div>
    <div class="offcanvas-body pt-4 bg-light">

        <div *ngIf="quotationDetailsModel" class="employee-card-body mb-3">
            <div class="inputs-wrapper border rounded bg-white mb-3">
                <div class="inputs-sec-content px-3 py-3">
                    <div *ngIf="quotationDetailsModel" class="row gy-3">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">رقم العرض</label>
                                <input type="text" disabled class="form-control nw-form-input"
                                    [value]="quotationDetailsModel?.serialNumber" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">تاريخ العرض</label>
                                <input type="text" disabled class="form-control nw-form-input"
                                    [value]="quotationDetailsModel?.quotationDate | date" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-2">
                                <label class="form-label d-flex align-items-center gap-2">
                                    البيان
                                </label>
                                <input type="text" disabled class="form-control nw-form-input description-area"
                                    [value]="quotationDetailsModel?.notes" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="quotationDetailsModel?.purchaseQuotationId" class="d-flex justify-content-start m-3">
                    <button (click)="offcanvas.dismiss()" routerLink="/purchases/add-purchase-quotation"
                        [queryParams]="{PurchaseQuotationId:quotationDetailsModel?.purchaseQuotationId}"
                        class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                        <i class="uil uil-pen"></i>
                        <span>تعديل</span>
                    </button>
                    <button (click)="PrintData()" class="btn btn-table-action  gap-2 border rounded px-3 me-2">
                        <i class="fas fa-print fs-7"></i>
                        <span>طباعة</span>
                    </button>
                </div> -->
            </div>
        </div>

        <hr class="border-black" />

        <div class="inputs-wrapper border rounded bg-white mb-3">
            <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">الموردين و الاسعار</div>
            <div class="inputs-sec-content px-3 py-2 table-responsive table-vp-height small-scroll">
                <table *ngIf="distinctSuppliers?.length >0"
                    class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">

                    <thead>

                        <tr>
                            <th class="table-feature text-start">الصنف</th>

                            <th class="table-feature text-start" *ngFor="let field of distinctSuppliers">
                                {{field.supplierNameAR ?? field.supplierNameEN}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of quotationDetailsList; let i = index">
                            <td class="table-feature item-td-size">{{item.itemNameAR ?? item.itemNameEN}}</td>

                            <td *ngFor="let supplier of distinctSuppliers" class="table-value supplier-td-size fw-bold">
                                <app-render *ngIf="getFieldValue(item.supplierPrices,supplier.supplierId) as itemPrice"
                                    [value]="itemPrice" [fieldType]="FieldType.Text">
                                </app-render>
                            </td>

                        </tr>
                    </tbody>

                </table>
                <app-empty-data [showEmptyData]="!distinctSuppliers?.length && !showLoader "></app-empty-data>
                <!-- <table class="table table-bordered table-middle text-center table-actions m-0">
                    <thead>
                        <tr>
                            <th>
                                الحساب
                            </th>
                            <th>
                                مدين
                            </th>
                            <th>
                                دائن
                            </th>
                            <th>مركز التكلفة</th>
                            <th style="width: 290px;">ملاحظات</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr class="row-hover"
                            *ngFor="let item of selectedEntryModel?.journalEntryAccounts;let i = index">
                            <td style="width: 300px;">
                                <span appGoToAccountReport [accountId]="item.accountId">{{item.accountName}}</span>
                            </td>

                            <td>
                                {{item.debit}}
                            </td>
                            <td>
                                {{item.credit}}

                            </td>
                            <td>
                                {{item.costCenterName}}
                            </td>
                            <td>
                                {{item.description}}
                            </td>
                        </tr>
                        <tr *ngIf="!selectedEntryModel?.journalEntryAccounts?.length">
                            <td colspan="5" class="text-right">
                                <app-empty-data
                                    [showEmptyData]="!selectedEntryModel?.journalEntryAccounts?.length"></app-empty-data>
                            </td>
                        </tr>
                    </tbody>

                </table> -->



            </div>
        </div>
    </div>

</ng-template>

<!-- <ngx-loading [show]="showLoader"></ngx-loading> -->