<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>


<!-- <div class="card-body">
        <h5 class="mb-3 fw-bold">Table</h5>
        <div class="table-responsive table-vp-height">
            <table class="table align-middle table-blue mb-0 table-hover">
                <thead class="table-light">
                    <tr>
                        <th>الكود</th>
                        <th>الحساب البنكى</th>
                        <th>اسم الموظف</th>
                        <th>كود البنك</th>
                        <th>الوظيفة</th>
                        <th>أساسى</th>
                        <th>إضافى</th>
                        <th>بدل انتقال</th>
                        <th>طبيعة عمل</th>
                        <th>بدل وجبات</th>
                        <th>بدل سكن</th>
                        <th>ساعات إضافية</th>
                        <th>بدل هاتف</th>
                        <th>أخري</th>
                        <th>أخرى 2</th>
                        <th>الإجمالى</th>
                        <th>ايام الدوام</th>
                        <th>Diff Cost</th>
                        <th>إجمالى الراتب</th>
                        <th>تأمين</th>
                        <th>غيابات</th>
                        <th>جزاءات</th>
                        <th>سلف</th>
                        <th>أجازات مرضية</th>
                        <th>انتقال(-)</th>
                        <th>سكن(-)</th>
                        <th>أخري(-)</th>
                        <th>إجمالى الخصم</th>
                        <th>صافى القيمة</th>
                        <th>الفيزا</th>
                        <th>الكاش</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of EmployeeSalaryData">
                        <td>{{item.employeeName}}</td>
                        <td>{{item.salary.basicSalary}}</td>
                        <td>{{item.salary.extraSalary}}</td>
                        <td>{{item.salary.transport}}</td>
                        <td>{{item.salary.home}}</td>
                        <td>{{item.salary.mopile}}</td>
                        <td>{{item.salary.workNature}}</td>
                        <td>{{item.salary.food}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.other}}</td>
                        <td>{{item.salary.totalSalary}}</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center text-center">
                                <button class="btn btn-warning text-white me-2" (click)="openEditModal(editModal,item)">
                  <i class="uil uil-edit"></i>
                  <span class="ms-2">Edit</span>
                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header bg-white">
        <span class="m-0 fw-bold card-header-title">
      رواتب الموظفين
    </span>
    </div>
    <div class="card-body bg-light">
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row py-3">

                <div class="col-lg-4">
                    <app-drop-down-form-control formControlName="branchId" [placeholder]="'الفروع'" [data]="branchesSelectorData"></app-drop-down-form-control>
                </div>

                <div class="col-lg-4">
                    <app-drop-down-form-control formControlName="branchIds" [selectMulti]="true" [showSearch]="true" [placeholder]="'الفروع'" [data]="branchesSelectorData"></app-drop-down-form-control>
                    <div *ngIf="formErrors.branchIds" class="text-danger  font-small-3 m-03">
                        {{formErrors.branchIds}}
                    </div>
                </div>

            </div>
        </form>

        <div class="col-lg-2">
            <button class="btn btn-secondary radius-50" (click)="getEmployeesSalaryByBranch()">
        <i class="fas fa-search"></i>
        <span class="ms-4">احتسـاب</span>
      </button>
        </div>
    </div>

    <!-- <div class="table-title">
                    <h2>رواتب شهر أغسطس</h2>
                </div> -->
    <div class="table-responsive table-vp-height">
        <table class="table align-middle table-blue mb-0 table-hover">
            <colgroup></colgroup>
            <thead class="table-light">
                <tr>
                    <th rowspan="2">الكود</th>
                    <th rowspan="2">الحساب البنكى</th>
                    <th rowspan="2">اسم الموظف</th>
                    <th rowspan="2">كود البنك</th>
                    <th rowspan="2">الوظيفة</th>
                    <th colspan="11">الراتب</th>
                    <th rowspan="2">أيام الدوام</th>
                    <th rowspan="2">Diff Cost</th>
                    <th rowspan="2">إجمالى الراتب</th>
                    <th colspan="9">الخصومات</th>
                    <th rowspan="2">صافى القيمة</th>
                    <th rowspan="2">فيزا</th>
                    <th rowspan="2">كاش</th>
                </tr>
                <tr>
                    <th>أساسى</th>
                    <th>إضافى</th>
                    <th>بدل انتقال</th>
                    <th>طبيعة عمل</th>
                    <th>بدل وجبات</th>
                    <th>بدل سكن</th>
                    <th>ساعات إضافية</th>
                    <th>بدل هاتف</th>
                    <th>أخري</th>
                    <th>أخري 2</th>
                    <th>الإجمالى</th>
                    <th>تأمين</th>
                    <th>غيابات</th>
                    <th>جزاءات</th>
                    <th>سلف</th>
                    <th>أجازات مرضية</th>
                    <th>انتقال(-)</th>
                    <th>سكن(-)</th>
                    <th>أخري(-)</th>
                    <th>إجمالى الخصم</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of EmployeeSalaryData">
                    <td>{{item.employeeName}}</td>
                    <td>{{item.salary.basicSalary}}</td>
                    <td>{{item.salary.extraSalary}}</td>
                    <td>{{item.salary.transport}}</td>
                    <td>{{item.salary.home}}</td>
                    <td>{{item.salary.mopile}}</td>
                    <td>{{item.salary.workNature}}</td>
                    <td>{{item.salary.food}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.other}}</td>
                    <td>{{item.salary.totalSalary}}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center text-center">
                            <button class="btn btn-warning text-white me-2" (click)="openEditModal(editModal,item)">
                <i class="uil uil-edit"></i>
                <span class="ms-2">Edit</span>
              </button>
                            <!-- <button class="btn btn-danger" (click)="openDeleteModal(deleteModal,item.employeeSalaryId)">
              <i class="uil uil-trash-alt"></i>
              <span class="ms-2">Delete</span>
            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>