<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div
        class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <!-- <button class="btn btn-outline-primary d-flex align-items-center gap-2 border rounded px-3"
                routerLink="/">
                <i class="fas fa-plus-circle"></i>
                <span>إنشاء</span>
            </button> -->
        </div>
        <div class="justify-content-end">
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage"
                [pageSize]="pagedResponseModel.pageSize"
                [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
        </div>
        <div class="col-md-12 mt-3">
            <div class="d-flex align-items-center">
                <ng-container>
                    <app-erp-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"
                        [searchPlaceholder]="'بحث  ...'"></app-erp-filters>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0">
                <thead>
                    <tr>
                        <th>رقم الطلب</th>
                        <th>الرقم الدفترى</th>
                        <th>تاريخ الطلب</th>
                        <th>اسم المورد</th>
                        <th>تفاصيل</th>
                        <th>القيمة الإجمالية</th>
                        <th>حالة الطلب</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>
                            <!-- {{item.orderNumber}} -->
                            {{item.serialNumber}}

                        </td>
                        <td>{{item.docNumber}}</td>
                        <td>{{item.orderDate | date}}</td>
                        <td>{{item.supplierNameAR}}</td>
                        <td>{{item.notes}}</td>
                        <td>{{item.totalValue}}</td>
                        <td>
                            <span appWorkflowStatus [id]="item.workflowStatusId" [nameEN]="item?.workflowStatusNameEN"
                                [nameAR]="item?.workflowStatusNameAR">
                            </span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem (click)="showOrderDetails(item)">تفاصيل</button>
                                        <!-- <button ngbDropdownItem routerLink="/"
                                            [queryParams]="{OrderId:item.orderId}">
                                            تعديل
                                        </button> -->
                                        <button ngbDropdownItem
                                            (click)="openDeleteModal(deleteDialog,item.orderId)">الغاء</button>

                                    </div>
                                </div>
                            </div>

                            <!-- <div class="w-100 d-flex align-items-center justify-content-center">

                                <button routerLink="/purchases/add-purchase-order"
                                    [queryParams]="{OrderId:item.orderId}"
                                    class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                    <i class="uil uil-pen"></i>
                                    <span>تعديل</span>
                                </button>

                                <button
                                    class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2 me-2"
                                    (click)="cancelOrder(item.orderId)">
                                    <i class="uil uil-trash-alt"></i>
                                    <span>حذف</span>
                                </button>
                                <button (click)="showOrderDetails(item)"
                                    class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2 me-2">
                                    <i class="uil uil-pen"></i>
                                    <span>تفاصيل</span>
                                </button>
                            </div> -->
                        </td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length || showLoader">
                        <td colspan="8" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length&&!showLoader"
                                [showLoader]="showLoader"></app-empty-data>
                        </td>
                    </tr>
                </tbody>

            </table>
            <!-- <app-empty-data [showEmptyData]="!pagedResponseModel.results?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data> -->
        </div>
    </div>
</div>
<ng-template #deleteDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحذف ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); cancelOrder()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>

<ng-template appComponentHost></ng-template>