/* ========================= Switcher =============================== */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input:checked+.slider {
    background-color: #cff6c1;
    border: 2px solid #205616;
}

.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dedede;
    border: 2px solid #575757;
    transition: .4s;
}

input:checked+.slider:before {
    -ms-transform: translateX(20px);
    transform: translate(20px);
    background-color: #097a0e;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 1px;
    background-color: #747474;
    transition: .4s;
}


/* ============================ Tabs Design ================================ */

.panel-heading {
    border-bottom: 0px;
    background: #FFF;
}

.square {
    border-radius: 0 !important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav.nav-tabs.nav-top-border .nav-item a {
    color: #000;
    font-size: 1.2rem;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 0;
}

.nav.nav-tabs .nav-item .nav-link {
    padding: 0.75rem 0.8rem;
    font-size: 1.5rem;
    color: #706F6F;
    display: inline-flex;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
}

.nav.nav-tabs .nav-top-border .nav-item a {
    color: #000 !important;
    font-size: 1rem !important;
}

a:hover {
    cursor: pointer;
    color: #3a44e1;
}

.nav.nav-tabs .nav-item .nav-link {
    padding: 0.75rem 0.8rem;
    font-size: 1.5rem;
}

.ulllinks-text {
    flex: 1;
}

.nav.nav-tabs .nav-item .nav-link:hover:not(.active) {
    border-color: transparent;
    color: #2380C1 !important;
}

.nav-link.active {
    border-bottom: 3px solid #DC9710 !important;
    color: #2380C1 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #000;
    font-weight: 500;
}

.nav .nav-item i {
    align-self: center;
}

.nav-item i {
    margin-right: 0.5rem;
}

.iconfont {
    float: left;
}



input[type=file] {
    /* width: 350px; */
    width: 100%;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}