<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>

<div class="table-card border radius-10 overflow-hidden shadow-sm">
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">
        <div class="d-flex align-items-center gap-2">
            <button class="btn btn-success d-flex align-items-center gap-2 border rounded px-3" routerLink="../employee-details" routerLinkActive="active">
                <i class="fas fa-plus-circle"></i>
                <span>إضافة موظف</span>
            </button>
            <!-- <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-file-download"></i>
                <span>تصدير CSV</span>
            </button> -->
            <!-- <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3"
                    id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fas fa-cogs"></i>
                    <span>الإجراءات</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border rounded">
                    <button ngbDropdownItem class="d-flex align-items-center gap-2">
                        <i class="fas fa-edit"></i>
                        <span>تعديل</span>
                    </button>
                    <button ngbDropdownItem class="d-flex align-items-center gap-2">
                        <i class="fas fa-trash-alt"></i>
                        <span>اسقاط</span>
                    </button>
                </div>
            </div> -->
            <!-- <button class="btn btn-table-action d-flex align-items-center gap-2 border rounded px-3">
                <i class="fas fa-filter"></i>
                <span>إضافة فلتر</span>
            </button> -->
        </div>
        <div class="justify-content-end">
            <!-- <nav>
                <ul class="pagination table-paging m-0">
                    <li class="page-item disabled">
                        <a class="page-link">السابق</a>
                    </li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link">2</a>
                    </li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                        <a class="page-link">التالى</a>
                    </li>
                </ul>
            </nav> -->
            <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage" [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount"></app-erp-pagination>
        </div>
    </div>
    <div class="align-items-center border-bottom d-flex flex-wrap justify-content-between p-3 table-card-title bg-light">

        <ng-container>
            <app-erp-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)" [searchPlaceholder]="'البحث بالاسم , الرقم الوظيفى ...'"></app-erp-filters>
        </ng-container>

    </div>

    <div class="p-3 bg-white">
        <div class="table-responsive shadow-sm radius-10 ">
            <table class="table table-card-table table-borderless table-middle table-hover bg-transparent m-0 table-vp-height">
                <thead>
                    <tr>
                        <th>الرقم الوظيفى</th>
                        <th>اسم الموظف</th>
                        <th>الفرع</th>
                        <th>رقم الهوية</th>
                        <th>الوظيفة</th>
                        <th>الحالة</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pagedResponseModel.results">
                        <td>{{item.code}}</td>
                        <td>{{item.fullNameAR}}</td>
                        <td>{{item.branchNameAR}}</td>
                        <td>{{item.iqamaNumber}}</td>
                        <td>{{item.jobNameAR}}</td>
                        <td>
                            <span appWorkflowStatus [id]="item.statusId" [nameEN]="item?.jobStatusEN" [nameAR]="item?.jobStatusAR">
                            </span>
                        </td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <div ngbDropdown container="body">
                                    <button class="btn-sm-action sm-action-dropdown" (click)="goToEmployeeDetails(item.employeeId)">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <!-- <div ngbDropdownMenu class="border">
                                        <button ngbDropdownItem (click)="cancelPaymentOrder(item.paymentOrderId)">اسقاط</button>
                                        <button ngbDropdownItem routerLink="/general-accounts/create-payment-receipt" [queryParams]="{PaymentOrderId:item.paymentOrderId}">انشاء سند
                                            الصرف</button>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <div class="w-100 d-flex align-items-center justify-content-center">
                                <button (click)="CancelPaymentReceipt(item.paymentReceiptId)" class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2">
                                    <i class="uil uil-times"></i>
                                    <span>إلغاء</span>
                                </button>
                                <button class="btn btn-primary me-2">
                                    <i class="fas fa-edit"></i>
                                    <span class="ms-2">Edit</span>
                                </button>
                            </div> -->
                        </td>
                    </tr>
                    <tr *ngIf="!pagedResponseModel.results.length">
                        <td colspan="9" class="text-right">
                            <app-empty-data [showEmptyData]="!pagedResponseModel.results.length"></app-empty-data>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<ng-template #ManagePermissions let-modal>
    <div class="main-card-manage">
        <div class="main-card-header p-3 main-dark-gray-bg">
            <h3 class="fs-3">User Rules</h3>
            <div class="text-muted">Add / Remove Roles</div>
        </div>
        <div class="main-card-action p-3 bg-white border-top border-top border-bottom">
            <div class="d-flex flex-column">
                <div class="form-check mb-3" *ngFor="let item of UsersRoles;let i = index">
                    <input type="checkbox" class="form-check-input m-0" [(ngModel)]="item.checked" id="Roles_{{i}}">
                    <label class="form-check-label ms-2" for="Roles_{{i}}">
                        {{item.name}}
                    </label>
                </div>
            </div>
        </div>
        <div class="main-card-body px-2 py-3 bg-light">
            <div class="d-flex align-items-center">
                <button class="btn btn-primary me-2" (click)="SaveUserRole();modal.close('Save click')">
                    <i class="fas fa-check-circle"></i>
                    <span class="ms-2">Save</span>
                </button>
                <button class="btn btn-danger">
                    <i class="fas fa-times"></i>
                    <span class="ms-2" (click)="modal.close('Save click')">Close</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #addUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Users</h4>
    </div>
    <div class="modal-body bg-light">
        <form [formGroup]="form" autocomplete="off">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="fullName" id="floatingInput" placeholder="name" required>
                        <label for="floatingInput">Full Name</label>
                        <div *ngIf="form.controls['fullName']?.invalid && (form.controls['fullName']?.dirty || form.controls['fullName']?.touched)" class="alert text-danger">
                            <div *ngIf="form.controls['fullName'].errors?.['required']">
                                fullName is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" (keypress)="CheckInputKey($event.key)" formControlName="userName" id="floatingPassword" placeholder="phone" required>
                        <label for="floatingPassword">User Name</label>
                        <div *ngIf="form.controls['userName']?.invalid && (form.controls['userName']?.dirty || form.controls['userName']?.touched)" class="alert text-danger">
                            <div *ngIf="form.controls['userName'].errors?.['required']">
                                userName is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="phoneNumber" id="floatingPassword" placeholder="flat">
                        <label for="floatingPassword">Phone Number</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div ngbDropdown class="dropdown-as-input">
                        <button type="button" id="dropdownBasic1" ngbDropdownToggle>
                            <span>{{BranchName}} <sup>*</sup></span>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-h large-scroll w-100">
                            <ng-container *ngFor="let branch of Branches">
                                <a class="dropdown-item" (click)="onBranchClick(branch)" [ngClass]="{'DropDownSelected': BranchName == branch.nameEn}">{{branch.nameEn}}</a>
                            </ng-container>
                        </div>
                    </div>
                    <div class="alert text-danger" *ngIf="BranchValidate">
                        Branch is required.
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="normalizedEmail" id="floatingPassword" placeholder="flat">
                        <label for="floatingPassword">User Mail</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" (change)="onSelectedFile($event)" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">{{'Upload' | translate}}</label>
                    </div>
                </div>
                <div *ngFor="let url of URLs" class="me-2">
                    <img class="upload-image" [src]="url">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-primary" (click)="SaveUser()">
            <i class="fas fa-save"></i>
            <span class="ms-2">Save</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">Close</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want remove this User?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');RemoveUser()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>

<ng-template #resetUserPasswordModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Action</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">Are you sure you want reset password for this User?</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click');resetUserPassword()">
            <i class="fas fa-check"></i>
            <span class="ms-2">Yes</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">No</span>
        </button>
    </div>
</ng-template>




<!-- <div class="card radius-10 border-0 card-shadow mb-1">
    <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">الموظفين</h5>

    </div>
    <div class="card-body">
        <div class="row p-2">
            <div class="col-md-8">
                <div class="d-flex align-items-center flex-wrap">
                    <a routerLink="../employee-details" routerLinkActive="active" class="btn btn-primary mb-2">
                        <span class="me-2">إضافة موظف</span>
                        <i class="uil uil-plus-circle"></i>
                    </a>

                    <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList"
                            (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="pagedResponseModel.currentPage"
                    [pageSize]="pagedResponseModel.pageSize" [totalCount]="pagedResponseModel.totalCount" ></app-erp-pagination>
            </div>
        </div>

        <div class="row p-2">
            <div class="col-md-8">
                <div class="search-box position-relative mb-2">
                    <input type="text" class="form-control" [(ngModel)]="pagedResponseModel.searchText"
                        placeholder=" اسم الموظف , الرقم الوظيفي , رقم الاقامة " (keyup.enter)="getAllEmployees()">
                    <i class="fas fa-search search-icon text-muted cursor-pointer" (click)="getAllEmployees()"></i>

                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row gy-5 gx-4 mt-1">
            <div class="col-xl-8">
                <div class="user-card bg-light p-2 rounded shadow-sm border cursor-pointer"
                    *ngFor="let item of pagedResponseModel.results" (click)="showEmployeeCardData(item)" [ngClass]="{'active-emp-card': item.isChecked}">
                    <div class="row g-3 align-items-center">
                        <div class="col-xl-9">
                            <div class="user-info d-flex align-items-center">
                                <div class="user-star me-2"  [ngClass]="{'active': item.isChecked}">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="user-profile d-flex align-items-center">
                                    <div class="ms-3 mt-2">
                                        <div class="d-flex align-items-center mb-2">
                                            <h5 class="m-0 fw-bold">{{item.fullNameAR}}</h5>
                                            <div class="user-status-box ms-3">
                                                <div *ngIf="item.statusId != 1"
                                                    class="user-status shadow-sm not-active">Not Active</div>
                                                <div *ngIf="item.statusId == 1" class="user-status shadow-sm active">
                                                    Active</div>
                                            </div>
                                        </div>
                                        <div class="user-position">
                                            <span class="text-muted">{{item.jobNameAr}} - {{item.branchNameAr}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 d-flex justify-content-end">
                            <button type="button" class="btn btn-primary me-2">
                                <span class="me-2" (click)="goToEmployeeDetails(item.employeeId)">تفاصيل</span>
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div *ngIf="selectedEmployee" class="single-user-info bg-light px-4 py-3 rounded  border position-relative h-100 mt-1">
                    <div class="single-user-img img-thumbnail shadow-sm">
                        <img src="{{selectedEmployee?.image}}" (error)="$event.target.src = defaultImage"
                            class="single-img" alt="" loading="lazy" />
                    </div>
                    <div class="pt-5 text-center">
                        <h4 class="mb-2 fw-bold">{{selectedEmployee?.fullNameAR}}</h4>
                        <h4 class="mb-2 fw-bold">{{selectedEmployee?.fullNameEN}}</h4>
                        <div class="text-muted">
                            <div>{{selectedEmployee?.jonNameAR}} - {{selectedEmployee?.email}}</div>
                            <div>{{selectedEmployee?.birthDate |date}}</div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="single-user-stats">
                        <div class="single-user-stats-item d-flex align-items-center justify-content-between">
                            <div class="text-muted">كود الموظف</div>
                            <div class="fw-bold">{{selectedEmployee?.code}}</div>
                        </div>
                        <div class="single-user-stats-item d-flex align-items-center justify-content-between">
                            <div class="text-muted">الفرع</div>
                            <div class="fw-bold">{{selectedEmployee?.branchNameAR}}</div>
                        </div>
                        <div class="single-user-stats-item d-flex align-items-center justify-content-between">
                            <div class="text-muted">الوظيفة</div>
                            <div class="fw-bold">{{selectedEmployee?.jonNameAR}}</div>
                        </div>
                        <div class="single-user-stats-item d-flex align-items-center justify-content-between">
                            <div class="text-muted">الجنسية</div>
                            <div class="fw-bold">{{selectedEmployee?.nationalityNameAR}}</div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="single-user-files">
                        <div class="text-muted mb-2">الملفات المرفقة</div>
                        <div class="single-user-file-box">
                            <div
                                class="single-user-file d-flex align-items-center justify-content-between border shadow-sm cursor-pointer px-4 py-2">
                                <div class="d-flex align-items-center">
                                    <div class="file-box-icon">
                                        <i class="fas fa-file-alt"></i>
                                    </div>
                                    <div class="file-info ms-3">
                                        <div class="fw-bold">Overview.pdf</div>
                                        <div class="text-muted">50 Kb</div>
                                    </div>
                                </div>
                                <div class="file-downloader">
                                    <i class="fas fa-download"></i>
                                </div>
                            </div>
                            <div
                                class="single-user-file d-flex align-items-center justify-content-between border shadow-sm cursor-pointer px-4 py-2">
                                <div class="d-flex align-items-center">
                                    <div class="file-box-icon">
                                        <i class="fas fa-file-alt"></i>
                                    </div>
                                    <div class="file-info ms-3">
                                        <div class="fw-bold">Contract.pdf</div>
                                        <div class="text-muted">30 Kb</div>
                                    </div>
                                </div>
                                <div class="file-downloader">
                                    <i class="fas fa-download"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button routerLink="../employee-details" routerLinkActive="active"
                        [queryParams]="{EmployeeId:selectedEmployee?.employeeId}"
                        class="btn btn-primary w-100 justify-content-center py-3 fs-5 radius-10">
                        <i class="fas fa-id-card"></i>
                        <span class="ms-3">تعديل البيانات</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- <div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">الموظفين</h5>
       
    </div>
    <div class="card-body">
        <div class="main-card-action d-flex align-items-center flex-wrap">
            <button class="btn btn-dark mb-1">
                <i class="uil uil-eye"></i>
                <span class="ms-2">Preview</span>
            </button>
            <button class="btn btn-warning mb-1">
                <i class="uil uil-location-arrow"></i>
                <span class="ms-2">Update</span>
            </button>
            <button class="btn btn-secondary mb-1">
                <i class="uil uil-print"></i>
                <span class="ms-2">Print</span>
            </button>
            <button class="btn btn-danger mb-1">
                <i class="uil uil-times-circle"></i>
                <span class="ms-2">Exist</span>
            </button>
        </div>
        <div class="row py-3">
            
            <div class="col-lg-4">

            </div>
            <div class="col-lg-2">
               
            </div>
        </div>

    </div>
</div> -->