
<input #ImportAccounts type="file" hidden  (change)="onFileSelected($event)" accept=".pdf,.docx,.doc,.xls,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
        ,application/vnd.ms-excel,image/*,image/gif, image/jpeg,*/*" />
<div class="btn-action d-flex align-items-center flex-wrap mb-3">

    <div ngbDropdown class="d-inline-block me-2">
        <button type="button" class="btn btn-secondary btn-lg me-2" id="dropdownBasic1" ngbDropdownToggle>
            العمليات
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="downloadImporterTemplate()">تحميل القالب</button>
            <button ngbDropdownItem (click)="ImportAccounts.click()">استيراد حسابات</button>
            
            <!-- <button ngbDropdownItem (click)="PostJournalEntry()">ترحيل</button>
            <button ngbDropdownItem (click)="ReverseJournalEntry()">عكس</button>
            <button ngbDropdownItem (click)="PrintJournalEntry()">طباعة</button> -->
        </div>
    </div>

    <!-- <button (click)="dataUpdated(true)" class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
      <i class="fas fa-sync-alt"></i>
      <span class="ms-2">تحديث</span>
    </button> -->
    <!-- <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
      <i class="fas fa-trash-alt"></i>
      <span class="ms-2">حذف</span>
    </button>
    <button class="btn btn-secondary btn-lg d-flex align-items-center fs-6 me-2 px-3 mb-1">
      <i class="fas fa-eye"></i>
      <span class="ms-2">معاينة</span>
    </button> -->
</div>

<div class="card radius-10 border-0 card-shadow">
    <div class="card-header bg-white">
        <h6 class="fw-bold m-0">رمز الحساب</h6>
    </div>
    <div class="card-body bg-light">
        <div class="row">
            <div class="col-lg-6">

                <app-account-tree-v2 
                (selectedAccount)="selectedAccount($event)"
                [reloadData]="reloadData"></app-account-tree-v2>
            </div>
            <div class="col-lg-6">

                <app-add-edit-account-tree 
                [accountTreeModel]="selectedAccountTreeModel"
                [isUpdate]="isUpdate"
                (dataUpdated)="dataUpdated($event)"
                >
                </app-add-edit-account-tree>
            </div>
        </div>
    </div>
</div>