<div class="">
  <div class="row gy-3">
    <!-- <div class="col-md-6">
      <select class="form-control" (change)="changeSearchType($event)">
        <option value="accountName" selected>اسم الحساب</option>
        <option value="accountNumber" >رقم الحساب</option>
      </select>
    </div> -->
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-text">
          <button (click)="loadData()" class="border-0">
            <i class="fas fa-search"></i>
          </button>

        </span>
        <input [(ngModel)]="SearchText" (keyup.enter)="loadData()" type="text" placeholder="اسم الحساب"
          class="form-control">
      </div>
    </div>
    <!-- <div class="col-md-12">
      <select class="form-control">
        <option value="0" selected disabled>رقم الحساب</option>
        <option value="1">حساب 1</option>
        <option value="2">حساب 2</option>
        <option value="3">حساب 3</option>
        <option value="4">حساب 4</option>
      </select>
    </div> -->
    <div *ngIf="AccountTreeData && AccountTreeData.length>0" class="col-md-12">
      <div class="border bg-white small-scroll overflow-auto p-2 max-height-350">

        <div *ngFor="let account of AccountTreeData">
          <app-account-tree-item 
            [account]="account"
            (selectedAccount)="selectAccount($event)"
            ></app-account-tree-item>
        </div>
      </div>

    </div>
  </div>
</div>

<ngx-loading [show]="showLoader"></ngx-loading>