<!-- NEW CONTENT  -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mb-4 g-4">
    <div class="col" *ngFor="let data of overviewList">
        <app-overview-card [data]="data"></app-overview-card>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-6">
        <div class="card radius-10 border-0 card-shadow h-100">
            <div class="card-body">
                <h5 class="mb-0 fw-bold">أذونات الاستلام</h5>
                <hr class="my-4">
                <div class="widget-line">
                    <div *ngFor="let item of receiveOrders" class="d-flex align-items-center justify-content-between widget-mb">
                        <div class="d-flex align-items-center">
                            <div class="w-icon bg-primary-gradient">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <div class="ms-3">
                                <div class="fs-5 fw-bold">{{item.supplierNameAR}}</div>
                                <div class="text-muted fs-6">{{item.totalValue }}</div>
                            </div>
                        </div>
                        <div class="text-muted">{{item.orderDate | date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card radius-10 border-0 card-shadow h-100">
            <div class="card-body">
                <h5 class="mb-0 fw-bold">أذونات الصرف</h5>
                <hr class="my-4">
                <div class="widget-line">
                    <div *ngFor="let item of deliveryOrders" class="d-flex align-items-center justify-content-between widget-mb">
                        <div class="d-flex align-items-center">
                            <div class="w-icon bg-primary-gradient">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <div class="ms-3">
                                <div class="fs-5 fw-bold">{{item.branchNameAR}}</div>
                                <div class="text-muted fs-6">{{item.totalValue}}</div>
                            </div>
                        </div>
                        <div class="text-muted">{{item.orderDate | date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row mb-3">
    <div class="col-lg-12">
        <div class="card radius-10 border-0 card-shadow h-100">
            <div class="card-header border-bottom bg-gray">
                <h5 class="mb-0 fw-bold">أذونات الصرف </h5>
            </div>
            <div class="card-body min-height-50">
                <div class="table-responsive small-scroll overflow-auto pe-2 mh-270">
                    <table class="table table-borderless align-middle table-middle mb-2 table-hover">
                        <thead>
                            <tr>
                                <th>اسم الموظف</th>
                                <th>الموظف البديل</th>
                                <th>من تاريخ</th>
                                <th>حتى تاريخ</th>
                                <th>أخر يوم عمل</th>
                                <th>اجمالي المدة بالأيام</th>
                                <th>الحالة</th>
                                <th>المدير المباشر</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of VacationsList">
                                <td>{{item.employeeName}}</td>
                                <td>{{item.alternativeEmployeeName}}</td>
                                <td>{{item.fromDate | date}}</td>
                                <td>{{item.toDate | date}}</td>
                                <td>{{item.lastDayWork | date}}</td>
                                <td>{{item.period}}</td>
                                <td>
                                    <div appColorWithStatus status="isApproved" [text]="item.isApproved"></div>
                                </td>
                                <td>{{item.directManager}}</td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-pen"></i>
                                            <span>تعديل</span>
                                        </button>
                                        <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-trash-alt"></i>
                                            <span>الغاء</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-lg-12">
        <div class="card radius-10 border-0 card-shadow h-100">
            <div class="card-header border-bottom bg-gray">
                <h5 class="mb-0 fw-bold">طلبات السلف</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive small-scroll overflow-auto pe-2 mh-270">
                    <table class="table table-borderless align-middle table-middle mb-0 table-hover">
                        <thead>
                            <tr>
                                <th>اسم الموظف</th>
                                <th> تاريخ البدء</th>
                                <th> تاريخ الانتهاء</th>
                                <th>نوع الخصم</th>
                                <th>القيمة </th>
                                <th>القسط </th>
                                <th>الحالة</th>
                                <th>السبب</th>
                                <th>المدير المباشر</th>
                                <th>العمليات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of LoansList">
                                <td>{{item.employeeName}}</td>
                                <td>{{item.paymentFromDate | date}}</td>
                                <td>{{item.paymentToDate | date}}</td>
                                <td>{{item.loanTypeName}}</td>
                                <td>{{item.loanAmount}}</td>
                                <td>{{item.paymentAmount}}</td>
                                <td>
                                    <div appColorWithStatus status="isApproved" [text]="item.isApproved"></div>
                                </td>
                                <td class="word-break">{{item.notes}}</td>
                                <td>
                                    <div appColorWithStatus status="entryStatus" [text]="item.directManager"></div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-pen"></i>
                                            <span>تعديل</span>
                                        </button>
                                        <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2">
                                            <i class="uil uil-trash-alt"></i>
                                            <span>الغاء</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card radius-10 border-0 card-shadow h-100 small-scroll">
            <div class="card-body ">
                <h5 class="fw-bold">قائمة الموردين</h5>
                <div *ngFor="let item of suppliersList" class="d-flex align-items-center justify-content-between widget-mb">
                    <div class="d-flex align-items-center">
                        <div class="w-icon bg-primary-gradient">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <div class="ms-3">
                            <div class="fs-5 fw-bold">{{item.nameAR}}</div>
                            <div class="text-muted fs-6">{{item.beginningBalance }}</div>
                        </div>
                    </div>
                    <div class="text-muted"> كشف حساب </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 mb-4">
        <div class="card radius-10 border-0 card-shadow h-100">
            <div class="card-body  recent-h">
                <h5 class="mb-3 fw-bold">فواتير المشتريات</h5>
                <div class="table-responsive">
                    <table class="table align-middle mb-0 table-hover">
                        <thead>
                            <tr>
                                <th class="wd-lg-25p">Date</th>
                                <th class="wd-lg-25p">Sales Count</th>
                                <th class="wd-lg-25p">Earnings</th>
                                <th class="wd-lg-25p">Tax Witheld</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>05 Dec 2019</td>
                                <td class="fw-medium">34</td>
                                <td class="fw-medium">$658.20</td>
                                <td class="text-danger fw-medium">-$45.10</td>
                            </tr>
                            <tr>
                                <td>06 Dec 2019</td>
                                <td class="fw-medium">26</td>
                                <td class="fw-medium">$453.25</td>
                                <td class="text-danger fw-medium">-$15.02</td>
                            </tr>
                            <tr>
                                <td>07 Dec 2019</td>
                                <td class="fw-medium">34</td>
                                <td class="fw-medium">$653.12</td>
                                <td class="text-danger fw-medium">-$13.45</td>
                            </tr>
                            <tr>
                                <td>08 Dec 2019</td>
                                <td class="fw-medium">45</td>
                                <td class="fw-medium">$546.47</td>
                                <td class="text-danger fw-medium">-$24.22</td>
                            </tr>
                            <tr>
                                <td>09 Dec 2019</td>
                                <td class="fw-medium">31</td>
                                <td class="fw-medium">$425.72</td>
                                <td class="text-danger fw-medium">-$25.01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>