<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>


<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-bottom mb-2">أمر صرف</div>
    <div class="inputs-sec-content px-3 py-3">
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">رقم الأمر <span
                                class="text-danger">*</span></label>
                        <input type="text" disabled class="form-control nw-form-input"
                            formControlName="orderNumber" />
                        <div *ngIf="formErrors.orderNumber" class="text-danger  font-small-3 m-03">
                            {{formErrors.orderNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">المستفيـد<span
                                class="text-danger">*</span></label>

                        <input type="text" class="form-control nw-form-input" formControlName="contactName" />
                        <div *ngIf="formErrors.contactName" class="text-danger  font-small-3 m-03">
                            {{formErrors.contactName}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">طريقة الدفع <span
                                class="text-danger">*</span></label>

                        <app-general-selector formControlName="paymentTypeId" [data]="paymentTypeList"
                            [placeholder]="'طريقة الدفع'"></app-general-selector>
                        <div *ngIf="formErrors.paymentTypeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.paymentTypeId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">من حساب<span
                                class="text-danger">*</span></label>
                        <app-general-selector formControlName="fromAccountId" [data]="fromAccounts"
                            [placeholder]="'الحسابات'">
                        </app-general-selector>
                        <div *ngIf="formErrors.fromAccountId" class="text-danger  font-small-3 m-03">
                            {{formErrors.fromAccountId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">نوع جهة التعامل <span
                                class="text-danger">*</span></label>
                        <!-- <app-general-selector [data]="agencyTypeList" (ItemObj)="GetSelectedAgencyType($event)">
                        </app-general-selector> -->

                        <app-general-selector formControlName="agencyTypeId" [data]="agencyTypeList"
                            (valueChanged)="getSelectedAgencyType($event)"
                            [disabled]="purchaseInvoiceId"
                            [placeholder]="'نوع جهة التعامل '"></app-general-selector>
                        <div *ngIf="formErrors.agencyTypeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.agencyTypeId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2" *ngIf="formGroup?.value?.agencyTypeId">
                        <label class="form-label d-flex align-items-center gap-2">الحساب / جهة التعامل <span
                                class="text-danger">*</span></label>
                        <app-general-selector *ngIf="formGroup?.value?.agencyTypeId == 1" formControlName="accountId"
                            [data]="accountList" [placeholder]="'الحسابات'">
                        </app-general-selector>
                        <div *ngIf="formErrors.accountId" class="text-danger  font-small-3 m-03">
                            {{formErrors.accountId}}
                        </div>
                        <app-general-selector *ngIf="formGroup?.value?.agencyTypeId == 2" [disabled]="purchaseInvoiceId" formControlName="supplierId"
                            [data]="supplierList" [placeholder]="'جهة التعامل'">
                        </app-general-selector>
                        <div *ngIf="formErrors.supplierId" class="text-danger  font-small-3 m-03">
                            {{formErrors.supplierId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">تاريخ الأمر <span
                                class="text-danger">*</span></label>
                        <input type="date" class="form-control nw-form-input" formControlName="releaseDate"
                            placeholder="any" autocomplete="off">
                        <div *ngIf="formErrors.releaseDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.releaseDate}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">المبلغ<span
                                class="text-danger">*</span></label>


                        <input type="number" class="form-control nw-form-input text-center"
                            formControlName="moneyAmount" />
                        <div *ngIf="formErrors.moneyAmount" class="text-danger  font-small-3 m-03">
                            {{formErrors.moneyAmount}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">البيان</label>

                        <input type="text" class="form-control nw-form-input description-area"
                            formControlName="description" />
                        <div *ngIf="formErrors.description" class="text-danger  font-small-3 m-03">
                            {{formErrors.description}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2 border-top mb-2">
        <button [disabled]="showAddLoader" class="btn btn-secondary btn-lg fs-6 me-2 mt-2" (click)="savePaymentOrder()">
            <i class="fas fa-check-circle"></i>
            <span class="ms-2">حفظ</span>
        </button>

        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2" (click)="initNewForm()">
            <i class="fas fa-times"></i>
            <span class="ms-2">مسح</span>
        </button>

        <button class="btn btn-secondary btn-lg fs-6 me-2 mt-2">
            <i class="fas fa-print"></i>
            <span class="ms-2">طباعة</span>
        </button>
    </div>

</div>





<!-- <div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header bg-white">
        <h5 class="m-0 fw-bold">سندات الصرف</h5>
    </div>
    <div class="card-body bg-light">
        <div class="row ">
            <div class="col-lg-3 offset-lg-1 mb-3">
                <div class="form-floating">
                    <input type="text" disabled [(ngModel)]="paymentReceiptModel.orderNumber" class="form-control input-size" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2"> رقم الايصال</label>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 mb-3">
                <div class="form-floating">
                    <input type="text" [(ngModel)]="paymentReceiptModel.benefitPerson" class="form-control input-size" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2"> اسم المستفيد</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 offset-lg-1 mb-3">
                <app-erp-selector-with-search #Selector [SelectorName]="'طريقه الدفع'" [ItemsList]="paymentTypeList" [Height]="'35px'" [SearchKey]="'nameAR'" (ItemObj)="GetSelectedPaymentType($event)">
                </app-erp-selector-with-search>
            </div>
            <div class="col-lg-3 offset-lg-1 mb-3">

                <app-erp-selector-with-search #Selector [SelectorName]="'دفتر  ايصال'" [ItemsList]="receiptLedgerList" [Height]="'35px'" [SearchKey]="'nameAR'" [innerTextKey]="'nameAR'" (ItemObj)="GetSelectedReceiptLedger($event)">
                </app-erp-selector-with-search>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 offset-lg-1 mb-3">
                <app-erp-selector-with-search #Selector [SelectorName]="'نوع  جهة التعامل'" [ItemsList]="agencyTypeList" [Height]="'35px'" [SearchKey]="'nameAR'" (ItemObj)="GetSelectedAgencyType($event)">
                </app-erp-selector-with-search>

            </div>
            <div *ngIf="selectedAgencyType == 0" class="col-lg-3 offset-lg-1 mb-3">
                <app-erp-selector-with-search #Selector [SelectorName]="'جهة التعامل'" [ItemsList]="supplierList" [Height]="'35px'" [SearchKey]="'nameAR'" (ItemObj)="GetSelectedSupplier($event)">
                </app-erp-selector-with-search>
            </div>

            <div *ngIf="selectedAgencyType == 1" class="col-lg-3 offset-lg-1 mb-3">
                <app-erp-selector-with-search #Selector [SelectorName]="'الحسابات'" [ItemsList]="accountList" [Height]="'35px'" [SearchKey]="'nameAR'" (ItemObj)="GetSelectedAccount($event)">
                </app-erp-selector-with-search>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 offset-lg-1 mb-3" *ngIf="paymentReceiptModel?.paymentTypeId==3">
                <div class="form-floating">
                    <input type="text" [(ngModel)]="paymentReceiptModel.chequeNumber" class="form-control input-size" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2"> رقم الشيك</label>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 offset-lg-1 mb-3">

                <div class="form-floating">
                    <input type="date" class="form-control input-size" [(ngModel)]="paymentReceiptModel.releaseDate" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2">تاريخ </label>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 mb-3">
                <div class="form-floating">
                    <input type="text" [(ngModel)]="paymentReceiptModel.docNumber" class="form-control input-size" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2"> الرقم الدفتري</label>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 offset-lg-1 mb-3">
                <div class="form-floating">
                    <input type="number" [(ngModel)]="paymentReceiptModel.moneyAmount" class="form-control input-size" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2"> المبلغ</label>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-9 offset-lg-1 h-100">
                <div class="form-floating">
                    <textarea type="text" [(ngModel)]="paymentReceiptModel.description" class="form-control " id="floatingInput2" placeholder="any" autocomplete="off">
                    </textarea>
                    <label for="floatingInput2">البيان</label>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div class="offset-lg-1">

                <button class="btn btn-primary btn-lg fs-6 me-2" (click)="SavePaymentReceipt()">
                    <i class="fas fa-check-circle"></i>
                    <span class="ms-2">حفظ</span>
                </button>

                <button class="btn btn-warning btn-lg fs-6 me-2" (click)="ClearAllFields()">
                    <i class="fas fa-times"></i>
                    <span class="ms-2">مسح</span>
                </button>
            </div>

        </div>
    </div>
</div> -->