<app-breadcrumb [TitleList]="TitleList"></app-breadcrumb>


<div class="inputs-wrapper border rounded bg-white mb-3">
    <div class="d-flex justify-content-between align-items-center px-3 border-bottom mb-2">
        <div class="inputs-sec-title fw-semibold fs-16 px-3 py-2">
            انشاء امر صرف جديد
        </div>
        <div class="d-flex">

            <div class="d-flex align-items-center justify-content-center">
                <div ngbDropdown container="body">
                    <button class="btn-sm-action sm-action-dropdown" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div ngbDropdownMenu class="border">
                        <button ngbDropdownItem (click)="initNewForm()" *ngIf="!paymentOrderId &&!showLoader">
                            <i class="fas fa-times"></i>
                            <span class="px-2">
                                افراغ الخانات
                            </span>
                        </button>
                        <button *ngIf="paymentOrderId" ngbDropdownItem>
                            <i class="fas fa-print"></i>
                            <span class="px-2">
                                طباعة
                            </span>
                        </button>
                        <button *ngIf="paymentOrderId" ngbDropdownItem routerLink="/general-accounts/create-payment-receipt" [queryParams]="{PaymentOrderId:paymentOrderId}">
                            <i class="fas fa-upload"></i>
                            <span class="px-2">
                                انشاء سند صرف
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="paymentOrderId">
                <app-next-previous [nextId]="receiptModel?.nextId" [previousId]="receiptModel?.previousId" (valueChanged)="goToPage($event)">
                </app-next-previous>
            </ng-container>

            <button [disabled]="showAddLoader" class="btn btn-secondary  m-2 d-flex align-items-center gap-2 border rounded px-3" (click)="openSaveModal(saveDialog)">
                <i class="fas fa-check-circle"></i>
                <span class="ms-2">حفـظ</span>
            </button>
        </div>
    </div>

    <div class="inputs-sec-content px-3 py-3">
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">رقم الأمر <span
                                class="text-danger">*</span></label>
                        <input type="text" disabled class="form-control nw-form-input" formControlName="orderNumber" />
                        <div *ngIf="formErrors.orderNumber" class="text-danger  font-small-3 m-03">
                            {{formErrors.orderNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">المستفيـد<span
                                class="text-danger">*</span></label>

                        <input type="text" class="form-control nw-form-input" formControlName="contactName" />
                        <div *ngIf="formErrors.contactName" class="text-danger  font-small-3 m-03">
                            {{formErrors.contactName}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">طريقة الدفع <span
                                class="text-danger">*</span></label>

                        <app-general-selector formControlName="paymentTypeId" [showSearch]="true" [data]="paymentTypeList" [placeholder]="'طريقة الدفع'"></app-general-selector>
                        <div *ngIf="formErrors.paymentTypeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.paymentTypeId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">من حساب<span
                                class="text-danger">*</span></label>
                        <app-general-selector formControlName="fromAccountId" [showSearch]="true" [data]="fromAccounts" [placeholder]="'الحسابات'">
                        </app-general-selector>
                        <div *ngIf="formErrors.fromAccountId" class="text-danger  font-small-3 m-03">
                            {{formErrors.fromAccountId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">نوع جهة التعامل <span
                                class="text-danger">*</span></label>
                        <!-- <app-general-selector [showSearch]="true" [data]="agencyTypeList" (ItemObj)="GetSelectedAgencyType($event)">
                        </app-general-selector> -->

                        <app-general-selector formControlName="agencyTypeId" [showSearch]="true" [data]="agencyTypeList" (valueChanged)="getSelectedAgencyType($event)" [disabled]="purchaseInvoiceId" [placeholder]="'نوع جهة التعامل '"></app-general-selector>
                        <div *ngIf="formErrors.agencyTypeId" class="text-danger  font-small-3 m-03">
                            {{formErrors.agencyTypeId}}
                        </div>
                    </div>
                </div>

                <div *ngIf="formGroup?.value?.agencyTypeId == 2 ||formGroup?.value?.agencyTypeId == 4" class="col-lg-3">
                    <div class="mb-2" *ngIf="formGroup?.value?.agencyTypeId">
                        <label class="form-label d-flex align-items-center gap-2"> جهة التعامل <span
                                class="text-danger">*</span></label>
                        <app-general-selector [showSearch]="true" *ngIf="formGroup?.value?.agencyTypeId == 2" [disabled]="purchaseInvoiceId" formControlName="supplierId" [data]="supplierList" [placeholder]="'جهة التعامل'">
                        </app-general-selector>
                        <div *ngIf="formErrors.supplierId" class="text-danger font-small-3 m-03">
                            {{formErrors.supplierId}}
                        </div>
                        <app-general-selector [showSearch]="true" *ngIf="formGroup?.value?.agencyTypeId == 4" [disabled]="purchaseInvoiceId" formControlName="employeeId" [data]="employeesSelectorData" [placeholder]="'اسم الموظف'">
                        </app-general-selector>
                        <div *ngIf="formErrors.employeeId" class="text-danger font-small-3 m-03">
                            {{formErrors.employeeId}}
                        </div>
                    </div>

                </div>
                <div [class]="formGroup?.value?.agencyTypeId == 2 ||formGroup?.value?.agencyTypeId == 4 ?'col-lg-3':'col-lg-6'">
                    <div class="mb-2" *ngIf="formGroup?.value?.agencyTypeId">
                        <label class="form-label d-flex align-items-center gap-2">الحساب<span
                                class="text-danger">*</span></label>
                        <app-general-selector [showSearch]="true" formControlName="accountId" [data]="accountList" [placeholder]="'الحسابات'">
                        </app-general-selector>
                        <div *ngIf="formErrors.accountId" class="text-danger font-small-3 m-03">
                            {{formErrors.accountId}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">تاريخ الأمر <span
                                class="text-danger">*</span></label>
                        <input type="date" class="form-control nw-form-input" formControlName="releaseDate" placeholder="any" autocomplete="off">
                        <div *ngIf="formErrors.releaseDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.releaseDate}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">المبلغ<span
                                class="text-danger">*</span></label>

                        <input type="number" class="form-control nw-form-input text-center" formControlName="moneyAmount" />
                        <div *ngIf="formErrors.moneyAmount" class="text-danger  font-small-3 m-03">
                            {{formErrors.moneyAmount}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="mb-2">
                        <label class="form-label d-flex align-items-center gap-2">البيان</label>

                        <input type="text" class="form-control nw-form-input description-area" formControlName="description" />
                        <div *ngIf="formErrors.description" class="text-danger  font-small-3 m-03">
                            {{formErrors.description}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<ngx-loading [show]="showLoader"></ngx-loading>

<ng-template #saveDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title">تأكيد العملية</h4>
    </div>
    <div class="modal-body">
        <p class="fs-5 m-0">هل انت متأكد من الحفظ ؟</p>
    </div>
    <div class="modal-footer justify-content-start">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click'); savePaymentOrder()">
            <i class="fas fa-check"></i>
            <span class="ms-2">نعم</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
            <i class="fas fa-times"></i>
            <span class="ms-2">الغاء</span>
        </button>
    </div>
</ng-template>