<div class="card radius-10 border-0 card-shadow mb-4">
    <div class="card-header border-bottom bg-gray d-flex align-items-center justify-content-between">
        <h5 class="mb-0 fw-bold">مجموعات الأصناف</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="d-flex  flex-wrap">

                    <div class="search-box position-relative mb-2">
                        <button class="btn btn-outline-primary border m-2" (click)="openNewSidePanel(addItemCategoryModal)">
                            <span class="me-2">إضافة مجموعة</span>
                            <i class="uil uil-plus fs-5"></i>
                        </button>
                        <button [disabled]="showAddLoader" class="btn btn-secondary border m-2" (click)="saveCategoriesDisplayOrder()">
                            <span class="me-2">تعديل الترتيب</span>
                            <i class="uil uil-arrows-v fs-5"></i>
                        </button>
                    </div>
                    <!-- <ng-container *ngIf="filterList.length > 0">
                        <app-pos-filters [FilterList]="filterList" (filterChanged)="filterChecked($event)"></app-pos-filters>
                    </ng-container> -->
                </div>
            </div>
            <!-- <div class="col-md-4">
                <app-erp-pagination (pageChanged)="pageChanged($event)" [currentPage]="responseModel.currentPage"
                    [pageSize]="responseModel.pageSize" [totalCount]="responseModel.totalCount"></app-erp-pagination>
            </div> -->
        </div>
        <!-- <h5 class="mb-3 fw-bold">Table</h5> -->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-vp-height">
                    <table class="table table-bordered table-middle table-hover bg-white m-0">
                        <thead>
                            <tr>
                                <th style="min-width: 20px !important; "></th>
                                <!-- <th>Display Order</th> -->
                                <!-- <th class="td-img"></th> -->
                                <th>اسم المجموعة (AR)</th>
                                <th>اسم المجموعة (EN)</th>
                                <th>حساب التشغيل</th>
                                <th>حساب الإدارة</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of responseModel.results;let i = index" draggable="true" [class.sortable-item-active]="draggedOverIndex == i&& listIndex==1" (dragover)="XallowDrop($event, responseModel.results,i,1,true)" (dragstart)="XonDragStart(i,1)" (drop)="XonDrop($event,responseModel.results,i, 1)">
                                <td class="cursor-pointer" style="font-size: 25px;">
                                    <i class="fas fa-grip-vertical"></i>
                                    <!-- <i class="fas fa-sort" ></i> -->

                                </td>
                                <!-- <td style="font-size: 16px;">
                            {{category.displayOrder}}
                        </td> -->
                                <!-- <td>
                            <img class="table-img" height="100" width="100" src="{{category.image}}" (error)="$event.target.src = DefaultImage">
                        </td> -->
                                <td>{{ category.nameEN }}</td>
                                <td>{{ category.nameAR }}</td>
                                <td>{{ category.operationAccountName}}</td>
                                <td>{{ category.managementAccountName}}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center gap-2">
                                        <label class="switch me-2">
                                            <input type="checkbox" [(ngModel)]="category.isActive"
                                                (change)="changeCategoryStatus(category.itemCategoryId)"
                                                class="ng-valid ng-dirty ng-touched">
                                            <span class="slider round"></span>
                                        </label>
                                        <button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2" (click)="openNewSidePanel(addItemCategoryModal,category)">
                                            <i class="uil uil-pen"></i>
                                            <span>تعديل</span>
                                        </button>
                                        <button class="button-table-action btn-delete d-flex align-items-center justify-content-center gap-2" (click)="openDeleteModal(deleteItemCategoryDialog,category.itemCategoryId)">
                                            <i class="uil uil-trash-alt"></i>
                                            <span>حذف</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="main-card-action py-3 bg-white border-top">
            <button class="btn btn-primary" (click)="saveCategoriesDisplayOrder()">
                <i class=""></i>
                <span class="ms-2">Save</span>
            </button>
        </div> -->
            </div>
        </div>

        <ngx-loading [show]="showLoader"></ngx-loading>


        <ng-template #addItemCategoryModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="formGroup" autocomplete="off">
                    <div class="employee-card-body row">
                        <div class="col-xl-5">
                            <div class="form-floating  mb-3">
                                <input type="text" formControlName="nameAR" class="form-control" id="floatingInput1" placeholder="any">
                                <label for="floatingInput1">الاسم عربي</label>
                                <div *ngIf="formErrors.nameAR" class="text-danger  font-small-3 m-03">
                                    {{formErrors.nameAR}}
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-1"></div>

                        <div class="col-xl-5">

                            <div class="form-floating mb-3">
                                <input type="text" formControlName="nameEN" class="form-control" id="floatingInput1" placeholder="any">
                                <label for="floatingInput2">الاسم انجليزي</label>
                                <div *ngIf="formErrors.nameEN" class="text-danger  font-small-3 m-03">
                                    {{formErrors.nameEN}}
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-1"></div>
                        <div class="col-xl-5 mb-3">
                            <app-drop-down-form-control formControlName="operationAccountId" [placeholder]="'Operation Account'" [showSearch]="true" [data]="childAccountSelectorData"></app-drop-down-form-control>
                            <div *ngIf="formErrors.operationAccountId" class="text-danger  font-small-3 m-03">
                                {{formErrors.operationAccountId}}
                            </div>

                        </div>
                        <div class="col-xl-1"></div>
                        <div class="col-xl-5 mb-3">
                            <app-drop-down-form-control formControlName="managementAccountId" [showSearch]="true" [placeholder]="'Management Account'" [data]="childAccountSelectorData"></app-drop-down-form-control>
                            <div *ngIf="formErrors.managementAccountId" class="text-danger  font-small-3 m-03">
                                {{formErrors.managementAccountId}}
                            </div>

                        </div>
                        <div class="col-xl-1"></div>

                        <div class="col-xl-5">
                            <div class=" mb-3">

                                <div class="d-flex">
                                    <input class="form-check-input width-30 height-30" formControlName="isActive" type="checkbox" value="" id="flexCheckDefault">
                                    <label class=" form-label m-2">نشط</label>
                                </div>
                                <div *ngIf="formErrors.isActive" class="text-danger  font-small-3 m-03">
                                    {{formErrors.isActive}}
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-1"></div>
                        <div class="col-xl-11">
                            <div class="form-floating mb-3">
                                <textarea type="text" formControlName="description" class="form-control" id="floatingInput10" placeholder="الوصف"></textarea>
                                <label for="floatingInput10">الوصف</label>

                                <div *ngIf="formErrors.description" class="text-danger  font-small-3 m-03">
                                    {{formErrors.description}}
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <div class="d-flex justify-content-left">
                    <button [disabled]="showAddLoader" (click)="saveCategory()" class="btn btn-primary m-2">
                        <span *ngIf="!isUpdate">إضافة</span>
                        <span *ngIf="isUpdate">تعديل</span>
                    </button>
                    <!-- <button (click)="initNewForm()" class="btn btn-danger m-2">
                        <span class="ms-3">إلغاء</span>
                    </button> -->
                </div>
                <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
                    <i class="fas fa-times"></i>
                    <span class="ms-2">إلغاء</span>
                </button>
            </div>
        </ng-template>


        <ng-template #deleteItemCategoryDialog let-modal>
            <div class="modal-header">
                <h4 class="modal-title">تأكيد العملية</h4>
            </div>
            <div class="modal-body">
                <p class="fs-5 m-0">هل انت متأكد من الحذف ؟</p>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-success" (click)="modal.close('Save click');deleteCategory()">
                    <i class="fas fa-check"></i>
                    <span class="ms-2">نعم</span>
                </button>
                <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
                    <i class="fas fa-times"></i>
                    <span class="ms-2">الغاء</span>
                </button>
            </div>
        </ng-template>