<button class="button-table-action btn-edit d-flex align-items-center justify-content-center gap-2" (click)="OpenSidePanel(InvoiceDetailsSidepanel)">
    <i class="far fa-eye"></i>
    <span class="ms-2">تفاصيل</span>
</button>

<ng-template #InvoiceDetailsSidepanel let-offcanvas>
    <div class="offcanvas-header mb-2" style="background-color: lightgray;">
        <div>
            <h4 class="offcanvas-title m-0 d-flex align-items-center w-100">
                <i class="fas fa-info-circle fa-1x me-2"></i> رقم الفاتورة : {{invoiceData?.invoiceNumber}}
            </h4>
            <div class="sub-header ps-4 m-2">
                <span class="fw-bold">اسم المورد :</span> {{invoiceData?.supplierName}}
            </div>
            <div class="sub-header ps-4 m-2">
                <span class="fw-bold">تاريخ الفاتورة :</span> {{invoiceData?.invoiceDate | date:'medium' }}
            </div>
        </div>
    </div>

    <div class="offcanvas-body pt-0">
        <div class="d-flex justify-content-end">
            <button class="btn btn-dark mb-3" (click)="PrintOrders()">
                <i class="fas fa-print"></i><span class="ms-2">{{"Print"}}</span>
            </button>

            <button class="btn btn-danger mb-3 ms-2" (click)="offcanvas.dismiss()">
                <i class="fas fa-times"></i><span class="ms-2">{{"Close"}}</span>
            </button>
        </div>


        <div class="table-responsive sidepanel-table-h large-scroll">
            <table class="table table-bordered table-responsive table-middle table-hover m-0 bg-white bigtitle">
                <thead>
                    <tr>
                        <th>اسم الصنف (Ar)</th>
                        <th>اسم الصنف (En)</th>
                        <th>الوحدة</th>
                        <th>سعر الوحدة</th>
                        <th>الكمية</th>
                        <th>إجمالى القيمة</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of invoiceData?.items">
                        <td>{{item.itemNameAr}}</td>
                        <td>{{item.itemNameEn}}</td>
                        <td>{{item.unitNameEn}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.itemTotalValue }}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <app-empty-data [showContainer]="!invoiceData?.items?.length&&!showLoader" [showLoader]="showLoader"></app-empty-data>
    </div>

</ng-template>