<app-header (toggler)="onToggler()"></app-header>
<main id="app">
    <div class="app-content">
        <!-- <app-sidebar [toggler]="toggler"></app-sidebar> -->


        <aside id="main_sidebar" class="main-sidebar" [ngClass]="{'toggled': toggler}">
            <ul class="nav list-unstyled flex-column p-0 m-0 small-scroll overflow-auto h-100 flex-column flex-nowrap">
                <div class="nalika-profile"
                    style="padding-top: 5px; padding-bottom: 5px; position: relative;z-index: 99999;background: #9f2316;color: white;">

                    <a class="nav-link cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        routerLink="/" routerLinkActive="active">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-setting nav-icon" style="font-size: 25px; color: white;"></i>
                            <span class="nav-link-text item-sidebar fw-bold main-nav-link ms-3"
                                style="color: white; font-size: 14px;">لوحة
                                التحكم</span>
                        </div>
                    </a>
                </div>


                <li class="nav-item nav-item-title item-sidebar">
                    <a class="nav-link title text-lowercase fw-bold text-dark">
                        <i class="uil uil-database nav-icon"></i> الحسابات العامة</a>
                </li>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu2)" [ngClass]="{'active': menu2.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-files-landscapes nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">الادلة</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu2>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./account-tree" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">شجرة الحسابات</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./cost-center-tree" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">مراكز التكلفة</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu3)" [ngClass]="{'active': menu3.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-money-withdrawal nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">العمليات المالية</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu3>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./journal-daily-list" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">سجل القيود اليومية</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./new-entry" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">انشاء قيد جديد</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./payment-receipts" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">سندات الصرف</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./receive-receipts" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">سندات القبض</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./opening-balance" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">الرصيد الافتتاحي</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu4)" [ngClass]="{'active': menu4.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-receipt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">تقارير مالية</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu4>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./accounts-general-ledger" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">الأستاذ العام</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./accounts-assistant-ledger" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">الأستاذ المساعد</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./trial-balance" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">ميزان المراجعة</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./monthly-assistant-ledger" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">الأستاذ المساعد الشهرى</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu6)" [ngClass]="{'active': menu6.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-calculator-alt nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">الحسابات الختامية</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu6>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <span class="nav-link-sub-text item-sidebar">الحسابات الختامية 1</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <span class="nav-link-sub-text item-sidebar">الحسابات الختامية 2</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu7)" [ngClass]="{'active': menu7.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-chart-growth nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">تقارير مراكز التكلفة</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu7>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./cost-general-ledger" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">الأستاذ العام - مراكز التكلفة</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./cost-assistant-ledger" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">الأستاذ المساعد - مراكز التكلفة</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./cost-trial-balance" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">ميزان مراجعة مراكز التكلفة</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./cost-center-matrix" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">مصفوفة مراكز التكلفة</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu1)" [ngClass]="{'active': menu1.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">البيانات الاساسية</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu1>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./currency"
                                routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">العملة</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center" routerLink="./featured"
                                routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">المميز</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./journal-entry-types" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">أنواع القيود</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./financial-period" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">السنة المالية</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center"
                                routerLink="./receipt-ledgers" routerLinkActive="active">
                                <span class="nav-link-sub-text item-sidebar">دفاتر الايصال</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-item-item">
                    <a class="nav-link main-nav cursor-pointer text-dark d-flex align-items-center justify-content-between w-100"
                        (click)="toggleMenu(menu_definitions)"
                        [ngClass]="{'active': menu_definitions.classList.contains('show')}">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3"> تعريفات النظام</span>
                        </div>
                        <div class="nav-collapse">
                            <i class="uil uil-angle-left-b"></i>
                        </div>
                    </a>
                    <ul class="nav list-unstyled nav-sub-list flex-column p-0 m-0" #menu_definitions>

                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <div class="nav-text d-flex align-items-center w-100">
                                    <i class="uil uil-users-alt nav-icon"></i>
                                    <span class="nav-link-text item-sidebar main-nav-link ms-3">بيانات المستخدمين</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <div class="nav-text d-flex align-items-center w-100">
                                    <i class="uil uil-users-alt nav-icon"></i>
                                    <span class="nav-link-text item-sidebar main-nav-link ms-3">مجموعات الأصناف</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                                <div class="nav-text d-flex align-items-center w-100 mb-3">
                                    <i class="uil uil-users-alt nav-icon"></i>
                                    <span class="nav-link-text item-sidebar main-nav-link ms-3">أذونات الإضافة</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item nav-item-title item-sidebar">
                    <a class="nav-link title cursor-pointer text-lowercase fw-bold text-dark">التقارير</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">الراتب الشهري</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">الراتب الشهري</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sub-nav cursor-pointer d-flex align-items-center">
                        <div class="nav-text d-flex align-items-center w-100">
                            <i class="uil uil-database nav-icon"></i>
                            <span class="nav-link-text item-sidebar main-nav-link ms-3">الراتب الشهري</span>
                        </div>
                    </a>
                </li>
            </ul>
        </aside>





        <div class="main-content" [ngClass]="{'toggled': toggler}">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>