<a class="sm-action-dropdown d-flex align-items-center gap-2 text-dark text-underline-none cursor-pointer"
    style="height: 45px" (click)="openLoginRegisterModal(loginRegisterModal)">
    <div class="d-flex align-items-center gap-2">
        <i class="ph ph-user-circle-gear fs-3"></i>
        <div class="fw-bold">تسجيل الدخول</div>
    </div>
    <i class="ph ph-caret-down dropdown-arrow m-0"></i>
</a>


<ng-template #loginRegisterModal let-modal>
    <div class="modal-header login-register-bg d-block">
        <i class="ph ph-x fs-4 cursor-pointer text-dark" (click)="modal.dismiss()"></i>
        <div class="d-flex align-items-center justify-content-center" style="margin-top: -10px;">
            <img src="{{systemURL}}assets/login-register-modal-logo.svg" class="width-100" alt="login-register-logo"
                loading="lazy" />
        </div>
    </div>
    <div class="modal-body">
        <div class="position-relative overflow-auto small-scroll"
            [style.min-height]="isLoginMode ? 'calc(100vh - 430px)' : 'calc(100vh - 190px)'">

            <ng-container *ngIf="isLoginMode" class="lr-form login-form">
                <div class="d-flex flex-column gap-4">
                    <div class="form-input-group">
                        <label for="login-userName-input" class="form-label">اسم المستخدم</label>
                        <input (keyup.enter)="login()" type="userName" [(ngModel)]="userName"
                            class="form-control form-control-lg text-start main-input-focus mh-xl"
                            id="login-userName-input" placeholder="اسم المستخدم" autocomplete="off" />
                    </div>
                    <div class="form-input-group">
                        <label for="login-password-input" class="form-label">كلمة المرور <sup
                                class="text-danger">*</sup></label>
                        <input (keyup.enter)="login()" type="password" name="Password" [(ngModel)]="password"
                            class="form-control form-control-lg text-start main-input-focus mh-xl"
                            id="login-password-input" placeholder="كلمة المرور" autocomplete="off" />
                    </div>
                    <button [disabled]="showLoader" type="submit" class="btn btn-dark-green w-100 mh-xl"
                        (click)="login()">
                        <span *ngIf="!showLoader">تسجيل الدخول</span>
                        <span *ngIf="showLoader">جاري التسجيل ...</span>
                    </button>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <div>ليس لديك حساب بالفعل؟</div>
                        <a class="cursor-pointer" style="color: #08B16A;" (click)="isLoginMode = false">التسجيل</a>
                    </div>
                </div>
            </ng-container>

            <ng-container class="lr-form login-form" *ngIf="!isLoginMode">
                <form class="lr-form register-form" [formGroup]="formGroup" (ngSubmit)="register()" 
                    [class.active]="!isLoginMode">
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex gap-3">
                            <div class="form-input-group w-100">
                                <label for="firstName" class="form-label">
                                    الاسم الأول (First Name)
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="firstName" placeholder="" formControlName="firstName"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.firstName" class="text-danger font-small-3 m-03">
                                    {{formErrors.firstName}}
                                </div>
                            </div>
                            <div class="form-input-group w-100">
                                <label for="lastName" class="form-label">
                                    اسم العائلة (Last Name)
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="lastName" placeholder="" formControlName="lastName"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.lastName" class="text-danger font-small-3 m-03">
                                    {{formErrors.lastName}}
                                </div>
                            </div>
                        </div>
                        <div class="form-input-group">
                            <div class="form-input-group w-100">
                                <label for="userName" class="form-label">
                                    اسم المستخدم (User Name)
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="userName" placeholder="" formControlName="userName"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.userName" class="text-danger font-small-3 m-03">
                                    {{formErrors.userName}}
                                </div>
                            </div>
                        </div>
                        <div class="form-input-group">
                            <div class="form-input-group w-100">
                                <label for="password" class="form-label">
                                    الرقم السري (Password)
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="password" placeholder="" formControlName="password"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.password" class="text-danger font-small-3 m-03">
                                    {{formErrors.password}}
                                </div>
                            </div>
                        </div>
                        <div class="form-input-group">
                            <div class="form-input-group w-100">
                                <label for="email" class="form-label">
                                    البريد الألكتروني (Email)
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="email" placeholder="" formControlName="email"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.email" class="text-danger font-small-3 m-03">
                                    {{formErrors.email}}
                                </div>
                            </div>
                        </div>
                        <div class="form-input-group">
                            <div class="form-input-group w-100">
                                <label for="phoneNumber" class="form-label">
                                    رقم الهاتف (Phone Number)
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="phoneNumber" placeholder="" formControlName="phoneNumber"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.phoneNumber" class="text-danger font-small-3 m-03">
                                    {{formErrors.phoneNumber}}
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column gap-2">
                            <div>
                                نوع الاشتراك (Subscriber Type)

                            </div>
                            <div class="d-flex gap-3">
                                <div
                                    class="selected-subscribe-type-box d-flex align-items-center justify-content-between border rounded w-100 p-2">
                                    <div class="d-flex align-items-center gap-2">
                                        <input type="radio" class="radio-ele" formControlName="subscriberTypeId"
                                            id="customerRadio" [value]="SubscriberType.Customer">
                                        <label class="m-0 cursor-pointer" for="customerRadio">
                                            أفراد
                                        </label>
                                    </div>
                                    <img src="../../../../../assets/ones-logo.svg" class="selected-type-subscribe-img"
                                        alt="Ones Logo" loading="lazy" />
                                </div>
                                <div
                                    class="selected-subscribe-type-box d-flex align-items-center justify-content-between border rounded w-100 p-2">
                                    <div class="d-flex align-items-center gap-2">
                                        <input type="radio" class="radio-ele" formControlName="subscriberTypeId"
                                            id="supplierRadio" [value]="SubscriberType.Supplier">
                                        <label class="m-0 cursor-pointer" for="supplierRadio">
                                            شركات
                                        </label>
                                    </div>
                                    <img src="../../../../../assets/companies-logo.svg"
                                        class="selected-type-subscribe-img" alt="Companies Logo" loading="lazy" />
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="formGroup?.value?.subscriberTypeId == SubscriberType.Supplier">
                            <div class="form-input-group">
                                <label for="subscriberName" class="form-label">
                                    اسم المشترك
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="subscriberName" placeholder="" formControlName="subscriberName"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.subscriberName" class="text-danger font-small-3 m-03">
                                    {{formErrors.subscriberName}}
                                </div>
                            </div>
                            <div class="form-input-group">
                                <label for="subscriberEmail" class="form-label">

                                    البريد الألكتروني
                                    للشركة

                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="subscriberEmail" placeholder="" formControlName="subscriberEmail"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.subscriberEmail" class="text-danger font-small-3 m-03">
                                    {{formErrors.subscriberEmail}}
                                </div>
                            </div>
                            <div class="form-input-group">
                                <label for="address" class="form-label">
                                    العنوان (Address)
                                </label>
                                <input type="text"
                                    class="form-control form-control-lg text-start main-input-focus mh-xl"
                                    id="address" placeholder="" formControlName="address"
                                    autocomplete="off" />
                                <div *ngIf="formErrors.address" class="text-danger font-small-3 m-03">
                                    {{formErrors.address}}
                                </div>
                            </div>
                        </ng-container>
                        <button type="submit" class="btn btn-dark-green w-100 mh-xl" [disabled]="showLoader">
                            <span *ngIf="!showLoader">التسجيل</span>
                            <span *ngIf="showLoader">جاري التسجيل ...</span>
                        </button>
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <div>ألديك حساب بالفعل؟</div>
                            <a class="cursor-pointer" style="color: #08B16A;" (click)="isLoginMode = true">تسجيل
                                الدخول</a>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>

    </div>
</ng-template>