<div class="card radius-10 border-0 card-shadow mb-3">
    <div class="card-header bg-white">
        <!-- <h5 class="m-0 fw-bold">عملية مبيعات رقم : {{InvoiceNumber}}</h5> -->
        <h6 class="m-0 fw-bold">انشاء فاتورة مبيعات</h6>
    </div>
    <div class="card-body bg-light">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="salesInvoiceModel.invoiceNumber" placeholder="Invoice Number" disabled>
                    <label>رقم الفاتورة</label>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="form-floating">
                    <input type="text" [(ngModel)]="salesInvoiceModel.docNumber" class="form-control input-size" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2">الرقم الدفتري</label>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="form-floating">
                    <input type="date" class="form-control input-size" [(ngModel)]="salesInvoiceModel.invoiceDate" id="floatingInput2" placeholder="any" autocomplete="off">
                    <label for="floatingInput2">تاريخ الفاتورة</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 h-100 ">
                <div class="form-floating ">
                    <textarea [(ngModel)]="salesInvoiceModel.notes" class="form-control" id="floatingInput6" placeholder="any"></textarea>
                    <label for="floatingInput6">Notes</label>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3">
        <button *ngIf="!salesInvoiceModel.invoiceNumber" class="btn btn-primary btn-lg fs-6 me-2" (click)="CreateNewSalesInvoice()">
            <i class="fas fa-check-circle"></i>
            <span class="ms-2">حفظ</span>
        </button>
        <button class="btn btn-secondary btn-lg fs-6 me-2" (click)="Print()">
            <i class="fas fa-print"></i>
            <span class="ms-2">طباعة</span>
        </button>
        <button class="btn btn-warning btn-lg fs-6 me-2 font-white" (click)="ClearAllFields()">
            <i class="fas fa-trash"></i>
            <span class="ms-2">افراغ الخانات</span>
        </button>
    </div>
</div>



<app-order-products [selectedSupplierProducts]="ItemsBySupplier" [clearAllProducts]="clearAllProducts" (selectedProductsList)="GetSelectedProductsList($event)"></app-order-products>

<div class="card radius-10 border-0 card-shadow mb-3">
    
    <div class="card-body bg-light">
        <div class="row mb-3" *ngIf="itemsCount&&salesInvoiceModel.subTotal">
            <div class="col-lg-2 ">
                <div >
                    <input type="number" class="form-control" [(ngModel)]="discountValue" (keyup)="setDiscountValue()" placeholder="الخصم..."
                        style="width: 100px;height: 30px;">
                </div>
            </div>
            <div class="col-lg-2 ">
                <div class="form-check form-switch my-2">
                    <input (change)="setDiscountValue()" [(ngModel)]="isPercentage" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">نسبة</label>
                </div>
            </div>
    
            
    
        </div>
    
        <div class="row mb-3" *ngIf="itemsCount&&salesInvoiceModel.subTotal">
            <div class="widget-line">
                <div class="col-lg-12 h-100">
                    <span class="text-muted fs-6 fw-bold float-left"> المجموع الفرعي ({{itemsCount}} منتجات)</span>
                    <span> : </span>
                    <span class="fw-bold fs-6">{{salesInvoiceModel.subTotal}}</span>
                </div>
            </div>
        </div>
        <div class="row mb-3" *ngIf="salesInvoiceModel.discountPercent||salesInvoiceModel.discount">
            <div class="widget-line">
                <div class="col-lg-12 h-100">
                    <span class="text-muted fs-6 fw-bold float-left"> {{isPercentage ?'نسبة الخصم':'قيمة الخصم'}}</span>
                    <span> : </span>
                    <span class="fw-bold fs-6">
                        {{ salesInvoiceModel.discountPercent ? salesInvoiceModel.discountPercent: salesInvoiceModel.discount}}
                        {{isPercentage ?'%':''}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row mb-3" *ngIf="itemsCount&&salesInvoiceModel.totalValue">
            <div class="widget-line">
                <div class="col-lg-12 h-100">
                    <span class="text-muted fs-6 fw-bold float-left"> القيمة الاجمالية</span>
                    <span> : </span>
                    <span class="fw-bold fs-6">{{salesInvoiceModel.totalValue}}</span>
                </div>
            </div>
        </div>
    </div>

   
</div>
<ngx-loading [show]="showLoader"></ngx-loading>