.table-vp-height {
    height: calc(100vh - 251px);
}

.dropdown-dim {
    min-width: 500px;
}

.min-width-60 {
    min-width: 60px;
}

.delete-all-link:hover {
    color: tomato !important;
}

.erp-filter-box {
    min-height: 30px;
    min-width: 200px;
    overflow: auto;
}

.max-width-200 {
    max-width: 200px;
}