.emoji-list > li {
  cursor: pointer;
  min-width: 150px;
}
.emoji-list > li.active {
  background-color: #1b4c85 !important;
  color: #fff;
}
.emoji-list > li i {
  color: red;
}
.reviews-img {
  --img-dim: 50px;
  height: var(--img-dim);
  width: var(--img-dim);
  margin-bottom: 5px;
}
.review-type {
  font-weight: bold;
}

@media (max-width: 991px) {
  .rating-welcome {
    justify-content: center !important;
  }
}
