<div class="bg-light border rounded p-4 shadow-sm">
  <div class="row g-4 mb-4">
    <div class="col-lg-6">
      <div class="rating-welcome d-flex align-items-center">
        <img src="../../../../assets/images/rating-icon.png" class="reviews-img" alt="" loading="lazy" />
        <h3 class="m-0 ms-3 display-6">من فضلك قيمنا</h3>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="rating-welcome d-flex align-items-center justify-content-end">
        <h3 class="m-0 me-3 display-6">Please rate us</h3>
        <img src="../../../../assets/images/rating-icon.png" class="reviews-img" alt="" loading="lazy" />
      </div>
    </div>
    <div class="col-lg-12">
      <input type="text" class="form-control form-control-lg" placeholder="أدخل رقم الجوال" />
    </div>
  </div>
  <hr class="my-4">
  <div class="table-responsive small-scroll overflow-auto pe-2">
    <table class="table table-borderless align-middle table-middle mb-0 table-hover">
      <thead>
        <tr>
          <th>القسم</th>
          <th>Rating - التقييم</th>
          <th>Section</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/employees-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">الخدمة والمواظفين</div>
            </div>
          </td>
          <td>
            <ul class="emoji-list list-unstyled d-flex  justify-content-center fs-5 m-0">
              <li class="p-3 rounded bg-light border fs-6 me-2 active">
                <i class="em-svg em-heart_eyes" aria-role="presentation"
                  aria-label="SMILING FACE WITH HEART-SHAPED EYES"></i>
                <div class="mt-2">Excellent - ممتاز</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_smiling_face" aria-role="presentation"
                  aria-label="SLIGHTLY SMILING FACE"></i>
                <div class="mt-2">Very Good - جيد جدًا</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_frowning_face" aria-role="presentation"
                  aria-label="SLIGHTLY FROWNING FACE"></i>
                <div class="mt-2">Good - جيد</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-face_with_rolling_eyes" aria-role="presentation"
                  aria-label="FACE WITH ROLLING EYES"></i>
                <div class="mt-2">Poor - ضعيف</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6">
                <i class="em-svg em-disappointed_relieved" aria-role="presentation"
                  aria-label="DISAPPOINTED BUT RELIEVED FACE"></i>
                <div class="mt-2">Highly Dissatisfied - غير راضٍ للغاية</div>
              </li>
            </ul>
          </td>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/employees-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">Services & Employees</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/store-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">الجو العام</div>
            </div>
          </td>
          <td>
            <ul class="emoji-list list-unstyled d-flex  justify-content-center fs-5 m-0">
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-heart_eyes" aria-role="presentation"
                  aria-label="SMILING FACE WITH HEART-SHAPED EYES"></i>
                <div class="mt-2">Excellent - ممتاز</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2 active">
                <i class="em-svg em-slightly_smiling_face" aria-role="presentation"
                  aria-label="SLIGHTLY SMILING FACE"></i>
                <div class="mt-2">Very Good - جيد جدًا</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_frowning_face" aria-role="presentation"
                  aria-label="SLIGHTLY FROWNING FACE"></i>
                <div class="mt-2">Good - جيد</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-face_with_rolling_eyes" aria-role="presentation"
                  aria-label="FACE WITH ROLLING EYES"></i>
                <div class="mt-2">Poor - ضعيف</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6">
                <i class="em-svg em-disappointed_relieved" aria-role="presentation"
                  aria-label="DISAPPOINTED BUT RELIEVED FACE"></i>
                <div class="mt-2">Highly Dissatisfied - غير راضٍ للغاية</div>
              </li>
            </ul>
          </td>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/store-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">Store Atmosphere</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/cleaning-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">النضافة</div>
            </div>
          </td>
          <td>
            <ul class="emoji-list list-unstyled d-flex  justify-content-center fs-5 m-0">
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-heart_eyes" aria-role="presentation"
                  aria-label="SMILING FACE WITH HEART-SHAPED EYES"></i>
                <div class="mt-2">Excellent - ممتاز</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_smiling_face" aria-role="presentation"
                  aria-label="SLIGHTLY SMILING FACE"></i>
                <div class="mt-2">Very Good - جيد جدًا</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2 active">
                <i class="em-svg em-slightly_frowning_face" aria-role="presentation"
                  aria-label="SLIGHTLY FROWNING FACE"></i>
                <div class="mt-2">Good - جيد</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-face_with_rolling_eyes" aria-role="presentation"
                  aria-label="FACE WITH ROLLING EYES"></i>
                <div class="mt-2">Poor - ضعيف</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6">
                <i class="em-svg em-disappointed_relieved" aria-role="presentation"
                  aria-label="DISAPPOINTED BUT RELIEVED FACE"></i>
                <div class="mt-2">Highly Dissatisfied - غير راضٍ للغاية</div>
              </li>
            </ul>
          </td>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/cleaning-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">Cleaning</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/taste-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">الطعم</div>
            </div>
          </td>
          <td>
            <ul class="emoji-list list-unstyled d-flex  justify-content-center fs-5 m-0">
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-heart_eyes" aria-role="presentation"
                  aria-label="SMILING FACE WITH HEART-SHAPED EYES"></i>
                <div class="mt-2">Excellent - ممتاز</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_smiling_face" aria-role="presentation"
                  aria-label="SLIGHTLY SMILING FACE"></i>
                <div class="mt-2">Very Good - جيد جدًا</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_frowning_face" aria-role="presentation"
                  aria-label="SLIGHTLY FROWNING FACE"></i>
                <div class="mt-2">Good - جيد</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2 active">
                <i class="em-svg em-face_with_rolling_eyes" aria-role="presentation"
                  aria-label="FACE WITH ROLLING EYES"></i>
                <div class="mt-2">Poor - ضعيف</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6">
                <i class="em-svg em-disappointed_relieved" aria-role="presentation"
                  aria-label="DISAPPOINTED BUT RELIEVED FACE"></i>
                <div class="mt-2">Highly Dissatisfied - غير راضٍ للغاية</div>
              </li>
            </ul>
          </td>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/taste-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">Taste</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/best-price-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">السعر</div>
            </div>
          </td>
          <td>
            <ul class="emoji-list list-unstyled d-flex  justify-content-center fs-5 m-0">
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-heart_eyes" aria-role="presentation"
                  aria-label="SMILING FACE WITH HEART-SHAPED EYES"></i>
                <div class="mt-2">Excellent - ممتاز</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_smiling_face" aria-role="presentation"
                  aria-label="SLIGHTLY SMILING FACE"></i>
                <div class="mt-2">Very Good - جيد جدًا</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-slightly_frowning_face" aria-role="presentation"
                  aria-label="SLIGHTLY FROWNING FACE"></i>
                <div class="mt-2">Good - جيد</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 me-2">
                <i class="em-svg em-face_with_rolling_eyes" aria-role="presentation"
                  aria-label="FACE WITH ROLLING EYES"></i>
                <div class="mt-2">Poor - ضعيف</div>
              </li>
              <li class="p-3 rounded bg-light border fs-6 active">
                <i class="em-svg em-disappointed_relieved" aria-role="presentation"
                  aria-label="DISAPPOINTED BUT RELIEVED FACE"></i>
                <div class="mt-2">Highly Dissatisfied - غير راضٍ للغاية</div>
              </li>
            </ul>
          </td>
          <td>
            <div class="d-flex align-items-center flex-column">
              <img src="../../../../assets/images/best-price-icon.png" class="reviews-img" alt="" loading="lazy" />
              <div class="review-type">Price</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
