<div class="employee-card-body row">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="employee-card-body row">
            <div class="col-xl-3">
                <div class="form-floating  mb-3">
                    <input type="text" formControlName="firstNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput1">الاسم الاول</label>
                    <div *ngIf="formErrors.firstNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.firstNameAR}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">

                <div class="form-floating mb-3">
                    <input type="text" formControlName="fatherNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">اسم الاب</label>
                    <div *ngIf="formErrors.fatherNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.fatherNameAR}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="grandNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput3">اسم الجد</label>
                    <div *ngIf="formErrors.grandNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.grandNameAR}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="lastNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">اسم العائلة</label>
                    <div *ngIf="formErrors.lastNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.lastNameAR}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="firstNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput1">First Name</label>
                    <div *ngIf="formErrors.firstNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.firstNameEN}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="fatherNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">Father Name</label>
                    <div *ngIf="formErrors.fatherNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.fatherNameEN}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="grandNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput3">Grand Name</label>
                    <div *ngIf="formErrors.grandNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.grandNameEN}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="lastNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">Family Name</label>
                    <div *ngIf="formErrors.lastNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.lastNameEN}}
                    </div>
                </div>
            </div>
            <div class="col-xl-5  mb-3">
                <app-drop-down-form-control formControlName="nationalityId" [placeholder]="'الجنسية'" [data]="nationalitiesSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.nationalityId" class="text-danger  font-small-3 m-03">
                    {{formErrors.nationalityId}}
                </div>
            </div>
            <div class="col-xl-6"></div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="passportNumber" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">رقم جواز السفر</label>
                    <div *ngIf="formErrors.passportNumber" class="text-danger  font-small-3 m-03">
                        {{formErrors.passportNumber}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="passportIssuanceDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6">تاريخ الاصدار</label>
                    <div *ngIf="formErrors.passportIssuanceDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.passportIssuanceDate}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="passportExpireDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6">تاريخ الانتهاء </label>
                    <div *ngIf="formErrors.passportExpireDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.passportExpireDate}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="borderEntryNumber" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">الرقم الحدودي</label>
                    <div *ngIf="formErrors.borderEntryNumber" class="text-danger  font-small-3 m-03">
                        {{formErrors.borderEntryNumber}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <app-drop-down-form-control formControlName="sponsorId" [placeholder]="'الكفيل'" [data]="employeesSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.sponsorId" class="text-danger  font-small-3 m-03">
                    {{formErrors.sponsorId}}
                </div>
            </div>
            <!-- <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="borderEntryDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">تاريخ الدخول</label>
                    <div *ngIf="formErrors.borderEntryDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.borderEntryDate}}
                    </div>
                </div>
            </div> -->
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="arrivalPort" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">مكان الوصول</label>
                    <div *ngIf="formErrors.arrivalPort" class="text-danger  font-small-3 m-03">
                        {{formErrors.arrivalPort}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="visaNumber" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">رقم التأشيرة</label>
                    <div *ngIf="formErrors.visaNumber" class="text-danger  font-small-3 m-03">
                        {{formErrors.visaNumber}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="visaIssueDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">تاريخ اصدار التأشيرة</label>
                    <div *ngIf="formErrors.visaIssueDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.visaIssueDate}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3 mb-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="passportIssuancePlace" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">مكان اصدار التأشيرة</label>
                    <div *ngIf="formErrors.passportIssuancePlace" class="text-danger  font-small-3 m-03">
                        {{formErrors.passportIssuancePlace}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="religion" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">الديانة</label>
                    <div *ngIf="formErrors.religion" class="text-danger  font-small-3 m-03">
                        {{formErrors.religion}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="birthDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput9">تاريخ الميلاد</label>
                    <div *ngIf="formErrors.birthDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.birthDate}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5 mb-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="phone" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">رقم الموبايل</label>
                    <div *ngIf="formErrors.phone" class="text-danger  font-small-3 m-03">
                        {{formErrors.iqamaNumber}}
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-lg-1">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="birthPlace" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput8">محل الميلاد</label>
                    <div *ngIf="formErrors.birthPlace" class="text-danger  font-small-3 m-03">
                        {{formErrors.birthPlace}}
                    </div>
                </div>
            </div>

            <!-- <div class="col-xl-5">
                <app-drop-down-form-control formControlName="bankId" [placeholder]="'البنك'" [data]="banksSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.bankId" class="text-danger  font-small-3 m-03">
                    {{formErrors.bankId}}
                </div>
            </div>

            <div class="col-xl-5 offset-lg-1">
                <app-drop-down-form-control formControlName="jobId" [placeholder]="'الوظيفة'" [data]="jobsSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.jobId" class="text-danger  font-small-3 m-03">
                    {{formErrors.jobId}}
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5 mb-3">
                <app-drop-down-form-control formControlName="branchId" [placeholder]="'الفرع'" [data]="branchSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.branchId" class="text-danger  font-small-3 m-03">
                    {{formErrors.branchId}}
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="bankAccountNumber" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6">الحساب البنكي</label>
                    <div *ngIf="formErrors.bankAccountNumber" class="text-danger  font-small-3 m-03">
                        {{formErrors.bankAccountNumber}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>

            <div class="col-xl-5">

                <div class="form-floating mb-3">
                    <input type="text" formControlName="drivingLicenseNumber" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6"> رقم رخصه القيادة</label>
                    <div *ngIf="formErrors.drivingLicenseNumber" class="text-danger  font-small-3 m-03">
                        {{formErrors.drivingLicenseNumber}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5  mb-3">

                <app-drop-down-form-control formControlName="vehicleId" [placeholder]="'نوع المركبة'" [data]="vehiclesSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.vehicleId" class="text-danger  font-small-3 m-03">
                    {{formErrors.vehicleId}}
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">

                <div class="form-floating mb-3">
                    <input type="date" formControlName="drivingLicenseIssueDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6">تاريخ الاصدار</label>
                    <div *ngIf="formErrors.drivingLicenseIssueDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.drivingLicenseIssueDate}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">

                <div class="form-floating mb-3">
                    <input type="date" formControlName="drivingLicenseExpireDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput6">تاريخ الانتهاء</label>
                    <div *ngIf="formErrors.drivingLicenseExpireDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.drivingLicenseExpireDate}}
                    </div>
                </div>

            </div>
            <div class="col-xl-1"></div> -->
            <div class="col-xl-5">

                <div class="form-floating mb-3">
                    <input formControlName="imageFile" (change)="onFileChange($event)" type="file" class="cursor-pointer" placeholder="الصورة الشخصية">

                    <div *ngIf="formErrors.imageFile" class="text-danger  font-small-3 m-03">
                        {{formErrors.imageFile}}
                    </div>
                </div>

            </div>

            <div class="col-xl-11">
                <div class="form-floating mb-3">
                    <textarea type="text" formControlName="address" class="form-control" id="floatingInput10" placeholder="العنوان"></textarea>
                    <label for="floatingInput10">العنوان</label>

                    <div *ngIf="formErrors.address" class="text-danger  font-small-3 m-03">
                        {{formErrors.address}}
                    </div>
                </div>


            </div>
        </div>
    </form>
    <div class="d-flex justify-content-left">
        <button [disabled]="showAddLoader" (click)="saveEmployeeBasicInfo()" class="btn btn-primary m-2">
            <span *ngIf="!isUpdate" class="ms-3">إضافة</span>
            <span *ngIf="isUpdate" class="ms-3">تعديل</span>
        </button>
        <button (click)="initNewForm()" class="btn btn-danger m-2">
            <span class="ms-3">إلغاء</span>
        </button>
    </div>
</div>