.employee-card .employee-image {
    --employee-img-dimension: 150px;
    width: var(--employee-img-dimension);
    height: var(--employee-img-dimension);
    border: 3px solid var(--main-color);
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.employee-card-tabs {
    height: 70px;
}

.employee-tab-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    background-color: inherit;
    border-top: 4px solid transparent;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.employee-tab-item:hover {
    background-color: #f1f1f1;
}

.employee-tab-item:not(:last-child) {
    border-left: 1px solid #dee2e6;
}

.employee-tab-item.active {
    border-top-color: var(--main-color);
    background-color: #fff;
    border-bottom-color: #fff;
    margin-top: -1px;
    color: var(--main-color);
}

.offcanvas {
    width: 50% !important;
    background: #f0f0f0;
    min-width: 250px;
    box-shadow: -2px 0px 5px 0px rgb(65 73 91);
}

@media (max-width: 767px) {
    .offcanvas {
        width: 90% !important;
    }
}

.sidepanel-close {
    background: #3c3c3c;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 7px;
    cursor: pointer;
}

.offcanvas-title {
    line-height: 1;
    margin-bottom: 5px;
}

.offcanvas-sub-header {
    font-size: 1.1rem;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.sidepanel-card-wrapper {
    max-height: calc(100vh - 340px);
}

.sidepanel-card:not(:last-child) {
    margin-bottom: 10px;
}

.sidepanel-card-img {
    max-width: 100%;
    height: 90px;
}


/* =======================Upload Design============================= */

.file-upload-button {
    background-color: #4099ff;
    border-radius: 50%;
    height: 3rem;
    overflow: hidden;
    position: relative;
    width: 3rem;
    &::after {
        content: '⇪';
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }
}

input[type="file"] {
    font-size: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.file-info {
    color: #999;
    font-family: Lato;
    margin-left: 0.5rem;
}