<div class="employee-card-body row">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="employee-card-body row">
            <div class="col-xl-3">
                <div class="form-floating  mb-3">
                    <input type="text" formControlName="firstNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput1">الاسم الاول</label>
                    <div *ngIf="formErrors.firstNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.firstNameAR}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">

                <div class="form-floating mb-3">
                    <input type="text" formControlName="fatherNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">اسم الاب</label>
                    <div *ngIf="formErrors.fatherNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.fatherNameAR}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="grandNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput3">اسم الجد</label>
                    <div *ngIf="formErrors.grandNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.grandNameAR}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="lastNameAR" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">اسم العائلة</label>
                    <div *ngIf="formErrors.lastNameAR" class="text-danger  font-small-3 m-03">
                        {{formErrors.lastNameAR}}
                    </div>
                </div>

            </div>

            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="lastNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">Family Name</label>
                    <div *ngIf="formErrors.lastNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.lastNameEN}}
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="grandNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput3">Grand Name</label>
                    <div *ngIf="formErrors.grandNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.grandNameEN}}
                    </div>
                </div>

            </div>

            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="fatherNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput2">Father Name</label>
                    <div *ngIf="formErrors.fatherNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.fatherNameEN}}
                    </div>
                </div>

            </div>
            <div class="col-xl-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="firstNameEN" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput1">First Name</label>
                    <div *ngIf="formErrors.firstNameEN" class="text-danger  font-small-3 m-03">
                        {{formErrors.firstNameEN}}
                    </div>
                </div>

            </div>
            <div class="col-xl-6  mb-3">
                <app-drop-down-form-control formControlName="branchId" [placeholder]="'الفرع'" [showSearch]="true" [data]="branchSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.branchId" class="text-danger  font-small-3 m-03">
                    {{formErrors.branchId}}
                </div>
            </div>
            <div class="col-xl-6  mb-3">
                <app-drop-down-form-control formControlName="nationalityId" [placeholder]="'الجنسية'" [showSearch]="true" [data]="nationalitiesSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.nationalityId" class="text-danger  font-small-3 m-03">
                    {{formErrors.nationalityId}}
                </div>
            </div>

            <div class="col-xl-6  mb-3">
                <app-drop-down-form-control formControlName="religionId" [placeholder]="'الديانة'" [showSearch]="true" [data]="religionsSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.religionId" class="text-danger  font-small-3 m-03">
                    {{formErrors.religionId}}
                </div>
            </div>

            <ng-container *ngIf="formGroup?.value?.nationalityId && formGroup?.value?.nationalityId !=1" #ForeignSection>
                <div class="col-xl-6 mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="passportNumber" class="form-control" id="floatingInput1" placeholder="any">
                        <label for="floatingInput5">رقم جواز السفر</label>
                        <div *ngIf="formErrors.passportNumber" class="text-danger  font-small-3 m-03">
                            {{formErrors.passportNumber}}
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mb-3">
                    <div class="form-floating mb-3">
                        <input type="date" formControlName="passportExpireDate" class="form-control" id="floatingInput1" placeholder="any">
                        <label for="floatingInput6">تاريخ الانتهاء </label>
                        <div *ngIf="formErrors.passportExpireDate" class="text-danger  font-small-3 m-03">
                            {{formErrors.passportExpireDate}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="arrivalPort" class="form-control" id="floatingInput1" placeholder="any">
                        <label for="floatingInput5">مكان الوصول</label>
                        <div *ngIf="formErrors.arrivalPort" class="text-danger  font-small-3 m-03">
                            {{formErrors.arrivalPort}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="borderEntryNumber" class="form-control" id="floatingInput1" placeholder="any">
                        <label for="floatingInput5">الرقم الحدودي</label>
                        <div *ngIf="formErrors.borderEntryNumber" class="text-danger  font-small-3 m-03">
                            {{formErrors.borderEntryNumber}}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mb-3">
                    <app-drop-down-form-control formControlName="sponsorId" [placeholder]="'الكفيل'" [showSearch]="true" [data]="employeesSelectorData"></app-drop-down-form-control>
                    <div *ngIf="formErrors.sponsorId" class="text-danger  font-small-3 m-03">
                        {{formErrors.sponsorId}}
                    </div>
                </div>
                <!-- <div class="col-xl-4 mb-3"> </div> -->
                <div class="col-xl-12 mb-3">
                    <div class="row">
                        <div class="col-xl-3 mb-3">
                            <div class="form-floating mb-3">
                                <input type="text" formControlName="visaNumber" class="form-control" id="floatingInput1" placeholder="any">
                                <label for="floatingInput5">رقم التأشيرة</label>
                                <div *ngIf="formErrors.visaNumber" class="text-danger  font-small-3 m-03">
                                    {{formErrors.visaNumber}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <div class="form-floating mb-3">
                                <input type="date" formControlName="visaIssueDate" class="form-control" id="floatingInput1" placeholder="any">
                                <label for="floatingInput5">تاريخ اصدار التأشيرة</label>
                                <div *ngIf="formErrors.visaIssueDate" class="text-danger  font-small-3 m-03">
                                    {{formErrors.visaIssueDate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <app-drop-down-form-control formControlName="visaJobId" [placeholder]="'مسمي التأشيرة'" [showSearch]="true" [data]="visaJobsSelectorData"></app-drop-down-form-control>
                            <div *ngIf="formErrors.visaJobId" class="text-danger  font-small-3 m-03">
                                {{formErrors.visaJobId}}
                            </div>
                        </div>
                        <div class="col-xl-3 mb-3">
                            <app-drop-down-form-control formControlName="sponsorId" [placeholder]="'اسم الشركة'" [showSearch]="true" [data]="sponsorSelectorData"></app-drop-down-form-control>
                            <div *ngIf="formErrors.sponsorId" class="text-danger  font-small-3 m-03">
                                {{formErrors.sponsorId}}
                            </div>
                        </div>
                    </div>
                </div>



            </ng-container>

            <div class="col-xl-6 mb-3">
                <div class="form-floating mb-3">
                    <input type="date" formControlName="birthDate" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput9">تاريخ الميلاد</label>
                    <div *ngIf="formErrors.birthDate" class="text-danger  font-small-3 m-03">
                        {{formErrors.birthDate}}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="birthPlace" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput8">محل الميلاد</label>
                    <div *ngIf="formErrors.birthPlace" class="text-danger  font-small-3 m-03">
                        {{formErrors.birthPlace}}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-3">
                <app-drop-down-form-control formControlName="socialStatusId" [placeholder]="'الحالة الاجتماعية'" [data]="socialStatusSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.socialStatusId" class="text-danger  font-small-3 m-03">
                    {{formErrors.socialStatusId}}
                </div>
            </div>
            <div class="col-xl-6 mb-3">
                <app-drop-down-form-control formControlName="jobId" [placeholder]="'الوظيفة'" [showSearch]="true" [data]="jobsSelectorData"></app-drop-down-form-control>
                <div *ngIf="formErrors.jobId" class="text-danger  font-small-3 m-03">
                    {{formErrors.jobId}}
                </div>
            </div>
            <div class="col-xl-6 mb-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="phone" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">رقم الموبايل</label>
                    <div *ngIf="formErrors.phone" class="text-danger  font-small-3 m-03">
                        {{formErrors.phone}}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-3">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="email" class="form-control" id="floatingInput1" placeholder="any">
                    <label for="floatingInput5">البريد الالكتروني</label>
                    <div *ngIf="formErrors.email" class="text-danger  font-small-3 m-03">
                        {{formErrors.email}}
                    </div>
                </div>
            </div>


            <div class="col-xl-5">

                <div class="form-floating mb-3">
                    <input formControlName="imageFile" (change)="onFileChange($event)" type="file" class="cursor-pointer" placeholder="الصورة الشخصية">

                    <div *ngIf="formErrors.imageFile" class="text-danger  font-small-3 m-03">
                        {{formErrors.imageFile}}
                    </div>
                </div>

            </div>

            <!-- <div class="col-xl-11">
                <div class="form-floating mb-3">
                    <textarea type="text" formControlName="address" class="form-control" id="floatingInput10"
                        placeholder="العنوان"></textarea>
                    <label for="floatingInput10">العنوان</label>

                    <div *ngIf="formErrors.address" class="text-danger  font-small-3 m-03">
                        {{formErrors.address}}
                    </div>
                </div>


            </div> -->
        </div>
    </form>
    <div class="d-flex justify-content-left">
        <button [disabled]="showAddLoader" (click)="saveEmployeeBasicInfo()" class="btn btn-primary m-2">
            <span *ngIf="!isUpdate" class="ms-3">إنشاء</span>
            <span *ngIf="isUpdate" class="ms-3">تعديل</span>
        </button>
        <button (click)="initNewForm()" class="btn btn-danger m-2">
            <span class="ms-3">إلغاء</span>
        </button>
    </div>
</div>